[2021-04-08 21:58] nrrao opened #471 "Add copy paste function to the topic tags."
### Overview
Needs to add functionality to the copy-paste icon tag.

### Action Items
When the user clicks on copy-paste icon on the topic tag the tag should be copied to the clipboard.

[2021-04-09 00:21] FarzanaPrianka commented on #290
Updated the design.

[2021-04-09 00:41] chalimar commented on #213
FAQ looks good, I think we can pass this off to development!

[2021-04-09 00:47] chalimar commented on #290
Thank you for your hard work! We need to gather some of the highlighted organizations we will share on launch and provide them as assets for Development.

[2021-04-09 00:52] chalimar commented on #302
Thank you @samdelros! This looks good, just a few changes before we finalize this:

- [ ] Darken the placeholder labels.
- [ ] Ensure the Parent Organization dropdown form is the same one used in the Tag Generator.
- [ ] Create tooltip and provide error message for required forms.
- [ ] Verify breadcrumbs.

Questions and comments:
- [ ] For breadcrumbs, should we list it as Home / Add Your Organiz

[2021-04-09 00:54] chalimar commented on #439
Screens have been updated by Cami. Just need to clean up the text from centered to left aligned for mobile view.

![image](https://user-images.githubusercontent.com/34084181/114113445-78d87c00-9893-11eb-89a8-742f006d2c93.png)

[2021-04-09 00:57] chalimar commented on #449
Just realized that the MD and SM version of the nav do not have a button for the Search Projects. Can this be added either on the top of all of the dropdown categories or below it?

I will update the Figma components to match what the Dev team decides for best placement. Thank you!

[2021-04-09 01:05] maxskewes commented on #449
I have started and it looks pretty close. Looks like some finalization needs to take place with the figma before I'll create a PR.

[2021-04-09 01:18] #416 closed

[2021-04-09 01:26] mariastudnicka commented on #451
CNK will make sure that the API call will pull in all relevant aliases. Sorting logic clarified as per issue #407, Travis will continue working on it.

[2021-04-09 01:39] #459 closed

[2021-04-09 01:45] mariastudnicka commented on #449
@maxskewes will add the "Search Projects" in the MD, and SM screens below the link "Radical Collaboration" (UX will not need to update the screens.)

[2021-04-09 01:58] DrIffathsultana commented on #464
@chalimar
Image for banner is not available yet. Chali will be adding them.

[2021-04-09 02:12] #414 closed

[2021-04-09 02:19] DrIffathsultana opened #473 "Update the Faq page"
### Overview
Update the FAQ page

### Action Items
- [ ] update the FAQ page as per figma design for LG, MD and SM screens

### Resources/Instructions
[Figma Link](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A15861)
<img width="923" alt="Screen Shot 2021-04-08 at 7 22 03 PM" src="https://user-images.githubusercontent.com/75779290/114119549-b9

[2021-04-09 02:21] bruceplai opened #474 "Update color of selected chip in ChipInput"
### Overview
The ChipInput component relies on a third party package.  The default selected chip color needs to be updated.

### Action Items
Find where the default selected color is being set and override it.

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=1329%3A11944

The figma example that uses ChipInput is located under

[2021-04-11 00:42] bruceplai opened #476 "Update Search Projects to match Figma"
### Overview
Update Search Projects to match Figma

### Action Items
Add navigation from home trending topics

Add sorting dropdown

Refine Results may need to be updated

Result card content/style may need to be updated

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3931%3A15829

[2021-04-11 03:09] bruceplai commented on #476
@chalimar I have a couple questions about the Search Projects figma screens.

-What is the correct location of refine results dropdown header, "dsiplaying results matching: ", and sort dropdown
-I don't think the github api can return all the info as displayed in the project card example currently.   Can I pare down what's displayed to match whatever data we're getting from github?
-Can I also upd

[2021-04-11 20:38] chalimar commented on #142
Some UX questions to address for issue #476

[2021-04-11 20:41] chalimar commented on #302
It looks like we need to still update form layout now that we have clarification on what Github Tags meant. Product and UX has decided to remove the tooltip and add explanation & example under the form label.

Explanation:
This is the Github tag that your organization uses such as “code-for-america”, “open-oakland” or "hack4la".

[2021-04-11 20:42] #213 closed

[2021-04-11 20:43] chalimar commented on #290
Product, what organizations are we choosing to highlight for initial launch? UX will gather images and size them for the "See how the Civic Tech Index is used by:" section.

[2021-04-11 20:51] chalimar commented on #439
Product team:

@samdelros and I were looking at ways to restructure the Sharing the CTI page. We reorganized sections to provide actionable items for visitors, display highlights and information of relevance through an RSS feed of the CTI Twitter account, and then provided the social media accounts and media kit. We were not sure if the prepopulated social media posts were still possible, but want

[2021-04-11 20:52] kevinashworth commented on #461
Progress: minimal, just looking at it now.
ETA: 2 weeks.
Blockers: My limited schedule, and perhaps Cynthia's, as we figure out the new data structure for Contributors. The other pages and components I don't know of blockers.
Availability: A few hours per week.

[2021-04-11 20:55] maxskewes commented on #449
This is almost up to figma standards. I have a few questions for the dev team at the next meeting regarding the existing code. Will update progress afterwards and should have a PR shortly thereafter.

[2021-04-11 21:20] Olivia-Chiong opened #479 "Create add organization functionality by connecting the form to the API Work Products"
### Overview
Create add organization functionality by connecting the form to the API  Work Products

### Action Items
We want to refine the tag generator page to help project owners find and generate tags to add to their repository so that they can be included in the Civic Tech Index. This is a key functionality that will help to include more projects and organizations in the index.

- [ ] Connect

[2021-04-11 21:23] Olivia-Chiong commented on #479
@kliu28 do you still have availability to finish this?

[2021-04-11 21:23] Olivia-Chiong commented on #418
Closing this issue and creating new issue for connecting the form with the backend #479

[2021-04-11 21:28] Olivia-Chiong commented on #443
Issue closed, #458 merged

[2021-04-11 21:28] #443 closed

[2021-04-11 21:33] Olivia-Chiong commented on #417
@bhaggya will remove title section and revise the PR.

[2021-04-11 21:45] mariastudnicka commented on #464
@bhaggya  will be working on this next.

[2021-04-11 21:46] Olivia-Chiong commented on #449
During discussion today, we found that header in resting state can be found in blank page. Also confirmed that @maxskewes will rewrite the code to include dropdowns and submit the PR when ready.

[2021-04-11 21:52] #473 closed

[2021-04-11 21:56] Olivia-Chiong commented on #476
Discussed during meeting today
- Bruce will work on sort categories based on MVP requirement as discussed
- pagination to be updated similar to FAQ screens
- 10 results per page for big screens, 6 for medium and small

[2021-04-11 22:06] DrIffathsultana commented on #82
@GSnapp
Please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-04-11 22:12] mariastudnicka opened #480 "Define the 8 orgs that appear on the Home Page"
### Overview
Product needs to decide which 8 orgs will be displayed for MVP. They are currently place holders in the design.

### Action Items
Product to decide in our meeting on Wednesday's meeting.

### Resources/Instructions
[Figma Home Page](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=3765%3A15048)

[2021-04-11 22:16] cnk commented on #188
The backend code is ready for use. Please see api_organizations_create on for details on what to submit and what you will get back.

[2021-04-11 22:34] DrIffathsultana opened #482 "Create 404 page for Medium and Small Screens"
### Overview
Build a 404 page as shown in Figma for Medium and small screens

### Action Items

- [ ] Create the 404 or Not Found page using our Material-UI best practices for MD and SM screens

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=4304%3A1
<img width="813" alt="Screen Shot 2021-04-11 at 3 35 51 PM" src="https://user-images.githubusercontent.com/757

[2021-04-11 22:38] kevinashworth opened #483 "Fix crashing bug in AffiliatedOrganizations.js"
### Overview
The website is crashing now at http://localhost:3000/contributors/affiliated and http://localhost:3000/contributors/all because it assumes "Code for All" will be returned as index number 0 of the organizations data.

### Action Items

- [ ] Fix `AffiliatedOrganizations.js` to find "Code for All" inside the "organizations" object no matter its order in that array.
- [ ] While we're at

[2021-04-11 22:42] #462 closed

[2021-04-11 23:10] cnk opened #484 "Return Organizations as an ordered list"
http://civictechindex.org/contributors/all displays organizations as nested sets of orgs (Root -> parent -> children). This will be easier if we return the organizations in a data structure that already has that in place.

[2021-04-11 23:12] cnk opened #485 "Send email when someone submits a new organization"
When we save a new organization from the API endpoint, we would like for <who?> to receive an email saying "please come review this submission" with a link to the Django admin interface.

We can put this into the serializer view but to get the email to actually get sent, we need to attach to an email sending service. Does it make sense to do this now? or attach this to SES once we move to AWS?

[2021-04-12 03:12] bruceplai commented on #476
It seems sorting can only be done by stars, forks, and updated

[2021-04-12 03:12] bruceplai commented on #476
https://stackoverflow.com/questions/40762518/github-api-sorting-search-results-by-the-created-at-field

[2021-04-12 03:13] kliu28 commented on #479
@Olivia-Chiong unfortunately no--someone else can pick this up instead :)

[2021-04-12 03:21] e0marina commented on #317
progress: updating due to code review
blocks: none
Availability: Medium
ETA: 2 weeks

[2021-04-12 03:29] Olivia-Chiong commented on #476
That's fine. We'll do stars and updated then. Thanks!

[2021-04-12 21:14] #417 closed

[2021-04-12 23:35] bruceplai commented on #476
@chalimar material UI has a dropdown selector, but it doesn't look exactly like the one in the figma.  Would it be suitable or should I build one from scratch?

https://material-ui.com/components/selects/

[2021-04-13 02:39] cnk opened #486 "Parameterize backend URL"
There are currently 9 places where we have the full url for the backend API - including one in .env where it belongs. https://github.com/civictechindex/CTI-website-frontend/search?q=herokuapp.com

Please convert the pages to use the REACT_APP_API_URL envvar so one can change the domain in one place when checking to see if backend changes break the frontend.

NOTE: this issue is a blocker for issue

[2021-04-13 04:13] samdelros commented on #302
<img width="557" alt="Screen Shot 2021-04-12 at 9 05 43 PM" src="https://user-images.githubusercontent.com/79222282/114495832-a85cf080-9bd3-11eb-856b-4e1afc7bbdbd.png">
<img width="763" alt="Screen Shot 2021-04-12 at 8 51 22 PM" src="https://user-images.githubusercontent.com/79222282/114495838-a98e1d80-9bd3-11eb-89f9-fe130c1329ad.png">

I'd love feedback from CTI UX UI team on options for github t

[2021-04-13 22:20] samdelros commented on #302
Form error has been added to required inputs, (all on the 1st part of the form, second part is all optional)

![Screen Shot 2021-04-13 at 3 19 56 PM](https://user-images.githubusercontent.com/79222282/114628512-d261f180-9c6b-11eb-94c1-7934b8e6f9f1.png)

[2021-04-13 22:23] samdelros commented on #302
Awaiting feedback for the following - Bread crumb validation. Also need confirmation/clarification from Chali on what is the correct drop down form to use.

[2021-04-14 19:47] DrIffathsultana commented on #439
@chalimar @samdelros
Product has decided to move ahead with the new design. Please add the annotations on new design .

[2021-04-14 19:53] DrIffathsultana commented on #290
@chalimar
Product has decided to go ahead with the following orgs.
Hack for La, Code for America, Openaokland, code for Tulsa, Code for Pdx, code for chapel hill, Beta NYC, codeforbuffalo,

[2021-04-14 20:23] DrIffathsultana opened #487 "Need illustration for CTI video deck"
### Overview
Need Illustration  for CTI presentation for Video Deck

### Action Items
- [ ] Add Illustration  for CTI presentation for Video Deck on Page 5 to match the other slides.

### Resources/Instructions
[CTI presentation for Video Deck](https://docs.google.com/presentation/d/1dH2Fdo6ScN-4TRcbVseP3bIMxKU-sI3gmRRy7S1X3d4/edit#slide=id.gb2412aa227_0_0)

[2021-04-14 20:34] DrIffathsultana commented on #408
@Olivia-Chiong
- [ ] Make a list of orgs with no repo.
- [ ] Make a list of orgs that need tags, but have a GitHub

[2021-04-14 23:13] chalimar commented on #290
Logos have been placed onto the homepage. I swapped the order to provide more visual balance, hope it's alright! Thank you

![image](https://user-images.githubusercontent.com/34084181/114791947-3c49cc00-9d3c-11eb-8dfb-bd5a1941657b.png)

[2021-04-14 23:34] kevinashworth opened #490 "Refactor ContributorThumbnail to generate valid HTML"
### Overview
Currently, in the dev tools there are warnings that ContributorThumbnail is generating HTML that is not nested properly.

### Action Items
Refactor ContributorThumbnail to fix these warnings. Valid HTML nesting should remove the warnings. The problem may also pertain to a component above or below ContributorThumbnail in the DOM hierarchy.

### Resources/Instructions
Here are some cons

[2021-04-15 06:59] #483 closed

[2021-04-15 22:38] nrrao commented on #471
created [PR](https://github.com/civictechindex/CTI-website-frontend/pull/491)

[2021-04-16 01:46] DrIffathsultana commented on #209
@chalimar
Please review the all the screens.

[2021-04-16 01:57] meismith commented on #209
Below is the large screens
![Large Organization](https://user-images.githubusercontent.com/77039829/114960347-d55c0e00-9e34-11eb-84df-5dc0baec8e2c.JPG)

This one for medium and large
![Medium and small organization](https://user-images.githubusercontent.com/77039829/114960370-e3aa2a00-9e34-11eb-85a8-605e1d199ca6.JPG)
For the small screens, I think it should be fine since the size of the smaller ca

[2021-04-16 01:59] meismith commented on #142
I checked them and I think they should be good for development handoff. I moved old screens into archived page. But there are still some screens that have descriptions that I decided to not move them to the archived page.

[2021-04-16 02:10] #471 closed

[2021-04-16 20:06] samdelros commented on #302
Last thing I'm waiting on is feedback on the dropdown form design (A and B) from Chali, just to make sure the parent organization form is the same as the one used in the tag generator.

<img width="850" alt="Screen Shot 2021-04-15 at 10 19 17 AM" src="https://user-images.githubusercontent.com/79222282/115078383-67572b80-9eb4-11eb-8713-1e56fb86b963.png">

[2021-04-18 20:50] bruceplai commented on #476
Filtering search results was more complicated to implement than I expected, but it's almost done.  Still have to implement md/sm layout.

[2021-04-18 20:56] kevinashworth commented on #461
Progress: none
ETA: 1 week
Blockers: none
Availability: Good today, and a few hours per week

[2021-04-18 21:01] bruceplai commented on #476
Possibly 3 more days worth of work on search projects.  There's a lot of functionality on this page.

[2021-04-18 21:08] DrIffathsultana commented on #486
Please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-04-18 21:08] nrrao commented on #470
created [PR](https://github.com/civictechindex/CTI-website-frontend/pull/493)

[2021-04-18 21:24] DrIffathsultana commented on #317
Please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-04-18 21:25] maxskewes commented on #418
Resolves #418

[2021-04-18 21:34] chalimar commented on #439
Perfect, we will connect and look for the annotations on the new design. This page should be ready by next Sunday once we get confirmation on changes.

[2021-04-18 21:50] #290 closed

[2021-04-18 22:13] kevinashworth opened #494 "Edit Footer spacing"
### Action Items
Use flexbox 'space-around' for the 6 columns of content, instead of using a 12-column layout grid for the Footer.

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A15527

[2021-04-18 23:05] DrIffathsultana opened #495 "Adjust width of the component-"Ready to get started" to full as per figma"
### Overview
Make the component "Ready to get started" to full width as per figma for the following pages

### Action Items
Update the following pages and adjust the component to full width to match figma design for the following pages
- [ ] Home page
- [ ] organizations
- [ ] Radical collaborations page

### Resources/Instructions
[Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTec

[2021-04-18 23:20] DrIffathsultana opened #496 "Make the box component with images to full width on 'About' page."
### Overview
On 'About' page -Adjust the component to full width of the box  and remove spacing below.

### Action Items
- [ ] Make the component box with images to full width.
- [ ] Remove spacing between the box component and the component below which says 'ready to get started'

### Resources/Instructions
Right now the design looks like this please make it full width.
<img width="1433" alt="Scr

[2021-04-18 23:45] bhaggya commented on #486
I am working on issue #464. After finishing that will work on this

[2021-04-19 00:05] DrIffathsultana opened #497 "Edit text input field-Email in 'Footer'"
### Overview
Edit the text input field in Email search box in 'footer' as per figma

### Action Items
- [ ] Replace the input field text of email element in the footer to 'name@domain.com'

### Resources/Instructions
[Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A15527)

<img width="1132" alt="Screen Shot 2021-04-18 at 5 00 50 PM" src="

[2021-04-19 18:04] e0marina commented on #317
progress: updating due to latest code review, need to make css file into js, us eslint to fix some inconsistencies
blocks: none
Availability: Medium
ETA: 2 weeks

[2021-04-20 05:28] #464 closed

[2021-04-22 20:36] samdelros commented on #302
Re: Github Tags

Followed up with @chalimar  and looks like we decided on 1 entry for github tags, so we will treat the same as form fields.

- [ ]  waiting on feedback for Drop down design form. (See previous comment image)
- [ ] MD and SM components are off - Are these under construction? it has changed on all pages.

[2021-04-23 01:02] kevinashworth commented on #461
Progress: none
ETA: Sunday
Blockers: none
Availability: Good Sat and Sun

[2021-04-23 01:04] maxskewes commented on #496
PR is up and addresses all issues mentioned in this issue. We may want to open another issue to further format the picture cards with reversing order of description with image as the latest figma shows.

[2021-04-23 01:06] maxskewes commented on #494
Almost there - a few questions for the dev group at thursday meeting tonight (4/22) and hopefully get the PR up during meeting.

[2021-04-23 01:06] nrrao commented on #495
Created [PR](https://github.com/civictechindex/CTI-website-frontend/pull/501)

[2021-04-23 01:07] maxskewes commented on #449
Have not addressed aligning the dropdowns yet- will do by Sunday. Tonight I have a few issues to relate to the design team and will reflect in code for this issue.

[2021-04-23 01:18] #418 closed

[2021-04-23 01:23] connie-yu-dotcom commented on #451
CNK is going to create a name field as well as a slug URL, Travis will remove the hardcoded GitHub IDs once a database solution is created.

[2021-04-23 01:29] connie-yu-dotcom commented on #449
Max is going to bold the category parent link and add link to Radical Collaboration

[2021-04-23 01:38] connie-yu-dotcom commented on #476
Bruce will remove the filter search  for Primary Programming Language and Affiliation, in the left nav.

[2021-04-23 01:43] mariastudnicka commented on #476
RE: 403, We will ask for for a rate limit. We will use committed code to ask for exception.

[2021-04-23 01:46] #486 closed

[2021-04-23 01:47] JafarIronclad commented on #482
Self assigned 4/22/2021.

[2021-04-23 01:51] Olivia-Chiong commented on #415
Resolved by #413

[2021-04-23 01:51] #415 closed

[2021-04-23 02:05] mariastudnicka opened #502 "FIx Breadcrumbs at Donate Page"
### Overview
We need to update the properties at the bread crumb so it matches the other bread crumbs.

### Action Items
Change properties to match.

[2021-04-23 02:11] mariastudnicka opened #503 "Change list of Orgs to from Hard Code to DB"
We need to change of the list of orgs in tag generator from hard code and instead retrieve from the data base.

[2021-04-23 04:46] maxskewes commented on #496
This issue has been addressed.

[2021-04-23 04:46] #496 closed

[2021-04-23 04:47] maxskewes commented on #494
The PR has been put up. A new issue will be opened addressing text input size.

[2021-04-23 07:53] cnk commented on #485
Setting up email sending in AWS requires some hoop jumping. Let's explore whether creating a GH issue via the API or sending a message to Slack would be less effort.

[2021-04-23 07:59] cnk commented on #484
This is now available on my org-tag branch. I suspect we will need to make some frontend changes when this gets rolled out so we should coordinate how we want to to do that. One option might be to deploy the new code to AWS and have people switch to using that endpoint for development until we can switch the entire app to use the new code.

The primary driver for this change was that the /api/orga

[2021-04-24 04:55] maxskewes opened #507 "Resize Text Field and Button on Footer"
### Overview
Resize the email text field and submit button on 3 display sizes in Footer component.

### Action Items
Large display: text field on its own line - make text field extend to end of container
Medium Display: 'Newletter' section shares line with text field and button. text field and button should right-justify and text field should fill row. Ideally they should be the same height
Small

[2021-04-24 05:35] #502 closed

[2021-04-25 16:50] kevinashworth opened #509 "Add nav link to Support Us page to Header and/or Footer"
### Overview
There is currently no way to navigate to the new Support Us page.

### Action Items
Modify Header and/or Footer to add links to the new Support Us page.

[2021-04-25 16:55] kevinashworth opened #510 "Ensure Support Us and other pages have correct full-width color and also contained content"
### Overview
The design of most pages on CTI is that the content of the page is in blue, white, or grey containers that visually have that background color across the full width of the browser, even on the widest desktops. But the content of these containers is limited in its width to 1280. We accomplish this by a nesting of two container elements, typically a Box and a Container. (The MUI Contain

[2021-04-25 16:58] kevinashworth opened #511 "Support Us internal links need to use react-router"
### Overview
When linking internally, we use `react-router`, not simple `a` tags. Traditional `a` links cause the app to reload with each click while a `react-router` link avoids the page refresh.

### Action Items
- Refactor buttons to "Make a Donation", "View the FAQ" etc to use `react-router` links.
- If this issue exists on other pages besides Support Us, refactor on those pages, too.

[2021-04-25 20:34] kevinashworth opened #512 "Remove justified text"
### Overview
The Figma does not specify justified text, so we need to remove that.

### Action Items
Remove the use of `textAlign: 'justify'` in `Donations/styles.js`

### Resources/Instructions
As an FYI, see https://developer.mozilla.org/en-US/docs/Web/CSS/text-align for a visual example of justified text, among other alignment styles.

[2021-04-25 20:57] e0marina commented on #317
progress: finished! Kevin recommended a merge.
blocks: none
Availability: Medium
ETA: donezo!

[2021-04-25 20:58] JafarIronclad commented on #482
Status: Draft PR 513 submitted. Need time or assistance to resolve issues with icon alignment and text margins. See results below showing appearance at different breakpoints.
Blocks: Need to improve with MUI.
Availability: ~30 mins per evening.
ETA: end of meeting today (with assistance), or 4/29 (without).
![404_IP_sm](https://user-images.githubusercontent.com/25259432/116009392-4090a780-a5ce-11e

[2021-04-25 21:10] kevinashworth opened #514 "Resolve console.log warnings re "key" prop"
### Overview
Resolve console.log warning `Each child in a list should have a unique "key" prop`

### Action Items
Add key props to `LinkList`'s in `Footer/index.js`

### Resources/Instructions
Full warning:
[code]

[2021-04-25 21:13] #497 closed

[2021-04-25 21:14] kevinashworth opened #515 "Resolve console warning re variant blue"
### Overview
Resolve console.log warning **Invalid prop `variant` of value `blue` supplied**

### Action Items
Replace or refactor or remove `variant="blue"` in `SearchContainer.js`

### Resources/Instructions
Allowed button variants are 'contained', 'outlined', 'text'. See https://material-ui.com/api/button/

Full warning:
[code]

[2021-04-25 21:27] #476 closed

[2021-04-25 21:34] #495 closed

[2021-04-25 21:38] Olivia-Chiong commented on #494
Resolved by #504

[2021-04-25 21:38] #494 closed

[2021-04-25 22:10] kevinashworth opened #516 "Restore Home page to design as in Figma"
### Overview
There are some visual problems in the Home page. Resolve them to match the Figma.

### Action Items
- Resolve padding around top yellow header. Needs more room above it.
- Restore proper spacing between buttons Tag Your Projects and Learn More
- Ensure white and blue bg colors extends full width on wide desktops
- Review entire design for any other needed changes to implement the desi

[2021-04-25 22:12] Olivia-Chiong opened #517 "Update breadcrumb on Support Us"
### Overview
We need to update the breadcrumb on the Support Us page to be "Radical Collaboration"

### Action Items
- [ ] Update the support us page breadcrumb

### Resources/Instructions

[2021-04-25 22:13] #470 closed

[2021-04-25 22:18] Olivia-Chiong commented on #142
Closed as this is completed.

[2021-04-25 22:18] #142 closed

[2021-04-25 22:18] Olivia-Chiong commented on #80
Closed issue as search page as been built

[2021-04-25 22:18] #80 closed

[2021-04-25 22:23] Olivia-Chiong opened #518 "Create small and medium sizes for Tag Generator"
### Overview
We need create small and medium screen sizes for tag generator

### Action Items
- [ ] Create the small and medium screen sizes for the tag generator
- [ ] review with @chalimar for approval

### Resources/Instructions
[Archived Figma pages](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=7309%3A40187)

[2021-04-25 22:28] Olivia-Chiong opened #519 "Update the "How To Do It" page"
### Overview
Update the bottom of the "How to do it" page

### Action Items
- [ ] Update the "How To Do It" page and style it according to Figma, review resources and screenshots below.

### Resources/Instructions
[Current Page](http://civictechindex.org/adding-projects-to-the-index)

Current Look
![image](https://user-images.githubusercontent.com/75456721/116011558-805d8c00-a5da-11eb-9713-101ff42

[2021-04-25 22:31] Olivia-Chiong opened #520 "Update Footer to include "Share CTI Link" and clickable menu titles"
### Overview
We need to update the footer to include "Share CTI link" and clickable menu titles

### Action Items
- [ ] Update the "Share the CTI" link
- [ ] Make the menu titles in the footer clickable, similar to the header

### Resources/Instructions
[Figma file in footer](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A15527)

[2021-04-25 22:37] DrIffathsultana commented on #302
@chalimar Please review and provide your feedback

[2021-04-25 22:38] connie-yu-dotcom opened #522 "Centralize Search Projects button on Header"
### Overview
Search button on page needs the words "Search Projects" centered within the button. Currently, it is off-center.

### Action Items
- [ ] Center "Search Project" in button.

### Resources/Instructions
[Header Page in Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A15528)
<img width="354" alt="Screen Shot 2021-04-25 at 6 37 14

[2021-04-25 22:51] DrIffathsultana commented on #439
@chalimar Please review the the issue above as there are many changes to design.

[2021-04-25 22:55] #460 closed

[2021-04-26 00:46] kevinashworth opened #523 "Fix/remove incorrect JSS that uses '$' but does not reference a rule name"
### Overview
In JSS, a dollar sign references a rule. But in `Header/styles.js`, many html elements have a dollar sign in front of them, i.e., `$a`, `$svg`, etc. This is incorrect, and there are warnings in the console. For more info on this topic, see https://cssinjs.org/jss-plugin-nested/?v=v10.6.0#use-rulename-to-reference-a-local-rule-within-the-same-style-sheet and other online resources.

##

[2021-04-26 02:01] maxskewes commented on #507
I am doing some re-formatting to the footer that might affect this so I am closing this issue for the time being.

[2021-04-26 02:01] #507 closed

[2021-04-26 20:24] #461 closed

[2021-04-27 02:47] BoyanLiuu commented on #516
Self assigned 4/26/2021
Blocks: none
Availability: Tuesday morning, Tuesday Evening.
ETA: 4/27/2021

[2021-04-27 20:33] mariastudnicka commented on #408
Done with updates at [spreadsheet](https://docs.google.com/spreadsheets/d/1F9XLlqzF_r3A_VhrMHKEGKMtZ2Lm5dkXdSEAXEzpRD8/edit#gid=2066779316) The majority of the orgs either do not have Github presence, if they do have have a github presence they don't have tags.

[2021-04-28 19:52] DrIffathsultana commented on #134
No longer relevant.

[2021-04-28 19:52] #134 closed

[2021-04-28 19:55] DrIffathsultana commented on #480
Hack for LA, Code for America, Code for ALL, Democracy LAb, Open Oakland, Open Sandiego, open Savannah, Yale open lab

[2021-04-28 20:04] mariastudnicka commented on #312
Irrelevant for MVP.

[2021-04-28 20:04] #312 closed

[2021-04-28 20:06] #480 closed

[2021-04-29 03:59] #457 closed

[2021-04-29 03:59] #509 closed

[2021-04-29 03:59] #520 closed

[2021-04-29 04:34] #490 closed

[2021-04-29 18:20] #514 closed

[2021-04-29 22:04] Travisliang001 commented on #451
Progress on Indv-org-page:

Things get done:
    -Completed the deep linking navigation part. (Currently, users only can navigate to a specific org page by using deep linking).
    -Completed the header sections with breadcrumbs and Org info.
    -Completed the dropdown showing the org projects appear in other organization's repo. And placed it in the between Header section and 'All Submitted Proj

[2021-04-30 01:07] maxskewes commented on #523
I'm still looking into this. Some of the $ appear to be necessary while some are superfluous, though there may be a more apt replacement for them.

[2021-04-30 01:07] maxskewes commented on #522
I fixed this. It will appear in my next PR working on tidying the syntax of the styles.js in the Header component.

[2021-04-30 01:09] nrrao commented on #503
created [PR](https://github.com/civictechindex/CTI-website-frontend/pull/533)

[2021-04-30 01:13] #512 closed

[2021-04-30 01:20] #515 closed

[2021-04-30 01:27] #503 closed

[2021-04-30 01:58] nrrao opened #536 "Creating URL link for Tag-generator"
### Overview
Creating URL link for tag generator

### Action Items
- [ ] Create the function that will enable tag generator to store selected strings in the URL that can then be copied and sent to administrator of Github repository for the projects.

### Resources/Instructions
https://github.com/pbeshai/use-query-params#examples

[2021-04-30 18:46] mariastudnicka commented on #516
@BoyanLiuu Can you please resolve the following? (See screen grab)

- The header copy needs to be pushed down 120 px (per figma file).
- The  center copy needs to be center justified
- The font needs to be white.
![Screen Shot 2021-04-30 at 11 41 05 AM](https://user-images.githubusercontent.com/75585533/116740172-7e644600-a9a9-11eb-8dfa-ed7ddc024452.png)

[2021-04-30 19:03] DrIffathsultana opened #538 "Redesign Organizations page according to Figma"
### Overview
Redesign 'Organizations page' according to Figma

### Action Items
- [ ] Redesign ''Organizations'' page according to Figma for small , medium and large screens
- [x] When a user searches for an organization then on page load , it hits an API that retrieves the entire contributors database.(API- organizations)
- [x] All the organizations should be nested in alphabetical order.
- [x] H

[2021-04-30 19:12] mariastudnicka opened #539 "About Page -- UI Fixes"
### We need to fix the following issues on the About Page.

The following items need to be fixed to match the Figma file.

### Action Items (updated 5/9/2021 with new 2nd/3rd items)

- [x]  Add padding at the last illustration to 115px at all break points.  (See Figma file.)

- [x] Correct breakpoint behavior for PictureCard at md so that items format as a single column. (See Figma file.)

- [x] C

[2021-04-30 19:14] mariastudnicka opened #540 "Fix Donate Page -- Link Doesn't work"
### Overview
Please add URL to donate link.

### Action Items

- [ ] Link to this...https://www.codeforamerica.org/donate

[2021-04-30 19:22] BoyanLiuu commented on #516
Sure I will do it this week

[2021-04-30 19:23] DrIffathsultana opened #541 "Build a 'contact us' page"
### Overview
Build a 'contact us' page

### Action Items
- [x]  Build a 'contact us' page according to Figma for small ,medium and large screens.
- [x] Use the information collected from form to create an issue on github.
- [x] The issue should be under 'Label'- Questions - Contact us
- [x] under projects - Prioritized backlog.
- [x] Update 'contact us' component to link to this form  like for exa

[2021-04-30 19:42] mariastudnicka opened #542 "Footer: Remove "Attributions" link"
### Overview
Remove "Atributions" Link in footer.

See image.

![Screen Shot 2021-04-30 at 12 40 39 PM](https://user-images.githubusercontent.com/75585533/116746525-73151880-a9b1-11eb-89fb-49d8cf87809f.png)

[2021-05-01 23:36] maxskewes commented on #540
This issue has been resolved.

[2021-05-01 23:37] maxskewes commented on #542
This has been resolved in the Update Annotations pull request

[2021-05-02 01:50] BoyanLiuu commented on #516
Self assigned 4/26/2021
Blocks:  Trying to read carefully about UI-THEME-STYLES and try to write code with good code quality
Availability: Sunday whole day
ETA: 5/2/2021

[2021-05-02 05:12] DrIffathsultana commented on #313
<img width="1231" alt="Screen Shot 2021-05-01 at 10 04 46 PM" src="https://user-images.githubusercontent.com/75779290/116802750-3ab52d80-aaca-11eb-8ac9-9f6ed0df1e8a.png">

[2021-05-02 05:13] DrIffathsultana commented on #313
@Olivia-Chiong
Created [a list of FAQ's in Google sheet](https://docs.google.com/spreadsheets/d/1c82srPlJttjEIx_qBMt5hOI7ZS26r0cyqDy3xTK6w0Y/edit#gid=412038348)

[2021-05-02 20:10] chalimar commented on #439
Hi Team,

The screens for the Share the CTI page has been updated with Twitter embed and new formatting.

![image](https://user-images.githubusercontent.com/34084181/116826199-ab4e5f80-ab47-11eb-84b9-5b6276ba99cf.png)

[2021-05-02 20:13] chalimar commented on #209
Hey team, I suggested the other day just to revise the tab size and spacing for the All / Unaffiliated / Affiliated to something more consistent.

I'm ok with moving forward once that section has been updated. Thanks so much for your work, @meismith!

[2021-05-02 20:14] chalimar commented on #439
Twitter embed information will be added to the Figma file.

[2021-05-02 20:21] chalimar commented on #426
I will provide a doc with all of the image information. Hope we can use this kind of format below.

![image](https://user-images.githubusercontent.com/34084181/116826525-3bd96f80-ab49-11eb-9af4-627b80392d4a.png)

[2021-05-02 20:59] JafarIronclad commented on #482
Status: polishing
Blocks: Need to improve with Material UI
Availability: Limited
ETA: End of meeting today.

[2021-05-02 21:11] mariastudnicka commented on #451
@Travisliang001 Pls fix text wrapping to add to second line (with issues copy) to match search page look and feel.

[2021-05-02 21:20] Olivia-Chiong commented on #541
@maxskewes has built the form and will make a PR to upload. Someone else needs to connect the form using the Google API

[2021-05-02 21:27] Olivia-Chiong commented on #542
Closed via #546

[2021-05-02 21:27] #542 closed

[2021-05-02 21:29] Olivia-Chiong commented on #523
Closed via #537

[2021-05-02 21:29] #523 closed

[2021-05-02 21:31] Olivia-Chiong commented on #522
Closed via #537

[2021-05-02 21:31] #522 closed

[2021-05-02 21:32] #519 closed

[2021-05-02 21:32] kevinashworth opened #549 "We have 2 ProjectCard.js files. Keep only the best version of ProjectCard"
### Overview
These two files are similar:
src/components/ProjectCard.js
src/pages/SearchProjects/ProjectCard.js

### Action Items
Figure out if we need multiple versions of the ProjectCard. If we can use only one, use the best one! And then we use that one version throughout.

### Resources/Instructions
Currently, ProjectCards appear in search results and individual org pages.

[2021-05-02 21:35] mariastudnicka commented on #536
@nrrao is going to fix the API call.

[2021-05-02 21:49] mariastudnicka commented on #479
Needs form validation. All fields are returning errors at current iteration.

[2021-05-02 21:51] JafarIronclad commented on #539
Status: Self assigned 5/2/2021
Blocks: TBD
Availability: Limited - expected to be quick fix.
ETA: 5/6/21

[2021-05-02 21:53] mariastudnicka opened #551 "Design Md and Small Screens for Add Org form"
### Overview
Front End needs Md and Sm screens for Add Org from.

### Resources
This issue is part of this issue.[ Create add organization functionality by connecting the form to the API Work Products #479](https://github.com/civictechindex/CTI-website-frontend/issues/479)

[Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=4495%3A18593)

[2021-05-02 22:05] DrIffathsultana commented on #439
Chali is going to create a zip files for the brand assets.

[2021-05-02 22:19] DrIffathsultana commented on #518
@meismith We have decided to move ahead and right now we don't need small and medium screens. front end will be working on building on existing tag generator.

[2021-05-02 22:19] #518 closed

[2021-05-02 22:20] mariastudnicka opened #552 "Tag Generator Medium and Small Screens"
### Overview
We need to create new responsive pages for tablet and mobile for tag generator.

Refer to the Figma desktop version and scale the screens accordingly per screen.
### Resources

![Screen Shot 2021-05-13 at 6 23 29 PM](https://user-images.githubusercontent.com/75779290/118206949-76c88680-b418-11eb-94c6-8626973a0ee5.png)

[2021-05-02 22:29] kevinashworth commented on #317
Closed by #467

[2021-05-02 22:29] #317 closed

[2021-05-02 22:37] mariastudnicka opened #553 "Md and Sm Screens for "How do It" Page"
### Overview
We need to create a large, medium and small screens for the "How to do It page." We also need to add a banner in the Hero.

### Action Items
Use the current [Figma page](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=4495%3A18593) from the tag generator and the URLhttp://civictechindex.org/adding-projects-to-the-index as reference.

### Resources/Instructions
Please create

[2021-05-02 23:14] #510 closed

[2021-05-03 00:42] #449 closed

[2021-05-03 01:55] maxskewes commented on #541
This issue is being resolved under the branch: create-contact-page.

[2021-05-03 02:37] maxskewes opened #555 "Change breakpoints for TitleSection component"
### Overview
Change the breakpoint for the TitleSection component from "down('md')" to "down('sm')" to comply with figma universally. Also change the font to 32px for smaller screens as per figma.

### Action Items
The current setting causes a change in text size for headings to occur at the breakpoint 1280px. The figma asks that this change take place at 960px. Currently, the size is set to 48 in

[2021-05-03 19:16] cnk opened #558 "Organization link validation enhancements"
Our product manager would like us to have additional validations for data submitted to the AddOrganization API endpoint.

Specifically, the different kinds of urls should match expected patterns for such a url - not just be a valid url per URLField rules.

[2021-05-03 19:23] cnk commented on #558
I think we'll want to use "field level validators" per https://www.django-rest-framework.org/api-guide/serializers/#field-level-validation and put them into our AddOrganizationSerializer.  The most important one to verify is the GitHub link (both because it is required and because we will use that to send people from our site to GH).

I don't think we need to add them to our Link model because onl

[2021-05-05 20:13] Olivia-Chiong commented on #540
@maxskewes this is not resolved, the link still does not point to https://www.codeforamerica.org/donate

![image](https://user-images.githubusercontent.com/75456721/117203260-aa196e80-ada3-11eb-8b78-2dcf183a981e.png)

[2021-05-06 14:21] nrrao opened #560 "Fix error from trending topics chips in Home page"
### Overview
Warning in console log for trending topics chip

### Action Items
Need to remove <a> tag and make chip as clickable component

[2021-05-06 18:59] chalimar commented on #439
[Zip file of logos](https://drive.google.com/drive/folders/1EORoPWmALLXJCfHyDXJemYpO5HvnMzPN?usp=sharing) has been added to Public Brand Assets page.

[2021-05-06 20:16] Travisliang001 commented on #451
Completed the global sort(best match, stargazers and last updated) for all the projects in the 'All Submitted Projects' Section.
Will continue working on the defects that improving the styling on the project card.

[2021-05-06 21:23] BoyanLiuu commented on #439
Are we plan to use these zip file of logos for this section? If so, it did not match as figma design exactly?
![image](https://user-images.githubusercontent.com/45325025/117367028-9814fa00-ae8f-11eb-876b-c60fc6236069.png)

[2021-05-06 22:30] maxskewes commented on #540
This issue is resolved under PR #561. The link was actually functional, but obscured under certain display sizes by the margins of the gif. The page has been reworked so that this is no longer an issue, it now more closely resembles the figma, the fonts are correct sizes and the link is now the light blue color reflected in the figma. The title sizes incorrectly but this is due to the TitleSection

[2021-05-06 22:30] #540 closed

[2021-05-06 22:36] maxskewes commented on #541
I have a PR up for the form on this issue #557. The form needs to be connected using the Google API

[2021-05-06 23:54] cnk commented on #558
@akibrhast fixed this

[2021-05-06 23:54] #558 closed

[2021-05-07 00:12] cnk commented on #246
@akibrhast's update_organizations script updates the contributors flag AND creates new organizations discovered by searching for projects with the 'civictechindex' topic.  The only piece remaining is to decide how this is going to get run on a periodic basis. Since this requires django code + database access, it probably makes most sense to run this in AWS - either as a cron job in the existing co

[2021-05-07 00:35] bruceplai opened #563 "Update handling of Github URLs for /api/organizations POST"
### Overview
The /api/organizations POST endpoint isn't currently able to handle Github URLs without "www" in them

### Action Items
Process actual valid values for github_url param (including those that are submitted without the "www") as valid

[2021-05-07 01:19] connie-yu-dotcom commented on #516
@kevinashworth confirming that this issue has been reviewed and can be pushed.

[2021-05-07 01:58] meismith commented on #553
These are responsive screens for how to do it in tag generator. Let me know if we need any
![How to do it](https://user-images.githubusercontent.com/77039829/117386941-cf969d00-aeb5-11eb-8f28-937658147b46.png)

[2021-05-07 02:12] akibrhast commented on #563
This has been addressed in fork
cnk/org-tree

[2021-05-07 02:13] #563 closed

[2021-05-07 18:58] bruceplai opened #566 "Get main repo back to a clean state"
### Overview
Some conflicts were not resolved before they were committed and merged into the main branch

### Action Items
Revert any commits with conflicts

[2021-05-09 04:47] #566 closed

[2021-05-09 05:53] bruceplai commented on #549
@Travisliang001 Are you currently working on ProjectCard.js in src/components?  If so, I'll use that one to replace the one in src/pages/SearchProjects

[2021-05-09 08:38] akibrhast opened #1054 "Update README.md instruction on how to run pytest correctly"
### Overview
Running pytest from the root of the project as instructed in the REAMDE.md

Results in the below output.

[code]

### Action Items
The correct command to run is as follows:
1. `docker exec -ti cti-web /bin/bash` < - Opens up a bash terminal connected to the running container
2. ```pytest civictechindexadmin``` <- Runs pytest from within the context of the running container

[2021-05-09 14:43] #482 closed

[2021-05-09 14:59] #555 closed

[2021-05-09 19:42] BoyanLiuu opened #570 "Footer section is not responsive"
### Overview
The footer section is not responsive in the medium breakpoint range.

### Action Items
- [ ] Modify current code and make it responsive.

### Resources
![image](https://user-images.githubusercontent.com/45325025/117584833-23cf9600-b0dd-11eb-8f37-952fade7a1ac.png)

[2021-05-09 20:26] #536 closed

[2021-05-09 20:57] JafarIronclad commented on #539
Status: In Progress 5/9/2021. New action items added. Additional breakpoint behavior issues identified with pictureMarketingPoints.
Blocks: None.
Availability: 30 minutes/day
ETA: 5/13/21

[2021-05-09 21:38] connie-yu-dotcom commented on #373
Gio will connect with Cynthia to confirm if this issue has been resolved.

[2021-05-09 21:40] connie-yu-dotcom commented on #188
Gio will confirm with Cynthia if this has been completed and then we can close.

[2021-05-09 23:02] cnk commented on #124
@akibrhast's script to check if an org is a contributor searches for new orgs that should be on our list and creates them with status "submitted" [Commit](https://github.com/civictechindex/CTI-website-backend/commit/c57bbff3f312aa79e6c012ec90e8bdf12dab8b1a) and issue #246

This does not generate a report but I think adding the orgs when we find them - and then having people review them - is a bett

[2021-05-10 03:29] Travisliang001 commented on #549
@bruceplai . Sure. There are some changes I will commit on ProjectCard.js in src/components. You can go ahead remove the src/pages/SearchProjects. Thanks.

[2021-05-12 08:02] #479 closed

[2021-05-12 19:58] connie-yu-dotcom commented on #408
Double checked spreadsheet after Maria's update, I need to make some updates to "no tag" tab.

[2021-05-12 20:08] mariastudnicka opened #572 "Capture Search Terms"
### Overview
Capture search terms at Search field so that Product can review top inquiries for insight on what people are searching for. This will inform how we optimize content for users to be able to find what they need.

[2021-05-12 20:25] mariastudnicka opened #573 "Go to Market Strategy - Launch Plan"
### Overview
Create a GTM Strategy for the CTI release.

### Action Items

- [ ] Launch Plan
- [ ] Collateral

[2021-05-12 23:45] giosce opened #574 "Tag Generator Observations"
After the meeting of 5/9 it has been suggested to have one (or two) issues with high level testing observations.
It is possible that a few things have been fixed since then.
[ ] Don't see your organization? Click "here" to add it ... "here" link isn't active
[ ] Submit Organization button if organization is not selected what is suppose to do? Should the button not be there?
[ ] I think it would be

[2021-05-12 23:54] giosce opened #575 "High Level Testing Observations"
After the meeting on 5/9/21 we said to create issues to track high-level testing observations.
It is possible that some of these items have been fixed or we want them this way.

- [ ] FAQ: Shouldn't we load only 5 when opening the page?
- [ ] Organizations: a bit slow initial load, could use a spinnning weel
- [ ] I thought we said to have checkbox to filter contributors in/out
- [x] Add Organizat

[2021-05-13 01:43] connie-yu-dotcom commented on #408
Spreadsheet up to date with "No Github" and "No Tag" tabs

[2021-05-14 00:40] giosce commented on #67
I'm looking at the problem to deploy/run a version out of one of our github repository (mine or CfA).
Then I think we know what to do, we need mostly to decide which fields make mandatory and the content of some of the list of values (this relate to the Taxonomy).

[2021-05-14 01:18] #551 closed

[2021-05-14 01:26] DrIffathsultana commented on #552
Nandana is still working on this Small and medium screens.
Added images  in figma for SM and MD

[2021-05-14 01:54] mariastudnicka commented on #302
@chalimar is signing off on the original version that Max has already built. Post MVP, we'd like to optimize the UI/UX.

[2021-05-14 02:03] mariastudnicka commented on #209
@chali will place icons for contributors at the figma file as well as the style guide.

[2021-05-14 02:06] #549 closed

[2021-05-14 02:08] DrIffathsultana commented on #538
@Bhaggya is working on filtering logic- Affiliated vs Un Affiliated org
Blocker - @ Cynthia is adding num child in organization in the backend.

[2021-05-14 02:28] mariastudnicka opened #580 "Add Child to Org's API"
### Dependency
 [Redesign Organizations page according to Figma #538](https://github.com/civictechindex/CTI-website-frontend/issues/538)

### Overview
We need add a child to the orgs API end point.

[2021-05-14 03:11] chali commented on #209
:-) it won't be @chali but @chalimar I assume

[2021-05-14 22:20] mariastudnicka commented on #209
@chali Thanks so much! : )

[2021-05-15 01:49] bruceplai opened #582 "Restore PhotoCardDesktop and PhotoCardMobile"
### Overview
The SupportUs page references PhotoCardDesktop and PhotoCardMobile, but those components don't currently exist in the code base.

### Action Items
Restore or implement PhotoCard components

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=4747%3A20563

[2021-05-15 05:05] bruceplai opened #584 "Update Add Org Modal to match Figma"
### Overview
The Add Organization Modal that is used in the Tag Generator needs to be updated to match the Figma

### Action Items
Update modal to have multiple steps according to Figma workflow

Update modal to support multiple screen sizes

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=4495%3A18593

[2021-05-15 19:43] kevinashworth opened #585 "Use router links in NotableUsersSection"
### Overview
Linked logos in the NotableUsersSection of the Home page are linked using `a` tags, so they cause a re-load of the app.

### Action Items
Replace the `a` links with router links instead.

### Resources/Instructions
Try `import Link from ' ..... components/common/Link';` to start with.

[2021-05-15 21:31] #474 closed

[2021-05-15 21:31] e0marina commented on #582
PR I just did should fix this

[2021-05-15 23:52] kevinashworth opened #588 "Complete full-width design for Support Us"
### Overview
Like most of our pages, the design of Support Is is full-width sections in blue, gray, white.

### Action Items
Finalize appearance of Support Us page at all widths.

[2021-05-16 19:11] kevinashworth opened #589 "Clear up various Header navigation issues"
### Overview
There are several issues to resolve with the top nav.

### Action items
Mobile:
- [x] Too-slow dropdown transition to open
- [x] Add transitions to close
- [x] Dropdown covers content,
- [x] New page loads scrolled down
- [x] Burger and headers do not use 'pointer' when they should

Large screens and/or all widths:
- [x] The external link for Volunteer with Us is broken
- [x] style fi

[2021-05-16 19:12] BoyanLiuu commented on #585
I finished this task along with issue #511 .

[2021-05-16 20:46] #589 closed

[2021-05-16 21:17] JafarIronclad commented on #539
Status: PR submitted 5/16/2021.

[2021-05-16 21:56] #560 closed

[2021-05-16 22:09] mariastudnicka commented on #575
@gio will talk to @cnk re: the fields at organizations to help with page load speed,

[2021-05-16 22:36] giosce commented on #132
Hi @cnk  I think this is done?

[2021-05-16 22:38] giosce commented on #168
Let's verify if we already decided all error messages or not.

[2021-05-16 22:40] giosce commented on #125
Let's verify if the breadcrumb is present and correct in every page.

[2021-05-16 22:43] giosce commented on #141
@chalimar can you say your point of view, if this feature is completed? It seems good to me.

[2021-05-16 22:53] giosce commented on #190
Check in Figma and with Travis.

[2021-05-16 23:08] giosce commented on #145
Can you link to a previous (last) roadmap doc/slide?

[2021-05-16 23:20] giosce commented on #50
Is the video currently online complete and correct?

[2021-05-17 03:03] connie-yu-dotcom commented on #145
@giosce   Is this what you are looking for?
https://docs.google.com/document/d/1yXW-RfMx7jcurru4tK_C68mUg36wur_oLMBnCUodPM4/edit?usp=sharing

[2021-05-17 19:31] cnk commented on #132
CTI backend is now running in AWS but does not currently have working GitHub actions to automatically deploy staging and prod versions when committing to an appropriate branch.

Other items we need (or at least would like to have):
  1. A way to see the server logs
  2. A means of running jobs in containers, e.g. the contributor update script.
  3. Possibly email sending for error messages, passwo

[2021-05-17 21:35] #582 closed

[2021-05-17 21:41] e0marina opened #596 "Update Name of Component Folder from SupportUs to RadicalCollaboration"
Rename component folder 'SupportUs' to be 'RadicalCollaboration' and any paths associated with it.

[2021-05-19 05:53] bruceplai commented on #517
Issue has been resolved by PR #595

[2021-05-19 05:53] #517 closed

[2021-05-19 23:26] BoyanLiuu commented on #585
From my  knowledge of react router dom Link component, we use Link component for internal links, however the a tag we used in the home page is for the external links , shouldn't we stay with a tag?

[2021-05-21 00:30] #162 closed

[2021-05-21 00:36] mariastudnicka opened #600 "Update Footer Architecture"
### Overview
We need to go back to the sitemap and do a final for correct labeling so that development will have reference.

### Action Items

- [x] UX needs to define final taxonomy and labeling for both the global nav and footer and then hand off to Front End.

Currently we have redundancies in the global nav.

**Changes to make:**

- [ ] Large
- [ ] Medium
- [ ] Small

JOIN THE INDEX
- [ ] Upda

[2021-05-21 01:15] DrIffathsultana opened #601 "Move from Heroku to AWS"
### Overview
Move from Heroku to AWS

### Action Items
- [ ] New variable to point other URL to…API staging in order to point to Heroku

### Resources/Instructions
Please follow the link - https://api-stage.civictechindex.org/

[2021-05-21 01:18] #451 closed

[2021-05-21 01:24] DrIffathsultana commented on #552
Please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-05-21 01:24] DrIffathsultana commented on #538
Please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-05-21 01:28] DrIffathsultana commented on #539
Please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-05-21 01:40] DrIffathsultana commented on #584
@Max will continue working on the older version of the modal for now and clean up
- [ ] Modal should be centre aligned
- [ ]  closing mechanism- click off
- [ ] use Material UI options

[2021-05-21 02:14] connie-yu-dotcom opened #602 "Make organization detail API endpoint return all information needed for the organization page"
### Overview
Add parent org to individual org page API end point

### Action Items
same as overview

### Resources/Instructions

[2021-05-21 02:19] DrIffathsultana commented on #132
@cnk can you please confirm all the items which are checked are done and we can create a new issue for rest of the items you noted

[2021-05-21 02:30] mariastudnicka opened #603 "AWS and Github Actions"
### Overview
CTI backend is now running in AWS but does not currently have working GitHub actions to automatically deploy staging and prod versions when committing to an appropriate branch.

### Action Items
- [ ] A way to see the server logs
- [ ] A means of running jobs in containers, e.g. the contributor update script.
- [ ] Email sending for error messages, password resets, or notices re new o

[2021-05-21 07:01] cnk commented on #602
@nrrao What information do you need for parent and child orgs? If we are starting from a single org, I can get all parents and all children very efficiently now. I just need to know what information you would like in the output. I have this at the moment but please specify which fields you want added to the output:

[code]

[2021-05-21 07:05] cnk commented on #580
Covered in issue #602

[2021-05-21 07:05] #580 closed

[2021-05-21 07:06] cnk commented on #484
This is deployed to AWS now

[2021-05-21 07:06] #484 closed

[2021-05-21 07:07] cnk commented on #132
Remaining issues have been moved to a new ticket. We can now consider this issue resolved.

[2021-05-21 07:07] #132 closed

[2021-05-21 21:53] nrrao commented on #552
I have made the changes upon review. Requested @Travisliang001 to review PR.

[2021-05-22 01:00] bhaggya commented on #538
I am working on the displaying the numbers for affiliated, unaffiliated and All Tabs and also for individual numbering for individual Tabs. Working on ViewAll Button function to display all child on clicking

[2021-05-22 04:39] #511 closed

[2021-05-22 05:09] maxskewes opened #604 "Connect 'Contact Us' page using API"
### Overview
Connect the form on Contact Us page using Google API

### Action Items
Using the Google API, connect the form

### Resources/Instructions
http://civictechindex.org/about/contact
https://docs.google.com/forms/d/1y4l9vlQuKnoq6Asd4LOpvdBtvHeFXLUrqNoCH_5Aw1s/edit
[Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=8165%3A43198)
[Google for

[2021-05-22 05:12] maxskewes commented on #541
The form has been created as well as a new issue (#604) to connect the form.

[2021-05-22 05:12] #541 closed

[2021-05-22 05:23] maxskewes opened #605 "Finalize older figma version of Add Organization Modal"
### Overview
Finalize the older styled modal for adding an organization.

### Action Items
It has been decided that because the modal of older design for adding an organization has already been linked on the backend, that it is the one that will be included in our release. A few small tweaks are necessary to professionalize the modal's behavior.

center the modal
apply ability to close modal by cl

[2021-05-22 05:25] maxskewes commented on #584
It has been decided that this task is not currently needed for release, though I will still build the page per figma to the point it is ready to be connected at the backend and can put up a PR should one be requested. A new issue has been opened and assigned to myself to finalize the older-styled modal for adding an organization that has already been connected on the backend.

[2021-05-22 16:53] giosce commented on #125
It seems mostly good, just some observations:
Home doesn't have it
Contributors become Organizations
Radical Collaboration -> How to do it doesn't have it
Radical Collaboration -> Share CTI +++ Wrong breadcrumb (it says FAQ)

[2021-05-22 21:56] JafarIronclad commented on #539
Unable to attend 5/23 meeting:

Progress: Almost complete. Need to polish margins on picturecard.
Blocks: Want to consolidate style settings on grid items in the makeStyles function. Not sure how to do this.
Availability: 30 minutes/day
ETA: 5/27

[2021-05-23 07:09] DrIffathsultana commented on #313
@Olivia-Chiong @mariastudnicka @connie-yu-dotcom

I have update the [FAQ sheet.](https://docs.google.com/spreadsheets/d/1c82srPlJttjEIx_qBMt5hOI7ZS26r0cyqDy3xTK6w0Y/edit#gid=412038348)
- [ ] Please review the answers for FAQ page.
  - [ ] Add  your suggestions / Edit the Q and A's.

- Once review is done we can send it to front and back end.

[2021-05-23 07:35] DrIffathsultana commented on #186
@Olivia-Chiong
- Updated the list.
- couldn't find the last two links.
- what is the next step

[2021-05-23 19:33] DrIffathsultana opened #607 "Restore ''Home page'' to design as in Figma for Medium and small screens."
### Overview
 Format mobile & tablet design- 'Home page' for medium and small screens. Resolve them to match the Figma.

### Action Items
- [x] Resolve padding around top yellow header. Needs more room above it for Md and Small.
- [x] Restore proper spacing between buttons 'Tag Your Projects' and 'Learn More'.
- [x] Review entire design for any other needed changes to implement the design.
- [x] F

[2021-05-23 20:35] bruceplai commented on #596
This shouldn't take more than a day or two, but I'm waiting on PR #599 to be merged.

[2021-05-23 21:02] chalimar commented on #553
One column layout for MD and SM pages have been chosen. Finalized screens & icon assets can be referenced [here.](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=9705%3A57363)

![image](https://user-images.githubusercontent.com/34084181/119276528-89d51680-bbcf-11eb-867b-98a337e955db.png)

[2021-05-23 21:06] chalimar commented on #141
For MVP, I think we can utilize the following layout for 404. We can shift over to something funny or random if team decides to move towards that direction.

![image](https://user-images.githubusercontent.com/34084181/119276637-0ec03000-bbd0-11eb-88ee-54363e8cb1c5.png)

[2021-05-23 21:07] #552 closed

[2021-05-23 21:24] DrIffathsultana commented on #585
Yes,  an external should be different from internal link. Use link component for external component.

[2021-05-23 21:44] BoyanLiuu commented on #607
Sm footer in the home page has a different Figma design as footer design in the Site Footer , which one should we follow?

[2021-05-23 22:06] chalimar commented on #600
Current site IA with my suggested edits:

![image](https://user-images.githubusercontent.com/34084181/119278149-577be700-bbd8-11eb-88ba-81f6ece7cebe.png)

Also to note: The header says Join rather than Join the Index. This may cause confusion with first time visitors with the lack of clarity.

[2021-05-23 22:13] nrrao opened #609 "Validating Organization in Tag generator page"
### Overview
We can click submit organization button without selecting the organization.

### Action Items
It Will show an error if they click submit organization  without selecting the organization

### Resources/Instructions
Addressing one of the issue from Tag Generator Observations #574

[2021-05-23 22:41] #588 closed

[2021-05-23 23:30] DrIffathsultana commented on #607
@chalimar Can you guide Shawn regarding Footer design.

[2021-05-23 23:35] DrIffathsultana commented on #607
@BoyanLiuu we have made some changes in site map , so we will confirm you next week. Meanwhile you can continue to work on other things.

[2021-05-23 23:48] mariastudnicka commented on #188
@bruce will look at form validation as a next step before closing.

[2021-05-23 23:55] mariastudnicka commented on #190
@giosce do you want to review comment and potentially close this issue?

[2021-05-23 23:56] mariastudnicka commented on #553
@chalimar Do you want to close this issue?

[2021-05-23 23:57] mariastudnicka commented on #141
@chalimar do you want to close this issue?

[2021-05-24 02:26] #601 closed

[2021-05-24 02:28] nrrao opened #611 "Fix Tag-generator component for new API"
### Overview
Update logic in Tag-generator component for getting organization and org-tags from new API
Get organization names for auto-complete drop-down of Tag-generator
Get org tags from API

[2021-05-24 05:54] #605 closed

[2021-05-25 04:07] Travisliang001 commented on #190
**1. what do you prioritize when looking at search results**
When the search result populated, the project cards in the 'search' page and 'individual-organization page' will be sorted by 'best match' by default.

**2.what do they expect for "best match" (ordering)**
Based on what I have done for the research, the 'best match' sort criteria from github search indicates how recently a file has been

[2021-05-25 05:07] maxskewes opened #613 "Add Org Page"
### Overview
As per old figma at the top of Add Organization, the Save button at the bottom of the AddOrgModal component will remain inactive until all mandatory fields are filled in.

### Action Items

- [x] Save becomes active when all mandatory fields are filled in.
- [x] Hover text will be added to communicate that once Save is push, you will be brought to the Tag Generator page to add your pr

[2021-05-26 00:06] mariastudnicka commented on #573
@Olivia-Chiong I have the first pass at the [deck ](https://docs.google.com/presentation/d/1Q2tRKnuxeRK2ApISmPLe_TrL58d5DKesZPWwVNz_FAY/edit#slide=id.gc6f980f91_0_81)for your review.

[2021-05-26 05:03] bruceplai opened #615 "Create generic header section"
### Overview
Currently the headers banners are inconsistent across multiple pages.  They should ideally use the same component

### Action Items
- [ ] Make generic header section component (teal background, yellow text, white breadcrumbs in the upper left).  Needs to be configurable to show text input field for those pages that require user input.

- [ ] Apply generic header section component to r

[2021-05-26 20:44] mariastudnicka opened #616 "Install Google Analytics"
### Overview
We need to install GA in order to measure traffic and activity on the CTI site.

- [x] Reach out to Henry at 100 Automations for guidance
- [ ] Install GA on site
- [ ]  Front End to Insert Snippets

Paste this code as high in the <head> of the page as possible:

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElement

[2021-05-26 20:47] connie-yu-dotcom opened #617 "Email Letter to Orgs"
### Overview
Create an email to all orgs introducing them to the Civic Tech Index, offering org tags.

### Action Items
- [x] Create letter
- [x] Edit letter
- [x] Create default org tags
- [ ] Send letter

### Resources/Instructions
Make sure to highlight the following on http://civictechindex.org/about

[2021-05-27 01:50] BoyanLiuu commented on #615
I would like to self assign for this task. I am planning to finish it by Sunday  5/30

[2021-05-27 21:17] nrrao commented on #611
I have created a draft of PR for this issue. I have included tag-generator-spec. The tests are passing on my end. I am not sure if the tests are still flaky.

[2021-05-27 21:56] nrrao commented on #609
Still working on the issue.

[2021-05-28 00:24] JafarIronclad commented on #539
Complete with one last update to PR, can close issue once PR approved.

[2021-05-28 01:13] connie-yu-dotcom commented on #538
@bhaggya is working on the following from the pull request linked to #538

Issues to be worked:
1. Tab Selected Color not changing, Hovering is working

 2. CheckBox Text Color not changing

3. Dropdown pointer color #004364 not changing

[2021-05-28 01:13] chalimar commented on #553
This is ready to be developed. This page should live under "Join the Index" as "How to Add Your Project to the Index".

[2021-05-28 01:13] #553 closed

[2021-05-28 01:14] chalimar commented on #141
Pages for all breakpoints have been created for 404 page. This is ready for development.

[2021-05-28 01:14] #141 closed

[2021-05-28 01:22] connie-yu-dotcom commented on #190
@giosce Can you follow up on Travis's note about the sorting. If sorting by search results by title, tags, or description it requires product to make a new issue. Please advise.

[2021-05-28 01:40] connie-yu-dotcom opened #620 "URL Links for Homepage distinguished orgs"
### Overview
Provide URL links for the 8 distinguished orgs on the homepage.

### Action Items
- [x] Find URLs for the 8 orgs
- [x] Put URLs in place of the A tags that currently reside at the icon logo.

### Resources/Instructions
http://civictechindex.org/home

[2021-05-28 02:24] mariastudnicka commented on #585
See new issue #620

[2021-05-28 02:24] #585 closed

[2021-05-28 21:33] connie-yu-dotcom commented on #620
@BoyanLiuu  Are these the kind or urls you were looking for?

Code for all: https://codeforall.org/
Code for America: https://www.codeforamerica.org/
Democracy Lab: https://www.democracylab.org/
Hack for LA: https://www.hackforla.org/
Hack for Oakland: https://openoakland.org/
Open San Diego: https://opensandiego.org/
Open Savannah: https://opensavannah.org/
Yale Open Lab: https://openlab.yale.edu

[2021-05-29 00:42] #596 closed

[2021-05-30 00:06] #539 closed

[2021-05-30 19:49] maxskewes commented on #584
I have worked on the aesthetics, it's looking close to the figma but is not properly responsive to different screen sizes yet. Still working on error messages. No estimated finish time as I will prioritize my efforts for tasks required for the alpha release.

[2021-05-30 20:52] mariastudnicka commented on #620
Thanks, Shawn! Here's the [excel sheet](https://docs.google.com/spreadsheets/d/1aYxKdTzu1_byGg8PywOVMYXJ_zZe5IA2/edit#gid=1137923926) list we have to cross reference

[2021-05-30 20:58] maxskewes commented on #613
I am having trouble finding applicable resources to help me succeed. Surely there's a smart way to do this but I'm finding it elusive. Will discuss at the meeting 5/30.

[2021-05-30 21:02] #607 closed

[2021-05-30 21:02] BoyanLiuu commented on #607
The pull request is already merged.

[2021-05-30 21:02] bhaggya commented on #538
I have finished working on the Issue and I have put a draft PR

[2021-05-30 21:02] BoyanLiuu commented on #620
Got it, Thanks for the help, I will update it asap

[2021-05-30 21:18] mariastudnicka commented on #538
@chali will provide an icon for submitted to Index in Figma

[2021-05-30 21:27] mariastudnicka commented on #584
@bruceplai could you pls reach out to @maxskewes re: the modal validation (browser in js)

[2021-05-30 21:34] chali commented on #538
Again, I think it will be @chalimar ... Happy hacking! :-)

[2021-05-30 21:40] mariastudnicka commented on #620
![Screen Shot 2021-05-30 at 2 39 29 PM](https://user-images.githubusercontent.com/75585533/120120837-e185fb80-c154-11eb-9894-05c02e3120ee.png)

[2021-05-30 21:41] mariastudnicka commented on #620
@BoyanLiuu Pls see updated orgs

[2021-05-30 21:42] Travisliang001 opened #623 "Add the parent org links in BreadCrumbs on Individual Organization Page"
### Overview
The BreadCrumbs is missing the parent orgs link. Since we updated the REACT_APP_API_URL to https://api-stage.civictechindex.org, it actually changes the way that searches for Parent orgs.

### Action Items

- [ ] Need to update the logic to search for parent orgs on the Individual Organization Page.
- [ ] Populate the Parent orgs links if they exist in the BreadCrumbs component.

[2021-05-30 21:44] JafarIronclad opened #625 "Refine test spec for "How-to-use""
### Overview
pages/HowToUse/index.js is not covered by cypress testing under current specs.

### Action Items
[ ] Update how-to-use.spec.js to include breadcrumbs (disable until page matches FIGMA), title section (disable until page matches FIGMA, one of the procedure steps, and the concluding section.
[ ] Update how-to-use.spec.js header and footer section tests to reflect master website items ra

[2021-05-30 21:59] giosce commented on #188
Trying to assign this to Bruce.

[2021-05-30 22:18] giosce commented on #190
1) correct
2) I think it would be better to have our 'best match' sorting criteria but I'd leave that for later.
3) I agree on alphabetically
Correct we don't have the "Good First Issue Count" and "New Issues Count".

[2021-05-30 22:29] giosce commented on #216
I'm not 100% sure which set of screenshots we need to look at.
The set with green background says
What remains is:
1. adding revised instructions into the ending state. - CP
2. version of ending state with no tags added. - CP
3. Removing Org - e.g. removing tags when org is dropped through change button. (make screen for every opportunity. - CP & BW
4. Changing Repo - e.g. same as removing org. -

[2021-05-30 23:43] giosce commented on #188
@bruceplai, is this completed?

[2021-05-30 23:45] giosce commented on #602
@connie-yu-dotcom is this completed?

[2021-05-30 23:48] giosce commented on #302
@mariastudnicka, @chalimar is this completed?

[2021-05-30 23:50] giosce commented on #209
@chalimar, @mariastudnicka is this completed?

[2021-05-30 23:50] giosce commented on #408
@Olivia-Chiong is this completed?

[2021-05-30 23:57] giosce commented on #381
Who is working on this?

[2021-05-30 23:59] giosce commented on #616
Who is working on this?

[2021-05-31 00:06] giosce commented on #67
Created a new repository https://github.com/codeforamerica/publiccode-pusher
Able to run it without jumping back to someone else version https://codeforamerica.github.io/publiccode-pusher/
Still verifying some build issue.
Not sure why we have this issue in CTI.

[2021-05-31 00:11] giosce opened #626 "Search Projects problems"
A small group reviewed the Search Projects live page, noticed the following small problems:

- [x] Sort by Last Updated not working properly
- [x] Magnifier icon not clickable
- [x] Clear filter not showing hand cursor
- [x] Sometimes, adding or removing filters it jumps to the Search Projects initial page

[2021-05-31 00:24] bruceplai commented on #188
@giosce  Front end is not complete, but if this issue is just for the back end API, then yes that part is basically complete.  The API may need minor updates later on, but we can always open new issues for that.  Thanks.

[2021-05-31 00:27] bruceplai commented on #626
@Olivia-Chiong did we resolve the github api throttling?  If not, how should we handle 503 errors from github in the Search Projects page?  Should we just display a message for the user to try waiting to use the page again?

[2021-05-31 00:43] bruceplai commented on #626
@giosce is there a particular time window not working in the Last Updated section or is the whole section not working?  We are sending time window values to the github API to do the filtering.

[2021-05-31 00:46] bruceplai commented on #188
@mariastudnicka Since the front end part of Add Org is being tracked in issue #584, would it be ok to close this issue as done for the back end part?

[2021-06-01 23:09] #209 closed

[2021-06-02 00:15] #188 closed

[2021-06-02 00:19] mariastudnicka commented on #584
Closing this Issue and referencing #613 instead

[2021-06-02 00:19] #584 closed

[2021-06-02 00:36] mariastudnicka commented on #613
@giosce Is there a way to reduce the amount of required fields for this form?  What's the bare amount of required fields that we need? I'm wondering if we need to have Parent Orgs and Github URLs and Tags as mandatory fields.

[2021-06-02 19:48] Olivia-Chiong commented on #602
Thanks @cnk this looks good. @nrrao I am closing this issue unless you have objections. Thanks!

[2021-06-02 20:04] mariastudnicka commented on #600
@mariastudnicka will review UI labels

[2021-06-02 20:33] mariastudnicka commented on #302
We'll assign Joyce and or/Ken to add instructional text to forms, add asterisks and "Mandatory" label on first page of form. Add Country pull down.

[2021-06-02 20:39] connie-yu-dotcom commented on #617
@mariastudnicka or @DrIffathsultana can you read the letter and make comments or edits?
https://docs.google.com/document/d/1e6uEsZwGcO9t4FNf8UevdG4fzwiua_Al0YD_sv6LbQ8/edit?usp=sharing

[2021-06-02 20:42] mariastudnicka opened #627 "UAT Main"
### Overview
This is the page for reference for all UAT issues.

### Action Items

- [ ] Tag Generator #574
- [ ] etc
- [ ] etc

[2021-06-02 20:44] mariastudnicka commented on #575
@DrIffathsultana will consolidate this issue with #627

[2021-06-02 20:56] mariastudnicka commented on #168
Link at References column-- Error Codes, eg.

[2021-06-02 21:53] chalimar commented on #600
Updated site map

"How to add your project to the Index" is now "How to add your project"

![image](https://user-images.githubusercontent.com/34084181/120557105-4a1de400-c3b2-11eb-97eb-8e94085ae8b1.png)

[2021-06-03 05:09] bruceplai commented on #626
Github API may have an issue with date ranges.  For example, the following may not return data for repos that had their last commit pushed between Dec 2, 2020 and May 2, 2021

https://api.github.com/search/repositories?q=topic:civictechindex+pushed:2020-12-02..2021-05-02

[2021-06-04 00:21] JafarIronclad commented on #625
(unable to attend 6/3 meeting or 6/6 meetings)
Progress: 90% done.
Blockers: None
Availability: Limited
ETA: 6/10

[2021-06-04 00:25] connie-yu-dotcom commented on #178
Product needs to think about what kind of voice CTI needs to inhabit. CTI needs a Content creator/writer to help guide our voice.

[2021-06-04 00:29] connie-yu-dotcom commented on #245
We decided on the globe as the icon.

[2021-06-04 00:29] #245 closed

[2021-06-04 00:34] #163 closed

[2021-06-04 00:35] #191 closed

[2021-06-04 00:38] DrIffathsultana commented on #337
This is already done.

[2021-06-04 00:38] #337 closed

[2021-06-04 00:41] #361 closed

[2021-06-04 00:48] connie-yu-dotcom commented on #177
@kevinashworth can you let product know when you can work on this? If you are busy, we can set the milestone to Post MVP.

[2021-06-04 00:49] mariastudnicka commented on #485
@cnk has it been set where we receive a Slack message?

[2021-06-04 00:50] DrIffathsultana commented on #124
@cnk Any blockers to move ahead.

[2021-06-04 00:59] DrIffathsultana commented on #172
we ended up not using story points on this project.

[2021-06-04 00:59] #172 closed

[2021-06-04 01:08] chalimar commented on #538
Icons can be downloaded here [SVG / PNG](https://drive.google.com/drive/u/0/folders/1LbPX4W9YSkMJTZA6WryIF3yOpiT5_c6-)

[2021-06-04 01:20] mariastudnicka commented on #538
@emecas will assist in "When a user searches for an organization then on page load , it hits an API that retrieves the entire contributors database.(API- organizations)" with Issue #602

@bhaggya will continue with remaining index contributors.

[2021-06-04 01:26] mariastudnicka commented on #613
@bruceplai will work with @maxskewes to continue working

[2021-06-04 01:27] #190 closed

[2021-06-04 01:37] Travisliang001 commented on #623
Created a PR, and ready to code review.

[2021-06-04 01:39] mariastudnicka commented on #626
@Olivia-Chiong  could you please assist in how we want to handle 403 errors by Github. @bruceplai said with the continuous API calls such as selecting filtering, the page throttles.

[2021-06-04 01:44] chalimar commented on #600
[Suggested Breadcrumbs](https://docs.google.com/spreadsheets/d/163Pqh-TPfxZySPjZvje4VKouaNSUxXFuDFLVQ9VW0UQ/edit#gid=0)

[2021-06-04 02:06] mariastudnicka commented on #50
@shipranj will update [Page#5](https://docs.google.com/presentation/d/1mtyXXOJ0zIQcXl_So9DmgZB6aByJufKYqWKjq1zIO8o/edit#slide=id.gcf0cffb858_0_0)

[2021-06-04 02:13] cnk commented on #485
No. You need to find someone who wants to work on this.

[2021-06-04 02:41] DrIffathsultana opened #629 "Format 'Home page'- Mobile design as per to figma."
### Overview
There are some visual problems in the 'Home page' for small screen. Resolve them to match the Figma.

### Action Items
- [ ] Format mobile design of 'Home page' according to figma.
- [ ] Restore proper spacing between buttons -Tag Your Projects and Learn More
- [ ] Review entire design for any other needed changes to implement the design.

### Resources/Instructions
See home page desi

[2021-06-04 19:49] #611 closed

[2021-06-05 17:12] connie-yu-dotcom commented on #617
@Olivia-Chiong would you mind reading the letter I created? Input would be greatly appreciated. Link in above comment.

[2021-06-05 17:23] connie-yu-dotcom commented on #313
I made one comment and edited the FAQ for clarity.

[2021-06-05 19:35] DrIffathsultana commented on #617
Hey Connie,

Letter looks good.

Suggestion :
-Can we make the link clickable like Hack for LA, Civic tech index. So it’s
looks more legit.

On Sat, Jun 5, 2021 at 10:12 AM Connie Yu ***@***.***> wrote:

[2021-06-05 19:42] mariastudnicka opened #630 "Update Add Organization Pages"
### Overview
We need to update the forms in order to comply with UX updates.

### Action Items

- [x]  Add Parent Field under Select Parent Org Pulldown (See Figma for notes)
- [x] Add Country Pull down field on Page 2 of form
- [x] Modify Page 1 of form to show mandatory UI elements such as asterisks
- [x] Include "Mandatory" label on Page 1 of form
- [x] Add description language for Parent Org "

[2021-06-06 18:02] bhaggya commented on #538
I was working on Index Contributor, On clicking on Index Contributor checkbox I was able to bring UnAffiliated Organizations  as "No Organizaions found" as per figma . For Affiliated , When I filtered cti_contributor = true ,I am getting only Child Values , But the Parent is having cti_contributor = false . I am not able to connect the parent with the child.

I will wait until I get the new API da

[2021-06-06 19:25] maxskewes commented on #613
The pages are formatted to the current figma, though some changes are meant to be coming from UX/UI team. Errors are displayed on the required fields. Bruce is currently checking my work to see if I should continue in the same method. The code will need to be broken down in to different pages to make it cleaner. This issue is still in progress but is being working on daily.

[2021-06-06 20:17] chalimar opened #633 "Figma File Clean Up"
UX team needs to organize the CTI Figma file to reflect the finalized decisions, UI and annotations for MVP launch.

File Clean Up
- [x] Update page breadcrumbs to reflect finalized nav labels. (i.e. Radical Collaboration has been changed to Collaborate with Us)
- [x] Remove old screen drafts and artifacts on pages that are listed as finalized.
- [ ] Double check all screens have been created and

[2021-06-06 20:20] chalimar commented on #600
<img width="585" alt="Screen Shot 2021-06-06 at 1 19 38 PM" src="https://user-images.githubusercontent.com/34084181/120938870-e5bc9680-c6c9-11eb-8cd5-0cede644e646.png">

[2021-06-06 21:13] e0marina commented on #629
Progress: working on this, Iffath said that one day it looked weird on mobile, another day it didn't. Am looking into it and using different simulations of screens.
Blocks: None
Availability: Moderate
ETA: 1 week

[2021-06-06 22:35] #623 closed

[2021-06-06 22:55] #609 closed

[2021-06-06 23:46] #615 closed

[2021-06-06 23:51] nrrao opened #636 "validation of Project URL in tag-creator page"
### Overview
Need to validate the input in the project url.

### Action Items
Needs to display an error if the URL is not valid.

[2021-06-07 00:41] nrrao opened #637 "Clean up unused vars in RadicalCollaboration/Share/index.js"
### Overview
Clean up unused vars in RadicalCollaboration/Share/index.js
It is blocking the merging of the pull requests.

[2021-06-07 04:30] #637 closed

[2021-06-09 19:55] Olivia-Chiong commented on #313
I've put my comments on the spreadsheet itself

[2021-06-09 19:58] DrIffathsultana commented on #616
we are all working on it.

[2021-06-09 20:03] DrIffathsultana commented on #602
@emecas
- Any updates about this issue, please let us know.

[2021-06-09 20:22] emecas commented on #602
@DrIffathsultana I did not know you were waiting for me about this issue, in previous comments sounds like this alredy done, is anything in pending I could help about

CC @cnk @giosce @Olivia-Chiong

[2021-06-09 20:24] DrIffathsultana commented on #570
@Bruce , footer looks broken. Can you please check tablet and mobile screens.
we have updated the site map - for the current taxonomy. Please refer #600
![IMG_B21E2310A40E-1](https://user-images.githubusercontent.com/75779290/121424283-05e89180-c926-11eb-8b13-743f6026b95b.jpeg)

[2021-06-09 20:32] mariastudnicka commented on #600
@bruceplai Please refer to the [Figma file](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=3765%3A15527) for reference for new taxonomy.

[2021-06-09 20:36] DrIffathsultana opened #639 "Update Header Architecture"
### Overview
We need to update the header architecture as per Figma.
Currently we have redundancies in the global nav.

**Changes to make:**

- [x] Large
- [x] Medium
- [x] Small

JOIN THE INDEX
- [x] Update "Join" to "Join the Index"
- [x] Remove "Tag Generator"
- [x] Add "How to Add Your Project to the Index"

ABOUT
- [x] Remove "Overview" under About
- [x] Add "FAQ"
- [x] Add "Contact Us"

ORGA

[2021-06-09 20:46] mariastudnicka commented on #626
@Olivia-Chiong Is there a way we can limit the number of filters on the page to reduce the error state from Github? Just trying to figure out a solution for the 403 errors and what's the MVP for this situation with Github.

[2021-06-09 22:18] chalimar commented on #633
Feedback from @joycekimdesigns from 6.7.21:

Question areas:

**3.1 About / FAQ (FAQ Search Result: is the breadcrumb going to read “Home / About / FAQ”?**

- Yes, this should read as Home / About / FAQ and I believe it will be Home / About / FAQ / FAQ Results when an input is entered (need to verify though, it could function as the Search Projects behavior where it doesn't redirect to another pag

[2021-06-11 00:02] #620 closed

[2021-06-11 01:26] DrIffathsultana commented on #613
Max  is still working on it.

[2021-06-11 01:32] DrIffathsultana commented on #626
Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-06-11 01:42] mariastudnicka opened #642 "Usability for Tag Generator"
### Overview
User Testing usability for Tag Generator

### Action Items

- [ ] Objectives (Joyce and Shipra)
- [x] Build Tag Generator Prototype (Ken)
- [ ] Methodology
- [x] Agree on Tools for Testing and Notes Capture (Maze has analytics display for reporting)
- [ ] Recruitment for Personas
- [ ] Test (Need dates)
- [ ] Synthesis and Recommendation + Team Share Out

### Resources/Instructions
Pl

[2021-06-11 01:43] Travisliang001 commented on #626
Quote from Kevin,

For example, I found this repo that ranks other repos: https://github.com/EvanLi/Github-Ranking
It lists as its 2nd most stars a repo that has not had commits since 2019, but the GitHub API says it was updated 5 days ago. See https://evanli.github.io/Github-Ranking/ the last column and then inspect https://github.com/996icu/996.ICU
I also played around with some other attempts a

[2021-06-11 02:25] kevinashworth opened #644 "Improve ContributorThumbnail design implementation"
### Overview
Currently, `ContributorThumbnail` yields a component that does not quite match the design. It needs to be improved to have our 'white' background throughout, match border color and style, and have proper dimensions and the correct font.

Compare these three images:
(current)
<img width="411" alt="current Screen Shot 2021-06-10 at 7 01 57 PM" src="https://user-images.githubusercontent.

[2021-06-11 02:39] mariastudnicka opened #645 "Org Page - Numbering Recommendation"
### Overview
We need to show relationships of numbering for grandparents, parents, children.

### Action Items

- [ ] Create Numbering Systems x out of x

### Resources/Instructions
See [FIgma Page](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=3765%3A16063)

[2021-06-11 13:04] #600 closed

[2021-06-11 16:27] DrIffathsultana commented on #538
@bhaggya
Your question was," regarding the count for Affiliated and Unaffiliated how it should be displayed before search and after search? Because in Figma it was before 261/261 now it is changed in the Figma."
- We had a discussion with @chalimar and UI/UX team. Joyce  is reviewing the numbering convention.
- We will let you know by Sunday's meeting, Meanwhile please continue working on the othe

[2021-06-11 16:36] DrIffathsultana commented on #538
Please refer to #602 .

[2021-06-11 16:51] DrIffathsultana commented on #602
@emecas, This issue was reopened because @bhaggya was working on #538 org page- index contributors.

- I am copying her query - " when clicking on Index Contributor checkbox I was able to bring UnAffiliated Organizations as "No Organizaions found" as per figma . For Affiliated , When I filtered cti_contributor = true ,I am getting only Child Values , But the Parent is having cti_contributor = fals

[2021-06-11 18:30] cnk commented on #538
The new API endpoint is https://api-stage.civictechindex.org/api/organizations/

If you want something different, you need specify a new endpoint or what changes you want to the existing endpoint. The current endpoint was what I thought you requested - an attribute on each organization that would allow you to separate affiliated and non-affiliated organizations. Currently that yields 2 non-affilia

[2021-06-11 18:36] cnk commented on #602
@DrIffathsultana @emecas the endpoint @bhaggya is using is the LIST endpoint not the DETAIL endpoint so #538 is unrelated to this backend issue.

I do not see an open frontend issue that relates to the detail API endpoint so I am going to close this issue. If @bhaggya is not able to use the information I put on #538 to complete her page, she can open a new backend issue.

[2021-06-11 18:36] #602 closed

[2021-06-11 22:59] maxskewes commented on #613
I am temporarily on paternal leave. I am happy to resume working on this issue in a week or so, Bruce can be the contact person in my absence and anyone is welcome to take over should￼ progress be eminent.

[2021-06-12 01:50] bhaggya commented on #538
HI Catherine

Yesterdays meeting I consulted with Kevin and asked my doubts he clarified it and now I am able to work with the data you gave me before

Thank you

[2021-06-13 18:51] Travisliang001 commented on #639
The latest changes from #641 completed the above requirements. No additional changes needed.

[2021-06-13 18:51] Travisliang001 commented on #644
Working In Progress.

[2021-06-13 20:50] bruceplai commented on #613
Remaining functionality is to consume any response error messages from axios.post(.../api/organizations) when trying to add a new org.

Field rendering could also be made more dynamic rather than feeding the exact props to each field, but I believe that's a lower priority issue for now.

[2021-06-13 21:08] e0marina commented on #629
Progress: working on this...had a block but Kevin helped me out with a good idea, thank you!
Blocks: None
Availability: Moderate
ETA: 1 week

[2021-06-13 21:18] mariastudnicka commented on #630
@giosce RE: If I'm a  parent org and add my org, how does it work the subsequent field to add parent org?

[2021-06-13 21:19] mariastudnicka commented on #630
@nagas018-ken will update field for description

[2021-06-13 21:21] bhaggya commented on #538
Working on the following
1.  re-usable code for the tab panels.

2. creating additional files in that same folder  index.js file is rather long.

[2021-06-13 21:27] #626 closed

[2021-06-13 21:33] #636 closed

[2021-06-13 21:37] DrIffathsultana commented on #570
Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-06-13 21:53] chalimar commented on #645
Please remove slash between numbers such as (248/248) and (84/84).

<img width="591" alt="Screen Shot 2021-06-13 at 2 49 51 PM" src="https://user-images.githubusercontent.com/34084181/121822935-cc31c680-cc56-11eb-82df-2580e438b7e3.png">

Product: please review suggestion that @joycekimdesigns about Code for All affiliation. Would this format be viable to reduce formatting for grand parent level it

[2021-06-13 22:08] kevinashworth opened #647 "Update contributors.spec.js"
### Overview
Taking into account the changes coming from Bhaggya on Issue #538, update the testing for the Contributors page (Organizations page).

### Action Items

- [x] Update tests of showing grandparent, parent, child organizations at `/organizations/all`
- [x] Add tests that use the search feature of the Organizations page

### Resources/Instructions
See PR #652

[2021-06-13 22:30] mariastudnicka commented on #639
@joycekimdesigns will update spec on header UI

[2021-06-14 00:32] DrIffathsultana commented on #570
@BoyanLiuu This issue was opened because there were some inconsistencies across medium and small screens and we have made some sitemap changes recently.
Thanks for reaching out and as per your request I will reassign this issue.

[2021-06-14 00:37] bruce commented on #570
@DrIffathsultana I think you tagged me by accident.

cc @bruceplai

[2021-06-15 18:00] mariastudnicka commented on #633
@chalimar since our navigation labels are changing, we need to update the breadcrumbs spreadsheet and screens for dev.

[2021-06-16 19:52] mariastudnicka opened #648 "Value Prop with Marketing"
### Overview
Discuss marketing next steps. Action steps to be defined this Friday's meeting.

[2021-06-17 19:34] Olivia-Chiong opened #649 "Fix "file_lines" issue in src/pages/TagCreator/AddOrgForm/CountrySelect.js"
File `CountrySelect.js` has 303 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/civictechindex/CTI-website-frontend/src/pages/TagCreator/AddOrgForm/CountrySelect.js#issue_60ca0449f1d22a0001000099

[2021-06-17 19:37] #649 closed

[2021-06-17 23:32] DrIffathsultana opened #650 "Prepare the Launch Plan for CTI"
### Overview
We need to plan how to do the Launch.

### Action Items
Launch Timeline (Draft 1)

Phase 0 - finish plan

 Finish Plan
- [ ] Phase 1 - get ready
 Finish all the Pages
 Finish the Press Page
 create a page for the press release

- [ ] Phase 2 - Fix All The Things
  Fix everything that’s obviously broken
 Check the website requirements
 Check for issues with the "Bug" label
 Pass UAT (U

[2021-06-17 23:40] DrIffathsultana opened #651 "PM - CTI Meeting Agenda"
### Overview
This issue tracks the agenda for the Civic Tech Index PM meetings.

### Weekly Agenda

### Resources/Instructions

[2021-06-18 01:03] kevinashworth commented on #647
Progress: 50%
Blockers: None
Availability: Evenings / weekends
ETA: 6/20

[2021-06-18 01:04] nagas018-ken commented on #630
![Screen Shot 2021-06-18 at 10 03 26 AM](https://user-images.githubusercontent.com/77827402/122490237-7d03e100-d01c-11eb-92c8-a82ec166d0c0.png)
Updated the parent organization input. Need feedback on description

[2021-06-18 01:37] connie-yu-dotcom commented on #651
From a vote from the Jun, 17, 2021 meeting of all members, all members except 2 said NO to a meeting on Father's Day.

[2021-06-18 01:37] mariastudnicka commented on #639
@Travisliang001 see figma file

[2021-06-18 01:37] #538 closed

[2021-06-18 01:43] DrIffathsultana commented on #644
@chalimar we need or ux to come up with an image icon for orgs that don’t have one

[2021-06-18 01:54] mariastudnicka commented on #613
UX to create modal for error message (from back end.)

[2021-06-18 02:34] mariastudnicka commented on #645
@chalimar Let's look at this page again and make sure the numbering is clear based on scenarios of a person searching for an org with

- [ ] index box checked,
- [ ] the index box not checked
- [ ] and the search field with a text input

[2021-06-18 04:12] kevinashworth opened #653 "Add Cypress integration test for the Add Organization modal dialog"
### Overview
We need code coverage for the form where users can add their organization.

### Action Items

- [ ] Create a spec file to test the Add Organization 2-step modal dialog that can be accessed at http://localhost:3000/join-index

[2021-06-18 05:37] bhaggya opened #655 "Redesign ''Organizations'' page for small , medium and large screens"
Redesign ''Organizations'' page according to Figma for small , medium and large screens. Refer to Figma Link Below

https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A16063

[2021-06-18 11:37] nrrao opened #656 "Match Dropdown of Organization page according to Figma"
### Overview
The border and icon used should be rounded.
Match design according to Figma

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=8843%3A53244

[2021-06-18 17:48] connie-yu-dotcom opened #657 "Clean up Django database errors"
### Overview
GitHub errors for some international organizations where the parent id represents all the city organizations. Specifically Romania.

### Action Items
 [ ] Verify data is correct in Django for city orgs with only a country github id.
 [ ] Correct any erroneous data in Django

<img width="518" alt="Screen Shot 2021-06-17 at 3 20 35 PM" src="https://user-images.githubusercontent.com/8080

[2021-06-20 18:42] bruceplai commented on #613
@mariastudnicka @nagas018-ken No need to create a new UX panel for displaying errors.  The back end error messages aren't always descriptive enough to be displayed on their own.  Instead the workflow will take the user back to the step that has errors and display them under each relevant field.  Thanks.

[2021-06-22 00:55] DrIffathsultana commented on #651
### Agenda for the Jun 23rd PM meeting.

- Discuss and prepare Launch plan #650
-

[2021-06-23 00:25] mariastudnicka commented on #575
@giosce @connie-yu-dotcom @DrIffathsultana Let's start creating  a UAT doc for reference

[2021-06-23 00:42] mariastudnicka commented on #319
Match to updated Figma file to completed by UX.

[2021-06-23 00:50] mariastudnicka commented on #319
UX to update design at Figma

[2021-06-23 19:46] connie-yu-dotcom commented on #644
Hi @Travisliang001 I noticed on the site that Anchorage has a strange image of a man's head. Can you confirm where you are obtaining the org logos from? Django has updated logo images that the PM team updated, and the Anchorage logo in Django isn't of a man's head.

<img width="552" alt="Screen Shot 2021-06-23 at 3 41 24 PM" src="https://user-images.githubusercontent.com/80801490/123158717-24787d8

[2021-06-24 23:15] kevinashworth opened #661 "Make further improvements to Add Org modal"
### Overview
We've made great progress on the Add Org modal found at http://localhost:3000/join-index thanks to Max and Bruce. A few more improvements are wanted:

### Action Items

- [x] Allow URLs to be entered by user with or without `http(s)://` prefix
- [x] Store the Parent Org in state so the dropdown remains populated when user selects "Back" on Step Two
- [x] Display selected Parent Org na

[2021-06-24 23:26] #613 closed

[2021-06-25 00:05] DrIffathsultana commented on #313
- [ ] I will update links from the sitemap.
- [ ] Update them in Django.

[2021-06-25 00:18] DrIffathsultana commented on #653
@bruceplai
Please update the status of this issue.

[2021-06-25 00:49] Travisliang001 commented on #639
Changes are ready to review

[2021-06-25 01:05] chalimar commented on #633
Proposed breadcrumbs listed below and on [Google Sheets.](https://docs.google.com/spreadsheets/d/163Pqh-TPfxZySPjZvje4VKouaNSUxXFuDFLVQ9VW0UQ/edit#gid=0)

<img width="880" alt="Screen Shot 2021-06-24 at 6 04 36 PM" src="https://user-images.githubusercontent.com/34084181/123353594-b2299b00-d516-11eb-9207-f94674924a34.png">

[2021-06-25 01:08] bhaggya commented on #655
Still Working on it

[2021-06-25 01:13] DrIffathsultana commented on #639
@Travisliang001

https://docs.google.com/spreadsheets/d/163Pqh-TPfxZySPjZvje4VKouaNSUxXFuDFLVQ9VW0UQ/edit#gid=0

[2021-06-25 01:46] mariastudnicka commented on #319
@chali will coordinating w. @FarzanaPrianka

[2021-06-25 01:55] mariastudnicka commented on #630
We reviewed modal. @nagas018-ken will revisit "tool tip" display for parent org

[2021-06-25 02:10] mariastudnicka commented on #633
@FarzanaPrianka We will need to make sure the new breadcrumbs are incorporated into the Figma pages. Category labels are not clickable please as an annotation. See Org pages and individual org pages to begin.

[2021-06-25 02:17] kevinashworth opened #663 "Organizations page: search should also be triggered by keyboard 'enter'"
### Overview
http://civictechindex.org/organizations/all right now requires you click the magnifying glass at the end of the search field.

### Action Items
- [ ] Ensure hitting 'enter' initiates a search, as well.
- [ ] (Optional) After a small delay after user stops typing in search field, a search happens even without hitting 'enter'.

[2021-06-25 02:18] bruceplai commented on #653
Test coverage for add org workflow is 100% according to code climate.  Unit tests were added in PR #659

[2021-06-25 02:18] #653 closed

[2021-06-25 02:19] kevinashworth opened #664 "Organizations page: Search results should be partially expanded"
### Overview
http://civictechindex.org/organizations/all currently displays "(9/260)" or some other number of Affiliated children, but they are all behind collapsed dropdowns.

### Action Items
- [ ] Per Figma, displaying search results should be done with expanded grandparent, Code For All.
- [ ] If an org do not include the search keyword, do not display the parent or child.

[2021-06-25 02:22] kevinashworth opened #665 "Organizations page: Ensure all font styling choices match the Figma"
### Overview
http://civictechindex.org/organizations/all right now shows more than one font family. Additionally, some of the font sizes might be off. (Might not, I'm not sure.)

### Action Items
- [ ] Match font styles on this page to design in Figma. Use `Typography` elements with `variant` and `color` attributes when possible.

### Resources/Instructions
http://civictechindex.org/guides/typogra

[2021-06-25 04:54] chali commented on #319
I think it will be @chalimar not @chali :-)

[2021-06-26 15:59] #639 closed

[2021-06-26 16:01] kevinashworth opened #666 "Header: Fix bolding of headers based on nav"
### Overview
For larger browser widths, the apppropriate nav header should be bolded. Currently, either all or none of the nav headers are bolded.

### Action Items

- [x] Per the design, make it so only the currently related header is shown in bold.

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A15528

[2021-06-27 00:34] bruceplai opened #667 "Allow for more URL formats in add org API"
### Overview
When sending a POST request to /api/organizations, we are not allowed to exclude http(s):// and www for URL params

### Action Items
- [x] Make "http(s)://" optional for github_url, website_url, facebook_url, twitter_url, meetup_url
- [x] If "http(s)://" is not sent as part of URL strings in the POST request then assume it is https
- [x] Make "www" optional for facebook_url, meetup_ur

[2021-06-27 00:43] kevinashworth opened #668 "Organizations page: show correct filtered results without an close/expand action of the Code for All dropdown"
### Overview
Currently, if you change the search item on the Organizations page from, say, Code for ABQ to Civic Tech London, the results below Code for All are only updated after you close then re-open the Code for All dropdown

### Action Items
- [ ] Search results should show in the page as soon as they are available without requiring user fiddling

[2021-06-27 21:00] mariastudnicka commented on #246
@cnk would you be able to make this work per your comment via AWS?

[2021-06-27 21:12] e0marina commented on #629
Looks like the commit was pushed/merged? Need to get another issue now :) Thanks!

[2021-06-27 21:14] e0marina commented on #666
Just assigned this to myself, will begin working on this week of 6/27/21.
Blocks: none
Availability: about 3 hours a week
ETA: about a week.

[2021-06-28 03:47] DrIffathsultana commented on #625
@JafarIronclad
Please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-06-28 20:22] connie-yu-dotcom opened #671 "Organize Parent organization pull down."
### Overview
Can the "parent organization" pull down be organized alphabetically? Long pull down menu and I need to fix some of the parent organizations.

### Action Items
Reorganize list of parent organization in the template

### Resources/Instructions
<img width="1280" alt="Screen Shot 2021-06-28 at 4 09 31 PM" src="https://user-images.githubusercontent.com/80801490/123699127-e5c53780-d82c-11eb

[2021-06-28 21:59] nagas018-ken commented on #630
<img width="442" alt="Screen Shot 2021-06-29 at 6 56 02 AM" src="https://user-images.githubusercontent.com/77827402/123709046-5741cc00-d8a7-11eb-8aef-e224a5d7d5e2.png">
@mariastudnicka I have added the tooltips. Need review by @chalimar

[2021-06-28 23:12] FarzanaPrianka commented on #633
Will start working on it from tonight.

ETA:  1 July 2021 (Thursday)
Blockers: None at this moment

[2021-06-28 23:13] FarzanaPrianka commented on #319
Will start working on it from tonight.

ETA: 1 July 2021 (Thursday)
Blockers: None at this moment

[2021-06-28 23:54] connie-yu-dotcom commented on #617
Default org tags completed. Letter will be put on hold.

[2021-06-28 23:54] #617 closed

[2021-06-29 01:10] connie-yu-dotcom commented on #645
@joycekimdesigns working on the issue, slowness due to busy work schedule. If you have questions please feel free to reach out. She should have something for Thursday's meeting.

[2021-06-29 01:14] kevinashworth opened #673 "Review hover state of buttons and links"

[2021-06-29 01:26] bruceplai commented on #661
Re-opening due to addressing first checklist item on front end as well as possibly back end (issue has been opened against back end as well to relax their validation for urls in /api/organizations endpoint)

[2021-06-29 01:32] #663 closed

[2021-06-29 02:35] kevinashworth opened #674 "Organizations page: adjust styling of search bar"
### Overview
The search bar on the Organizations page doesn't quite match the design.

### Action Items

- [x] Change the height of the search bar and search icon from 64 px to 48 px at smaller screens.
- [x] Add padding below it.
- [x] Ensure the search icon doesn't disappear on hover.

### Resources
Figma: https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node

[2021-06-29 02:43] DrIffathsultana opened #675 "live site not reflecting new changes."
### Overview
As a user, I am not able to see the changes on the live site.

### Action Items
We can see the changes on GitHub, but we don't see the updates at [civictechindex.org](http://civictechindex.org/home)

According to [GitHub Actions](https://github.com/civictechindex/CTI-website-frontend/actions), the front end is pushing changes to S3 with our Pull Requests, but it's not reflected on the

[2021-06-29 02:46] connie-yu-dotcom commented on #671
@emecas Example of what I want to fix: Code for Brasov is a part of Code for Romania, but its parent organization is Code for Poland. Several Romanian cities are showing Code for Poland as a parent. And Ok Lab Hannover is showing Australia as its parent org.

[2021-06-29 03:20] #655 closed

[2021-06-29 04:25] #674 closed

[2021-06-29 15:04] emecas commented on #675
I just ran S3 Deployment,  @kevinashworth may you confirm if any of the changes in main branch are available now ? thanks

[2021-06-29 20:39] FarzanaPrianka commented on #633
The breadcrumbs has been updated

[2021-06-30 01:46] DrIffathsultana commented on #313
@connie-yu-dotcom Can you please share the Django link.

[2021-06-30 15:53] chalimar commented on #319
Prianka's edits to the footers have been applied to main components in the Figma file. The finalized footer can be found [here.](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=3765%3A15527)

[2021-06-30 20:44] DrIffathsultana commented on #651
### Agenda for the Jun 23rd PM meeting.
- [ ] Review [launch plan draft.](https://docs.google.com/document/d/1Rev0tQPjvXehQSeCwya1jVdIlumN-jSwTwMiVhz8ktc/edit#)
- [ ] @Olivia-Chiong, can you please share the Django link - To update faqs.
- [ ] We need to update the Slackbot reminder for Monday’s team meeting on the CTI channel.
- [ ] We need to update the Zoom Meeting link for Monday’s team meetin

[2021-07-01 19:10] maxskewes commented on #570
I have resolved this issue though I was unable to run Prettier in VSC before pushing the request. I have created a PR.

[2021-07-01 22:45] emecas commented on #667
**Progresses:**

@bruceplai @DrIffathsultana  I had checked and the API  has the following validations verifying that  `https`, and/or, `www` or a `specific-startswith` are part of the provided URLs:

- validate_github_url -  is validated using the following regex_pattern = "(https://)(www.)?(github.com/)([/A-Za-z0-9_-]+)"
- validate_facebook_url  - validates that url  startswith('https://www.face

[2021-07-01 22:54] emecas commented on #675
**Progresses:**

After confirming that the expected changes are part of the deployed commit `b194ff1e5` to S3, but these are still not visible on the website (http://civictechindex.org/organizations/all)

advise from @kevinashworth

I don’t think the problem is with the sending to S3. I think the problem can only be diagnosed by logging in to AWS and looking for hidden errors there. This is my the

[2021-07-01 23:54] bhaggya commented on #664
I am still working on it

[2021-07-02 00:28] kevinashworth commented on #647
Progress: Still at 50%
Blockers: #664, #668
Availability: Evenings / weekends
ETA: 7/8

[2021-07-02 00:47] chalimar commented on #12
7.1.21

On-going work on the design system. I am trying to wrap it up and create an interactive ToC that will lead all designers to the appropriate reference.

<img width="1280" alt="Screen Shot 2021-07-01 at 2 36 48 PM" src="https://user-images.githubusercontent.com/34084181/124204665-646fde00-da94-11eb-97ee-92368162c683.png">

<img width="1718" alt="Screen Shot 2021-07-01 at 5 45 58 PM" src="htt

[2021-07-02 00:56] Olivia-Chiong commented on #675
Is this for the incubator? If yes, I can go get details for it.

[2021-07-02 01:07] emecas commented on #671
WIP, figuring out additional details about Django possibilities to reorganize organizations list by grouping parents first and reviewing issues in existent data

[2021-07-02 01:12] kevinashworth commented on #644
Pull Request #678 did not finalize the implementation of the ContributorThumbnail. It still does not match the design in Figma.

[2021-07-02 01:24] mariastudnicka commented on #675
@oliva could you provide more clarification for Emerson re: the Incubator?

[2021-07-02 01:26] mariastudnicka commented on #664
Search Results Behavior:

Whether there’s a fragment is “Code for Sa” or “Code for Sacremento”
“Code for Sa” should only show 3/248 because the search results will include 4 brigades.  - Code for Sacremento
Code for San Francisco
Code for San Jose

Rules for Search display:
If there are five or less organizations, show the container open with the children.

If there are six or more organizations,

[2021-07-02 02:29] DrIffathsultana commented on #675
Kevin's comments:
The problem exists with the build and not AWS, S3

[2021-07-02 02:30] mariastudnicka commented on #630
@nagas018-ken will look into the ...

[2021-07-02 02:52] mariastudnicka commented on #19
@shipranj  Can you provide an update on objectives and methodology?

[2021-07-02 02:53] mariastudnicka commented on #642
Closing issue. Duplicate of #19

[2021-07-02 02:53] #642 closed

[2021-07-02 04:29] joycekimdesigns commented on #645
@bhaggya regarding the numbering, would there be an issue to show whole numbers in a rested state, which thens to show numerator/denominator (#/#) for search results? Please refer to images below:

**Rested state:**
<img width="607" alt="Screen Shot 2021-07-01 at 9 13 34 PM" src="https://user-images.githubusercontent.com/78825537/124220691-1f0ed900-dab3-11eb-939f-7d3c5f1d8018.png">

**Search resul

[2021-07-02 09:04] oliva commented on #675
please watch out for the pings, github matches usernames globally :slightly_smiling_face:

[2021-07-02 17:09] mariastudnicka commented on #182
@chalimar Hey Chali, do we have a screen for this? I'm trying to assign an issue for @FarzanaPrianka. I'm wondering if we have this in our flow re: error states?

[2021-07-02 17:10] mariastudnicka commented on #195
@FarzanaPrianka Could you please research this and make a recommendation?

[2021-07-03 17:07] kevinashworth commented on #675
The problem is with ThemeProvider (or MuiThemeProvider, they are the same). In brief, if MuiThemeProvider is used in `Contributors/index.js`, it must be used at the top-most level of the component. There is some discussion on the Material-UI site under the FAQ. See "Why aren't my components rendering correctly in production builds?

There are a few ways to solve the problem. It is probably prefera

[2021-07-04 15:23] #661 closed

[2021-07-04 16:22] #570 closed

[2021-07-04 17:17] kevinashworth commented on #276
Because `getOrganizationGitHubInfo.js` was removed from the repo in April (see commit 038cc8e) I have edited this issue down to only mention getOrgId

[2021-07-04 19:54] giosce commented on #67
Unless this issue is to somehow integrate with publiccode, there is no reason to have a publiccode issue open here. Any activity for now will be done in https://github.com/codeforamerica/publiccode-pusher.

Closing this.

[2021-07-04 19:54] #67 closed

[2021-07-07 18:59] DrIffathsultana commented on #313
Updated FAQ's in[ Django database](https://api.civictechindex.org/admin/data/faq/)
- we need to find a way to add links.

[2021-07-08 04:51] DrIffathsultana commented on #651
### Agenda for the Jul 7th PM meeting.

Project Updates:
- The Zoom meeting link for Monday's CTI team meetings is the same as Thursday.
- Calendar invite - updated.
- Discussed upcoming[ Google Shared Drive](https://github.com/hackforla/product-management/issues/268) migration process.
- [Guide for the migration process](https://docs.google.com/document/d/1xiHWnhVg2VOJqX2cOi5fn7tOH70YL-soimCePPgC

[2021-07-08 18:22] e0marina commented on #666
Status: Made change / update to address the issue, but may need more work. Sent video to Kevin for his feedback.
Blocks: none
Availability: about 3 hours a week
ETA: about a week.

[2021-07-09 00:06] FarzanaPrianka commented on #195
In reference to the following two resources, pointy hand should be used only when the content is a URL:

[1. Apples Human Interface Guideline](https://developer.apple.com/design/human-interface-guidelines/macos/user-interaction/mouse-and-trackpad/)

[2. W3C User Interface Guideline](https://www.w3.org/TR/CSS21/ui.html#propdef-cursor)

[2021-07-09 00:32] DrIffathsultana commented on #313
The front end  needs to update the base-URL for the API for the version of the app deployed here: http://civictechindex.org/about/faq
 To call this API:  https://api.civictechindex.org/api/faqs/?page=1&page_size=10&search=

[2021-07-09 01:27] chalimar commented on #19
July 8:

@shipranj will update User Tasks and Validation questions in the [CTI Tag Generator document.](https://docs.google.com/document/d/1IbhNIJcOMdx7xjE7kwq_y-WAAfuI4DF4iXPH8BMEizY/edit) Estimated time of completion by next meeting.

[2021-07-09 01:42] chalimar commented on #630
July 8:

@nagas018-ken will continue to review formatting for fixed and variable width for SM & MD and LG screens.

[2021-07-09 01:46] chalimar commented on #195
July 8:

Thank you for researching, will follow up with Dev to **only display Pointing Hand cursor for URL links on the site** and not for interactive components such as buttons.

[2021-07-09 02:04] maxskewes opened #684 "Add Header to How to Add Your Project page"
### Overview
Add header to join-index/how-to-add page.

### Action Items
Add header with text "How to Add Your Project" and add breadcrumbs.

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=9705%3A57363

[2021-07-09 02:08] chalimar commented on #673
@nagas018-ken & @FarzanaPrianka can you please collaborate and establish hover states and links for updated button components.

[2021-07-09 02:36] #656 closed

[2021-07-09 02:36] #644 closed

[2021-07-10 04:42] bruceplai opened #685 "Use new API to get FAQs"
### Overview
Currently, the FAQ page does not display the questions that were entered into the Django admin portal.  A new API needs to be used to get FAQ data.

### Action Items
- [ ] Replace old FAQ API with a new one

### Resources/Instructions
Sample API
https://api.civictechindex.org/api/faqs/?page=1&page_size=10&search=

[2021-07-10 13:56] #675 closed

[2021-07-10 13:56] #668 closed

[2021-07-10 21:13] DrIffathsultana commented on #604
@maxskewes is working on Contact Us page. He is trying to connect the form using Google API.
 @emecas -Please guide max
- [ ] Do we have an API for the 'Contact Us' page in the backend.
- [ ] If not do we need to create one.

[2021-07-10 21:17] DrIffathsultana commented on #604
@maxskewes
I have attached the google drive location of the Form and response sheet for reference below:
- [Civic Tech Index - Communicate With Us](https://docs.google.com/forms/d/1y4l9vlQuKnoq6Asd4LOpvdBtvHeFXLUrqNoCH_5Aw1s/edit)
- [Civic Tech Index - Communicate With Us (Responses)](https://docs.google.com/spreadsheets/d/1hNUIt08rbr_FewIqc3i3Voh2DbBYPFYuuAIhmN9Iu8Y/edit#gid=2086075721)

[2021-07-10 21:24] DrIffathsultana commented on #313
We need to find a way, how to add links in the FAQ answers from the backend. when I copied the text it's plain.
Emerson suggested. ''we could try by adding to the answer's text the normal URL, then if a browser is not able to handle the URLs as links, we could add some kind of encoding in order the front end present it as a link or finally we could use HTML".

[2021-07-10 21:29] bruceplai commented on #685
I updated ```REACT_APP_API_URL``` from ```https://api-stage.civictechindex.org``` to ```https://api.civictechindex.org``` and the latest FAQ list showed up.   It seems no other changes were needed.  The issue now is if we want to proceed with the new API url in the .env file.

[2021-07-10 21:44] bruceplai commented on #616
Do we already have an account with google analytics?

https://developers.google.com/web/ilt/pwa/integrating-analytics

[2021-07-10 21:45] bruceplai commented on #616
https://javascript.plainenglish.io/how-to-setup-and-add-google-analytics-to-your-react-app-fd361f47ac7b

[2021-07-11 01:35] DrIffathsultana commented on #616
Hi Bruce, I think we just need to use the CTI Gmail account
Or the hackforla.org account

[2021-07-11 06:06] DrIffathsultana commented on #616
@mariastudnicka @connie-yu-dotcom
- To Install google analytics, the First step is to - 1. create an account.
- I tried Using civictechindex@gmail.com and civictechindex@hackforla.org  and looks like e there is no google analytics account set up yet.
- Please see the pic below - what is the account name and other details.
- Please share info if you have created one.
<img width="774" alt="Screen Sh

[2021-07-11 06:11] DrIffathsultana commented on #616
[How to install Google analytics on the website  -Tutorial ](https://www.youtube.com/watch?v=f3X-hYRxBL8)

[2021-07-12 22:25] nrrao opened #687 "Validation of Project Url in Tag-generator page"
### Overview
If the project URL is not valid it displays an error message, but you can still click the Find Project button got to the next step.

### Action Items
Without correcting the URL it should not go to the next step.

[2021-07-12 22:33] Travisliang001 commented on #639
https://docs.google.com/spreadsheets/d/163Pqh-TPfxZySPjZvje4VKouaNSUxXFuDFLVQ9VW0UQ/edit#gid=0
Progress: Completed the URL and breadcrumbs changes for those pages that have been finalized. Will create a PR tonight for this issue.

[2021-07-12 23:56] FarzanaPrianka commented on #673
Could not start working on it yet. Hope to start from tomorrow.

[2021-07-13 00:43] chalimar commented on #195
Information regarding cursor styles have been added to the [CTI Design System.](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex-Master-Design-File?node-id=11360%3A60738)

<img width="658" alt="Screen Shot 2021-07-12 at 5 42 27 PM" src="https://user-images.githubusercontent.com/34084181/125372695-96a4f980-e338-11eb-9b27-ec009c3ca8da.png">

[2021-07-13 01:06] bhaggya commented on #664
I have coded as per this criteria discussed  on meeting
Search Result

  Rules for Search Display:

     1. If there are five or less organizations, show the container open with children

     2. If there are six or more organizations, the container should be closed

I dont know what is the issue I need to fix for merging

[2021-07-13 01:11] emecas commented on #604
@maxskewes @DrIffathsultana  It seem Google Forms and responses is self-contained,  I  don't think we need backend functionality here, anyways please let me know how can I help if you think anything else could be required

[2021-07-13 01:18] chalimar commented on #630
Note:
This issue is now in relation to issue #673 to determine whether a fixed button size is needed for MD & SM form instances.

@nagas018-ken once the button size is established for MD & SM sizes, the form can be considered final. Thank you!

[2021-07-13 01:21] chalimar commented on #302
Need to merge with issue #630

[2021-07-13 01:42] maxskewes commented on #684
Issues arose with using Google docs as a rest API. Emerson is creating a new spreadsheet and will give me the info. Everything is ready to connect the API using axios.

[2021-07-13 01:43] maxskewes commented on #604
Issues arose with using Google docs as a rest API. Emerson is creating a new spreadsheet and will give me the info. Everything is ready to connect the API using axios.

[2021-07-13 01:46] maxskewes commented on #684
There was some discrepancy with the header sizings and the syntax used to size them. I will add the header and create a PR. Then I will create a new issue for sizing the headers and normalizing the syntax.

[2021-07-13 01:53] maxskewes opened #688 "Normalizing GenericHeaderSection component sizing of simple headers."
### Overview
Make header sections of pages with no descriptors under headers (How to Add Project, Collaborate with Us, Donate, Share the CTI) retain 300px of height with centered titles. All other pages using this component are to remain the same. Eradicate syntax "lg='312px'" from component props.

### Action Items
Edit the GenericHeaderSection to reflect overview objective, either through creati

[2021-07-13 03:13] maxskewes opened #691 "Remove bottom section/add icon to How to Add Your Project page"
### Overview
Remove bottom section of How to Add Your Project Page. Add gear icon between words 'click' and 'to' of step 2.

### Action Items
Remove section titled 'Bottom Section' from page. Get icon and insert into Step 2.

### Resources/Instructions
icon location: https://primer.stle/octicons/gear-16

[2021-07-13 03:18] bhaggya opened #692 "Add Contributor Icon to the Index contributor Child and Parent"
When Index Contributor Checkbox is clicked display contributor icon on contributed Child

[2021-07-13 03:22] #319 closed

[2021-07-13 03:23] #302 closed

[2021-07-13 03:28] chalimar commented on #645
Based on discussion with development and sake of simplicity for MVP launch, UX team will update:

- [ ] Numbering convention for resting screen state (whole number)

- [ ] Numbering convention for searched state (x/xx)

- [ ] Update display for searched state (i.e. what happens when an org appears with no children but meets keyword criteria?)

- [ ] Update organizations in alphabetical order (need

[2021-07-13 14:19] kevinashworth opened #693 "AddOrgForm - Allow user to add Parent ORg"
### Overview
As a user adding an organization that has a parent organization *not* listed in the "Parent Organization" dropdown, I can type in the parent organization name and it will be included when I submit my organization.

### Action Items
- [ ] [back-end] How to capture a parent org whose ID is not in the dropdown
- [ ] [front-end] The dropdown can be typed in, but change it so that it keeps

[2021-07-13 14:27] kevinashworth opened #694 "AddOrgForm - Better handle when modal is too big and/or window is too small"
### Overview
As a user interacting with the AddOrgForm modal with my short browser window, I want to be able to see all the form.

### Action Items
Even with a browser with low height,
- [x] Ensure user can always see the Cancel button or at least access the Cancel functionality via keyboard and mouse when that button is below the fold
- [x] Ensure user can see entire AddOrgForm by adding a scroll

[2021-07-13 14:31] kevinashworth opened #695 "AddOrgForm - Add blue question mark icon with tooltip"
### Overview
Create a new element for the AddOrgForm: user help in the form of a small question mark in a blue circle, with a tooltip that appears

### Action Items

- [x] Create colored question mark in a circle
- [x] Create tooltop that appears when user hovers over question mark

### Resources/Instructions
Material-UI https://material-ui.com/components/tooltips
See "yellow" Figma page https://w

[2021-07-13 14:36] kevinashworth opened #696 "Organizations Page - Display "depth 3" orgs that have no children"
### Overview
In our db, there are several 'parent' organizations with depth 3 that do not have child orgs.

### Action Items
- [ ] These orgs should display at the same level, same width, same font size as "depth 3" orgs with children.
- [ ] These orgs should display even when user has not yet entered a search term.

### Resources/Instructions
These orgs include Ciudadania Inteligente, ePaństwo Fo

[2021-07-14 14:40] connie-yu-dotcom commented on #657
@emecas I think we have a duplicate issue. I believe since our last talk, you said you would take a look at the issue. Perhaps I'm using the wrong URL or looking at a dated version?

[2021-07-14 23:32] DrIffathsultana commented on #616
Created a Google analytics account with Email (civictechindex@hackforla.org).
- Measurement ID is G-5V7GWWCKF0
<img width="996" alt="Screen Shot 2021-07-14 at 4 15 56 PM" src="https://user-images.githubusercontent.com/75779290/125705586-08e7df80-f76e-47e0-9409-c958952e1e8e.png">

[2021-07-15 14:20] #685 closed

[2021-07-15 21:18] DrIffathsultana opened #701 "Links in the answers are not getting displayed on FAQ Page- Qand A's."
### Overview
We need to display the links for the answers on the FAQ page so that when the user clicks on them, he/she is being redirected to the relevant page.

### Action Items
- [ ] Display links for the Q and A's on the FAQ page.
- [ ] Please check Cynthia's comments below.

For example:
Question: What is Civic Tech Index?
Answer: <a href="http://civictechindex.org/home">Civic Tech Index</a> i

[2021-07-15 21:33] cnk commented on #701
It appears the html escaping is happening on the front end. The results from the API call for that item are:

[code]

[2021-07-15 22:21] emecas commented on #604
Progresses: I am still working in the new API.
Block: some local issues with db container.
Next: I will add a PR with the changes once it is completed, verified, and local problem is fixed.

[2021-07-16 00:34] mariastudnicka commented on #664
@bhaggya I think I understand the confusion. Per Kevin's comment in the overview, we want the search results to display "Code for All" expanded and The Parent Org(s) container that includes the search keyword.

@Kevin @chalimar  if the orgs do not include the search keyword, do not display the parent or child.

[2021-07-16 00:34] FarzanaPrianka commented on #673
ETA: Monday, 19 July 2021
Blockers: None

[2021-07-16 01:11] maxskewes commented on #691
In progress, estimated completion by July 15/16.

[2021-07-16 01:12] maxskewes commented on #688
Mostly complete, a few questions for the dev group at the meeting tonight. Estimated completion 7-15 or 16th.

[2021-07-16 01:14] maxskewes commented on #604
Will communicate with Emerson when he is finished. Also meeting with Akib this weekend for additional clarification.

[2021-07-16 01:23] nrrao opened #702 "Topic tag chip input with dash"
### Overview
While inputting topic tag chip input should have dash instead of space.

### Action Items
![chip](https://user-images.githubusercontent.com/25930687/125877551-8aa259a9-8392-4c1b-94e6-d3f597d2cddf.PNG)

[2021-07-16 01:29] kevinashworth opened #703 "Organizations Page - Child orgs should be justified left"
### Overview
To display search results with greater clarity, child orgs (depth = 4) should be justified to the left edge of their parent

### Action Items
- [ ] Keep current font size and tile height (i.e. thumbnail height)
- [ ] Left-align children orgs with their parent orgs when showing search results of when the user expands a parent.
- [ ] Children should be the same width as a parent (for no

[2021-07-16 01:36] mariastudnicka commented on #616
At launch Update URL and remove /home

[2021-07-16 02:10] chalimar commented on #19
July 15:

@shipranj will continue to develop test plan, next steps will be to share document with Product & Marketing for review prior to starting User Testing.

Will need to rethink testing method if we are using the website as the prototype (i.e. moderated user testing). @nagas018-ken will review sites that use real websites for testing.

[2021-07-16 02:12] mariastudnicka commented on #19
@shipranj to review olivia's video in slack ux/ui channel

[2021-07-16 02:32] mariastudnicka commented on #645
@joycekimdesigns Could you pls clean the search displays to show behavior consistent with search term. Eg., Show in the search field the "Code for Am" and only show the orgs that reflect that phrase. Do not show orgs that are not part of the search keyword.

[2021-07-16 06:08] DrIffathsultana commented on #651
### Agenda for the Jul 14th PM meeting.

**Project Updates: Launch Planning**
- Define scope for Organizations page for a soft launch.
- Discussed best practices for QA testing
- Plan Bug bash - Test Plan Doc,  Created a Bug template.
- Testing (manual, unit , functional) plan - Tools for test management, bug tracking, Automations

**Important dates:**
- July 26 Bug bash with CTI team
- July 28 Bu

[2021-07-16 23:22] mariastudnicka commented on #616
At launch Update URL and remove /home

[2021-07-18 19:51] giosce commented on #373
Here there are some info on how have django send email when data is submitted https://stackoverflow.com/questions/31334029/how-to-send-email-on-form-submission-using-django-forms

[2021-07-19 14:13] #692 closed

[2021-07-19 15:31] nagas018-ken commented on #19
As I was researching tools, I've found some tools that can test with actual websites instead of design on design tools. Here are some:
[Userlytics](https://www.userlytics.com/prices-plans)
[UXweek](uxtweak.com)
[Usertesting](https://www.usertesting.com/)

Most of them have a recording feature but target enterprise customers, meaning the fee is pretty high. UXweak seems to be free so that we can go

[2021-07-20 00:39] chalimar commented on #673
Hi team, @FarzanaPrianka has updated our button system to meet accessibility standard and matches the styling of Material UI.

Presented would be the recommended styling to move towards. Can revisit after MVP.

<img width="1007" alt="Screen Shot 2021-07-19 at 5 38 04 PM" src="https://user-images.githubusercontent.com/34084181/126244861-91a13081-8cb1-40bd-a251-9909e88a3468.png">

<img width="766" a

[2021-07-20 00:47] chalimar commented on #645
UX team has cleaned up LG experience for the CTI Partners Page. Full screens can be viewed at this [link](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=3765%3A16063).

<img width="1641" alt="Screen Shot 2021-07-19 at 5 47 09 PM" src="https://user-images.githubusercontent.com/34084181/126245538-84fc60ce-bc8a-4eb1-9522-ea9b4556aad4.png">

[2021-07-20 00:55] #687 closed

[2021-07-20 01:24] maxskewes commented on #604
We are waiting for progress on Emerson's API; if the issues remain unresolved we will consider other API options.

[2021-07-20 01:27] maxskewes commented on #691
Just received info on a cleaner way to write that code and will implement during the dev meeting tonight.

[2021-07-20 01:27] #616 closed

[2021-07-20 01:28] maxskewes commented on #684
A new PR will be created for this that will combine issue#691.

[2021-07-20 01:29] maxskewes commented on #688
I have completed this but wish to bring it to the dev team before creating a PR.

[2021-07-20 01:38] bhaggya opened #707 "Organization Page - Display Unaffiliated organizations full width as per figma"
### Overview
Currently in organization page the unaffiliated organizations are not displayed in full width

### Action Items
The unaffiliated organizations should be displayed in full width size
### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A16063

[2021-07-20 01:45] bhaggya opened #708 "Organization Page - Add contributor icon to grandparent and parent"
Overview:
Now in Organization page when index contributor is checked , only child has contributor icon

Action Items
When index contributor is checked  add contributor icon to grandparent and parent as per figma link

Resources
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A16063

[2021-07-20 01:49] DrIffathsultana commented on #604
@emecas Any updates regarding the new API.

[2021-07-20 02:48] #694 closed

[2021-07-21 21:41] DrIffathsultana commented on #651
### Agenda for the Jul 21st PM meeting.

**Project Updates**
- PM meeting times have been updated at 1 pm every Wednesday. (Note: All PMs must make sure and reply to google meet calendar invite, yes/no. This helps to keep everyone informed of any changes to their schedule and saves time of others too)
- Bonnie will be joining the team every Monday and guide us thru user testing and other project i

[2021-07-22 00:59] DrIffathsultana opened #711 "CTI Communication (style) Guide for Document Creation template/examples"
### Overview
CTI Product Managers need the documents that come out of their projects to have a consistent look and feel that has been coordinated with HfLA org leadership to maintain brand consistency both in their project and with other projects in the portfolio.

### Product Manager Action Items
- [ ] Review the existing examples of project Communication Guides
- [ ] Copy to your project google

[2021-07-22 05:07] DrIffathsultana opened #713 "'Contact us' link is broken on FAQ page, Share the CTI page."
### Overview
When a user clicks on the 'Contact us' button on the Faq page it redirects to the contact us page.

### Action Items
Fix the 'Contact us' link
- [x] FAQ page.
- [x] Share the CTI page

### Resources/Instructions
[FAQ page](http://civictechindex.org/about/faq)
http://civictechindex.org/about/contact
http://civictechindex.org/support/share

[2021-07-22 06:57] Travisliang001 opened #715 "Improve the routing logic to the Indv Org Page"
### Overview
Improve the routing logic to the Indv Org Page following react routing practices.

### Action Items

- [ ] Update the Indv org page path from '/organizations/openoakland' to '/organization/openoakland' to avoid the conflcit.
- [ ] following react routing practices

[2021-07-22 19:11] DrIffathsultana opened #717 "Donate page -Gif image demonstrating the use of donation form link is broken"
### Overview
Gif image demonstrating the use of the donation form link is broken
### Action Items
- [ ] Fix Gif image demonstrating the use of donation form link.

### Resources/Instructions
http://civictechindex.org/support/donate
<img width="526" alt="Screen Shot 2021-07-22 at 12 04 26 PM" src="https://user-images.githubusercontent.com/75779290/126695959-e5c5950f-bc06-458a-8cc9-59ad71825252.png"

[2021-07-22 22:27] DrIffathsultana commented on #629
![IMG-2192](https://user-images.githubusercontent.com/75779290/126717130-901dd4e2-6380-41f3-84f7-61e8dea2ba09.jpg)
![IMG-2193](https://user-images.githubusercontent.com/75779290/126717134-46052e4b-fe8b-4a6f-b7b8-af4aecc8a11a.jpg)
![IMG-2194](https://user-images.githubusercontent.com/75779290/126717136-148b219e-981a-4588-971c-7308a707fa2f.jpg)

[2021-07-22 22:34] #629 closed

[2021-07-22 23:27] DrIffathsultana opened #719 "When user changes repo, alert message should display to check tags again."
### Overview
While using the Tag generator if the user decides to 'change the repository' then an alert message should be displayed to check topic tags again.

### Action Items
- [ ] Display alert message when 'change repo' is selected.

Alert message: "It looks like you have changed your repository, please check your tags."

Note: Please refer to step 27 on the Tag generator page in Figma for mor

[2021-07-23 00:01] maxskewes commented on #691
PR #712 is up and will resolve this issue.

[2021-07-23 00:02] maxskewes commented on #684
PR #712 is up and will resolve this issue.

[2021-07-23 00:03] maxskewes commented on #604
July 22nd - we are waiting on an API

[2021-07-23 00:32] #701 closed

[2021-07-23 01:33] mariastudnicka commented on #664
@baagundi will update per Figma

[2021-07-23 01:34] mariastudnicka commented on #647
@kevinashworth is still working on it.

[2021-07-23 01:37] mariastudnicka commented on #707
Use full width display please.

[2021-07-23 01:49] #645 closed

[2021-07-23 01:53] #630 closed

[2021-07-23 01:54] mariastudnicka commented on #19
@nagas018-ken thanks! I will review these per our need.

[2021-07-23 02:28] kevinashworth opened #724 "Header styling loses bold sometimes"
### Overview
When user hovers over a different column than the header of the current page, the bolding goes away. Sometimes. It's a little hard to reproduce, but it happens a lot.

### Action Items

- [ ] Consider rewriting NavLink.js with more-standard JavaScript (comparing whole words, standard use of conditional statements and switches, there's no need for a ref here, applying styles dynamicall

[2021-07-23 02:42] kevinashworth opened #725 "Clean up GenericHeaderSection's unusual props and attributes"
### Overview
This component has props named md, lg, fontFamily, etc. Some of them do not work but others should be refactored to follow convention and be easy to understand.

### Action Items

- [x] Remove Space Mono (which doesn't actually do anything)
- [x] Use more-standard prop words for dynamic height styling

### Resources/Instructions

[2021-07-23 03:21] #713 closed

[2021-07-23 04:47] DrIffathsultana commented on #485
@emecas
Please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-07-23 22:09] #708 closed

[2021-07-23 23:37] bruceplai commented on #693
@cnk @emecas Can an level of effort estimate be provided on updating /api/organizations POST to accept a string value for parent_organization in addition to the current parent org ID.

[2021-07-24 00:36] maxskewes commented on #717
PR #726 resolves this issue.

[2021-07-24 02:46] DrIffathsultana commented on #313
Completed

[2021-07-24 02:46] #313 closed

[2021-07-24 03:06] DrIffathsultana opened #727 "All the organizations should be nested in alphabetical order- organizations page"
### Overview
As a user, I want to see all the organizations nested in alphabetical order so that it's easier to browse.

### Action Items

- [ ] All the organizations should be nested in alphabetical order. Country, state, etc.

Note: Please refer to the latest Figma designs updated on July 16, Annotation 7 for notes.

### Resources/Instructions

Figma- [Organizations page](https://www.figma.com/f

[2021-07-24 03:50] DrIffathsultana opened #729 "If user clicks on a contributor tile, the user is delivered to the Individual organization's page."
### Overview
When a user clicks on a contributor tile, the user is delivered to the Individual organization's page.

### Action Items
- [ ] If the user clicks on a contributor tile, the user is delivered to the Individual organization's page

For example; Code for America, Code for all, Code for San Francisco, Open Oakland, Hack for LA etc

Notes:
Note: Please refer to the latest Figma designs upd

[2021-07-24 15:57] kevinashworth opened #730 "Tag Generator: refine handling of special characters"
### Overview
Currently, user can enter HTML tags, commas, malicious code, almost anything into the Tag Generator. We transform spaces into dashes, but that is all we do right now. We should clean, control, validate, sanitize. Also, I think it's a better UI/UX to have commas separate tags as user enters them.

### Action Items
- [x] Sanitize user input to disallow `<script />` or any other HTML tag

[2021-07-24 16:04] kevinashworth opened #731 "Re-enable Tag Generator Cypress spec"
### Overview
`tag-creator.spec.js` has been ignored for a while

### Action Items
- [ ] Ensure it passes, or disable any portions that do not pass, then
- [ ] Un-ignore it

[2021-07-24 16:08] #702 closed

[2021-07-24 16:14] #717 closed

[2021-07-24 17:17] #715 closed

[2021-07-24 22:08] #695 closed

[2021-07-24 23:33] cnk commented on #693
It should be easy a new field to store a string value for parent org so the folks reviewing new organizations can try to find or create the parent manually. It would be easiest if the front end were to use a different variable name if it sends a string rather than an id from the dropdown. Is that OK for the front end?

@emecas Do you want to work on this together? or shall I just go ahead with it

[2021-07-25 00:32] kevinashworth commented on #693
Currently `parent_organization` is an id field. Would it make the most sense to move to `parent_organization_id` and `parent_organization_name`? For consistency of calling all id fields a name that ends in `_id`. And I guess that means we abandon using the current field in its current form, which should ensure complete migration, so not a bad thing.

My initial thoughts. Do whatever works best!

[2021-07-25 01:58] #707 closed

[2021-07-25 06:01] bruceplai commented on #725
It seems this issue was already fixed by @maxskewes in #721
@DrIffathsultana can we close it?

[2021-07-25 06:31] bruceplai commented on #693
@cnk @kevinashworth using ```parent_organization_id``` and ```parent_organization_name``` sounds good to me.  It makes it clear what kind of input the API is expecting.

[2021-07-26 02:52] DrIffathsultana opened #736 "'View contributors' link broken on Home page"
### Overview
When a user clicks on the 'View Contributors' link it goes directly to the 'Organizations page' with the Index Contributor’s checkbox selected.

### Action Items
- [ ] 'View Contributors' link goes directly to the 'Organizations page' with the Index Contributor’s checkbox selected.
Note: Check annotation 4 for reference in Figma.

### Resources/Instructions
[Home page](http://civictec

[2021-07-26 03:12] #408 closed

[2021-07-26 03:13] DrIffathsultana commented on #212
@connie-yu-dotcom
Can we close this issue?

[2021-07-26 13:27] #724 closed

[2021-07-26 13:28] kevinashworth opened #738 "Fix console warning for Share/index.js"
Fix this console warning:

[code]

[2021-07-26 22:14] #736 closed

[2021-07-26 22:57] DrIffathsultana commented on #212
Completed

[2021-07-26 22:57] #212 closed

[2021-07-26 23:09] Travisliang001 commented on #729
Progress: at 70%( Need to add the cypress test on indv-org-page)
Blockers: none
Availability: Evenings
ETA: 7/28

[2021-07-27 00:33] emecas commented on #604
@maxskewes @DrIffathsultana I just added a PR adding the required API: https://github.com/civictechindex/CTI-website-backend/pull/74

I am still having issues running the migration maybe @cnk could help  me to unblock that part.

[2021-07-27 01:03] emecas commented on #485
No progress on this yet

Just working on another issue plus no much time available lately

I will focus on this next week, once I am done with #604

[2021-07-27 01:10] emecas commented on #693
@cnk  we could help , just no much time available lately, Just let me know how do you want to handle it

[2021-07-27 01:14] #688 closed

[2021-07-27 01:34] #725 closed

[2021-07-27 01:36] #666 closed

[2021-07-27 02:07] #696 closed

[2021-07-27 02:33] #719 closed

[2021-07-27 02:40] kevinashworth opened #740 "Adjust font size of "Join a worldwide movement""
### Overview
`Join a worldwide movement to catalog every open source civic tech project.` is too big.

### Action Items

- [ ] Make it 40px / h2 like the Figma
- [ ] 32px for md and smaller screens

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=8314%3A47881

[2021-07-27 02:52] bruceplai opened #742 "Organizations page index contributor default checked state"
### Overview
When navigating to organizations page from the home page, the user should see only index contributors by default.

### Action Items
- [] Check the index contributors checkbox when navigating from the link on the home page to /organizations

[2021-07-27 02:53] #731 closed

[2021-07-27 03:05] DrIffathsultana opened #743 "Add real trending topics on 'Home page'"
### Overview
We need to add some trending topics to the homepage.

### Action Items
 - [x] Replace the trending topics 1 , 2, 3 with real topics like for ex: Voting, election, employment.

Notes: refer to annotation 5 in Figma for more details.

### Resources/Instructions
[Home page figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A15048)
<

[2021-07-27 03:11] #740 closed

[2021-07-28 17:39] e0marina commented on #665
@kevinashworth ok if I assign this to myself?

[2021-07-28 21:32] DrIffathsultana commented on #604
[code]

[2021-07-28 21:39] ExperimentsInHonesty commented on #604
The uploading of logos should be done via google form. And you cannot imbed those forms via iframe.  So the quick solution for launch is to just have a link that appears directing people to the form where they can upload their image. A decision should be made about when we are directing people to this form, so we know what specific information it should collect.
People being directed to form:
when

[2021-07-28 21:47] DrIffathsultana opened #746 "Decide what happens at the end of using the tag generator."
### Overview
What is the functionality of the button - a user clicks the button 'Added to Civic Tech Index' at the end of using the tag generator

### Action Items

- [ ] Change the button to say
 I added my project to Civic Tech Index/Add my logo to your homepage.

- [ ] What clicking the button will do:

1. Record the URL string to a database
2. Send them to the form for uploading their logo( we

[2021-07-29 05:52] DrIffathsultana commented on #651
### Agenda for the Jul 28 PM meeting.

**Project Updates:**

- [ ] We need to review the [User testing document ](https://docs.google.com/document/d/1IbhNIJcOMdx7xjE7kwq_y-WAAfuI4DF4iXPH8BMEizY/edit)and sign off.
- [ ] Finalize the testing tool - https://www.uxtweak.com/website-usability-testing-tool

**Issues to track :**
- [ ] [Contact us page](https://github.com/civictechindex/CTI-website-front

[2021-07-29 06:44] DrIffathsultana opened #748 "'Share the Civic Tech Index' link is broken on 'collaborate with us' page"
### Overview
When a user clicks on 'Share the Civic Tech Index' button, it should redirect to Share the CTI page

### Action Items
- [x] 'Share the Civic Tech Index' button on the 'collaborate with us page' goes to  'Share the CTI page'.

### Resources/Instructions
[Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=4747%3A20563)
http://civictechin

[2021-07-29 06:50] #216 closed

[2021-07-29 06:51] #186 closed

[2021-07-29 22:57] bhaggya opened #750 "Organization Page- IndexContributor checked Page , Parent & Child alignment broken"
Overview
When user clicks on the index contributor checkbox , the parent , child and contributor icon should be displayed

Action Items
the parent , child and contributor icon are not displayed right.

Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A16063

[2021-07-30 00:55] chalimar commented on #19
Made some personas based off of Maria's document to help guide with testing other parts of the sites.

<img width="671" alt="Screen Shot 2021-07-29 at 5 52 26 PM" src="https://user-images.githubusercontent.com/34084181/127583771-cbe740b5-c5d5-4e2a-9a05-7414657c50dc.png">

[2021-07-30 01:24] mariastudnicka commented on #664
Product to review for UAT.

[2021-07-30 01:35] #743 closed

[2021-07-30 19:24] #684 closed

[2021-07-30 19:24] #691 closed

[2021-07-31 00:50] mariastudnicka commented on #604
@cnk would you be able to support emerson re: his comment "I am still having issues running the migration maybe @cnk could help me to unblock that part."

[2021-07-31 16:24] kevinashworth opened #753 "Correct Open Heroines France in our db"
Open Heroines France ("path": "0001000100040001") is in our database wrong. It should be a child or Code for France, but it is currently listed as a child of Codeando Mexico.

[2021-07-31 22:22] #625 closed

[2021-07-31 22:23] #276 closed

[2021-08-01 14:08] #730 closed

[2021-08-02 17:54] e0marina commented on #665
progress: just starting today
blocks: none
Availability: 3 hrs/week
ETA: one week

[2021-08-03 00:49] maxskewes opened #766 "Center Title in GenericHeaderSection"
### Overview
Rework GenericHeaderSection so that titles are centered when title has no subheading while preserving the display of titles with subheading.

### Action Items
Change GenericHeaderSection component to Grid format to more easily center title in header.

[2021-08-03 01:06] kevinashworth commented on #647
Progress: Still at 50%
Blockers: #664 ?
Availability: Evenings / weekends
ETA: 8/9

[2021-08-03 01:12] #604 closed

[2021-08-03 01:12] Travisliang001 commented on #748
Fix the broken link issue

[2021-08-03 01:12] #748 closed

[2021-08-03 01:30] #729 closed

[2021-08-03 02:36] #738 closed

[2021-08-03 02:38] cnk commented on #671
@emecas How about trying an autocomplete field? https://docs.djangoproject.com/en/2.2/ref/contrib/admin/#django.contrib.admin.ModelAdmin.autocomplete_fields

[2021-08-03 02:41] cnk commented on #693
@bruceplai are you going to be doing the front end part of this? If so, can we schedule 30 minutes on Zoom to discuss what the AddOrganization endpoint should return. If we are not using an id, we don't really have the parent org to attach to so we will need to figure out what to return to the frontend.

I did some prototyping last night but got hung up on how to return the OrgName without doing v

[2021-08-03 02:53] mariastudnicka commented on #746
@nagas018-ken   See form as reference...https://docs.google.com/forms/d/1y4l9vlQuKnoq6Asd4LOpvdBtvHeFXLUrqNoCH_5Aw1s/edit

[2021-08-03 02:55] mariastudnicka commented on #746
@emecas Can we detect when an admin has tagged a repo from CTI?

[2021-08-03 03:06] Travisliang001 opened #767 "Match the project card layout on Indv Org Page in Figma"
### Overview
Need to improve the project card layout in lg, md, sm screen sizes.

### Action Items
Lg Screen:
![image](https://user-images.githubusercontent.com/26618651/127951200-95e38fb3-32b7-427d-b5ab-7a30487cbb30.png)

Md Screen:
![image](https://user-images.githubusercontent.com/26618651/127951236-542b22f6-e634-4b40-abfb-c7725488fdb0.png)

Sm Screen:
![image](https://user-images.githubusercon

[2021-08-03 04:13] bruceplai commented on #703
@DrIffathsultana @chalimar  is the organizations page figma finalized (or at least near complete)?  The description for this issue says the design isn't available yet.  Thanks

[2021-08-03 04:32] emecas commented on #671
@cnk that sounds like a good alternative, I will research how that works!!

[2021-08-03 04:36] emecas commented on #746
@mariastudnicka  I am not sure what you mean. Can you elaborate a little better the use case, thanks

I am not sure an admin of what?
1) an admin of a particular GitHub Repository?
2) an admin of CTI project?

[2021-08-03 22:08] nrrao opened #768 "Refactor TagGenerator button text according to Figma"
### Overview
- [ ] Refactor button Text according to Figma
- [ ] Allow user tags to be edited at all steps

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=6239%3A36872

[2021-08-03 22:43] DrIffathsultana commented on #703
@kevinashworth, UI/UX needs more clarity about this issue.
-   Did u  need a layout for MD and SM screens?

**Dependency**

UI/UX team will confirm and update the relevant screens.

[2021-08-03 23:14] DrIffathsultana opened #769 "Remove the Blue header/banner ' How to add your project' on the tag generator page."
### Overview
Remove the  Blue header/banner ' How to add your project' on the tag generator page.
### Action Items
- [ ]  Please refer to Figma design last STEP 3 and remove the blue banner ' How to add your project' on the tag generator page.

Ex: http://civictechindex.org/join-index?changeValue=CopyPasteTags&currentTags=civictechindex&currentTags=hack-for-la&currentTags=code-for-america&currentT

[2021-08-04 04:28] cnk commented on #693
I have created a PR for this. Whoever does the front end changes should review this for suitability and request changes as needed. https://github.com/civictechindex/CTI-website-backend/pull/75

[2021-08-04 19:20] DrIffathsultana commented on #633
@chalimar @FarzanaPrianka @joycekimdesigns
Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-08-05 05:08] #727 closed

[2021-08-05 05:11] kevinashworth opened #770 "Contents of ContributorThumbnail not aligned properly to vertical center"
### Overview
All of the org tiles (or thumbnails) at http://civictechindex.org/organizations/all appear to be **off by 1 or 2 pixels**. Instead of being centered vertically, they are slightly below center.

When **Index Contributor** is selected, the alignment is much worse:
![Screen Shot 2021-08-07 at 2 04 13 PM](https://user-images.githubusercontent.com/1218844/128613800-f7a2183e-948f-4d6c-ac6a-

[2021-08-05 17:39] DrIffathsultana commented on #651
**Agenda for the Aug 04, 2021, PM meeting.**

**Project Updates:**
- [ ] Review and plan next steps for the launch - #650
- Planning, process, Prioritize backlog
- [ ] Quick retrospective with the team.- Template, Miro
- [ ] Bug Tracking with the team on Thursday.- Discuss with PM’s
- [ ] Post MVP planning.- Review and revise Onesheet.
- [ ]  Need to work on Change management process- How do we tr

[2021-08-05 21:45] maxskewes commented on #766
PR #771 will close this issue

[2021-08-05 22:46] FarzanaPrianka commented on #633
I updated the breadcrumbs in Figma file (until June 28) as per the google sheet attached . Will look into it again if there is any update required since then.

[2021-08-06 00:59] Travisliang001 commented on #767
Improved the indiv org page layout with making the 'header section', 'other project dropdown' and 'sort dropdown' responsive when the width is in different sizes.  I Will continue working on the project card section and tried to get it done by 08/09/2021.

[2021-08-06 01:16] kevinashworth commented on #767
Travis, I thought you were going to create 2 issues. One issue (this one) about the Project Card but then a second issue about the components that consume the Project Card and that are next to the Project Card.

Are you working exclusively on the Project Card? I'm asking because I want to avoid two people working on the same thing.

[2021-08-06 01:19] mariastudnicka commented on #746
@emecas We're trying to understand if it's either any one with privileges at GitHub to make a change to a tag. Is there a way for us to be aware of that change?

[2021-08-06 02:12] mariastudnicka commented on #746
@emecas will check if a endpoint exists in GitHub. Verify if task is done.

Post MVP: if user abandons process, we will create a means to contact to complete the tagging in CTI and GitHub or Force the user to complete the entire process. TBD.

[2021-08-06 02:15] Travisliang001 opened #773 "Match the sort dropdown UI on Search page in Figma"
### Overview
We need to match the sort dropdown UI design on the search page in Figma.

### Action Items
Currently this is sort dropdown that we have on search page:
![image](https://user-images.githubusercontent.com/26618651/128445582-ae5280f2-d3f9-4d43-ae49-7e694ad1f3b4.png)

In figma:
![image](https://user-images.githubusercontent.com/26618651/128445648-002aea1b-553e-4d77-8b1e-958fd6b90a38.png)

[2021-08-06 03:04] Travisliang001 commented on #767
Hi Kevin,

Thanks for the heads up. Since it doesn't take me so much time to fix the component that consumes the project card, I willl combine these two issues into one and work on that together. Will try to get it done as soon as I can.

[2021-08-09 04:23] DrIffathsultana commented on #703
@chalimar Can you please add a screenshot?

[2021-08-09 20:25] FarzanaPrianka commented on #633
Updated the breadcrumbs in Figma file for the finalized artboards.

[2021-08-09 23:00] nagas018-ken commented on #746
<img width="650" alt="Screen Shot 2021-08-10 at 7 55 39 AM" src="https://user-images.githubusercontent.com/77827402/128784582-2558cd6d-eeda-4524-a295-3dcc9b196c25.png">

I need to be outside during the meeting today. Here is the update for the issue.
@emecas you can reference to embed a google form. https://paperform.co/blog/embed-google-form/

[2021-08-10 01:32] maxskewes commented on #773
I hit a wall trying to add 'Sort:' to the beginning of the dropdown. Will ask for help tonight.

[2021-08-10 01:50] mariastudnicka commented on #746
@CNK and @emecas to coordinate --
We're currently not tagging activity in our database.
1. Track the URL activity of the repo the user selects
2. Using the URL of repo the user selects, a script needs to be created to check GitHub API for tagging that was created in the CTI.

[2021-08-10 01:58] chalimar commented on #633
Need to add underlines under breadcrumb links on the website.

[2021-08-10 02:11] mariastudnicka commented on #485
Proceed w. creating a channel to collect new org notifications.

@Product Create channel to receive notifications. Hand over channel to CNK to Emerson to create API.

[2021-08-10 02:16] mariastudnicka commented on #671
Reason for not showing in alpha - default in storage is hierarchical (nested).

@cnk to sort the damn list. : >

[2021-08-10 02:19] #768 closed

[2021-08-10 02:20] mariastudnicka commented on #667
@emecas We need to edit some validations on the API.  Please let us know if you have bandwidth.

[2021-08-10 02:45] bruceplai opened #779 "Org search results skewed too far left"
### Overview
In the organizations page, when the org tree is expanded all the way down to child orgs, the alignment looks fine.  However, when orgs are searched for from the search field, the child orgs are displayed too far left.

### Action Items
- [] Fix rendering of child orgs in search results

[2021-08-10 02:50] mariastudnicka commented on #746
Thanks @nagas018-ken!
Could you you at change behavior on click “I submitted my project” Create a version of “I voted,” but instead says "I submitted my project to the Civic Tech Index"  Please reach out to me if you have any questions.

[2021-08-10 02:57] #703 closed

[2021-08-10 17:36] e0marina commented on #665
progress: working on this ...
blocks: none
Availability: 3 hrs/week
ETA: one week

[2021-08-10 23:05] emecas commented on #746
@mariastudnicka  @nagas018-ken @DrIffathsultana

This is the documentation for the API call to get the tags (topics) for any repository,  https://docs.github.com/en/rest/reference/repos#get-all-repository-topics

**Sample for this repo:**  `civictechindex/CTI-website-frontend`

    URL: https://api.github.com/repos/civictechindex/CTI-website-frontend/topics
    Method: GET
    Header (required) :

[2021-08-11 01:10] emecas commented on #485
I found these 2 options:

1.  django-slack-notification 1.0.0   https://pypi.org/project/django-slack-notification/
2.  django-slack   https://django-slack.readthedocs.io/

[2021-08-11 17:12] DrIffathsultana commented on #753
Corrected the path and link - https://codefor.fr/assemblies/openheroines

[2021-08-11 17:12] #753 closed

[2021-08-11 20:31] ExperimentsInHonesty commented on #746
Bonnie and Iffath review of the tag generator on the hackforla/internship project
[meeting_saved_closed_caption.txt](https://github.com/civictechindex/CTI-website-frontend/files/6971217/meeting_saved_closed_caption.txt)

[2021-08-11 21:10] ExperimentsInHonesty commented on #647
@kevinashworth Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-08-11 21:14] ExperimentsInHonesty commented on #766
@maxskewes just want to confirm that you received  Nandana's review, can you give a little thumbs up on it (new practice)  https://github.com/civictechindex/CTI-website-frontend/pull/771#pullrequestreview-725481164

[2021-08-11 22:00] ExperimentsInHonesty commented on #246
sent cnk a message on slack

[2021-08-11 22:03] cnk commented on #246
Next step is to check with Darren about how best to run scheduled jobs within the H4LA AWS infrastructure.

[2021-08-11 22:07] ExperimentsInHonesty commented on #246
@cnk Darren is mostly unavailable.  Is there another way for us to do this that would not involve running it on AWS.  Could we do it with a GitHub action?

[2021-08-11 22:12] cnk commented on #246
The job has to run in AWS to have access to our database but I can probably figure out a way to do this using GH Actions as the trigger for running it within our existing containers.

[2021-08-11 22:13] kevinashworth commented on #750
Above you say "not displayed right." This is too vague for an issue. I will offer at least two details of the wrong display:

1. Currently, when `Index Conttributor` is checked, all parents (i.e. all depth-3 orgs) show the GlobeWithGlassIcon.
2. Furthermore, the number of orgs is listed as 260. It should count up only index contributors.

See screenshot showing these bugs:
![Screen Shot 2021-08-11

[2021-08-12 00:35] #769 closed

[2021-08-12 06:36] ExperimentsInHonesty commented on #19
@mariastudnicka @DrIffathsultana the first test should be with Hack for LA project leads, but until the tag generator passes the user test with me, its not ready for that.  So this could go back in the icebox with a dependency label until that's taken care of.

[2021-08-12 07:13] ExperimentsInHonesty opened #781 "UAT testing with Bonnie"
### Overview
As the primary spokesperson/connector for Civic Tech Index inside the Code for America network I need the tag generator to work smoothly without explanation, so that people we introduce to it can share it with other people multiplying the effect.

### Action Items
- [ ] Review the video and transcription to confirm the following changes to identify if there are any other changes neces

[2021-08-12 17:15] maxskewes commented on #766
I am having merging issues with the PR. Currently resolving them. ETA Sunday 8.15

[2021-08-12 23:06] mariastudnicka opened #782 "Change Tag Generator Tag Behavior"
### Overview
When people put in a tag it needs to turn into a tag as soon as you add a space. Currently it only adds a tag when you click with your mouse. Then it combines all the text you type with spaces into one long tag. So if you type "sad mad bad" it turns it into "sad-mad-bad" instead of "sad" "mad" "bad" which is contrary to how it works in GitHub .

### Action Items

- [x] Code tags so th

[2021-08-12 23:33] mariastudnicka commented on #651
**Agenda for the Aug 12, 2021, PM meeting.**

**Project Updates:**
- [ ] Review feedback from Bonnie:
  - Sizing of Issues
  - New team members
  - Tag Generator: Per Bonnie. "As the primary spokesperson/connector for Civic Tech Index inside the Code for America network I need the tag generator to work smoothly without explanation, so that people we introduce to it can share it with other people m

[2021-08-13 00:42] mariastudnicka opened #783 "Tag Generator - Fix Copy"
### Overview
 The last page needs to be fixed in the following ways:

- [x] Fix the problem with the header that is now showing up on the page
- [x] Bring back the three choices that are supposed to be at the bottom of the page
- [x] Make sure people can see/copy the tags when they are in step 2
- [x]  Reword step 3 to say "After you have finished adding your tags, click Save Changes.
- [x] There

[2021-08-13 01:24] mariastudnicka commented on #750
UX/UI to update screens to show events at Checking Index box.

[2021-08-13 01:35] kevinashworth opened #784 "Organization Page - Index Contributor should show only contributors"
### Overview
Currently, when `Index Contributor` is checked, all parents (i.e. all depth-3 orgs) show the GlobeWithGlassIcon.

Partial screenshot:

![129110268-424df8b5-179a-489d-8b92-2b881f179f41](https://user-images.githubusercontent.com/1218844/129292194-f1a09952-28af-42d5-9163-08910635e104.png)

### Action Items
Fix so that only organizations that are Index Contributors should show when Index

[2021-08-13 01:40] kevinashworth opened #785 "Organization Page - Show X / Y numbers when displaying a subset of orgs"
### Overview
Currently we show total number of orgs in parentheses. We want to show that only when displaying all results.

### Action Items
When displaying the Index Contributors filter or when displaying search results, we should show the number of results and the total number, such as **Code for Africa (2/75)**. See Figma for detailed design.

### Resources/Instructions
https://www.figma.com/fi

[2021-08-13 01:56] #767 closed

[2021-08-13 02:55] mariastudnicka commented on #783
The CTA in the button is not active. Where shall it go? Once @shipranj  is done with UI, we will review and move to Front End for changes.

[2021-08-13 04:33] #693 closed

[2021-08-13 23:23] #750 closed

[2021-08-14 00:01] bruceplai commented on #664
Issue was unassigned, but it looks like @bhaggya is already working on it.

[2021-08-14 00:02] bruceplai commented on #770
Issue was unassigned, but it appears that @bhaggya may have already fixed it

[2021-08-14 00:07] bhaggya commented on #770
No I am have some stuff pending I am still working on this one

[2021-08-14 01:21] ExperimentsInHonesty commented on #766
@maxskewes I don't see any merge conflicts in the PR.  But I do see that things are out of date with the main branch.  Is that what you are talking about?

[2021-08-14 01:51] ExperimentsInHonesty commented on #195
https://www.apple.com/apple-fitness-plus/

[2021-08-14 01:51] #779 closed

[2021-08-14 02:37] #782 closed

[2021-08-14 05:52] Travisliang001 opened #787 "Update the Search page to match Figma design"
### Overview
Please update the search page to match Figma design

### Action Items
1.  Need to remove the 'Filter' section when the screen size is MD. Also need to make sure github "watch" and  "stargazer" icon displayed properly when the screen size is MD.
In Figma:
![image](https://user-images.githubusercontent.com/26618651/129434127-20947511-d3be-426b-ba2f-b86a350341c7.png)
Live site:
![image](

[2021-08-14 17:30] e0marina commented on #665
PR #788

[2021-08-15 16:55] ladissi opened #792 "Github cleanup: label"
### Overview
We need to make effective use of labels so that we can find feature progress, capacity, and velocity.

### Action Items
- [x] Change dark yellow label color to light yellow for non p labels.
- [ ] Make sure that all team members review the tickets that are specific to their role and add the sizes if they are missing.  They don't need to do any that are in the done or icebox column, bu

[2021-08-15 19:49] #784 closed

[2021-08-15 20:09] kevinashworth opened #793 "Org Page: Implement correct checkbox style of 'Index Contributors'"
### Overview
Currently, the unchecked and checked checkbox are both a dark grey.

### Action Items
Make the checked and unchecked states of the 'Index Contributors' checkbox on http://civictechindex.org/organizations/all match Figma, shown here in two screenshots:

![Screen Shot 2021-08-15 at 1 05 45 PM](https://user-images.githubusercontent.com/1218844/129491271-6bdcd12e-c173-46cd-a7a2-23f93c579b

[2021-08-15 20:15] kevinashworth opened #794 "Tag Generator: Center contents of page"
### Overview
Sometimes the contents of the Tag Generator page are not centered.

See screenshots below. It may only happen with form elements? In the 2 screenshots, you can see there are different-sized gaps on the left and right sides of the form elements.

### Action Items
Center the page contents.

### Resources

![Screen Shot 2021-08-15 at 1 12 58 PM](https://user-images.githubusercontent.com/

[2021-08-15 20:18] kevinashworth opened #795 "Tag Generator: Clean up org list dropdown"
### Overview
Currently, the list of orgs has a grey bar at the top of it. See screenshot.
![Screen Shot 2021-08-15 at 1 16 13 PM](https://user-images.githubusercontent.com/1218844/129491572-4dd1798c-9325-40a5-943c-62d163f92c83.png)

### Action Items
Clean up this list so the dropdown presents all lines in white and evenly without a grey gap.

[2021-08-15 21:09] kevinashworth opened #796 "Tag Generator: Only tell user there are no tags when we actually know that"
### Overview
Currently, when the user enters their project, we immediately show a screen that says it has no tags, and then if it actually does have tags, that message goes away after the API call to GitHub completes.

### Action Items
Only show this 'no tags' message if their repository has been confirmed to not have tags.

(What do we show instead? Blank ... spinner ... hmm.)

### Resources/Inst

[2021-08-16 02:29] maxskewes opened #797 "Link 'Collaborate With Us' buttons in mdSmall displays"
### Overview
Link the buttons on the Collaborate with us page, Accessed under Radical Collaboration folder.

### Action Items
Add 'componet={Link}' to <Button> component on PhotoCardMobile.js. Add a 'to' prop to all 'Images' objects on RadicalCollaboration/index.js.

### Resources/Instructions
src/pages/RadicalCollaboration/index.js
src/pages/RadicalCollaboration/PhotoCardMobile.js

[2021-08-17 00:07] Travisliang001 commented on #787
Testing in progress. Should have this PR up by tonight.

[2021-08-17 00:52] mariastudnicka commented on #651
**Agenda for the Aug 16, 2021, PM meeting.**

**Project Updates:**
- [ ] Review feedback from Bonni: - Sizing of Issues Cont'd

**Timing**:

TAG GENERATOR
we need a working version of the tag generator and to finish the brigade lead testing by the end of the month, because CfA / Democracy Lab and HfLA are going to run a workshop and publicity push with Brigade Leads to get them to tag their projec

[2021-08-17 00:57] kevinashworth opened #800 "Org Page: make a thicker line under the 3 tabs"
### Overview
Currently each tab (All, Unaffiliated, Affiliated) has a narrow line under it, maybe 2 pixels.

### Action Items
Refactor the tab styling to have a 5-pixel line, as in the Figma.

### Resources/Instructions
Figma: https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=11838%3A66031

[2021-08-17 01:03] mariastudnicka commented on #746
Create new screen grabs to be more legible.

[2021-08-17 01:10] mariastudnicka commented on #746
@nrrao Please add text ("separate with spaces") for directions for submitting tags.

[2021-08-17 01:16] kevinashworth opened #801 "Tag Generator: Ensure org and project info remain showing"
### Overview
Sometimes the "Add topic tag" state of the Tag Generator is missing the org and project info above it.

### Action Items
Always show the org and project info that we have already collected above the "Add topic tag" entry screen.

### Resources/Instructions
Screenshot of error state:

<img width="1172" alt="Screen Shot 2021-08-16 at 6 14 03 PM" src="https://user-images.githubuserconten

[2021-08-17 01:19] maxskewes commented on #797
PR #799 will close this issue.

[2021-08-17 01:25] bhaggya commented on #785
This was fixed by Bruce's PR

[2021-08-17 01:33] mariastudnicka commented on #125
@maxskewes Could you please add underlines under breadcrumb links on the website.

[2021-08-17 02:05] mariastudnicka opened #802 "Search Affiliation Topic Tags Not Displaying"
### Overview
At Search Projects Page the Affiliations tag results are not displaying from our database.

[2021-08-17 02:21] kevinashworth opened #803 "Page Headers: Breadcrumb links should be underlined"
### Overview
Currently, breadcrumb links are plain text, not underlined.

### Action Items
Modify the style of the breadcrumb component(s) so that breadcrumb links are underlined.

### Resources/Instructions
(This is per Chali, but does not appear in the Figma yet.)

[2021-08-17 02:34] #664 closed

[2021-08-17 13:52] #787 closed

[2021-08-17 17:51] mariastudnicka opened #805 "Tag Generator - Add tags to Step 2"
### Overview
At Step 2 at [last page](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=6239%3A36872) of the Tag Generator, add the topic tags that appear at the beginning of the instructions -- the tags that the user has generated at the tag generator.

### Resources/Instructions
See link above and/or see screen grab below.
![Screen Shot 2021-08-17 at 10 47 19 AM](https://user-images.git

[2021-08-17 18:06] mariastudnicka opened #806 "Tag Generator - Add UI behaviors to CTAs"
### Overview
At the bottom of the page we need to add on click events to the button "Added to The Civic Tech Index" so that we have a conversion event to measure.

### Action Items

- [x]  After User clicks the button, “Added My Project to the Civic Tech Index”,  the display changes to “Thank You for submitting your project” [see Figma file](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-

[2021-08-17 18:09] mariastudnicka opened #807 "Tag Generator- Add "Confetti" behavior to"
### Overview
Replace the images that appear in the instructions so that they are more legible and readable.

### Resources/Instructions
Here are the [pngs](https://drive.google.com/drive/u/0/folders/1Rq01mn4yTRpUsPFyZh9g-6p3_At105Nz) in the Google drive.
[Figma file](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=6239%3A36872) for reference.

[2021-08-17 18:15] mariastudnicka opened #808 "Tag Generator- Add "Confetti" behavior to "Added to the CTI button.""
### Overview
To increase delight for the user's completion of their journey of adding tags to the CTI, we want the button on click to display a confetti response so that the user has a sense of accomplishment and reward.

### Action Items
Select a fun script from [here](https://www.kirilv.com/canvas-confetti/).

### Resources/Instructions
https://www.kirilv.com/canvas-confetti/

[2021-08-17 18:25] #807 closed

[2021-08-17 18:26] mariastudnicka opened #809 "Tag Generator - Update Images (pngs) in instructions"
### Overview
Overview
Replace the images that appear in the instructions so that they are more legible and readable.

Resources/Instructions
Here are the [pngs](https://drive.google.com/drive/u/0/folders/1Rq01mn4yTRpUsPFyZh9g-6p3_At105Nz) in the Google drive.
[Figma file](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=6239%3A36872) for reference.

[2021-08-17 18:39] mariastudnicka commented on #783
@chalimar could you pls review?

[2021-08-17 22:03] #794 closed

[2021-08-17 22:16] #766 closed

[2021-08-18 04:41] #797 closed

[2021-08-18 11:57] #795 closed

[2021-08-18 18:37] #801 closed

[2021-08-18 21:38] DrIffathsultana commented on #485
[Hack for LA wins  for reference]( https://github.com/hackforla/website/issues?q=label%3Anew-win-submission+is%3Aclosed)

[2021-08-18 22:18] mariastudnicka opened #813 "Tag Generator- Update Copy at Adding Tags"
Please change the copy to read:

Separate tags by spaces and dashes for hyphenation.
![Screen Shot 2021-08-18 at 3 18 14 PM](https://user-images.githubusercontent.com/75585533/129979505-698b2adb-019c-4cb2-ac7c-517d888ffb28.png)
You can edit your tags later if you need too.

[2021-08-18 22:22] DrIffathsultana opened #814 "Hyper link text on 'Tag your project' page"
### Overview
As a new user when you read the text  'organizations' it's confusing, so to have more clarity on what is an affiliated organization means, we need to redirect them to the civic tech partners page.

### Action Items
- [ ] We need to add hyperlink text for word "organization" for  'Tag your project' page.  Link URL to http://civictechindex.org/organizations/all
![Screen Shot 2021-08-18

[2021-08-19 02:47] cnk opened #1049 "IP address recorded is not the end user IP"
https://api.civictechindex.org/admin/data/notificationsubscription/

I am pretty sure those 10.10.4.248 and 10.10.3.237 IPs are the IPs of the load balancer. We need something like X-Forwarded-For

Also we are serving everything directly from WSGI rather than behind a web server like Nginx

[2021-08-19 23:02] chalimar opened #816 "Update "How to Add Your Project" Page"
New instructions and images have been created for both "How to Add Your Project" and the end page of the Tag Generator.

**Resource:** [Figma File](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex-Master-Design-File?node-id=12939%3A65800)

**Instructions:**
- [ ] Incorporate Material UI Gear / Cog svg for Step 1 ()
- [ ] Update Copy:

1. Under your project’s repository, click  to

[2021-08-20 00:21] Travisliang001 commented on #806
Testing in progress. Will have PR up tonight.

[2021-08-20 01:00] maxskewes commented on #773
After styling, I am still in the process of re-configuring functionality.

[2021-08-20 01:02] #770 closed

[2021-08-20 01:08] kevinashworth opened #817 "Share the CTI page: implement "Don’t forget to star our repository""
### Overview
We need functional code to implement "Don’t forget to star our repository" on Share the CTI http://civictechindex.org/support/share

### Action Items
Implement the appropriate GitHub embed code to allow users to easily star our repo

### Resources/Instructions

[2021-08-20 01:09] mariastudnicka commented on #773
@maxskewes will reach out to the engineering group for support.

[2021-08-20 01:13] chalimar commented on #783
Finalized Screen for Tag Generator

![Tag Generator - Final Step](https://user-images.githubusercontent.com/34084181/130163528-80c67ad9-638b-487b-92f5-a74a4d26b269.png)

[2021-08-20 01:13] #783 closed

[2021-08-20 01:14] #665 closed

[2021-08-20 01:19] chalimar commented on #746
Instruction images can be found [here.](https://github.com/civictechindex/CTI-website-frontend/issues/746#issuecomment-899916266)

[2021-08-20 01:20] kevinashworth opened #818 "Search: Use aliases endpoint of our API [draft issue]"
### Overview
When user searches for 'hack-for-la' vs 'hackforla' we'd want to respond equally well to both searches. The 'aliases' endpoint of our API is for this purpose.

### Action Items
(What needs to be implemented here?)

### Resources/Instructions
Our API swagger page: https://api-stage.civictechindex.org/swagger/

[2021-08-20 01:24] kevinashworth opened #819 "Search: Figure out why search results yield different number from GitHub"
### Overview
Searching for 'civictechindex' on CTI shows 43 results
Searching for that tag on GitHub shows 45 results

### Action Items
Figure out why the number varies, and resolve discrepancy, or make an issue to resolve it, or share with the team why it cannot be resolved.

### Resources/Instructions

http://civictechindex.org/projects
https://github.com/search?q=topic%3Acivictechindex+fork%3At

[2021-08-20 04:05] #647 closed

[2021-08-20 05:43] bruceplai commented on #796
@chalimar @mariastudnicka do we have a standard set of transitions in the figma?  For example, do we show a spinner when waiting for data from an API call to load?

[2021-08-21 02:54] #813 closed

[2021-08-21 20:06] kevinashworth opened #824 "Tag Generator: need correct project URL for user"
### Overview
Currently, CTI allows user to enter partial URLs of their repositories as begin to use the Tag Generator. For example, they can enter `civictechindex / CTI-website-frontend` and the Tag Generator functions properly.

However, when we link to the repo, we must provide the correct link.

### Action Items
Always display correct project repository URL to user.

### Resources/Instructions

[2021-08-21 20:34] kevinashworth commented on #806
Travis did good work here, but the end result is "jarring". So I have re-opened this issue and I have added a 3rd action item above:

- [ ]  (NEW) For good UX, there should be a transition from one version of this screen to another ... etc.

We need a UX decision first!

**Which kind of transition? Devs, don't work on this until transition decided by designers.**

[2021-08-22 00:50] Travisliang001 commented on #806
UX team, Please also count this issue #808 when considering a transition after the add button clicked.

[2021-08-23 21:12] #796 closed

[2021-08-24 00:29] Travisliang001 commented on #808
@mariastudnicka  Can we discuss which Confetti effects should we use after the 'add button' is clicked?

[2021-08-24 00:29] mariastudnicka commented on #796
Thanks @bruceplai we'll create an issue for UX

[2021-08-24 00:32] mariastudnicka commented on #808
Sure, it's post MVP. : >

[2021-08-24 00:58] mariastudnicka commented on #785
@baagundi is this closed?

[2021-08-24 01:03] #805 closed

[2021-08-24 01:09] mariastudnicka commented on #485
@emecas to review and coordinate w. @cnk

[2021-08-24 01:18] mariastudnicka commented on #667
@bruceplai pls reach @emecas See #824 for reference.

[2021-08-24 01:22] #746 closed

[2021-08-24 01:29] #633 closed

[2021-08-24 01:37] ladissi commented on #785
@bruceplai can you please confirm that your PR was merged?

[2021-08-24 01:38] #816 closed

[2021-08-24 01:38] #809 closed

[2021-08-24 02:37] kevindphan opened #828 "Create an "On Loading" Spinner"
### Overview
We need to create an "On Loading" Spinner for pages that have longer loading times.

### Action Items

- [ ] Design

- Decide on which "On Loading" Spinner to use.

### Resources/Instructions
https://loading.io/css/
This website has examples of "On Loading" Spinners that we can use.
<img width="627" alt="Screen Shot 2021-08-23 at 7 29 30 PM" src="https://user-images.githubusercontent.

[2021-08-24 05:30] #304 closed

[2021-08-24 05:32] #575 closed

[2021-08-24 14:37] nrrao opened #830 "Fix font size Tag Generator"
* fix font size.
* Fix comma-separated topic tags issue.
* Fix project repository link color.

### Resources/Instructions
<img width="1068" alt="Screen Shot 2021-08-23 at 7 38 15 PM" src="https://user-images.githubusercontent.com/25930687/130632584-c38c1a9c-2b31-4d4d-8310-50d4ca94ecc3.png">
When you type tag1,, it should not create an empty tag.

[2021-08-27 18:59] mariastudnicka opened #835 "Create a link to Medium from Share the CTI Page"
### Overview
The Medium icon needs to link to https://medium.com/new-story so that CTI can gain visibility organically.

[2021-08-27 19:30] DrIffathsultana opened #836 "When user submits a new organization, add content to Google Sheet"
### Overview
When a user submits an organization at Add Organization link in Tag Generator, add submitted content to Google sheet.

### Action Items

- [ ] Connect the Org form to a google sheet.
 We want the new Org form to output its values to a google sheet so that site managers can review and approve them
- [ ] Follow the tutorial below to create a google sheet that gets inputs from the new go

[2021-08-28 00:30] kevindphan commented on #177
@ExperimentsInHonesty Hi Bonnie, Maria had assigned Levi and I to check this issue out and work on it.

[2021-08-28 00:32] kevindphan commented on #177
Our progress on this is very limited, we spoke to Kevin on Monday's meeting to get started and we had been hoping to schedule a meeting with you to discuss how you wanted us to go about working on this issue. @ExperimentsInHonesty

[2021-08-29 03:39] DrIffathsultana commented on #19
- [ ] [Usability Testing - Session recordings link](https://drive.google.com/drive/folders/1PM_c28sUWF50n9rLi28vtKnH5GD49wK5).
- [ ] [Google sheet -Analysis Table-Usability Test CTI by all the teams.](https://docs.google.com/spreadsheets/d/1Bu_ODvzSilOniYrrqJKccnvYUyo5IhdV/edit#gid=1216042632)

[2021-08-30 21:39] nrrao commented on #817
Still working on the issue. If we want to star the repository with the click of a button we need OAuth authentication. For now, we can implement using [https://buttons.github.io/](https://buttons.github.io/)

[2021-08-30 23:30] Travisliang001 commented on #773
WIP. Try to get it done by Thursday(2nd Sep)

[2021-08-31 00:28] bhaggya commented on #785
I am still working on this issue. Actually I am unable to get the first count of the child, Everytime the filtering is done, the length assigns to the filtered results length either when index contributor is checked or for search.

[2021-08-31 01:09] DrIffathsultana commented on #667
@emecas
	- Any update regarding this issue?

[2021-08-31 01:14] #819 closed

[2021-08-31 01:24] DrIffathsultana commented on #246
@cnk Please keep us posted

[2021-08-31 01:24] mariastudnicka commented on #19
In today's break out room tonight, we synthesize the findings we had gathered from our spreadsheet to a Miro board.

[2021-08-31 01:49] kevindphan commented on #19
https://miro.com/welcomeonboard/cU91Y3I0OWEzUm5oYkV5YjFVclRFYzFtTDNTOE53YmhoUW43blFyaDhJMXdWN2U4WnJpRHgzdGhSMG9EQkVtdnwzMDc0NDU3MzUyOTcwMjMwNjIz

The Miro board link is above.

[2021-09-02 18:12] chalimar commented on #835
Will the CTI need to make a Medium account, and what social media assets will be needed for the profile? (avatar, cover, etc)

[2021-09-02 18:35] chalimar opened #839 "Styling Edits for "Collaborate with Us""
Interface edits for [Collaborate with Us](http://civictechindex.org/support) page. Please see screenshots for styling errors occurring on the live site.

**Edits to apply**

**Overall Page:**
- [ ] All photos should have rounded corners of 8px and set to cover inside its full-column width.
- [ ] Button labels are currently spilling out of button container. Can we please ensure that they are not fi

[2021-09-02 19:40] chalimar opened #840 "Styling Edits for "Donate" Page"
Interface edits for [Donate](http://civictechindex.org/support/donate) page. Please see screenshots for styling edits needed on the live site and [Figma file](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=7314%3A0) for reference.

**Edits to apply**
- [x] [New gif](https://drive.google.com/drive/u/0/folders/1TgvYilckH1gGkZrmcaRHA2NJe8dcObYr) to upload (add 8px corners and drop-shadow

[2021-09-02 23:59] chalimar commented on #12
Reviewing design file again to gather remaining components for documentation and current MVP styling.

[2021-09-03 01:04] chalimar opened #842 "Styling Edits for "Share the CTI" Page"
Interface edits for [Share the CTI](http://civictechindex.org/support/share) page. Please see screenshots for styling errors occurring on the live site and [Figma file](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=4747%3A20185) for reference.

**Edits to apply**

- [x] Style first three actions into card components. Styling was pulled from cards at the end of the Tag Generator.
- [x]

[2021-09-03 01:13] Travisliang001 commented on #773
Still WIP.

[2021-09-03 02:06] kevinashworth opened #844 "Restore add-org.spec to passing"
### Overview
add-org.spec.js has been flaky, causing unrelated Pull Requests to faill

### Action Items
- [ ] Figure out why 3 (or so) of the tests are failing.
- [ ] Fix them or disable them or write new tests, as needed.

[2021-09-03 05:39] DrIffathsultana commented on #836
Please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-09-08 03:25] bruceplai commented on #835
@mariastudnicka Are we really linking to a blank new story on Medium?

[2021-09-08 07:21] DrIffathsultana opened #847 "CTI PM roles and responsibilities."
### Overview
 A guide for new CTI PMs on how to run meetings effectively and lead the project.

### Action Items

Some points to remember:
1. Meetings :
- [ ]   Meetings should be conducted regularly and effectively every Mon 6-8 pm and Thursday 6-7 pm PST.
- [ ]   Verify Zoom link works by logging and checking them 10 min before the meeting starts.
- [ ]   Do not cancel any meeting unless it's a

[2021-09-08 19:00] chalimar commented on #19
UX team has arranged findings into [affinity cluster](https://miro.com/app/board/o9J_lzuR0B4=/), and will share insights and recommendations.

[2021-09-08 23:48] bruceplai commented on #836
@cnk mentioned several pieces that make up the functionality in this issue

- we need to know what the API call is to create a new issue
- we need to know what tokens / secrets are needed to make those API calls
- we need to figure out how to get those secrets into the django container during our build process
- Once we have those figured out #4 (make an API call in a post_save signal) is easy

Wo

[2021-09-10 00:45] bhaggya commented on #785
Refactoring the code as per review , since the total child count keeps changing in the current code base

[2021-09-10 00:57] ladissi opened #849 "Home Page Copy Update"
### Overview
Update text on home page to be updated from "Tag your project" to "Add your project".

### Action Items
Two sections must warrant a text update from "Tag your project" to "Add your project": (image below for reference)
1. Submenu item under Join the Index
2. Blue button under "Join a worldwide movement..." text

### Resources/Instructions
<img width="1536" alt="Screen Shot 2021-09-09

[2021-09-10 01:06] ladissi commented on #485
hi @emecas
Please update the following
• Progress: How much progress have you made on the issue?
• Blocks: Are you facing any blockers?
• Availability: How much time do you have to work on it this week?
• ETA: When do you think it will be completed?

[2021-09-10 01:07] ladissi commented on #667
hi @emecas
Please update the following
• Progress: How much progress have you made on the issue?
• Blocks: Are you facing any blockers?
• Availability: How much time do you have to work on it this week?
• ETA: When do you think it will be completed?

[2021-09-10 01:13] #814 closed

[2021-09-10 01:17] ladissi commented on #246
@kevindphan to follow up with Cynthia and provide an update

[2021-09-10 01:50] ladissi commented on #849
@maxskewes updated the issue description. Let me know if you need clarity

[2021-09-10 03:21] #793 closed

[2021-09-12 15:20] DrIffathsultana commented on #485
We have created a new issue and following the solution here #https://github.com/civictechindex/CTI-website-frontend/issues/836

[2021-09-12 15:20] #485 closed

[2021-09-13 04:35] #817 closed

[2021-09-13 23:08] Travisliang001 commented on #773
Based on Bruce's comments, some works needed to add. WIP. Will get it done by tomorrow.

[2021-09-14 00:53] ladissi opened #851 "Tag Generator Button Text Update"
### Overview
Change button to say "Submit Your Project Repository" instead of "Find Project."

### Resources/Instructions
<img width="1133" alt="Screen Shot 2021-09-09 at 4 42 50 PM" src="https://user-images.githubusercontent.com/10876843/133176033-a3975085-2a8a-4be2-b863-3062a3907b2b.png">

[2021-09-14 01:09] kevindphan opened #852 "Replace Video in CTI About Section With an Interactive Slide Deck"
### Overview
The video in the CTI About Section found in the Overview heading should be replaced with an interactive slide deck instead. The video moves through the slides too quickly so by switching it with the slide deck, it will allow users to read through the information at their own pace. Would like for UI to create a design of the page

### Action Items

- [ ] Embed the following google slid

[2021-09-14 01:13] ladissi commented on #836
Hi @bruceplai thank you for the update above. Could you please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-09-14 01:18] ladissi commented on #667
@mariastudnicka reaching out to #admin channel for backend support

[2021-09-14 01:20] ladissi commented on #785
@bruceplai please let us know if you can review the PR otherwise we can ask someone else to review it

[2021-09-14 01:24] ladissi commented on #844
@bruceplai please update the following
	•	Progress: How much progress have you made on the issue?
	•	Blocks: Are you facing any blockers?
	•	Availability: How much time do you have to work on it this week?
	•	ETA: When do you think it will be completed?

[2021-09-14 02:01] kevindphan opened #853 "Change Support the Index to Radical Collaboration"
### Overview
Change Support the Index heading to Radical Collaboration.

### Resources/Instructions
<img width="1401" alt="Screen Shot 2021-09-13 at 6 58 29 PM" src="https://user-images.githubusercontent.com/88693627/133182243-ec39da4f-4946-4304-85f1-25091327fed9.png">

[2021-09-14 02:15] ladissi opened #854 "Tag Generator replace repo URL text"
### Overview
Text is currently repetitive and unnecessarily therefore copy must be updated in wire frames as well as production website.

### Action Items

- [ ] **On Figma** - Replace second instance of repo mention (striked through in image below) and replace with "These are your current topic tags in your repo:"
- [x] **On Website** - Replace second instance of repo mention (striked through in

[2021-09-14 06:09] DrIffathsultana commented on #651
**Project Updates:**

- [ ] Discussed Miro board insights and recommendations/issues.

 Bonnie’s feedback  - Features that need to be fixed before launch. Some of which are the following:
- [ ] Overview submenu to be converted into interactive slide deck instead of video.
- [ ] Updating ‘Support The Index’ text to ‘Radical collaboration’.
- [ ] Evaluate adding org functionality (backend solution v

[2021-09-15 00:57] DrIffathsultana opened #856 "Stakeholder and CTI PM's - Meeting Agenda"
### Overview
This issue tracks the agenda for the Civic Tech Index PM meetings with stakeholders(Bonnie).

### Action Items
 - [ ] It's a weekly meeting every Sunday from 9 am to 9.55 am

### Resources/Instructions
[CTI site](http://civictechindex.org/home)
[CTI google drive
](https://drive.google.com/drive/folders/1nmY42mlxepC_msSfLJEcy2SvyTlUEb-E)

[2021-09-15 01:43] DrIffathsultana opened #857 "Add Video or Gif to show users where they can find their GitHub repo"
### Overview
As a guide to the user, we need to explain to them where and how to find the Github repo so that it's easier to understand.

### Action Items
- [ ] UI/UX will create a video or Gif to show users where they can find their GitHub repo.

### Resources/Instructions
<img width="854" alt="Screen Shot 2021-09-14 at 6 29 59 PM" src="https://user-images.githubusercontent.com/75779290/133355985

[2021-09-15 01:48] DrIffathsultana opened #858 "Change instruction label to GitHub repository"
### Overview
Rephrasing the terms to gain more understanding to the user.

### Action Items
- [ ] Change instruction label to GitHub repository

### Resources/Instructions
<img width="854" alt="Screen Shot 2021-09-14 at 6 29 59 PM" src="https://user-images.githubusercontent.com/75779290/133356994-c7d9e7ec-2a33-4f88-b3d2-946036df9633.png">

[2021-09-15 01:51] #853 closed

[2021-09-16 03:13] ladissi opened #860 "Tag Generator affiliation tool tip"
### Overview
Come up with text for a tool tip to assist users in understanding what affiliation means and implement on tag generator wizard.

### Action Items
- [ ] **UI/UX** - Update wire frames to include tool tip with defined text by PM's. After completed remove UI/UX role tag and update issue with Front End role tag.
- [ ] **PM** - Come up with the text that will be displayed in the tool tip.

[2021-09-16 21:39] DrIffathsultana opened #862 "Match first three parameters and Ignore the rest which comes after repo name in Project repository URL string"
### Overview
The project repository is throwing errors sometimes even if it's the correct URL string. We need to match the first three parameters and Ignore the rest which comes after the repository name in the Project repository URL string like slash.
### Action Items
- [x] Match the first three parameters and ignore the rest which comes after the repository name in the Project repository URL str

[2021-09-16 21:40] chalimar commented on #849
Figma file has also been updated to reflect this change.

[2021-09-16 22:55] bruceplai commented on #836
@ladissi This feature is largely backend implementation so I'm not deeply familiar with the code to make a level of effort estimate.  I discussed with @cnk and we're still trying to determine how to set up GitHub apps or Oauth apps.  Not sure when that will be done.

[2021-09-16 23:34] emecas commented on #667
@ladissi

• Progress: I have a local version I'm working on , but I'm still no able to complete the feature
• Blocks: more because my knowledge about django framework
• Availability: I will work on this for about 3 hours
• ETA: hopefuly for next week (Sep 19-24)