[2020-02-19 03:49] ExperimentsInHonesty opened #1 "Get new team members on the roster"
### Overview
All new team members need to be added to the roster

### Dependencies
Waiting for an onboarding night

### Action Items

- [x] Get each persons email address via slack
- [x] Add the person to the google drive
- [x] Slack them the roster to get positive confirmation they have access to the folder
- [x] Once they have updated roster, send Roster link to Bonnie
     - [x] Bonnie adds to

[2020-02-19 05:00] chalimar opened #2 "Create Wireframes for Footer Links"
### Overview
Screens have been created for "How it Works", "About", and "FAQ".

### Dependencies
Team review and User testing

### Action Items

- [ ] Team review
- [ ] User Testing
     - [ ] Review & Iterate

### Resources
![image](https://user-images.githubusercontent.com/34084181/76471093-ff7c0a80-63ae-11ea-82dc-8fddd5970269.png)

[2020-03-01 23:32] ExperimentsInHonesty opened #3 "Create list of all organizations that should be in the civictechindex"
### Overview
We need a list so that we can figure out how to represent visually

### Action Items

- [ ] Create the top level outline
- [ ] Divide up who is going to do which part
- [ ] Put names on, and link them to their websites or meetup
    - [ ] checking as you go to see if website is actually valid

### Resources
[List of all orgs that need to be in the index](https://docs.google.com/docume

[2020-03-01 23:33] ExperimentsInHonesty opened #4 "Create list of all organizations that need to be in the civictechindex"
### Overview
We need a list so that we can figure out how to represent visually

### Action Items

- [x] Create the top level outline
- [x] Divide up who is going to do which part
- [x] Put names on, and link them to their websites or meetup
    - [x] checking as you go to see if website is actually valid

### Resources
[List of all orgs that need to be in the index - google doc](https://docs.goog

[2020-03-01 23:38] ExperimentsInHonesty opened #5 "Building a org chart from an outline"
### Overview
Talk to Hack for LA developers about how to build an org chart out of the outline we are creating.

### Resources
[outline of all orgs](https://docs.google.com/document/d/1ouaGcDHUbF28El4SqOBTlUu5RmBfmRI5QDfU1TVXXjo/edit?usp=sharing)

[2020-03-01 23:41] ExperimentsInHonesty opened #6 "Q: Look at autofill options"
### Overview
Is there a library for filling out form fields and having it guess like google from our database while still allowing freeform response.

### Resources
![image](https://user-images.githubusercontent.com/34084181/75636425-7b1dd080-5bd3-11ea-937c-e8b5b5bf764a.png)

[2020-03-08 22:16] ExperimentsInHonesty opened #7 "Create a project card for civictechindex"
### Overview
Provide collateral for the HackforLA website

### Action Items
- [ ]   Gather items
  - [x]  600 x 400 image
     - [x]  Alt image text
  - [x] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text
  - [x]  Name of project
  - [x]  A blurb about your project
  - [x]  Links (github, slack channel url, Testing Site, Live Site, etc.)
  - [x]  An

[2020-03-08 22:20] ExperimentsInHonesty commented on #7
@chalimar will add hero
@ExperimentsInHonesty will add logo image for temporary use on card, and do blurb writeup

Skills: API integration, Fullstack Node/React Developer, Experienced Data Scientist
Location: DTLA
Status: Active

[2020-03-08 22:27] ExperimentsInHonesty commented on #5
@ddkbky is working on an excel spreadsheet and will upload to googledocs when finished and link here.

[2020-03-10 23:19] chalimar opened #8 "Instructions for How the CTI Tag Generator Works"
[How It Works](https://docs.google.com/document/d/1udIpmqpTpn8wLNqeOsbK_2skiOr6C4egd_VlVzQg-SU/edit?usp=sharing)

[2020-03-11 22:36] chalimar opened #9 "Revised Contact Links"
[Communicate With Us](https://docs.google.com/forms/d/e/1FAIpQLSdXv7KaOrAbQvhxKXP0WJtFLKTQXcxpeEGlk5ZB-GmmDH_YPg/viewform)

[Volunteer Form](https://docs.google.com/forms/d/1z5WxCB8ABeEwWbm144ImPOMg6qpbaI4FucYnJMxH17M/edit?usp=drive_web)

[Donation Link - Need to inform user to select our Brigade in instructions](https://www.codeforamerica.org/donate)

Social media links associated with Hack for L

[2020-03-15 23:25] ExperimentsInHonesty commented on #7
Name of Project: Civic Tech Index

Description / Blurb:
Our goal of the project is to create a comprehensive, searchable index of all civic tech open source software projects around the world.

We have created the framework.  Now our next step is to create a website and other marketing tools that will demonstrate the power of the index and will provide instructions for how to tag and share your gi

[2020-03-20 04:08] chalimar opened #10 "Add Marissa to CTI team on GitHub"
- onboard Marissa to Github
- walk through of Github tagging process

[2020-03-20 04:09] chalimar opened #11 "Wiki Page & Read Me"
Create Wiki page and Read Me file for Civic Tech Index

[2020-03-20 04:10] chalimar opened #12 "Build Design System"

[2020-03-22 22:46] ExperimentsInHonesty commented on #7
@mw376707 once Chali has uploaded images, please add alt text for us to use

[2020-03-22 22:47] chalimar commented on #7
Civic Tech Index - 600 x 400

![CTI-600x400-Banner-2](https://user-images.githubusercontent.com/34084181/77263035-6a9dca80-6c54-11ea-978d-0fbf6bfffa76.png)

[2020-03-22 22:48] chalimar commented on #7
Civic Tech Index - 1500 x 700

![CTI - Hero - 3 17 20](https://user-images.githubusercontent.com/34084181/77263044-8012f480-6c54-11ea-9c8b-b33abda12ece.png)

[2020-03-22 22:50] mw376707 commented on #11
This is an example of a wiki from another project: https://github.com/hackforla/website/wiki

[2020-03-22 22:57] ExperimentsInHonesty commented on #4
@ddkbky is going to add all the github urls for the orgs.

[2020-03-22 23:11] ExperimentsInHonesty opened #13 "Creation of background art and visuals"
### Overview

Gwen is working on an overview of the design and some color options.

### Action items
Chali to convert images to figma and link here
Gwen to review the word list and organize images around that

### Resources
[Unsplash](https://unsplash.com/)
[Pexels](https://pexels.com/)
[Logo Design proposal](https://drive.google.com/open?id=1Bejn7sEds5Tf5b71CYmd6U1MFJnjvOEZ)

[2020-03-22 23:17] ExperimentsInHonesty opened #14 "Wireframes for work flow (overview of site and site specific pages)"
### Overview

We need wireframes for developers to build website from

### Action items

- [ ] Create some new pages for expanded functionality
   - [ ] Chali
   - [ ] Marissa
   - [ ] Bonnie

### Resources
[Figma files](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---3.8.20---2?node-id=0%3A1)
[CTI Site Map / Overview](https://www.figma.com/file/47DGkFkwktStZcPA6NJJyb/CTI-Site-M

[2020-03-23 02:19] mw376707 commented on #7
Options for Alt text:

Image 1: Civic Tech Index Logo

Image 2: world wide open source projects

[2020-03-23 02:49] ExperimentsInHonesty commented on #14
@mw376707 suggested https://react-autosuggest.js.org/ custom render as way to do the autofill

[2020-03-23 03:33] mw376707 commented on #14
<img width="1110" alt="Screen Shot 2020-03-22 at 7 54 28 PM" src="https://user-images.githubusercontent.com/62410825/77278324-51107900-6c7c-11ea-9c59-844ed3bed508.png">

Example of how chosen tags could be populated on the page.

[2020-03-26 20:07] ExperimentsInHonesty commented on #7
Hero image ![CivicTechIndex_HeroImage-01](https://user-images.githubusercontent.com/37763229/77691334-edc76500-6f61-11ea-8f3c-71d1a5e2a4ba.png)
Hero alt text: Outline of the world map with dots and lines linking cities on each continent in a way that is meant to convey that projects and needs are shared.

Project card image alt text: civic tech index logo layered on top of the world map. Paired wi

[2020-03-27 02:11] mw376707 commented on #11
Hi @ExperimentsInHonesty @chalimar here is a draft for the wiki. https://docs.google.com/document/d/1wpkS-6F5zLwwln3vCEBZd1ffpfPPTU9-1MZyyrRRy64/edit?usp=sharing

Let me know if there is anything else i should add.

[2020-03-29 20:45] mw376707 opened #15 "About Page graphic"
Gwen to source new inspiration for the about us page graphic. Will work on a few different iterations.

[2020-03-29 20:46] mw376707 opened #16 "Directory Page Design"
Chali to  design a directory page depicting all the orgs that have contributed to the index

[2020-03-29 20:49] mw376707 opened #17 "Refine the flow for searching projects in the database"
Chali to cross check github repositories and ensure we have the current search page set up for a user to search projects efficiently.

Questions to be answered:
- How will a user search for projects? (i.e by keyword)
- How will they want to filter their search (drop downs) (ideas: affiliation, last updated)

[2020-03-29 20:51] mw376707 opened #18 "Refine home page and about page language"
Group effort to confirm the copy used on the home page and about page can explain the index to anyone. whether they are familiar with civic tech orgs or not.

[2020-03-29 20:52] mw376707 opened #19 "User testing"
### Overview
 We need to set up user testing with HfLA Product Leads  or recruit actual Project Leads of Brigades  as our first defined persona group for testing.

**Test #1:** Our purpose is to test the functionality and usability (taks completion) of the **Tag Generator** feature.

 We need to set up user testing with HfLA Product Leads (as a Brigade Leader persona) for tagging their project rep

[2020-03-29 21:16] mw376707 commented on #7
Whole Team info:
Name
Role
Slack Name

[2020-03-29 21:17] mw376707 commented on #7
Marissa Wilson
Project Manager
@marissa

[2020-03-29 21:17] chalimar commented on #7
Chali Prasertsri
UX Designer
@chali

[2020-03-29 21:18] ExperimentsInHonesty commented on #7
Bonnie Wolfe
Portfolio Owner
@Bonnie

[2020-03-29 21:18] ddkbky commented on #7
Bo Yang
Data analyst
@Bo Yang

[2020-03-29 21:19] GSnapp commented on #7
Gwendolyn Snapp
Illustrator/Visual Designer
@Gwen Snapp

[2020-03-29 21:33] GSnapp commented on #7
Website Designs/Layouts and Photos for visual inspiration:
https://www.pinterest.com/zoharsnapp/

[2020-03-29 21:38] mw376707 commented on #14
Next wireframes:
- Directory page: Chali to design a directory page depicting all the orgs that have contributed to the index
- Refine the flow for searching projects in the database
- About page

[2020-03-29 21:40] mw376707 commented on #16
Combined into issue #14

[2020-03-29 21:40] #16 closed

[2020-03-29 21:40] mw376707 commented on #17
Combined into issue #14

[2020-03-29 21:40] #17 closed

[2020-03-29 21:54] chalimar commented on #14
<img width="640" alt="Screen Shot 2020-03-29 at 2 53 50 PM" src="https://user-images.githubusercontent.com/34084181/77861959-2f0f7d00-71cd-11ea-9a27-bf989afe24ab.png">

[2020-03-29 21:59] ExperimentsInHonesty commented on #14
RE the above image.  Projets wont always use the organizes github org, they might have their own independant repository.  If f that is the case we can find those by look for who has the topic tag of the org.  For instance, Hack for LA has a project called public tree map, and its is located at https://github.com/Public-Tree-Map/public-tree-map.

So working that should be added is:
Open Oakland pro

[2020-03-29 23:02] chalimar commented on #14
<img width="1920" alt="Screen Shot 2020-03-29 at 3 54 15 PM" src="https://user-images.githubusercontent.com/34084181/77863329-62a2d500-71d6-11ea-91bf-b8e89513c690.png">
<img width="1920" alt="Screen Shot 2020-03-29 at 3 56 26 PM" src="https://user-images.githubusercontent.com/34084181/77863332-66365c00-71d6-11ea-9dda-3891db7ec89c.png">
<img width="1920" alt="Screen Shot 2020-03-29 at 3 56 44 PM" s

[2020-03-29 23:15] harishlingam commented on #14
Screenshots from test logins:

<img width="1280" alt="Screen Shot 2020-03-29 at 6 11 19 PM" src="https://user-images.githubusercontent.com/21990572/77863606-3c3a6500-71e9-11ea-82b3-a81814d0849d.png">
<img width="1280" alt="Screen Shot 2020-03-29 at 6 14 18 PM" src="https://user-images.githubusercontent.com/21990572/77863608-3e042880-71e9-11ea-9daa-6bdaeb077d78.png">

[2020-03-30 17:17] chali commented on #7
@chalimar @ExperimentsInHonesty you got the handle incorrectly it should be probably @chalimar instead of @chali

[2020-04-05 20:19] #10 closed

[2020-04-05 20:22] chalimar commented on #8
[Civic Tech Index - How it Works](https://docs.google.com/document/d/1udIpmqpTpn8wLNqeOsbK_2skiOr6C4egd_VlVzQg-SU/edit?usp=sharing)

[2020-04-05 20:23] chalimar commented on #8
[Civic Tech Index - How it Works](https://docs.google.com/document/d/1udIpmqpTpn8wLNqeOsbK_2skiOr6C4egd_VlVzQg-SU/edit?usp=sharing)

[2020-04-05 20:23] #8 closed

[2020-04-05 20:45] chalimar commented on #14
[CTI Site Map / Overview](https://www.figma.com/file/47DGkFkwktStZcPA6NJJyb/CTI-Site-Map?node-id=0%3A1)

[2020-04-05 22:23] ExperimentsInHonesty commented on #3
duplicate of Issue #4

[2020-04-05 22:23] #3 closed

[2020-04-12 21:18] #7 closed

[2020-04-12 21:34] ExperimentsInHonesty opened #20 "Square logos"
### Overview
We need a square logo to use on social media.  We have created some and this is the issue where they can be found.

### Action
Attach square logos as a comment to this issue.

[2020-04-13 17:23] chalimar commented on #20
![CTI-1](https://user-images.githubusercontent.com/34084181/79142625-a407b880-7d70-11ea-9938-70dbe5e0cd61.png)
![CTI-2](https://user-images.githubusercontent.com/34084181/79142633-a538e580-7d70-11ea-8d33-194fa993b738.png)
@ExperimentsInHonesty Two logo variations have been uploaded. We need to follow up and figure out finalized brand & logo colors.

[2020-04-23 10:24] Jeff-Enriquez commented on #6
FlexSearch.js is like that. It has partial matching and search suggestions.
https://www.npmjs.com/package/flexsearch

[2020-04-26 22:40] chalimar opened #21 "Need revised instructions for Manual Submission Process"
![image](https://user-images.githubusercontent.com/34084181/80776025-1d93fa80-8b16-11ea-93fa-b9aecc06c367.png)

[2020-04-26 23:27] Abhishek-AC opened #22 "GitHub API Walkthrough"
### Overview

Understand the GitHub API integration

### Action Items

- [x] Get an idea of the framework using the test link
- [x] Refer and get hands-on with the Brigade Project Status Index Board
- [x] Read about GitHub API: developer documentation

### Resources
[Testing the GitHub API](https://hackforla.github.io/github-api-test/)
[Brigade Project Status Index Board ](https://github.com/civic

[2020-04-27 02:12] chalimar opened #23 "Status Board"
@ExperimentsInHonesty to share Status Board from call with team.

[2020-04-27 22:22] Jeff-Enriquez opened #24 "Get Website Started"
### Overview
Initialize the project with Docker and push it to the repo.

### Action Items
* Initialize the project with React
* Use Docker
* Learn JSS

[2020-05-01 01:26] chalimar commented on #14
Need screen for **About / Overview**
Need screen for **About / Searching the Index**

[2020-05-01 01:29] Jeff-Enriquez commented on #24
Reached out to Keagan and Cynthia. Researched online. Will reach out to people on the ops channel.

[2020-05-01 01:37] chalimar commented on #23
https://statusboard.brigade.cloud/#/

[2020-05-01 01:53] chalimar commented on #21
Need screenshot of admin repository header @ExperimentsInHonesty

[2020-05-03 03:00] Jeff-Enriquez commented on #24
Currently speaking with Amy. Docker is running but not displaying the site. Still looking for solutions.

[2020-05-03 03:00] Jeff-Enriquez commented on #24
The project has been initialized and I have learned JSS. (Still working on Docker.)

[2020-05-03 03:07] Jeff-Enriquez opened #27 "Create Header"
### Overview
Code the header for our civic-tech-index website.

### Action Items
* Get website logo
* Code the header
* Add nav links

### Resources
* [The Design](https://www.figma.com/file/wJmHseXJMdoF9wXipOd2I8/Tag-Generator---NO-Option---Manual-Entry?node-id=0%3A1)
* [The Code](https://github.com/civictechindex/website/tree/master/src/components/Header)

[2020-05-03 08:33] Abhishek-AC commented on #22
Created API documentation for GitHub APIs consumed in github-test-api.
[PR](https://github.com/civictechindex/github-api-test/pull/1)

@ExperimentsInHonesty

[2020-05-03 21:31] ExperimentsInHonesty commented on #21
![Screen Shot 2020-05-03 at 2 28 59 PM](https://user-images.githubusercontent.com/37763229/80926216-b612c080-8d4a-11ea-9cf6-9f1492baec3b.png)
![Screen Shot 2020-05-03 at 2 29 33 PM](https://user-images.githubusercontent.com/37763229/80926219-b743ed80-8d4a-11ea-9e2b-bce250f6f4e4.png)
![Screen Shot 2020-05-03 at 2 29 56 PM](https://user-images.githubusercontent.com/37763229/80926222-b7dc8400-8d4a-11

[2020-05-03 21:49] ExperimentsInHonesty opened #29 "Search refinement"
### Overview
We want the github / civic tech index search to be as useful and intuitive as possible.

### Actions
- [x] gather list of what is possible to get from the github api
- [x] define what we want to use
- [ ] determine way to make search layout readable and intuitive

### Resources
[Best buy search](https://www.bestbuy.com/site/searchpage.jsp?_dyncharset=UTF-8&id=pcat17071&iht=y&keys=keys

[2020-05-03 21:51] ExperimentsInHonesty commented on #29
Affiliations
Topics
Languages Used
Last Updated

[2020-05-03 21:57] ExperimentsInHonesty opened #30 "Create Brand Guidelines doc"
### Overview
We need to tell people when and how to use our logo

### Actions

- [ ] Write up minimum criteria
- [ ] Send to editor for language polishing
- [ ] Give to Chali for inclusion on Share the CTI

[2020-05-03 22:53] ExperimentsInHonesty commented on #30
We are trying to write about how to use our logo on the page below and are thinking about using the language:
Our logo can be used the following way:
1. If you want to use it on your website to show that you have joined the civictechindex
If your  have added the topic tag civictechindex to your project, and your project is open source and civic in nature, then please feel free to use our logo on y

[2020-05-04 00:50] myastark commented on #30
Use of our logo is encouraged under the following circumstances:

- Your have listed your project on Civic Tech Index
- You have added the topic tag "civictechindex" to your project repository _[right?]_
- You have developed your own interface to search the Index
- In articles or social media posts featuring Civic Tech Index.

For all other uses, please contact us for permission.

[2020-05-04 00:53] ExperimentsInHonesty commented on #30
@myastark perfect!  @chalimar see https://github.com/civictechindex/website/issues/30#issuecomment-623213839 for the brand usage text

[2020-05-05 22:45] Jeff-Enriquez commented on #24
I spoke with Tyler. Got docker working. However, when I ran it for the second time it didn't work. It's most likely (hopefully) a problem with my machine because I did not make any changes to the code.

[2020-05-06 19:35] Jeff-Enriquez commented on #27
I've styled the header with a smaller search bar but it looks close to figma. Also, when a user clicks on the search bar it expands. This feature can be removed if the team does not like it.
I've used the color logo because I do not have the black/white one. When I can get that I will replace it.

[2020-05-06 20:29] Abhishek-AC opened #32 "Database Setup"
### OVERVIEW
Database setup required for the website

### ACTION ITEMS
- [x] Discuss CTI's use case with the OPS team
- [x] Initialize Database on Heroku
- [ ] Provide Database access to Bo Yang

[2020-05-06 20:30] Abhishek-AC commented on #32
[Requirements Document](https://docs.google.com/document/d/1L1TZ_aJYQcFBVVop407Z0N8q-2JN-XjSG7spu-KswsE/edit?usp=sharing)

[2020-05-06 20:46] Jeff-Enriquez commented on #24
I spoke with Keagan. Docker is working.

[2020-05-06 20:46] #24 closed

[2020-05-07 02:01] Abhishek-AC commented on #32
@cnk As discussed during the OPS meeting, I will like you to let me know the way forward to proceed with the creation of Django BackEnd.

[2020-05-07 04:32] chalimar commented on #14
**Update:** [User feedback of Donate to the CTI screen results](https://app.usabilityhub.com/tests/e2061eb81184/results)
![image](https://user-images.githubusercontent.com/34084181/81254764-e5425f80-8fe0-11ea-840e-e8eb8e8163b9.png)
![image](https://user-images.githubusercontent.com/34084181/81254833-115de080-8fe1-11ea-930e-51c2c14c8b25.png)

[2020-05-07 18:21] chalimar commented on #14
**Update:** [Manual Tag Submission Process](https://www.figma.com/file/wJmHseXJMdoF9wXipOd2I8/Tag-Generator-NO-Option-Manual-Entry?node-id=0%3A1)
![image](https://user-images.githubusercontent.com/34084181/81330268-b49c0d80-9054-11ea-8b68-2f16a2c08356.png)

[2020-05-09 22:46] Jeff-Enriquez opened #33 "Create Footer"
### Overview
Code the footer for the civic-tech-index website.

### Action Items
* Code the footer
* Get social media logos
* Get social media links

### Resources
* [The design](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---3.8.20---2?node-id=0%3A2)

[2020-05-09 22:55] Jeff-Enriquez commented on #27
Chali and Bonnie, do you know where I can get the social media icons. Preferably an svg file but I can work with any.
Also, what are the links for Instagram, twitter, and facebook? Are we linking it to hack-for-la or does civic-tech-index have one?

[2020-05-09 22:57] Jeff-Enriquez commented on #33
Chali and Bonnie, do you know where I can get the social media icons? Preferably an svg file but I can work with any.
Also, what are the links for Instagram, twitter, and facebook? Are we linking it to hack-for-la or does civic-tech-index have one?

[2020-05-09 23:22] #27 closed

[2020-05-10 02:24] Abhishek-AC commented on #29
List of what can be retrieved from the GitHub API.
This is what I could figure out from the Search repositories API response.

1. Affiliations
2. Topics
3. Languages Used
4. Last Updated
5. Created At
6. Stargazers Count
7. Watchers Count
8. Open Issues Count
9. Forks Count

I am pasting _one of the objects_ from the response, @chalimar requesting you to go through the fields and add something tha

[2020-05-10 21:25] ExperimentsInHonesty commented on #32
@cnk is going to work on a Django cookie cutter for several orgs to use.

[2020-05-10 21:36] ExperimentsInHonesty commented on #29
@chali let me know when you have time to review new search attributes.

[2020-05-10 21:50] Abhishek-AC commented on #22
- Working on Brigade Project Status Index Board
- Understanding the procedure of consuming the GitHub API and the use of Memcached

[2020-05-12 05:35] #33 closed

[2020-05-12 20:15] Jeff-Enriquez opened #35 "Update Header"
### Overview
I just noticed in figma that the nav links have more links on hover.

### Action Items
* Add the additional links on hover

### Resources
* [The Design](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---3.8.20---2?node-id=226%3A2)

[2020-05-13 17:43] chali commented on #29
@ExperimentsInHonesty wrong handle :-) you probably wanted @chalimar

[2020-05-14 16:56] cnk commented on #35
Even with logo192.png commented out of the html, I am still getting 'not found' errors because it is in the manifest.json. (If you choose to address this, please also remove logo512.png because that will also throw a 404 once logo192.png is removed.)

Also, you declare the font as Work Sans but do not have anything that includes that font from the Google Fonts collection. So it isn't working and n

[2020-05-14 22:20] chalimar commented on #30
![image](https://user-images.githubusercontent.com/34084181/81991590-7bd0db00-95f6-11ea-8d1f-9e2a9d6ccc93.png)

[2020-05-14 22:20] #30 closed

[2020-05-14 22:23] chalimar commented on #21
![image](https://user-images.githubusercontent.com/34084181/81991797-e41fbc80-95f6-11ea-8f1b-d7199af9f8fc.png)

[2020-05-15 00:22] #2 closed

[2020-05-15 00:44] chalimar commented on #20
![image](https://user-images.githubusercontent.com/34084181/81999585-62398e80-960a-11ea-8efd-c08fe7a7eec5.png)

Logos and social media assets to be found here: https://drive.google.com/open?id=1U-r0Y_s8QhHE5PXu2d4KR53cNP9mCYpj

[2020-05-15 01:43] ExperimentsInHonesty commented on #21
@chalimar is going to mock up the screen shots so that they reflect the GitHub url of the person using, to demonstrate to development desired "fake" screenshots experience we are trying to make per user.

[2020-05-15 01:53] ExperimentsInHonesty commented on #29
@chalimar example of search refinement (i.e., filtering) on hackforla.org website future plans https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=532%3A1454

[2020-05-15 02:08] ExperimentsInHonesty commented on #35
@Jeff-Enriquez will import the fonts.  Logos errors can be ignored.

[2020-05-15 02:51] Abhishek-AC commented on #32
@ExperimentsInHonesty [google doc link](https://docs.google.com/document/d/1hHBWKBQxaFE5orsVhUsvI67LO0X-IGwOpRs9FiCnfAs/edit) where I did the rudimentary analysis.

The [repository](https://github.com/Abhishek-AC/data-source-comparison.git) on which you can find the code to the analysis.

[2020-05-15 18:52] Jeff-Enriquez opened #37 "Create Home Page"
### Overview
Create home page

### Action Items
* Code the page
* Add the font-family links

### Resources
* [The design](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---3.8.20---2?node-id=0%3A2)

[2020-05-16 23:41] Jeff-Enriquez opened #39 "Create About Page"
### Overview
Code the about page as designed in figma

### Action Items
* Code the page

### Resources
* [The design](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---3.8.20---2?node-id=0%3A2)

[2020-05-17 21:12] ExperimentsInHonesty commented on #14
@chalimar @Jeff-Enriquez will talk directly about the new mobile mockups

[2020-05-17 21:17] ExperimentsInHonesty commented on #20
Gave @chalimar access to upload logo to repository and org.

[2020-05-17 21:19] ExperimentsInHonesty commented on #35
@Jeff-Enriquez please provide update
1. Progress
2. Blocks
3. Availability
4. ETa

[2020-05-17 21:22] ExperimentsInHonesty commented on #37
@Jeff-Enriquez please update with
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-05-17 21:24] ExperimentsInHonesty commented on #39
@Jeff-Enriquez please update with
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-05-17 21:51] ExperimentsInHonesty commented on #32
Remove the space in open X where X is a city or location to accommodate/match the ones that have no space or have a space.

[2020-05-18 00:16] Abhishek-AC opened #40 "Spin up the Front End on Heroku"
### Overview
To spin up the front end based on react using Heroku so that QA can be done.

[2020-05-18 04:08] ExperimentsInHonesty commented on #5
Regan's recommendation for geo api https://pypi.org/project/geocoder/ to help build the physical location

[2020-05-18 22:56] #37 closed

[2020-05-18 23:26] chalimar commented on #20
Assets uploaded to Repository & Org:

![image](https://user-images.githubusercontent.com/34084181/82268601-455fcc80-9924-11ea-8f32-69cda9890326.png)

![image](https://user-images.githubusercontent.com/34084181/82268633-5ad4f680-9924-11ea-8684-ef32954ad406.png)

[2020-05-18 23:26] #20 closed

[2020-05-19 00:33] Abhishek-AC commented on #40
### Facing Errors while deploying the app using a docker container.

#### Steps to replicate the issue

1. Clone the repo and checkout to master branch
2. Install Heroku CLI
3. On the local environment, using a terminal window on a mac go to the website folder where the repo is cloned

[code]
On Login Succeeded message,
[code]
Leads to:
![image](https://user-images.githubusercontent.com/35303056/8

[2020-05-19 17:14] Abhishek-AC commented on #32
[Query] Should I provide any inputs to the Django Cookie Cutter?

[2020-05-19 22:21] #39 closed

[2020-05-20 00:36] Abhishek-AC commented on #40
The most stable version is [deployed](url)https://cti-dev.herokuapp.com/ BUT switched off purposely.

#### Current State
![image](https://user-images.githubusercontent.com/35303056/82391731-e4ed8f80-99f6-11ea-9d45-7e4f8b51ba28.png)

#### Previous State
![image](https://user-images.githubusercontent.com/35303056/82391831-3138cf80-99f7-11ea-88bc-e502ac554cd6.png)

But there is a catch here, the dyno

[2020-05-21 01:06] nrrao opened #42 "Create Tag generator page"
### Overview
The Beta version of the tag generator provides a tutorial on how to manually add Topic Tags to your repo that is customized to the repo the person is trying to tag.  This allows us to suggest tags based on affiliation and allow the user to define tags based on the topics of their repo.

### Action Items to launch
- [x] Product and Design
   - [x] Define requirements
- [x] Design
   -

[2020-05-21 01:12] Jeff-Enriquez opened #43 "Create How To Use Page"
### Overview
Code the 'How To Use' page as designed in figma

### Action Items
* Code the page
* Link the page in the header and footer

### Resources
* [The design](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---3.8.20---2?node-id=0%3A2)

[2020-05-22 01:06] #35 closed

[2020-05-22 01:09] ExperimentsInHonesty commented on #40
I authorized the $7 a month version.  So we are now live.  @Abhishek-AC is there anything else left to do on this issue or can we close it?

[2020-05-22 02:50] Jeff-Enriquez opened #45 "Update Home Page"
### Overview
There is more content that needs to be added to the home page. The page, header, and footer must be made responsive.

### Actions
* Add new content to home page
  * Update responsive design
* Make the header and footer responsive

### Resources
* [Design](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---3.8.20---2?node-id=0%3A1)
* [Responsive Design](https://www.figm

[2020-05-22 03:16] Abhishek-AC commented on #40
We can close this issue. I will reach out to someone in the ops team, to verify the creation of a pipeline and standards that should be followed while deploying the app to Heroku.

[2020-05-22 03:16] #40 closed

[2020-05-24 18:38] Abhishek-AC commented on #32
I converted the two names in all lower cases and also removed all the whitespaces in both the strings. I have asked Bo to verify once.
Updated Result:
[code]

[2020-05-24 21:07] Abhishek-AC commented on #32
Bo did a verification for above results. I will look into the results.
[Google Doc](https://drive.google.com/open?id=1FcV4s3EqcMN6-vFNLitC6NRNoZU7h1Kr) with organizations that appear in both versions marked in yellow, and along with some comments.

[2020-05-24 21:35] ExperimentsInHonesty commented on #29
@chalimar Add good first issue, open issues (1-5, 10-20, 20-40, 50+) and last updated (1 month, 3, 6, year, 2 year),  as a filter and a sort.

[2020-05-24 21:45] ExperimentsInHonesty commented on #13
@ExperimentsInHonesty

[2020-05-24 21:48] ExperimentsInHonesty commented on #13
@ExperimentsInHonesty @andrepetrop will work on outline of overview for @GSnapp

[2020-05-24 21:56] ExperimentsInHonesty commented on #43
@Jeff-Enriquez @chalimar is going to create some mobile designs for this and change the grid structure.  Until she is done, this can sit in the ice box.

[2020-05-24 22:06] ExperimentsInHonesty commented on #42
@nrrao will share code with @Abhishek-AC for component hiding.

[2020-05-25 07:07] Jeff-Enriquez commented on #43
Ok, thank you for letting me know.

[2020-05-25 09:26] Jeff-Enriquez commented on #45
I have added the mobile header design
* search icon is added and expands on click
* hamburger icon is added and transitions to an X when clicked

I still need to add the menu for when the hamburger icon is clicked. Waiting on @chalimar for the design.

In the meantime, I will continue working on the rest of the page.

[2020-05-25 22:41] Abhishek-AC commented on #42
@nrrao shared the code and was able to fix the code for on state change visibility of components.

[2020-05-25 23:10] Abhishek-AC opened #46 "Explore the Automated Process for Tag Generation"
### Overview
To find and implement the GitHub API for automated tag generation process.

### Action Items

- [x] Find Github APIs that provide this functionality
- [x] Try implementing using Postman by generating a test-repository under civictechindex org.

Resources

- [Documentation](https://developer.github.com/v3/repos/#get-all-repository-topics): Github API to get and replace topics

[2020-05-26 23:48] chalimar commented on #14
Met with @Jeff-Enriquez and discussed changes based on Sunday's meeting:

Screens need to reflect our new Nav / Site Structure
Mobile Nav / collapse & expand interaction
Collaborate with @andrepetrop to develop mobile screens

![image](https://user-images.githubusercontent.com/34084181/82960893-a3b62c00-9f70-11ea-91a9-cf6f4ea3b701.png)

[2020-05-28 07:42] Jeff-Enriquez commented on #45
I have finished the issue and am waiting for the PR to be reviewed.

[2020-05-28 21:59] Abhishek-AC commented on #32
Removed the special characters from XLSX data.
Matched entries =  131

[2020-05-28 22:06] Abhishek-AC commented on #46
GitHub Developer Documentation link updated in the issue's resources.

[2020-05-28 22:10] Abhishek-AC commented on #45
Self-assigned PR #47

[2020-05-29 07:55] Jeff-Enriquez commented on #45
I've updated the nav site map to as mentioned in the previous zoom meeting.

[2020-05-30 18:37] Abhishek-AC commented on #45
Reviewed and merged PR #47

[2020-05-30 18:38] #45 closed

[2020-05-30 23:21] Jeff-Enriquez opened #49 "Create Search Page"
### Overview
Code the 'Search' page as designed in figma with responsive design.
Once complete, I will create a new issue for integrating the Github API with the page.

### Action Items
* Code the page
* Link the page in the header and footer

### Resources
[The Design](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File---3.8.20?node-id=0%3A1)

[2020-05-31 19:36] GSnapp commented on #15
"About Page" Illustration:

https://drive.google.com/file/d/1jsHihqE0ahp0y39Sp2kZR05I6RwjsFUj/view?usp=sharing

[2020-05-31 21:04] Abhishek-AC commented on #46
I can use my personal-access-token to hit the replace all repository tags API endpoint https://developer.github.com/v3/repos/#replace-all-repository-topics
But when I use the access-token generated by GitHub App(steps in StackOverflow question) I get the following:
[code]
To describe my issue, refer the question on StackOverflow(the question talks about consuming issues GitHub API but the scenario

[2020-05-31 21:12] ExperimentsInHonesty commented on #32
@ddkbky is going to do relook at the data and identify if there are any more uncaught matches.

[2020-05-31 21:13] GSnapp commented on #15
Create animated short instead of illustration in the "About Page".

[2020-06-02 21:09] Jeff-Enriquez commented on #49
I'm working on the design. I'm going to be busy the next two weeks with family stuff but I will still make time to work on this when I can.

[2020-06-04 08:32] Abhishek-AC commented on #46
#### Functionality achieved
[OAuth Application](https://github.com/organizations/civictechindex/settings/applications/1308050) created for Civic Tech Index Organization.

#### Steps to replicate the _demo_:

1. In a browser window, open the [link](https://github.com/login/oauth/authorize?client_id=8ce9dc8a15484de9060d&scope=repo,user,public_repos&redirect_uri=https://cti-dev.herokuapp.com/&state=j

[2020-06-07 21:18] #22 closed

[2020-06-09 19:44] ExperimentsInHonesty opened #50 "Video for About page"
### Overview
Work on the content and production for the Video that will appear on the About page

### Action Items
- [x] Draft outline of what the video should cover
   - [ ] Review with users

### Resources/Instructions
[slide deck](https://docs.google.com/presentation/d/1jTzxrGKUutsInc4YVAEw3-sHKMQDqo-hQWR3GPw4YYo/edit?usp=sharing)
[Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicT

[2020-06-11 06:37] Abhishek-AC commented on #42
@nrrao
GitHub API to list the existing repository tags. No Authentication Required.
[code]

[2020-06-11 06:41] Abhishek-AC commented on #46
This issue can be closed as the GitHub Oauth App for civictechindex is configured and steps to replicate the automation of repository tags explained in the above [comment](https://github.com/civictechindex/website/issues/46#issuecomment-638698248)

[2020-06-11 06:48] Abhishek-AC commented on #32
I will provide an update about how to set up a Postgres App on Heroku on Sunday's meeting [June 11, 2020] by doing a test implementation.
@ExperimentsInHonesty @arunprakash87 @cnk If possible could you let me know the backend that we have agreed upon so that I can narrow down my research and test implementation for setting up a Postgres App on Heroku.

[2020-06-11 06:53] Abhishek-AC commented on #29
Removing myself from the assignees for this issue. Please let me know if any more insights are required.

[2020-06-11 12:58] nrrao commented on #42
yes,I was able to get the topics tags.

[2020-06-11 13:08] nrrao commented on #42
@chalimar,  need clarification when a project is not affiliated to the organization and has tags.

[2020-06-12 01:06] ddkbky commented on #32
A comparison of the organizations in Bo's Excel spreedsheet and CFA's json document. Also have identified some organizations may not exist any longer:
https://drive.google.com/file/d/1Kv6vT5tEnZJxL3CkkE2Xx6osVppE-NCK/view?usp=sharing

[2020-06-12 01:08] ddkbky commented on #32
@Abhishek-AC @cnk @ExperimentsInHonesty
A comparison of the organizations in Bo's Excel spreedsheet and CFA's json document. Also have identified some organizations may not exist any longer:
https://drive.google.com/file/d/1Kv6vT5tEnZJxL3CkkE2Xx6osVppE-NCK/view?usp=sharing

[2020-06-14 20:17] chalimar commented on #29
Search project results WIP:

[2020-06-14 21:27] ExperimentsInHonesty commented on #32
@Abhishek-AC - still working on items from this comment re the back end: https://github.com/civictechindex/website/issues/32#issuecomment-642447956
@Abhishek-AC - will look at bo's spreadsheet above.

@cnk will deploy container for postgress and backend.  It will not contain react for the time being.

[2020-06-14 21:38] ExperimentsInHonesty commented on #42
1. Progress: got api working and figured out returning to add more tags function
2. Blocks: none
3. Availability: Very
4. ETA: automated process will be done by next week.

[2020-06-14 21:39] #46 closed

[2020-06-14 21:41] ExperimentsInHonesty commented on #50
1. Progress: first draft almost
2. Blocks: none
3. Availability: med
4. ETA end of day 6/15.

[2020-06-14 21:46] ExperimentsInHonesty commented on #14
1. Progress: continuing mobile, need to update site map
2. Blocks: none
3. Availability: normal
4. ETA: This week

[2020-06-18 15:44] chalimar commented on #14
Updated Site Map of the Civic Tech Index:
![image](https://user-images.githubusercontent.com/34084181/85042233-d0a8c980-b13f-11ea-8872-bd7cd97d8f22.png)

[2020-06-19 20:59] Abhishek-AC commented on #32
@ddkbky I have added a column to handle the matched entries in both the data sources.
[Sheets Link](https://drive.google.com/file/d/1hOAjPFIk1bdr_N8E4uo-m122Vok2dPx0/view?usp=sharing)

Matched Entries JSON file [repo link](https://github.com/Abhishek-AC/data-source-comparison/blob/master/analysed/matchedEntries.json)

Requesting you to verify.

[2020-06-21 14:49] arunprakash87 commented on #50
[Update:] Version 1 of About Page is complete
[https://drive.google.com/file/d/1-V3cAb46OIVm0xjqcGIBaRNPvAAKfdaj/view?usp=sharing]
[Blocks] :Review and User confirmation needed

[2020-06-21 18:47] ddkbky commented on #32
@Abhishek-AC I have checked these files. They look all right. I think the differences between the two versions of database have all been identified.

[2020-06-21 19:52] Abhishek-AC commented on #32
There are quite a few resources available for deploying a Django app with the Postgres database. Listing a few below that I perused.
1. [Deploying Django to Heroku: Connecting Heroku Postgres](https://blog.usejournal.com/deploying-django-to-heroku-connecting-heroku-postgres-fcc960d290d1)
2. [Deploying Django App on Heroku with Postgres as Backend](https://medium.com/@hdsingh13/deploying-django-app

[2020-06-21 21:12] nrtestweb commented on #42
1. Progress: was able to add topics to the repository, now need to refactor the components
2.Blocks: none
3.Availability: Medium
4.ETA: need one more week to complete the automated process

[2020-06-21 21:28] ExperimentsInHonesty commented on #14
@chalimar will add screen shots and mobile will be finished next week.

[2020-06-23 01:41] Abhishek-AC commented on #32
@cnk
I cloned and forked the repo: https://github.com/cnk/civictechindexadmin
I was able to run locally using docker.
Primarily followed the following: https://cookiecutter-django.readthedocs.io/en/latest/deployment-on-heroku.html
However, I wasn't able to deploy on Heroku.
Error message:
[code]
I have tried to debug.
Tried the following:
- Inside /civictechindexadmin/config/settings/base.py
made

[2020-06-27 06:37] Abhishek-AC commented on #32
@cnk
I was able to deploy the Django BackEnd with Postgres and I think it was working as required.
### [Test Deployment Heroku](https://civictechindexadmin.herokuapp.com/admin/)
[code]

[Repository Link](https://civictechindexadmin.herokuapp.com/admin/)

I have used your [codebase](https://github.com/cnk/civictechindexadmin). I have removed the env file and scaled-down the settings file as it was

[2020-06-28 17:22] cnk commented on #32
@Abhishek-AC The repository link goes to the project on Heroku. I tried lookin at your fork on GitHub but don't see new commits there.  I suspect you have a new branch that is deployed on Heroku but I am not sure how to access it in order to pull directly from the deployed code.

Since we are continuing with Django, I'll work on making a data loading script.

[2020-06-28 17:54] Abhishek-AC commented on #32
Apologies. Here is the repository link: https://github.com/Abhishek-AC/test-civictechindexadmin
I created a new repository to separate the codebase and understand the code flow by proceeding in a step-by-step manner.

[2020-06-28 20:20] nrrao commented on #42
1. Progress:  Was able to get access token and generate secret code
2. Blocks: After logging in to GitHub, when it gets redirected the react page is not holding the same state.
3. Availability: Medium
4 ETA: Need help to move forward

[2020-06-28 21:27] chalimar commented on #14
Updated screenshots for adding projects to a repository from the manual submission.

![image](https://user-images.githubusercontent.com/34084181/85958584-6405aa00-b94b-11ea-8b2b-870c14654023.png)

[2020-06-28 21:28] chalimar commented on #14
- [ ] Need to add success/confirmation page for Automated Submission Process
- [ ] Need to make unsuccessful page.

Mobile Screens still in progress:
- [ ] Project results
- [ ] Tag Generator

[2020-06-28 21:48] arunprakash87 commented on #42
@ExperimentsInHonesty will connect to Tyler

[2020-06-28 21:50] arunprakash87 commented on #29
Blocker : Chali is Working on mobile version

[2020-06-28 21:50] arunprakash87 commented on #13
@ExperimentsInHonesty  will look at script.

[2020-06-28 21:51] arunprakash87 commented on #49
Tentative completion in 1 week. Code is already committed.

[2020-06-28 21:53] arunprakash87 commented on #14
@ExperimentsInHonesty will look into it

[2020-06-28 22:27] arunprakash87 opened #51 "Decide upon color palette"
Gwen to work on color palette to match it with website designs by Chali

[Reference] https://coolors.co/

[2020-06-28 22:34] arunprakash87 opened #52 "Wiki page Q4 2020"
### Overview
Wikipage for Civic Tech Index needs to be over hauled.

### Dependency
#75 #73 #72

### Action Items
- [x] Going through project contents update details for Civic-Tech Index on wiki page.
- [x] Check on user roles information.
- [ ] Create Wiki template

### Resources/Instructions
[HfLA wiki page](https://github.com/hackforla/website/wiki)

[2020-06-28 22:45] arunprakash87 commented on #52
For team , use team roster link  google drive link

[2020-06-29 20:21] ExperimentsInHonesty opened #54 "Manual Process sharing discussion"
### Overview
What happens when someone gets to the end of the process, and realizes they don't have rights enough to tag a project they are on? Let's have a positive action Item for them, that moves the process forward.

### Action Items
- [x] Discuss Idea and review other potential solutions/options, etc.
IDEA: Make it possible to share the manual process page (already filled out), with someone b

[2020-06-29 20:27] ExperimentsInHonesty commented on #14
**Automated Process not available text**:  To use the automated process you must have administrative rights on this GitHub repository.  However you may still be able to use the manual process (depending on your access rights).  If you have no access rights to this repository [needs to be finished.  see issue #54 for what I am thinking] .  I want to give them some positive action they can take.

Ac

[2020-07-03 15:47] Abhishek-AC commented on #32
@cnk Were we able to create a data loading script? I wanted to start exposing and documenting the endpoints.
Please let me know if there's anything I can contribute to for loading the data.

[2020-07-05 21:19] cnk commented on #32
I have an import script but need to refactor so it doesn't depend on having a local data file. Use 'requests' to pull data from https://docs.google.com/spreadsheets/d/1xiLeyMwZc-n6eB1R_XdCJ00YrarfnR_w/edit#gid=1137923926

[2020-07-05 21:38] Abhishek-AC opened #56 "Find API endpoints"
### Overview
To list down all possible read-write API endpoints

### Action Items
- [x] Peruse the Figma File to understand the back-end and front-end workflow
- [x] Come up with API endpoints and define their method type

### Resources/Instructions
[Figma File](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex-3.8.20-2?node-id=0%3A2)

[2020-07-05 21:45] ExperimentsInHonesty commented on #54
We have decided to try to put the arguments into the url string to keep from having to store the data.

There are some good links to follow up on.  Here is the search string that I used:
https://www.google.com/search?q=passing+parameter+through+URL+react

[2020-07-05 21:48] ExperimentsInHonesty commented on #42
I also posted this in slack
Nandana  please check out: https://github.com/civictechindex/website/issues/54#issuecomment-653942990. I still think it might be possible to give a redirect link made up of a link + parameters and have it deliver back the url+ the new argument that is the authorization code.

[2020-07-05 21:56] ExperimentsInHonesty opened #57 "color pallet for website"
### Overview
We need to start testing versions of the site with a color pallet.  First we need some color pallets to test with

### Action Items
- [ ] review some trustworthy sites and look at their color pallets (number of colors, how they are used)
- [ ] identify some potential color pallets that might work for us
- [ ] review with team
- [ ] after we have settled on a few, mock up version of th

[2020-07-06 00:01] cnk commented on #32
Example API data from deploy on Heroku:

https://test-civictechindexadmin.herokuapp.com/api/organizations/Hack%20for%20LA%20Brigade/

[2020-07-12 20:42] Abhishek-AC commented on #56
I have tried to document them in a google doc.
Here is the link: https://docs.google.com/document/d/1I1LolbMwZ6KhfHCnaYYzmjwNHyQfOvUsmbBDCTmNy2M/edit

[2020-07-12 21:06] chalimar commented on #14
Error State V1
![image](https://user-images.githubusercontent.com/34084181/87256583-d943a580-c448-11ea-9539-b244e0708715.png)

[2020-07-12 21:07] chalimar commented on #14
Success V1
![image](https://user-images.githubusercontent.com/34084181/87256598-f0829300-c448-11ea-9806-3a8cbcee2444.png)

[2020-07-12 21:11] arunprakash87 commented on #29
@JacobZwang : Please provide updates on this issue.
1  Progress
2. Blockers
3. Availability
4. ETA

[2020-07-12 21:12] arunprakash87 commented on #13
@ExperimentsInHonesty  is looking into this.

[2020-07-12 21:15] arunprakash87 commented on #49
The issue has been resolved

[2020-07-12 21:15] #49 closed

[2020-07-12 21:37] arunprakash87 commented on #14
Error Messages : We were unable to find the repository you typed.  Please verify and resubmit. It looks like you do not have admin rights…

[2020-07-12 21:56] arunprakash87 commented on #54
We are going to be able to provide a link to manually sharing process.

[2020-07-12 21:58] nrrao commented on #42
1:Progress: I was able to update topics by sending repo, owner, and topics as query parameters along with redirect URL
2:Blocks: Need to check if it works for org repo with different scopes./permission levels
3:Availability: Medium
4 ETA: 1 week

[2020-07-13 19:24] JacobZwang commented on #29
@arunprakash87
1. None
2. I am set to "view only" on the Figma document
4. Within 48 hours of gaining access to edit

[2020-07-18 19:20] JacobZwang commented on #29
3. by the end of today

[2020-07-19 19:59] JacobZwang commented on #29
![2020-07-19 12_58_49-CivicTechIndex - Master Design File - 3 8 20 – Figma](https://user-images.githubusercontent.com/59858341/87883933-aad14780-c9bf-11ea-9af5-3a5ac65819cb.png)

[2020-07-19 20:38] ExperimentsInHonesty commented on #29
Hi @JacobZwang Here is the revised list of requirement for the project cards in the results
Organization Name : Hack for LA
Affiliation: Code for All, Code for America
Title of project: Civic Tech Index
Project Description: Join a worldwide movement to catalog every open source civic tech project
Programming Languages: Javascript
Project languages: English
Stargazer count:
Open issues count:
New i

[2020-07-19 21:10] arunprakash87 commented on #29
@JacobZwang to review and hierarchy with operations team on Tuesday. Expected update on wednesday

[2020-07-19 21:12] chalimar commented on #14
![image](https://user-images.githubusercontent.com/34084181/87885312-d9542000-c9c9-11ea-9ea7-74d31530e6da.png)

[2020-07-19 21:12] chalimar commented on #14
![image](https://user-images.githubusercontent.com/34084181/87885324-e40eb500-c9c9-11ea-8b2b-2da8b36dad57.png)

[2020-07-19 21:23] arunprakash87 commented on #14
@chalimar :Just continuing working on tablet screens

[2020-07-19 21:27] arunprakash87 commented on #57
@GSnapp : will update on the issue next week

[2020-07-19 21:29] nrrao commented on #42
1.Progress: I have opened a Github ticket regarding users with admin and maintain rights not being able to update topics.
Need to make success and manual pages.
2.Blocks: Waiting for GitHub to reply.
3.Availability: medium
4.ETA: About a week

[2020-07-19 21:33] arunprakash87 commented on #11
https://drive.google.com/drive/folders/1nmY42mlxepC_msSfLJEcy2SvyTlUEb-E : Wiki page draft

[2020-07-19 22:01] ExperimentsInHonesty commented on #11
@ExperimentsInHonesty will work on the glossary, ETA, Sunday.
@arunprakash87 here is a link to a table generator for markdown https://www.tablesgenerator.com/markdown_tables

[2020-07-22 03:55] JacobZwang commented on #29
collected some data, search results should be discussed because data contradicts former decisions

[2020-07-26 20:15] Abhishek-AC commented on #56
1. Progress: None. Unable to devote time from the last two weeks.
2. Blocks: None
3. Availability: Less
4. ETA: Should be able to update by Thursday's weekly meeting.

[2020-07-26 21:04] #32 closed

[2020-07-26 21:06] JacobZwang commented on #29
![2020-07-26 14_05_24-](https://user-images.githubusercontent.com/59858341/88489444-2b0c2580-cf49-11ea-82ab-8a88932f0b66.png)

[2020-07-26 21:29] ExperimentsInHonesty commented on #29
@JacobZwang will update to have stars and watch github style and add icons to the search criteria drawers.

[2020-07-26 21:45] ExperimentsInHonesty commented on #42
First step is Owner must approve 3rd access app for the github org
tags can be added.

@ExperimentsInHonesty denied access to the oath app tag generator
@nrrao is going to try it again, and see if it will queue up a user request for owner to install
if it doesn't work, try modeling travisCI install on sandbox

@Abhishek-AC has setup the oath app on civic tech index
https://github.com/organizations

[2020-07-26 22:23] Abhishek-AC opened #58 "Create a Repository for Back End"
### Overview
Create a repository for the backend

### Action Items

- [x] Transferred ownership from https://github.com/Abhishek-AC/test-civictechindexadmin to the new repo

### Instructions
- Repository Name: CTI-website-backend

[2020-07-26 23:21] nrrao commented on #42
@ExperimentsInHonesty I have requested for permission for adding topic tags. It will be by the civic tech index.

[2020-07-26 23:32] ExperimentsInHonesty commented on #42
I received the email
![Screen Shot 2020-07-26 at 4 30 24 PM](https://user-images.githubusercontent.com/37763229/88492173-a37ce180-cf5d-11ea-9eba-bcbb1ac6cdd2.png)

[2020-07-26 23:51] nrrao commented on #42
When I clicked Login it takes me to the permission request page.
![oauth](https://user-images.githubusercontent.com/25930687/88492374-5e19dd80-cf78-11ea-888a-3e18e63e5971.PNG)

I requested for Organization access and also clicked on Authorize civictechindex.

The user can see the request pending in the settings/applications/Authrized Oauth Apps in the github account
![pendingReq](https://user-imag

[2020-07-28 09:16] Abhishek-AC commented on #58
Backend repository: https://github.com/civictechindex/CTI-website-backend

[2020-08-02 20:32] Abhishek-AC commented on #56
I have updated this document. Requesting teammates @cnk, @ExperimentsInHonesty, @elliotkim916, @nrrao to review and share thoughts. Post that I can start building these endpoints so that Front End developers can consume it.

[2020-08-02 20:34] Abhishek-AC commented on #58
@ExperimentsInHonesty, requesting you to check if the repository complies with Hack-For-LA standards and the license is correct. Also, topic-tags can be updated.

[2020-08-02 20:48] GSnapp commented on #57
Here are some possible color palettes for the website:
[https://coolors.co/ffffff-fefaec-62bfed-072ac5-4c8577-005e66-c54630-634b40-101119](url)
[https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8](url)
[https://coolors.co/bee9e8-62b6cb-1b4965-cae9ff-5fa8d3](url)
[https://coolors.co/052893-bcc4cf-3b721d-ffffff-fcfeeb](url)
[https://coolors.co/1f36c8-028090-f8faef-ffffff-7cdf99](url)
[https://coo

[2020-08-02 21:54] ExperimentsInHonesty commented on #56
We reviewed these at team meeting 8/2.  Added some comments.  Looking forward to seeing them.

[2020-08-02 22:01] ExperimentsInHonesty commented on #57
saw pallets at meeting, G will add an accent color.

[2020-08-03 04:38] #56 closed

[2020-08-03 04:39] #58 closed

[2020-08-09 03:49] Abhishek-AC opened #59 "API: Retrieve the list of organizations"
### Overview
GET /api/(version)/organizations
Retrieves the list of organizations

### Action Items

- [x] Setup Django REST Swagger for documenting
- [x] Expose the list of organizations API

### Resources/Instructions

- [Django REST Swagger](https://django-rest-swagger.readthedocs.io/en/latest/)
- [Demo by Joel](https://github.com/joelparkerhenderson/demo_swagger/blob/master/swagger.yaml)
- [Li

[2020-08-09 20:48] JacobZwang commented on #29
updates search results to have GitHub style stars and icons as well as alternative with GitHub logo to represent GitHub rather than Github styling. Icons in the drawer are dependent on final Icon choices, therefore there is little to no advantage to displaying them in the concept. Icons can simply be added next to the text when produced. The next step is to choose the final design (or reject all d

[2020-08-09 22:49] ExperimentsInHonesty opened #60 "Build the donation page"
### Overview
We need to build each part of the website and connect it with the menu (header and footer). This issue is for the donation page

### Action Items
- [ ] Build the Donate page
- [x] Integrate it into the footer and link it to the Radical Collaboration drop down menu item in header.
- [x] Put screen shots in issue to show completion. and @ message experimentinhonesty
- [x] show the worki

[2020-08-10 19:06] ExperimentsInHonesty commented on #29
@chali will update search results cards and open oakland card based on current requirements and team discussion.
https://github.com/civictechindex/CTI-website-frontend/issues/29#issuecomment-660705246

[2020-08-10 20:04] chali commented on #29
It will be probably @chalimar ;-)

[2020-08-14 01:14] chalimar commented on #60
![CTI - Donate to HfLA](https://user-images.githubusercontent.com/34084181/90201830-d7933780-dd90-11ea-88ce-c33939d3cb79.gif)

Attached is the gif for the donation page.

[2020-08-15 02:48] jsachsman commented on #50
[Update]: Version 1 of [About Page Video Outline](https://docs.google.com/document/d/1pIPRbtVVcX26DhcwXRzwXqbjWA_Q1YCQhFPg3CCEl4g/edit?usp=sharing) is complete

Review needed
@ExperimentsInHonesty

[2020-08-15 02:50] jsachsman commented on #50
Whoops

[2020-08-16 01:41] jsachsman opened #61 "Team Recruitment Form"
### Overview
Build a team recruitment form.

### Action Items
- [x] Team recruitment form
- [x] Review and edit

### Resources/Instructions
Link to [sample form](https://docs.google.com/forms/d/e/1FAIpQLSdVyKRBeKec4gjNlGbkuXg_Pkk5XWMpN1wRQ3tfFCudnePPZQ/viewform)
[role based sample form](https://docs.google.com/forms/d/12Iw9RDpa6_DEBVXLhxJMd3Iy7M7rQ2ykTc-XzFQIM2g/edit)

[2020-08-16 19:49] GSnapp commented on #57
![Screen Shot 2020-08-16 at 12 36 39 PM](https://user-images.githubusercontent.com/32406811/90342649-c0d22800-dfbe-11ea-8e9a-51927ae88f1d.png)
![Screen Shot 2020-08-16 at 12 47 17 PM](https://user-images.githubusercontent.com/32406811/90342651-c16abe80-dfbe-11ea-8da3-4b2484f189cb.png)

First image is the color palette we're seemingly going with, second image has a possible accent/highlight color f

[2020-08-16 19:58] GSnapp commented on #57
Here are some other possible accent colors for the site. So far, red, orange or pink are some of the options I've come up with for accent colors.
![Screen Shot 2020-08-16 at 12 53 01 PM](https://user-images.githubusercontent.com/32406811/90342813-f592af00-dfbf-11ea-901a-837ef83975d3.png)
![Screen Shot 2020-08-16 at 12 54 09 PM](https://user-images.githubusercontent.com/32406811/90342815-f62b4580-d

[2020-08-16 21:21] ExperimentsInHonesty commented on #29
@chali - so sorry I keep at'ing you instead of @chalimar ... maybe you should just join our project 😉

[2020-08-16 21:27] ExperimentsInHonesty commented on #29
@chalimar 's update is
![Screen Shot 2020-08-16 at 2 26 54 PM](https://user-images.githubusercontent.com/37763229/90344231-938c7680-dfcc-11ea-892c-db42daa4b4ce.png)

consensus is watch and star on the top write, except on mobile, where it will go beneath the description

[2020-08-16 21:31] ExperimentsInHonesty commented on #14
review workflow to fix clunky screen
![Screen Shot 2020-08-16 at 2 31 13 PM](https://user-images.githubusercontent.com/37763229/90344290-2b8a6000-dfcd-11ea-9ed6-96883d77e36d.png)

[2020-08-16 21:45] ExperimentsInHonesty commented on #60
@DarrenRF 's update
1. Progress - got most of desktop done
2. Blockers - none
3. Availability - good for the next week
4. ETA - by next week

[2020-08-16 21:53] ExperimentsInHonesty commented on #42
@nrrao can you post an update
1. Progress
2. Blockers
3. Availability
4. ETA

[2020-08-16 21:53] ExperimentsInHonesty commented on #59
@Abhishek-AC  can you post an update
1. Progress
2. Blockers
3. Availability
4. ETA

[2020-08-16 22:00] ExperimentsInHonesty commented on #57
@GSnapp is going to add in the colors on the current logo https://github.com/civictechindex/CTI-website-frontend/issues/20

[2020-08-16 22:16] jsachsman opened #62 "Document Database Schema"
### Overview
Visual document (image) for project database schema

### Action Items
- [ ] Document (in this issue) the current database schema

[2020-08-16 22:43] ddkbky commented on #62
![image](https://user-images.githubusercontent.com/60955297/90345612-ebc87600-dfd6-11ea-8358-4e08e9e746e8.png)
This is the current database architecture and may be modified in the future.

[2020-08-18 05:55] jsachsman commented on #11
[Action] Added edits from wiki page draft to [wiki](https://github.com/civictechindex/CTI-website-frontend/wiki).
[Question] @ExperimentsInHonesty - is this sentence still accurate? "Slack our PM, Bonnie, with your email address." Also, should you still be listed as the Technical Product Manager in the roster for now?
[Blocker] My notes on GFM Markdown table syntax (from the table generator above)

[2020-08-21 01:14] jsachsman commented on #11
@jsachsman will split this up into individual pages and update the sidebar appropriately.

[2020-08-21 01:23] jsachsman commented on #50
@GSnapp were you able to reach out to your scriptwriter friend?

[2020-08-21 01:55] jsachsman opened #63 "FAQ Screen"
### Dependency
#213

### Overview
Build FAQ screen in React. Use outside libraries as necessary, ideally we would ultimately link the FAQ to a content management system (a database table and an admin screen) or the Google Sheets file mentioned in the resource

### Action Items

- [ ] FAQ screen created, see look and feel in Figma, should have Title, breadcrumbs, standard header and footer should d

[2020-08-23 19:48] nrrao commented on #42
Screenshots of the response I got from GitHub sup
![gs1](https://user-images.githubusercontent.com/25930687/90987317-08752880-e558-11ea-8032-3a8de9415a06.PNG)
![gs2](https://user-images.githubusercontent.com/25930687/90987333-1460ea80-e558-11ea-948e-b006efacb4ad.PNG)

[2020-08-23 19:54] nrrao commented on #42
1.Progress: working on mobile screens of ag generator and need to contact GitHub support team
2.Blockers: none
3.Availability: medium
4.ETA: 1 to  2 weeks

[2020-08-23 19:59] Abhishek-AC commented on #59
1. Progress: started setting Swagger in CTI website backend repo
2. Blockers: None
3. Availability: Less - Apologies.
4. ETA: should achieve this by next Sunday 08/30/20

[2020-08-23 21:21] jsachsman commented on #11
@ExperimentsInHonesty has confirmed answer to wiki question is correct.
@jsachsman will copy readme from hackforla and add to new branch and copy @ashleyerffmeyer to pull request for review.

[2020-08-23 21:23] jsachsman commented on #29
@chalimar the repository link is missing from the card, please add, thanks!

[2020-08-23 21:24] jsachsman commented on #63
@ashleyerffmeyer as per today's discussion, we would prefer the Google Sheets option, thanks!

[2020-08-25 02:36] ExperimentsInHonesty opened #65 "Setup 1password for project"
### Overview
We need to add our Civic Tech Index passwords to the password system that Hack for LA uses so that they can be available for the organization.

### Action Items
- [ ] Read this draft: https://github.com/hackforla/website/issues/701#issuecomment-679316669
- [ ] Prepare a list of accounts and passwords that we will need to store
- [x] Work with Bonnie to get setup on the system
- [ ] Fo

[2020-08-28 01:07] chalimar commented on #29
Project link and repository link buttons added to card. Vertical card format still pending (mobile and org page projects).
![image](https://user-images.githubusercontent.com/34084181/91509738-fa911180-e88f-11ea-9d08-eb8ab1e5a14f.png)

[2020-08-28 01:20] jsachsman commented on #29
@chalimar please remove repository button and use the name of project at top as new link to repository, change name of project at top to link color with underline.
Also please modify Project Link button to include 'link' icon and URL of their link, feel free to experiment with sizing, look and feel, etc.

[2020-08-28 01:31] jsachsman commented on #60
@DarrenRF please post an update if possible?
1. Progress
2. Blockers
3. Availability
4. ETA

[2020-08-28 01:31] ashleyerffmeyer commented on #63
![image](https://user-images.githubusercontent.com/50453762/91511014-4a79d380-e8a4-11ea-86c1-f2720654f10a.png)

[2020-08-28 01:53] jsachsman commented on #13
This issue has been replaced by #50 and #57

[2020-08-28 01:53] #13 closed

[2020-08-28 02:07] jsachsman opened #66 "Autofill for search functions across site"
### Overview
We need to document autofill in this issue and share techniques so we can keep it consistent throughout CTI.

### Action Items

- [ ] Add all notes about autofill
   - [ ] Provide links to related issues
- [ ] Document where autofill used

### Resources/Instructions
suggested https://react-autosuggest.js.org/ custom render as way to do the autofill

[2020-08-28 02:08] jsachsman commented on #66
mw376707 from #14:

<img width="1110" alt="Screen Shot 2020-03-22 at 7 54 28 PM" src="https://user-images.githubusercontent.com/62410825/77278324-51107900-6c7c-11ea-9c59-844ed3bed508.png">

Example of how chosen tags could be populated on the page.

[2020-08-28 02:16] jsachsman opened #67 "Public Code.yml"
### Overview
We need to evaluate Public Code.yml's priority in the Product Development Roadmap (PDR)

### Action Items

- [ ] Review all Public Code.yml assets and discuss with relevant parties

### Resources/Instructions
**Assets:**
- https://github.com/civictechindex/publiccode-pusher
**Parties:**
- Colin King-Bailey, Open Oakland (former author of Public Code.yml pusher)
- Some people in Italy

[2020-08-28 02:18] jsachsman commented on #67
Screenshots from Public Code Pusher

<img width="1920" alt="Screen Shot 2020-03-29 at 3 54 15 PM" src="https://user-images.githubusercontent.com/34084181/77863329-62a2d500-71d6-11ea-91bf-b8e89513c690.png">
<img width="1920" alt="Screen Shot 2020-03-29 at 3 56 26 PM" src="https://user-images.githubusercontent.com/34084181/77863332-66365c00-71d6-11ea-9dda-3891db7ec89c.png">
<img width="1920" alt="Sc

[2020-08-28 02:19] jsachsman commented on #67
From Harishlingam, March 29th, screenshots from test logins:

<img width="1280" alt="Screen Shot 2020-03-29 at 6 11 19 PM" src="https://user-images.githubusercontent.com/21990572/77863606-3c3a6500-71e9-11ea-82b3-a81814d0849d.png">
<img width="1280" alt="Screen Shot 2020-03-29 at 6 14 18 PM" src="https://user-images.githubusercontent.com/21990572/77863608-3e042880-71e9-11ea-9daa-6bdaeb077d78.png">

[2020-08-28 03:05] jsachsman commented on #14
@chalimar would like to review this on Sunday's meeting 8/30

We will end up creating three processes with multiple screens, one path for owners, one path for admin/maintain, one path for contributors. Thoughts below

(Ready to add your Tags)
->
Explanation screen:
We've created an automated process to let you add topic tags to your repository but we need to ask a few questions first.
If you don't

[2020-08-28 03:12] jsachsman opened #68 "Figma Cleanup: Integrate Site Map into Master File"
### Overview
We need to add the site map to the Figma master file so we remember to update it whenever the master file is updated.

### Action Items

- [ ] Add the Site Map to the Master File
- [ ] Update the Site Map (in its new location)

### Resources/Instructions
[Figma master file](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---3.8.20---2?node-id=0%3A1)
[CTI Site Map / Ove

[2020-08-30 03:13] ashleyerffmeyer commented on #63
Created FAQ card component that displays question and shows answer when clicked. Next steps include refining styling &  dropdown animation on FAQ card component and adding content management system that updates from a Google sheets file/ displays content on necessary number of FAQ cards.
![screencapture-localhost-3000-FAQ-2020-08-29-22_08_09](https://user-images.githubusercontent.com/50453762/9165

[2020-08-30 18:20] chalimar commented on #29
![image](https://user-images.githubusercontent.com/34084181/91666586-d2cdc380-eab2-11ea-8cb1-76ab56aeaa56.png)

[2020-08-30 20:03] GSnapp commented on #57
Colors from Logo:
![Screen Shot 2020-08-30 at 1 00 33 PM](https://user-images.githubusercontent.com/32406811/91668386-3d85fb80-eac1-11ea-8d4e-354a0f1522d4.png)

[2020-08-30 20:08] Abhishek-AC commented on #59
[Branch](https://github.com/civictechindex/CTI-website-backend/tree/swagger-doc)
[Deployed using the above branch](https://test-civictechindexadmin.herokuapp.com/swagger/)
[Open PR](https://github.com/civictechindex/CTI-website-backend/pull/3)

List of Organizations API exposed:
![image](https://user-images.githubusercontent.com/35303056/91668455-bb4a0700-eac1-11ea-95c5-cfef925fe2d6.png)

[2020-08-30 20:09] ddkbky commented on #62
![image](https://user-images.githubusercontent.com/60955297/91668401-542c5280-eac1-11ea-8f73-457f351404fc.png)
A modification of the project language part.

[2020-08-30 20:24] GSnapp commented on #57
Possible Color Palattes with some of the logo colors incorporated (accent color is left out for now).
![Screen Shot 2020-08-30 at 1 00 33 PM](https://user-images.githubusercontent.com/32406811/91668774-167cf900-eac4-11ea-84af-e498d5180c0e.png)
![Screen Shot 2020-08-30 at 1 23 02 PM](https://user-images.githubusercontent.com/32406811/91668775-17ae2600-eac4-11ea-973a-27966da779aa.png)
![Screen Shot

[2020-08-30 20:26] GSnapp commented on #57
Color Palette if I included all the logo colors with the palette we chose before (no accent color):
![Screen Shot 2020-08-30 at 1 26 04 PM](https://user-images.githubusercontent.com/32406811/91668806-6956b080-eac4-11ea-8a3a-cc0685216dff.png)

[2020-08-30 21:10] jsachsman commented on #29
Team approves design above, caveat that topic tags won't include affiliation tags.

[2020-08-30 21:16] GSnapp commented on #57
Chali's suggestion:
two shades of blue, two shades of grey, two accent colors

[2020-08-30 21:17] jsachsman commented on #57
@chalimar will review and offer suggestions here, @GSnapp may add a 'gold' accent

[2020-08-30 21:34] Abhishek-AC commented on #59
@cnk Can you please review the PR: https://github.com/civictechindex/CTI-website-backend/pull/3

[2020-08-30 21:40] jsachsman commented on #14
@ExperimentsInHonesty will be sketching out the flow for this process in Figma, or possibly in cooperation with @jsachsman

[2020-08-30 22:03] jsachsman commented on #65
@ExperimentsInHonesty has set up our 1pass account and assigned team members.
@ExperimentsInHonesty will create a civic-tech-index email account, send temporary password to @jsachsman.
Then @jsachsman will create a permanent password for the email account and put it in the 1password vault, following the instructions in the draft above and documenting any issues with that process.
Suggested timelin

[2020-09-01 20:46] Abhishek-AC opened #69 "Dockerize the backend"
### Overview
To dockerize the backend

### Action Items

- [x] Create dockerfiles for local setup
- [ ] Create dockerfiles for AWS deployment

### Resources/Instructions

[2020-09-01 20:49] Abhishek-AC commented on #69
For action item 1, [open PR](https://github.com/civictechindex/CTI-website-backend/pull/4)

Will require help from @salice to update the docker file for AWS deployment

[2020-09-03 15:53] ashleyerffmeyer commented on #63
Styled page to look and feel like Figma wireframe and completed initial set up of React, Node, and Google Sheets content management system (CMS). Next steps are to add icon to search bar and finish setting up CMS.
![screencapture-localhost-3000-faq-2020-09-03-10_48_34](https://user-images.githubusercontent.com/50453762/92138149-a5935500-edd3-11ea-9db1-483c943c594c.png)

[2020-09-03 18:15] nrrao commented on #42
@ExperimentsInHonesty  As discussed the  data we need to keep track is
existing tags, new tags, project name( for social media),URL of the repository, manual/automated process.
We also discussed a separate database for wizard user results.

[2020-09-03 18:20] nrrao commented on #42
1.Progress: working on mobile screens of tag generator and need to contact GitHub support team
2.Blockers: none
3.Availability: medium
4.ETA: 1 week
![screencapture-localhost-3000-taggenerator-2020-09-03-14_16_37](https://user-images.githubusercontent.com/25930687/92152287-6fb09980-edf0-11ea-819d-b0b3c838ede8.png)

[2020-09-04 01:07] chalimar commented on #29
Vertical card design

![image](https://user-images.githubusercontent.com/34084181/92188036-443da700-ee10-11ea-800c-9c3e0a63781c.png)

[2020-09-04 01:16] jsachsman commented on #62
@jsachsman and @ExperimentsInHonesty need a site architecture review with @ddkbky, @ashleyerffmeyer, @Abhishek-AC, @nrrao, and @codewilling to review updating how this database will be used and connected to our user flow. Possibly will try to get this in Sunday 9/6.

[2020-09-04 01:32] jsachsman commented on #29
Thanks so much @chalimar, please investigate the horizontal version and see if you can get a mobile version of that.

[2020-09-04 01:40] jsachsman commented on #60
@DarrenRF would it be possible for you to do a pull request to a branch (called 'darren') so we can make use of the work you've done so far?

[2020-09-04 02:07] chali commented on #29
@ExperimentsInHonesty haha. looking at what you do my skillset would be fairly useless.

[2020-09-04 02:40] jsachsman opened #70 "Contributors screen"
### Overview
Build Contributors screen in React.

### Action Items

- [ ] Create Contributors screen, you can look at FAQ screen for general look and feel, template for collapsing and expanding cards
   - [x] Link Contributors screen to the CTI API so we are fetching a recent list of contributors and using that information to build the cards

### Resources/Instructions
Link to https://test-civicte

[2020-09-04 15:51] ashleyerffmeyer commented on #70
@codewilling Here's my in work branch for the FAQ page: https://github.com/ashleyerffmeyer/CTI-website-frontend/tree/faq-page-issue-63 Feel free to use any components on this branch for your ticket.

[2020-09-04 16:18] jsachsman opened #71 "Change 'master' to 'main'"
### Overview
Replace our 'master' branch with the name 'main'

### Action Items

- [x] Replace 'master' with 'main'
    - [ ] Replace all references to the word 'master' in the readme file with the word 'main' (will be handled by jsachsman)

### Resources/Instructions

[2020-09-04 16:27] ExperimentsInHonesty commented on #11
We really should move the git instructions to the contributing file.  See this github guide for healthy repository and lets discuss at next meeting the one that are not obvious.  https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

[2020-09-06 01:17] jsachsman opened #72 "Security file"
### Overview
Create SECURITY file

### Action Items

- [ ] Create SECURITY file: To report security issues, users should join the slack channel or email civictechindex@hackforla.org

### Resources/Instructions
See this github guide for healthy repository https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

[2020-09-06 01:19] jsachsman opened #73 "Support file"
### Overview
Create SUPPORT file

### Action Items

- [ ] Create SUPPORT file: Users should join the slack channel to report issues with the CTI

### Resources/Instructions
See this github guide for healthy repository https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

[2020-09-06 01:20] jsachsman opened #74 "Code of Conduct file"
### Overview
Create CODE OF CONDUCT file

### Action Items

- [ ] Create CODE OF CONDUCT file: link to the Hack for LA code of conduct : https://github.com/hackforla/codeofconduct

### Resources/Instructions
See this github guide for healthy repository https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

[2020-09-06 01:22] jsachsman opened #75 "Contributing file"
### Overview
Create the CONTRIBUTING file

### Action Items

- [x] Create CONTRIBUTING file: Use information from README.md on how to use Git
- [ ] Remove information from README.md on using Git

### Resources/Instructions
Working file - [Guide to Good Coding Practices](https://docs.google.com/document/d/1q_SttG8tOWZpoqqphs7wtbKBRflDvxJU0_l2Y4UoLYg/edit?usp=sharing)
See this github guide for healt

[2020-09-06 01:25] jsachsman commented on #11
Added issues #72 #73 #74 and #75 to support the above, moved them to prioritized backlog, assigned to @jsachsman
I will finish Readme changes requested yesterday and then close that pull request before I start working on creating those files.

[2020-09-06 04:21] Abhishek-AC commented on #71
- [ ] Create a main branch
- [ ] Change the default branch from 'master' to 'main' for both [front-end](https://github.com/civictechindex/CTI-website-frontend/issues/71) and [back-end](https://github.com/civictechindex/CTI-website-backend) repositories

Also, for the following open PRs changed the base branch from 'master' to 'main'
- PR #64 -> @jsachsman
- PR [#3](https://github.com/civictechinde

[2020-09-06 19:24] ashleyerffmeyer commented on #63
No new screen shots this update. Working on step 3 of 7 to hook up content management system. Currently running into an issue ensuring the proper port is called for local host, but working through it.

[2020-09-06 21:09] ExperimentsInHonesty commented on #59
Bonnie asked @cnk to review https://github.com/civictechindex/CTI-website-backend/pull/3

[2020-09-06 21:10] jsachsman commented on #65
My apologies, I put our civic tech index email password in shared, it has been moved to the civic tech index 1password account instead.

[2020-09-06 21:13] ExperimentsInHonesty commented on #71
@Abhishek-AC will delete the master branch

[2020-09-06 21:15] Abhishek-AC commented on #71
Deleted the master branch.

[2020-09-06 21:17] ExperimentsInHonesty commented on #63
@Josh Bubar can you show @Ashley Erffmeyer how you did the wiring up of the google sheet to the wins-page

[2020-09-06 21:29] ExperimentsInHonesty commented on #65
@Abhishek-AC will create account on heroku for civictechindex@hackforla.org and put password into the vault

[2020-09-06 21:32] Abhishek-AC commented on #65
This is the list of people who have access to the civictechindex
![image](https://user-images.githubusercontent.com/35303056/92335656-b818c300-f04d-11ea-85d3-ffdecf7ca65f.png)

[2020-09-06 21:35] ExperimentsInHonesty commented on #70
1. Progress: Implemented links and need to make the routes
2. Blocks: none
3. Availability: plenty
4. ETA: Monday (labor day)

[2020-09-06 21:42] ExperimentsInHonesty commented on #70
@codewilling is going to add two menu options to the header Affiliate Unaffiliated

[2020-09-06 21:47] ExperimentsInHonesty commented on #62
Name of Project
URL of Repository
Existing Topic Tags
New Topic Tags
Process type: [manual or automated]

[2020-09-06 22:09] ExperimentsInHonesty commented on #62
project link should be changed to project URL and add link
We need to add to the database model diagram which fields can have multiple values or just one value.
so if

[2020-09-06 22:12] ExperimentsInHonesty commented on #65
remove bonnie@hackforla.org and change it to the civictechindex@hackforla.org role account

[2020-09-06 22:55] jsachsman opened #76 "Search Screen UX Review"
### Overview
Review UX issues in Search Projects screen

### Action Items

- [ ] Group review
- [ ] Itemize changes for Figma Master

### Resources/Instructions

[2020-09-06 22:57] jsachsman commented on #76
Possible issues to discuss:

- Remove search area from screen?
- Languages is actually not 'refining' search it is expanding to search, should it be moved to another area of the UI and/or renamed, also do we need explanatory text (since users may not anticipate it adding to the returned results)
- Do we need a button to actually fire off the refining or new search or should we do it automatically

[2020-09-06 23:03] cnk commented on #63
Since the backend of CTI is Django, I would suggest you add a Django CMS to the app. Personally I would suggest Wagtail because that is what I use at work but if you think that is too much, there are other options. https://djangopackages.org/grids/g/cms/

[2020-09-06 23:06] Abhishek-AC commented on #59
PR: civictechindex/CTI-website-backend#3 merged. This issue can be closed.

[2020-09-07 17:17] anshdhinhgra47 commented on #75
I would like to work on this issue. Could you please let me know your requirements ?

[2020-09-07 19:02] jsachsman commented on #75
Hi @anshdhinhgra47 thanks for getting in touch with us!
We'd love to have you on the team, please view https://www.hackforla.org/getting-started and take a look at the steps in the https://github.com/civictechindex/CTI-website-frontend/wiki for joining our project.
I'll see you on the Hack for LA slack, civic-tech-index channel!

[2020-09-07 19:09] anshdhinhgra47 commented on #75
Thank you so much for giving me this opportunity.
Could you assign me this issue ? My pull request has been pushed aside in the past, even though I was the first to approach the organization. I hope you understand.
Once again, thank you for giving me this opportunity.

[2020-09-08 01:03] jsachsman commented on #75
@anshdhinhgra47 this particular issue is going to take an unlucky Product Manager about five minutes to do when he or she gets around to it. Please get in touch with us through channels as I described above, we'll find issues worth your talents. Looking forward to seeing you in the Hack for LA Slack!

[2020-09-08 03:35] anshdhinhgra47 commented on #75
Alright

[2020-09-09 23:37] chalimar commented on #76
![image](https://user-images.githubusercontent.com/34084181/92665132-a0924200-f2ba-11ea-81e8-555f836bd85b.png)

![image](https://user-images.githubusercontent.com/34084181/92665114-94a68000-f2ba-11ea-9b7a-e55d4e78fef7.png)

[2020-09-10 00:06] chalimar commented on #29
![image](https://user-images.githubusercontent.com/34084181/92666688-cde0ef00-f2be-11ea-8faa-809499345be4.png)

[2020-09-10 03:10] chalimar commented on #57
Sharing home page using the color palette above.

![image](https://user-images.githubusercontent.com/34084181/92677334-73548c80-f2d8-11ea-8131-b25defb37b69.png)

[2020-09-10 21:33] ashleyerffmeyer commented on #63
I'm unable to make tonight's meeting due to work. Here's my update: Talked with Josh regarding the use of Google's api key per Bonnie's suggestion last meeting to hook up React to Google Sheets. Will move forward with that approach. This week has been busier than anticipated but I will be able to pick this ticket up again this weekend. If there is discussion this evening about django/wagtail and t

[2020-09-10 21:49] cnk commented on #63
If the team is interested in exploring a Django based CMS, let me know. I can't make it to this evening's meeting but could come to the weekend meeting if the team wants more information about Django options.

[2020-09-11 01:52] jsachsman commented on #59
@Abhishek-AC just to let you know, if you use the phrase 'fixes #59' in the description for the pull request (#3) it will automatically close this issue when the pull request is closed.

[2020-09-11 01:52] #59 closed

[2020-09-11 02:08] jsachsman commented on #63
@cnk I think that would be a great discussion to have, if you're available for the weekend meeting, @ashleyerffmeyer of course would love to have you as well.

[2020-09-11 02:10] #11 closed

[2020-09-11 02:17] jsachsman opened #77 "About screen breakdown"
### Overview
Breakdown of all information to be presented on the About screen

### Action Items

- [ ] List topics on the About screen
- [ ] List where to find information for these topics
- [ ] Build Google doc with text for About screen

### Resources/Instructions

[2020-09-11 02:24] jsachsman commented on #71
Created branch for Readme that replaces master with main.

[2020-09-12 08:56] Abhishek-AC commented on #65
- Image that showing free limit of 5 members/admin.

![image](https://user-images.githubusercontent.com/35303056/92991760-e148b180-f49a-11ea-897b-5ffaea0c8097.png)

- Removed bonnie@hackforla.org and invited civictechindex@hackforla.org

![image](https://user-images.githubusercontent.com/35303056/92991625-1bfe1a00-f49a-11ea-9190-41379ff32989.png)

- civictechindex@hackforla.org joined as an admin

[2020-09-12 09:04] Abhishek-AC commented on #65
- Added login credentials in the Civic Tech Index's Vault for Django Administration panel.

[2020-09-12 09:09] Abhishek-AC commented on #69
Reached out to Sophia via slack DM on September 10' 20. Waiting for her inputs in terms of reviewing the PR.

[2020-09-13 19:07] GSnapp commented on #57
Adding gold/yellow accent to the color palette.

![Screen Shot 2020-09-13 at 11 58 38 AM](https://user-images.githubusercontent.com/32406811/93026266-a5f0d480-f5b9-11ea-9e90-126f105ca2b3.png)
![Screen Shot 2020-09-13 at 11 57 35 AM](https://user-images.githubusercontent.com/32406811/93026267-a8532e80-f5b9-11ea-879d-7e81508b6420.png)

[2020-09-13 19:15] GSnapp commented on #50
If you guys are still looking for a writer, I got in touch with one of my friends from school/the film industry. Her name is Sia, and she's willing to write for the animated short. Here's her e-mail if you want to get in touch with her and give her more details: sia.aleskovskaya@gmail.com

[2020-09-13 20:41] ashleyerffmeyer commented on #63
Thanks for the update! I've been working this weekend and am now under the weather and/or suffering from allergies. I won't be able to make the call today. However, feel free to let me know how the discussion goes regarding django/ wagtail. If it's something we want to definitely do, I can catch up with @cnk early this week to learn more as I am no longer on call after Monday morning. I don't have

[2020-09-13 20:42] ddkbky commented on #62
![image](https://user-images.githubusercontent.com/60955297/93027805-5cf24d80-f5c4-11ea-944d-a4cda32aadb5.png)

Some changes:
1. Add a ‘user’ entity table.(Is it proper to set the ‘password’ to 16 characters?)
2. Add ‘creation_time’ and ‘creation_user_id’ column for ‘project_tag’ table to record the tags’ creation history. When each project creates a new tag, a new record will be created, no matte

[2020-09-13 21:04] ddkbky commented on #62
Some SQL statements can help us lookup tags, for example,
New topic tags:
SELECT DSTINCT tag_id
FROM project_tag
WHERE creation_time > '2020-08-01';

Trending topics:
SELECT COUNT(tag_id), t.name
FROM project_tag AS P
JOIN tag AS t
WHERE creation_time > '2020-08-01'
ORDER BY COUNT(tag_id) DESC;

[2020-09-13 22:08] jsachsman commented on #62
@ddkbky please change contributor throughout to organization
please remove the following columns in the user table: password, email
in user table please change organization_id to organization_ids and make it an array of integers rather than a single integer
thanks!

[2020-09-13 22:10] jsachsman commented on #62
@ddkbky also please add a new table to represent search results on tags named search_information

[2020-09-13 22:26] jsachsman commented on #14
This is blocked temporarily by #42

[2020-09-13 22:31] jsachsman commented on #76
@chalimar will change button from Search the Index to Search Projects

[2020-09-13 22:31] #76 closed

[2020-09-14 15:34] cnk commented on #63
@ashleyerffmeyer Hope you are feeling better soon.

I have a rough draft of an FAQ management interface using django admin at https://github.com/cnk/CTI-website-backend/tree/FAQ. It currenly has one,  read only API endpoint that lists all FAQs marked 'live'. Next step is to add an endpoint that will increment a counter - which can be used when people click to view the answer.

[2020-09-15 00:22] ashleyerffmeyer commented on #63
Thanks @cnk almost back to 100%. The work you did looks great so far. Are you free tomorrow evening around 5:30 PT/ 7:30 CT to discuss what you've done and how to hook it up to the front end? Feel free to propose a more convenient time if needed. This is what I have so far: https://github.com/ashleyerffmeyer/CTI-website-frontend/tree/faq-page-issue-63.

[2020-09-15 00:34] cnk commented on #63
I think 5:30 tomorrow works.

On Mon, Sep 14, 2020 at 5:23 PM Ashley Erffmeyer <notifications@github.com>
wrote:

--
Cynthia Kiser
cynthiakiser@gmail.com

[2020-09-15 19:38] ExperimentsInHonesty opened #79 "landing page"
### Overview
We need a landing page so that we can capture a list of people who want to be notified of the project's launch so that we can create excitement and encourage traffic to the tool once available.

### Action Items
- [ ] Front End Developer
   - [ ] Create page from mockup (also in figma)
- [ ] Back End
   - [ ] setup Django and DB endpoint to send email addresses to
   - [ ] later, setu

[2020-09-16 02:38] cnk commented on #63
@ashleyerffmeyer This is the structure of the JSON I am currently producing. If that is not what you want to consume, please let me know and I will change it.

[code]

Next step: get this deployed to heroic

[2020-09-16 03:54] cnk commented on #62
@jsachsman If you need to map many users to many organizations, wouldn't it be better to create a mapping table rather than dealing with an array of project ids? If this data model is going to be managed by Django, the mapping table will be created automatically if you use a ManyToMany relation between users and organizations.

[2020-09-16 05:02] Abhishek-AC commented on #63
@cnk [PR](https://github.com/civictechindex/CTI-website-backend/pull/5) merged. Kudos :clap:
I have applied migrations to include the FAQs model. Also, I have added the above dummy data.

@ashleyerffmeyer You can view the endpoint [here](http://test-civictechindexadmin.herokuapp.com/swagger/).
Executing the GET /api/faqs/ you should be able to see the exact same response as Cynthia shared in the [

[2020-09-18 01:23] jsachsman commented on #29
@ExperimentsInHonesty @chalimar I think we should be ready to close this out, looks great!

[2020-09-18 01:51] jsachsman opened #80 "Search page"
### Dependency
#142

### Overview
The Civic Tech Index Search page.

### Action Items
- [x] Product
   - [x] develop MVP requirements
- [x] Back end
   - [x] feasibility research
- [x] Product
   - [x] Refine requirements
- [ ] Design #142
   - [ ] Refine designs
- [ ] Build front end for search screen
  - [x] Connect to GitHub search API to return results from search #117
  - [ ] Refine results f

[2020-09-18 07:22] cnk commented on #79
I am most of the way done with adding the table + endpoint for receiving the email address.

What is your preferred behavior if someone submits the same address more than once?

1. Record all and deduplicate later?
2. Return "we already have that address" message
3. Silently ignore additional submissions of the same email address

For the front end person:

I am expecting 2 fields, email_address a

[2020-09-18 14:44] ExperimentsInHonesty commented on #79
Duplicate message would be good

[2020-09-20 02:01] shinjonathan commented on #80
@ashleyerffmeyer @codewilling  Looks like elastic has a search-ui library. If no one has any reservations about this library, I can move forward styling those search components.

Regarding: Searching against Github's API & Backend database schemas #62
I would imagine that the search needs to look up against specific organizations rather than Github entirely. I'm not certain there is a simple or st

[2020-09-20 02:24] #71 closed

[2020-09-20 04:42] cnk commented on #79
Code in place - on my branch that uses Docker. Would like to discuss with @Abhishek-AC when the docker version will become the main version - but I can create a pull request on the docker branch or on main depending on when docker becomes the main way to work with this repo.

[2020-09-20 20:58] ddkbky commented on #62
![image](https://user-images.githubusercontent.com/60955297/93721987-6e999f00-fb48-11ea-85dd-f21be7049259.png)
Some changes:

1. Remove “password”, “email” in “user” table, and add a column named “head_portrait_url”.
2. Add a table “user_organization” to connnect the many to many relationship between users and organizations.
3. I was busy this week and haven’t been able to add a table to store the

[2020-09-20 21:20] jsachsman commented on #29
@chalimar would be great to get some images of what the filter looks like when it comes up and what the filtered results look like, thanks!

[2020-09-20 21:27] jsachsman commented on #57
Thanks so much for your hard work on this issue @GSnapp

[2020-09-20 21:27] #57 closed

[2020-09-20 21:31] ashleyerffmeyer commented on #63
No new image to show quite yet. Working on hooking up backend data to front end; I'm about half way done with this. ETA is Thursday, 9/24.

[2020-09-20 21:32] codewilling commented on #70
Progress: applying css styling and dropdown toggle functionality
    Blocks: none
    Availability: 2 days
    ETA: 9/21

[2020-09-20 21:38] jsachsman commented on #42
@Abhishek-AC can you get the current version of this branch running in development when you have time? Thanks!

[2020-09-20 21:40] jsachsman commented on #65
Looks like we are out of password we need to store so moving back to icebox.

[2020-09-20 21:43] jsachsman commented on #69
The [PR](https://github.com/civictechindex/CTI-website-backend/pull/4) is waiting for a completed review from @shinjonathan

[2020-09-20 21:47] jsachsman commented on #70
@codewilling where image is unavailable please display org or repository name, thanks!

[2020-09-20 21:52] jsachsman commented on #79
@mealthebear when you have time please post an update in this format:
1) Progress
2) Blockers
3) Availability
4) ETA
with any screenshots you may have available, thanks!

[2020-09-20 22:03] jsachsman commented on #80
@shinjonathan please review the approach used in the existing GitHub API Test repository:
https://github.com/civictechindex/github-api-test
https://hackforla.github.io/github-api-test/

@ExperimentsInHonesty will be a great resource to discuss this search approach, we may have to set up a meeting for that sometime soon.

[2020-09-20 22:05] Abhishek-AC commented on #80
@shinjonathan For viewing the list of GitHub APIs that are being used in the [github-api-test](https://github.com/civictechindex/github-api-test) project, there is a [postman collection](https://github.com/civictechindex/github-api-test/blob/master/github-api-test-postman-collection.json) if you would like to play around with.

[2020-09-20 22:08] jsachsman opened #82 "Banner Illustrations"
### Overview
Need several banner illustrations

### Action Items

- [ ] FAQ banner
- [ ] Search banner

### Resources/Instructions
Link to Figma: https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File---3.8.20?node-id=0%3A1

[2020-09-20 22:09] jsachsman commented on #82
@chalimar please

- add detail for the banner illustration sizing and resolution
- list the ones I missed
- assign to @GSnapp

 when you have the opportunity, thanks!

[2020-09-20 22:13] Abhishek-AC commented on #42
I have deployed the branch: https://github.com/civictechindex/CTI-website-frontend/tree/taggenerator-nandana
https://cti-dev.herokuapp.com/

[2020-09-20 22:31] ExperimentsInHonesty commented on #42
@chalimar
**Currently it says:**
Do you want to add additional topic tags to increase your project visibility?

**It should say**
Do you want to add more tags specific to your project's subject area to increase visibility?

[2020-09-20 22:35] jsachsman commented on #42
A few notes in no particular order:
When you are requested to add the Repository URL, we need a better description there and the text box should have a default which suggests what a correctly formatted repository URL looks like.
Errors also need to match whether user has a blank entry here versus whether it was inaccurate
@chalimar please add a visual for this showing a 'chart' for a correctly for

[2020-09-21 06:57] mealthebear commented on #79
Hey y'all, posting a progress report so far:
So I have a rough draft of the landing page screen built out. All of the basic components are rendered onto the page and are in need of styling. I'll now be looking to get the email submission feature working, just waiting on the endpoint to be developed so no rush. In the meantime, I'll also work with the UX team to get the specific styles that we want

[2020-09-21 07:13] mealthebear commented on #79
A quick note about the email submission: I think it would be good to know which edge cases to handle. Maybe the user submits an invalid email address or the user submits a valid email address more than once. Thank you!

[2020-09-21 18:20] cnk commented on #79
Examples for current code. If you want something changed, I should be able to make changes. Let me know @mealthebear

[code]

[2020-09-21 21:26] shinjonathan commented on #69
@Abhishek-AC is deployment to docker still an action item.

It looks like there needs to be a build step (we can create on in github actions to publish to the github docker registry.)

[2020-09-21 23:38] mealthebear commented on #79
@cnk Looks pretty good to me! Is there also a screen for how we want to display the message after email submission? Or were we planning to not display anything on the screen? Was just curious

[2020-09-22 00:08] cnk commented on #79
I have no idea. I just provide whatever API you ask me to build.

[2020-09-22 04:37] ExperimentsInHonesty commented on #79
@chalimar @jsachsman what do we want the action/look to be for after they successfully subscribe?

[2020-09-22 04:42] cnk commented on #69
Came across this useful example script for running tests via GitHub actions before deploy: https://til.simonwillison.net/til/til/github-actions_service-containers-docker.md

[2020-09-22 05:04] Abhishek-AC commented on #69
Hey @cnk,
[PR](https://github.com/civictechindex/CTI-website-backend/pull/4) for dockerizing the backend is merged.
You can rebase your branch for email setup.
Let me know if you face any issues with the docker work that we did in this PR.

[2020-09-22 18:59] shinjonathan commented on #69
@cnk this is awesome! I didn't know that Github provides a managed postgres

[2020-09-22 22:02] mealthebear commented on #79
Just another update; I've added some more stylings to the page like fonts, official colors, and some spacing between the different elements. The next thing I'll be working on is preparing a handler for the email input field so that it's ready for when the endpoint goes live. Another thing that might need to be addressed is what kind of style or animation to use when the user interacts with the but

[2020-09-23 01:00] jsachsman commented on #79
I'd recommend we replace the field and button with a 'success' message in bold text in our 'accent' color:
"Thank you for subscribing!"

[2020-09-23 23:18] mealthebear commented on #79
Where should the volunteer button link to? Should it go to the Civic Tech Index page on hackforla.org?

[2020-09-23 23:28] chalimar commented on #79
@mealthebear @jsachsman @ExperimentsInHonesty

Hi team! We can utilize this [google form](https://forms.gle/6JRrNb6iMXubK1rp6), or we can link the [project page from HFLA](https://www.hackforla.org/projects/civic-tech-index).

[2020-09-24 09:30] ExperimentsInHonesty commented on #79
@mealthebear please link to the civic tech page on hackforla.org

[2020-09-25 01:01] jsachsman commented on #63
Note @ashleyerffmeyer let me know today she will be out for three weeks or so due to a family emergency.
Her code is hosted here: https://github.com/ashleyerffmeyer/CTI-website-frontend/tree/faq-page-issue-63

[2020-09-25 01:20] chalimar commented on #82
[Google Drive with Landing Page assets](https://drive.google.com/drive/folders/1aPv0s5Y0nGBSffTzpK5yV05nk9jzhiV3?usp=sharing)

[2020-09-25 01:31] chalimar commented on #79
Hi team, page graphics, fonts and info can be found here: [Landing Page assets](https://drive.google.com/drive/folders/1aPv0s5Y0nGBSffTzpK5yV05nk9jzhiV3?usp=sharing)

[2020-09-25 04:11] Abhishek-AC commented on #79
@mealthebear You can access the endpoint for the above as /api/subscribe
Refer the [swagger doc](https://test-civictechindexadmin.herokuapp.com/swagger/) for request payload and response.

[2020-09-27 20:27] chalimar commented on #29
Search and filter iteration

[2020-09-27 20:49] ddkbky commented on #62
![image](https://user-images.githubusercontent.com/60955297/94375363-f7c05100-00c7-11eb-98e9-51ab2dbd691f.png)
Changes:
1. Add a table named "search_information"
2. Remove  "head_potrait_url" column in "user" table

[2020-09-27 21:07] codewilling commented on #70
Progress: applying css styling
Blocks: none
Availability: 3 days
ETA: 9/28

[2020-09-27 21:13] chalimar commented on #70
Providing an updated view of the Contributors page with new layout format / search functionality (MVP?) / and handling of organization(s) without GitHub profile images.

![image](https://user-images.githubusercontent.com/34084181/94375851-694dce80-00cb-11eb-8e6b-b8763bc8699f.png)

[2020-09-27 21:21] #69 closed

[2020-09-27 21:45] jsachsman commented on #29
@chalimar please switch out OakCrime
Please move 'showing' text below the filter and sort buttons
Please update mobile filter screen to match desktop search in terms of filters list
Please add text like this to top - Displaying [number here] of results on search of [phrase] _(this is a terrible phrase somebody please come up with a better one here)_
Please add button below the "Reset Filters" to s

[2020-09-27 21:54] jsachsman opened #85 "Move to AWS"
### Overview
Changes to front-end and back-end required by move to hosting in Amazon Web Services

### Action Items
@Abhishek-AC please populate action items here

### Resources/Instructions
@salice will be a great resource here, note she probably has more availability to work on this sooner rather than later

[2020-09-27 21:59] jsachsman commented on #80
Hi @shinjonathan we were discussing storage and retrieval of results, I don't mean to preempt your work (as you are probably pretty far down the road at this point) but here are the thoughts we had during today's meeting:

Results from GitHub are retrieved (reported by @ExperimentsInHonesty) in a paginated form, only show the first # naturally.
Thus
For the MVP: New call to GitHub API every time a

[2020-09-30 00:44] mealthebear commented on #79
Hey everyone, just posting another update:
The landing page is coming along nicely, I'm just finishing up on adding a few styles to the input, buttons, and icons. I added the picture of the world map to the background. I'll post a screenshot below of what it looks like.

@cnk @Abhishek-AC One thing I wanted to bring up is storing the endpoint URL as an environment variable. Create react app suppor

[2020-09-30 20:59] mealthebear commented on #79
Another update about environment variables: It looks like using an ```.env``` file isn't a good idea because it poses a security risk. Create react app documentation even advises against using it since anyone who inspects the files will be able to see the values of environment variables.

[2020-10-01 20:03] Abhishek-AC commented on #85
I have a midterm the coming week, I will not be able to dedicate my time this week and the coming week. Apologies.

[2020-10-02 00:17] codewilling commented on #70
@Abhishek-AC I believe @ExperimentsInHonesty wanted to edit the API response to obtain parameters directly from GitHub's API, which I can then consume on the front. This would allow us to request resources (links and such) that are up to date on GitHub.

[2020-10-02 00:32] chalimar commented on #29
Providing an update for mobile search view. Will need to provide an option to display expanded filter attributes.

![image](https://user-images.githubusercontent.com/34084181/94876253-fd8d9d80-040b-11eb-8df2-c1585d7074da.png)

[2020-10-02 00:43] chalimar commented on #68
Site Map has been added to the Figma file.

![image](https://user-images.githubusercontent.com/34084181/94876779-8e18ad80-040d-11eb-9c6c-b0af3e19b613.png)

[2020-10-02 00:45] #68 closed

[2020-10-02 00:56] shinjonathan commented on #80
I'm building out project cards (the results) at the moment. I'm building these out as components so that we can leverage these across different pages.

[2020-10-02 01:00] codewilling commented on #70
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File---3.8.20?node-id=0%3A1

[2020-10-02 01:18] jsachsman commented on #63
Note Contributors screen is using a component that would be useful here (opening and closing expanding panels)

[2020-10-02 01:29] jsachsman commented on #79
@mealthebear please cut header and footer, everything looks great otherwise.
Personally I'd like to see this merged in sooner rather than later, thanks for the hard work!

[2020-10-02 01:58] jsachsman commented on #29
Hi @chalimar sorry this is off-topic for this issue
Please add mobile and tablet views for the landing page / welcome screen to the Figma when you get a chance
Then inform @mealthebear when you have done so
Thanks!

[2020-10-02 02:05] jsachsman opened #87 "About Page"
### Dependency
#12

### Overview
Create MVP version of About page - video will be MVP version, images will be MVP versions

### Action Items

- [x] Build page without video and images
- [x] Reach out to resources below for video and images
- [x] Incorporate video and images

### Resources/Instructions
[Updated deck](https://docs.google.com/presentation/d/1VvBj-KosY9tTw-ROAB9R7g-EVh-MDhSefUkLxtdtWn

[2020-10-02 02:16] jsachsman commented on #79
@shinjonathan I know you were planning to get into the Heroku account soon -

Let me know if I'm off-base here, I think the URL we will use for production is this:
https://test-civictechindexadmin.herokuapp.com/
So once you and @mealthebear have the landing page set up we will have to have Bonnie add civictechindex.org as a custom domain in Heroku and then get the DNS target from Heroku, then give

[2020-10-04 20:59] ddkbky commented on #62
1. No changes to the database schema.
2. Have some ideas to the “trending topics” display bar.
- Sometimes the contents of search may not be structured. For example, people input "Pollution in Europe". It includes two keywords "pollution" and "europe". So, if we look up the most keywords by an SQL statement, we may ignore several different keywords that appear in a phrase or short sentence.
- In t

[2020-10-04 21:42] chalimar commented on #82
Need 1500 x 500 banners for:
How can we help? (FAQ page)
Your Help Goes a Long Way (Donation / Volunteer / Contribution)
Share the CTI (Social media)

[2020-10-04 21:51] jsachsman commented on #82
@GSnapp please prioritize a subtle background we can use on several pages as well as duotone banners for the Donation and Tag Generator pages thanks so much!

[2020-10-04 22:22] jsachsman commented on #42
@chalimar is currently updating the Figma with the updated versions for the Tag Generator screens.
Please look there to see how this needs to be updated for the MVP, including a new flow which goes directly to a 'Manual Entry' screen at the end.

[2020-10-05 16:31] mealthebear commented on #79
Hey everyone, posting an update on some features I've added:
The footer text at the bottom as well as the appropriate error message for duplicate emails have been added. I'll post a screenshot to show what they look like. In addition, media queries have been added which significantly improved the UI on mobile devices.

The code hasn't been deployed yet, but looks very promising from the device too

[2020-10-05 22:27] chalimar opened #88 "Social Media Links"
### Overview
Social media links need to be active and have up to date graphics to ensure unified UX

### Action Items

- [x] Ensure social media accounts are active, have logos/backgrounds and links are on the [board](https://github.com/civictechindex/CTI-website-frontend/projects/1#card-50593184):
   - [x] [Instagram](https://www.instagram.com/civictechindex/)
      - [x] logo
   - [x] [Facebook]

[2020-10-06 04:56] mealthebear commented on #79
Posting another quick update: the styling on the buttons and input field have been changed so that they look blockier. I'm gonna throw this branch up again for another PR. I'm pretty sure at this point the landing page is all set and ready for deployment! @shinjonathan I dont know if you can help with deploying or if you take care of that, was wondering how to deploy as well. Thank you!

## Blocky

[2020-10-07 21:10] shinjonathan commented on #80
Hooked up search to populate elements of the search cards. I'm finding that that the Rate Limit for searching projects is within reasonable usage range (10 searches per minute)

However, pulling out additional information (such as project languages and issues) will quickly run through the rate limit (60 requests per hour -- unauthenticated) Approx. 2-3 searches will burn all of the requests.

http

[2020-10-07 22:09] shinjonathan commented on #80
`Project Language` and `Location` would also likely need to be kept in our database.

[2020-10-07 22:24] codewilling commented on #70
@ExperimentsInHonesty @jsachsman this hasn't been discussed, but a) do you want me to implement a search index algorithm for the new search bar in the contributors screen? and b) should the pic thumbnails be functional in that they should be clickable and redirect so some url?

[2020-10-09 00:59] jsachsman commented on #88
@ExperimentsInHonesty @chalimar I don't see the login information for these accounts in 1password, can someone put them in there and I will move forward with this task? Thanks!

[2020-10-09 01:28] jsachsman commented on #80
@shinjonathan ok to stub the 'missing' values for now
Please limit searches to only get additional data (and display) projects with the civictechindex tag
-------------
OK for the MVP let's go with a static version (from a json file pulled in advance)
-------------
Moving forward we can investigate costs for hosting data ourselves and pulling it down from GH on a regular basis - we could pull proj

[2020-10-09 01:41] jsachsman commented on #88
Jon make twitter account

[2020-10-09 01:51] jsachsman commented on #79
Looks like #86 and #89 have been merged, I think this is ready to close.

[2020-10-09 01:51] #79 closed

[2020-10-09 02:04] jsachsman commented on #70
@codewilling please implement whatever you have time for - it sounded like you have a good handle on the search, for the pics please link to the org's github page for now.

[2020-10-09 20:39] codewilling commented on #70
Hi @chalimar , Bonnie asked that I share some mobile views of the contributors page mobile screens for a base of designs. Here you go.

[2020-10-09 20:39] codewilling commented on #70
![Screenshot 2020-10-09 133619](https://user-images.githubusercontent.com/32500393/95629453-d4d15d80-0a34-11eb-8469-be49bf414906.png)

[2020-10-09 20:39] codewilling commented on #70
![Screenshot 2020-10-09 133638](https://user-images.githubusercontent.com/32500393/95629467-dac73e80-0a34-11eb-8061-f62e8f34d276.png)

[2020-10-09 20:39] codewilling commented on #70
![Screenshot 2020-10-09 133716](https://user-images.githubusercontent.com/32500393/95629479-e0248900-0a34-11eb-9d84-d4f5646a0786.png)

[2020-10-10 04:25] chalimar opened #99 "High Fidelity Mobile Screens"
### Overview
Please take site styles and update mobile About and Index Contributor to high fidelity state. I have placed the desktop screens next to them for reference, please feel free to pull from there or the assets panel.

### Action Items
- [ ] Ensure that organization icons are 4 to one row on Contributors page.
- [ ] Swap graphics on about page to colored images. Don't worry about the video

[2020-10-11 20:44] GSnapp commented on #87
[This message is for Bonnie and Jonathan] Sia has difficulty replying to your e-mail (according to her, she keeps getting an e-mail saying that her message failed to deliver), I was wondering if you could invite her to Slack instead, so she can communicate with you guys that way.

[2020-10-11 20:44] GSnapp commented on #50
[This message is for Bonnie and Jonathan] Sia has difficulty replying to your e-mail (according to her, she keeps getting an e-mail saying that her message failed to deliver), I was wondering if you could invite her to Slack instead, so she can communicate with you guys that way.

[2020-10-11 21:01] ddkbky commented on #62
Database description document: https://drive.google.com/file/d/1nFra7PsgAiN56HO6IwJgYqUH1SaXIUr5/view?usp=sharing
The basic framework has been established，and filled in some contents.

[2020-10-11 21:04] chalimar commented on #29
Sharing a screen example of more search attributes expanded.
![Uploading image.png…]()

[2020-10-11 21:21] #99 closed

[2020-10-11 21:23] jsachsman commented on #62
@ddkbky can we add a column to the organization table for github_id ? Would help filling out GH info for orgs and retrieving it. Thanks!

[2020-10-11 21:29] jsachsman commented on #85
Hi @shinjonathan @ExperimentsInHonesty is interested in pointing the DNS to the new location in AWS, did you have any luck getting this up yet?

[2020-10-11 21:39] jsachsman opened #100 "GitHub Repos: Get IDs"
### Overview
Need a table:
ID
GitHub Name
GitHub ID

### Action Items
Please pull this info from the GitHub API and attach to this issue, then cc @ExperimentsInHonesty and @cnk that it's done, thanks!

### Resources/Instructions
https://test-civictechindexadmin.herokuapp.com/swagger/

[2020-10-16 01:13] jsachsman commented on #70
@codewilling please have contributors/affiliated start with the affiliated contributors open and the carrot pointing down, rather than carrot pointing up and affiliated contributors closed

[2020-10-18 19:34] GSnapp commented on #82
![Banner Illustration 1 (CTI)](https://user-images.githubusercontent.com/32406811/96378024-42b90b80-113e-11eb-8425-a2f216b177e1.png)

Here is one of the Potential Banner Illustrations.

[2020-10-18 20:02] GSnapp commented on #82
Here's one potential background for the website:
![CTI Background 1](https://user-images.githubusercontent.com/32406811/96378620-1f905b00-1142-11eb-9bc0-0c0df5083a24.png)

[2020-10-18 20:17] ddkbky commented on #62
![image](https://user-images.githubusercontent.com/60955297/96379471-32a42a80-1144-11eb-8d89-3a0b76260e12.png)
Have added "github_id" to the "organiztion" table.

[2020-10-18 20:32] GSnapp commented on #82
Here's a second potential background for the website:
![CTI Background 2](https://user-images.githubusercontent.com/32406811/96385076-55374300-1146-11eb-990f-2614db97886a.png)

[2020-10-18 20:39] GSnapp commented on #82
![CTI Background 3](https://user-images.githubusercontent.com/32406811/96385225-62a0fd00-1147-11eb-8583-612b20cff625.png)

[2020-10-18 20:52] GSnapp commented on #82
Here's Another potential background for the website:
![Background CTI 4](https://user-images.githubusercontent.com/32406811/96385494-253d6f00-1149-11eb-8e8a-3af806e3a66a.png)

[2020-10-18 21:02] ExperimentsInHonesty commented on #42
This is a list of all the currently outstanding items for the tag generator
- [ ] design
   - [ ] Error state for Project Repository URL
- [ ] development
**Wizard**
Questions and buttons that only show up after each answer is given
- [ ]Is your project affiliated with an organization? (yes/no)
   - [ ]Which Organization? (input box with type ahead to our db) - _conditional on above _ &  allows yo

[2020-10-18 21:04] ddkbky commented on #62
Little progress on Database description document: https://drive.google.com/file/d/1nFra7PsgAiN56HO6IwJgYqUH1SaXIUr5/view?usp=sharing

[2020-10-18 21:07] jsachsman commented on #29
Great job on this issue, let's go ahead and close out and open a new one for new design needs, thanks!

[2020-10-18 21:07] #29 closed

[2020-10-18 21:08] jsachsman commented on #88
@chalimar did the graphics for our insta so that's done

[2020-10-18 21:10] jsachsman commented on #88
@ExperimentsInHonesty need login for Facebook added to 1password account when you have a minute, thanks!

[2020-10-18 21:24] jsachsman commented on #70
When affiliated is open, unaffiliated should be shut and vice versa.

[2020-10-18 21:29] jsachsman commented on #82
@chalimar please get back to @GSnapp with edits on these when you can, thanks!

[2020-10-18 21:36] chalimar opened #109 "High Fidelity Tablet Screens"
### Overview
Please apply site styling to tablet wireframes and ensure content matches with desktop and mobile content.

#### Dependency
Design system Issue #12.

### Resources/Instructions
[Figma - Tablet Screens](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex-Master-Design-File-3.8.20?node-id=990%3A1)

[2020-10-18 22:00] jsachsman commented on #60
@chalimar if you have ideas for background or banner would be great to add them here?

[2020-10-19 23:26] emecas commented on #62
Hi @ddkbky , what are you using to generate the ER diagram?

[2020-10-19 23:37] ddkbky commented on #62
Hi @emecas I am using Lucidchart to create the ER diagram, here is the link: https://lucid.app/lucidchart/a8931e87-430a-49cb-b122-174448651333/view?page=0_0#?folder_id=home&browser=icon
If you need to edit the document, click "request edit access" on the top right corner~

[2020-10-23 01:13] imann24 commented on #87
### **Marker:** 10.22.20

**Progress**
_none so far_

**Blockers**
_<none>_

**Availability**
Weekday evenings and sporadic on weekends. May be unavailable for this Sunday meeting (10/25)

**Working on Next**
Reviewing the Figma mocks + adding basic layout of page

[2020-10-23 21:37] mealthebear commented on #60
Update for Friday, October 23rd, 2020:

1. So far initialized the donation component with breadcrumbs and the title of the page.
2. No blockers so far. There might be some friction with adding the gif to the page but will update when I add it in.
3. I'll be pretty available this weekend to work on and collaborate on issues.
4. This page should be able to be built out by this coming Thursday, Octob

[2020-10-25 18:44] chalimar commented on #12
In Progress:

- [ ] Test WCAG compliance with site colors.
- [ ] Live video or audio content includes captions
- [ ] Text on pages can be resized to 200% while still maintaining form
- [ ] Images are not used where text can achieve the same purpose
- [ ] Pages on the site can be accessed in multiple ways
- [ ] Keyboard focus is visible and clear
- [ ] The language of content is identified in code

[2020-10-25 18:51] chalimar commented on #109
Thank you, @ayusheeaithal for your help! We need to review the screens in Figma mirror app to see if we need to make any additional adjustments. 👍

[2020-10-25 21:15] codewilling commented on #70
Progress: implementing search behavior
Blocks: none
Availability: 2 days
ETA: 10/28

[2020-10-25 21:22] imann24 commented on #87
### [Marker] 10.25.20

_No updates since my last marker (10.22.20)_ (see above)

[2020-10-25 21:40] jsachsman commented on #70
@chalimar please mockup numbers on accordion bars
We may also need to see new screens to talk about what it looks like when there are few or only one result
@codewilling please show numbers, as results are refined numbers reduce or elements disappear if they are currently visible
Please investigate the lift (difficulty) for hiding accordions with no results

[2020-10-25 22:05] jsachsman commented on #60
@mealthebear please change the Hack and Code for links to just be bolded, not links, thanks!
Contact us can go to a civictechindex@hackforla.org mailto for now

[2020-10-25 22:15] jsachsman opened #111 "Home Page - fix "Tag Your Project" button"
### Overview
Tag your project button should link to tag-generator page, just as join the index link does

### Action Items

- [ ] In home page, fix the link for this button

### Resources/Instructions

[2020-10-26 12:32] Yashs911 commented on #111
Hi @jsachsman I would like to work on this.

[2020-10-26 13:03] jsachsman commented on #111
Hi @Yashs911 please come by the Slack channel and introduce yourself, thanks!

[2020-10-26 18:42] mealthebear commented on #60
Update for Monday, October 26th, 2020:

  Progress: The desktop view for the donation page is complete. The next portion that needs to be finished is the mobile view.
  One thing to bring up is that the styling for the breadcrumbs needs to be modified so that they match the Figma styles as
  well as become responsive on mobile.
  Blockers: No blockers at the moment.
  Availability: My schedule is

[2020-10-28 00:25] chalimar commented on #70
Providing some mockups based on the edits above.

![image](https://user-images.githubusercontent.com/34084181/97375916-44d74480-1879-11eb-9ef1-328c53b7e101.png)

![image](https://user-images.githubusercontent.com/34084181/97375921-47399e80-1879-11eb-9f2f-90dcc9bf6062.png)

[2020-10-29 23:57] mealthebear commented on #60
Update for Thursday, October 29th 2020:

- Progress: The donation page is coming along well. The desktop view as well as the mobile view are complete and are now in need of review. A pull request has been opened to merge the donation page onto main. Screenshots will also be posted here.
- Blockers: Really no blockers, just some points to address. Since the totally rad Radical Collaboration page is

[2020-10-30 01:07] imann24 commented on #87
### [Marker] 10.29.20

_Unfortunately, No updates since 10.22.20 (see above)_

[2020-10-30 01:30] shinjonathan commented on #80
https://github.com/orgs/civictechindex/projects/2

[2020-10-30 01:44] jsachsman commented on #70
@codewilling let's keep drawers closed until all have 4 or less (desktop) or all have 2 or less (mobile) please thanks!

[2020-10-30 01:54] jsachsman commented on #60
@mealthebear styling for the former links should just be the same as reg text only higher weight

[2020-10-30 18:49] ExperimentsInHonesty commented on #42
This is the library to use when we are ready to have them add tags via the clipboard feature on the tag generator wizard https://webdesign.tutsplus.com/tutorials/copy-to-clipboard-made-easy-with-clipboardjs--cms-25086

[2020-10-31 00:11] mealthebear opened #113 "Decide which testing suite to use across the project"
### Overview
We need to standardize on a single set of tools for testing all pages on the site so that the user experience consistent and debugging problems is straightforward.

### Action Items

- [x] Show team the testing that has been implemented on donation page.
- [x] Discuss options.
- [x] Publish team decision.

### Resources/Instructions
https://www.cypress.io
https://jestjs.io

[2020-10-31 00:40] mealthebear opened #114 "Establish linting rules to use across the project"
### Overview
We need to set up linters for maintaining consistent and readable code throughout the project.

### Action Items
- [x] Discuss with team which linting technologies & rules to implement.
- [x] Publish rules.
- [ ] Update documentation to include instructions on how to run linting.

### Resources/Instructions
[Code Climate](https://codeclimate.com)
[ESLint](https://eslint.org)
[Prettier

[2020-10-31 01:03] ExperimentsInHonesty commented on #114
@shinjonathan Dennis and I noticed that when codeclimate was installed as a linter in vscode that it didn't generate the errors that we see with the PR for the same page.  It would be good for us to have a way for developers to take care of issues before the PR if possible.

[2020-11-01 21:49] GSnapp commented on #82
Hey here are two possible banner illustrations for the Tag Generator page:
![Banner Illustration Tag Generator Page 2](https://user-images.githubusercontent.com/32406811/97816285-11b1fe00-1c49-11eb-9ee1-cabe8edd606f.png)
![Banner Illustration Tag Page](https://user-images.githubusercontent.com/32406811/97816287-12e32b00-1c49-11eb-9a8c-32580625657c.png)

[2020-11-01 22:00] ddkbky commented on #62
![image](https://user-images.githubusercontent.com/60955297/97816457-4ffbed00-1c4a-11eb-9f32-e89be3747a22.png)
Fix a bug: Delete "language_id" in "project" table.

[2020-11-01 22:01] ddkbky commented on #62
Database description document is almost done: https://drive.google.com/file/d/1nFra7PsgAiN56HO6IwJgYqUH1SaXIUr5/view?usp=sharing

[2020-11-01 22:03] imann24 commented on #87
### [Marker] 11.01.20
Unfortunately, No updates since 10.22.20 (see above)

[2020-11-01 22:07] jsachsman commented on #62
@shinjonathan @emecas will you have time to review the database schema and description doc before this Thursday?
We would like to take a tour through it and discuss how these tables are going to be used at that time.

[2020-11-01 22:30] imann24 commented on #87
**Note from Bonnie**: if no progress by 11/08 -- move back to backlog and un-assign

[2020-11-01 22:42] jsachsman commented on #87
@nrrao recommend borrowing structure from Home or Contributors to get started

[2020-11-01 22:57] jsachsman opened #115 "Search Terms"
### Overview
Determine keywords to use for advertising

### Action Items
Find keywords and determine their popularity and price
Determine information needed for price, i.e. time of day, demographics, location

### Resources/Instructions

[2020-11-01 23:02] jsachsman opened #116 "Search Terms for Advertising"
### Overview
Determine search terms for advertising and, if possible, price

### Action Items

- [ ] Brainstorm search terms
- [ ] Look up popularity for each
- [ ] Info needed here from @ExperimentsInHonesty such as location, demographics, length of campaign, daypart
- [ ] Price out keywords
- [ ] Budget??

### Resources/Instructions
https://docs.google.com/spreadsheets/d/1iAsP17mWVpnJvWMcK65JR1n

[2020-11-01 23:07] JafarIronclad opened #117 "Resolve API Rate limitation"
### Overview
Increase rate limits of GitHub API via dialogue with GitHub. Current limits of 10 searches and 60 general API calls are quickly reached in CTI normal use cases, which badly restricts frequency of detail updates for users.

### Action Items

- [ ] Create writeup showing what we're trying to accomplish, why we need the API rate restriction removed, what we've already done to attempt to

[2020-11-01 23:09] ExperimentsInHonesty opened #118 "Requirements gathering for DB across site"
### Overview
We need to know what features and pages interact with the DB and what fields or other supporting back end will be required so that we can create the infrastructure to support that.

### Action Items
- [x] Identify all pages on the site
- [ ] Notes on each that have backend supported features
- [x] Generate ERD for Django tables missed in #62 (swagger/database access)

### Resources/In

[2020-11-01 23:10] JafarIronclad commented on #117
@JafarIronclad Self assign

[2020-11-01 23:19] emecas commented on #118
**Landing Page**

Main Feature: email sing up
Req: ability to people to submit email address to be capture in a table

**Home Page**

MVP:  no backend required

POST-MVP:

Main Feature: presenting trending topics about Wizard and Search (#62)

Req About Search, save words used by people on the DB and rank them to be presented

[2020-11-01 23:28] JafarIronclad opened #119 "Add Link to Meeting Minutes google drive folder to Reference & Questions bucket"
### Overview
Add Link to CTI Meeting Minutes google drive folder to Reference & Questions bucket.

### Action Items

- [ ] Add [CTI Meeting Minutes](https://drive.google.com/drive/folders/1t-r2xQ871rUq6E-8-jx--nSr4oCGTx9i?usp=sharing) to the "Misc" post.

[2020-11-01 23:37] ExperimentsInHonesty commented on #63
@cnk I was reading back on this issue and it looks like there is a django cms https://github.com/civictechindex/CTI-website-frontend/issues/63#issuecomment-687926957. Before I ask design to come up with a screen design, can you show us what is possible?  I see that we have the following apis
![Screen Shot 2020-11-01 at 3 36 26 PM](https://user-images.githubusercontent.com/37763229/97818577-087c5d8

[2020-11-03 21:08] mealthebear commented on #60
Update for Tuesday, November 3rd 2020:

- Progress: The page is coming along nicely. The org names' styling has been reverted so they don't look like links, and the breadcrumbs styling has been changed as well which cleaned up a little bit of code.
In addition, functions for checking the browser window size have been removed so now the donation page can remain as 1 file.
Furthermore, we the Progra

[2020-11-05 13:29] emecas commented on #62
### Crossing Schema #62 with Requirements gathering for DB across site #118

# | Screen | Table(s) | Notes
-- | ------ | -------- | ------
1 | Landing Page| ? | Q#1 what is the table and column to storage the submitted email address ?
2 | Home Page MVP | | No DB required for MVP
3 | Home Page POST-MVP | search_information | OK - it seems fine to save the words used by people on the DB
4 | About Pa

[2020-11-05 16:36] giosce commented on #62
Some comments/questions on the data model:
I see user_id in search_information table. Is that any user that search for projects or organizations (does it mean this person needs to be logged in)?
If we have user_id I suggest to use it in all the tables where a user enters data (organizations, tags, projects and relationship tables).
Perhaps locations-projects and locations-organizations can be many

[2020-11-05 22:14] GSnapp commented on #82
here are some more possible backgrounds for the website. This time I made sure they are the same size as the web pages.
![CTI Background Art 1](https://user-images.githubusercontent.com/32406811/98302341-10e2da00-1f71-11eb-8fb8-a640105ec091.png)
![CTI Background Art 2 5 5](https://user-images.githubusercontent.com/32406811/98302343-117b7080-1f71-11eb-80f4-116d5b97073c.png)
![CTI Background Art 4](

[2020-11-05 23:16] GSnapp commented on #82
![Uploading CTI Background Art 6.png…]()

[2020-11-05 23:17] GSnapp commented on #82
![CTI Background Art 6](https://user-images.githubusercontent.com/32406811/98307158-feb96980-1f79-11eb-9f08-78231c75ac28.png)

[2020-11-05 23:19] chalimar opened #121 "A/B Test Tag Generator Results"
### Overview
Create two screen variations of the final step of the tag generator to compare effectiveness of UI elements.

### Action Items

- [x] Screen A - Create screen where tags generated have a copy to clipboard icon (see screenshot).
- [x] Screen B - Create screen where instructions are changed to tell users to click to copy tags (see Material UI example). Possibly create another screen to

[2020-11-06 01:58] chalimar commented on #121
Please help circulate this link for [A/B Testing of Tag Generator screens](https://app.usabilityhub.com/do/7186d9360a53/b4fe).

**Version A**
![image](https://user-images.githubusercontent.com/34084181/98316995-68dd0900-1f90-11eb-8a38-c46cbcba05e3.png)

**Version B**
![image](https://user-images.githubusercontent.com/34084181/98317000-6b3f6300-1f90-11eb-8846-093294780263.png)

[2020-11-06 02:34] shinjonathan commented on #117
GitHub's API has a rate limit of 10 searches and 60 general API calls.

We are exploring ways to get a list of issues, project languages on each of these calls, but it requires us to go through those general API calls. We are hoping that we might be able to figure out a good way to increase the rate limit so we can pull the most up to date details on issues and project language.

Our project typic

[2020-11-06 02:58] jsachsman commented on #62
@ddkbky could you and @shinjonathan review @giosce 's comments above for implementation?

[2020-11-06 03:15] jsachsman opened #122 "FAQ Admin Screen"
### Overview
Admin screen for updating FAQ questions and answers

### Action Items
Design
- [ ] Add screenshots from meeting with Cynthia

Product
- [ ] Review FAQ management system comparison and update user flow accordingly.
- [ ] Update this task with user flow.
    - [ ] See previously asked questions.
    - [ ] Ability to review, edit & approve questions
    - [ ] Provide, edit & approve answ

[2020-11-06 03:22] jsachsman commented on #116
Progress: Updated search results on my terms
Blockers: Need more specs to move forward on costs
Availability: Very low
Next week: This is blocked until we have more information on how we're going to target users

[2020-11-06 04:45] shinjonathan commented on #62
I see user_id in search_information table. Is that any user that search for projects or organizations (does it mean this person needs to be logged in)?

We can key off off the GitHub handle or an email address.

If we have user_id I suggest to use it in all the tables where a user enters data (organizations, tags, projects and relationship tables). Agreed. Yes. We'll need to check if we can find r

[2020-11-08 19:15] nrrao commented on #87
Progress;  attaching the screenshots of about page
![mobile-screenshot](https://user-images.githubusercontent.com/25930687/98482076-ca89b700-21cc-11eb-9951-46fccd602ac9.png)
![tablet-screenshot](https://user-images.githubusercontent.com/25930687/98482080-ce1d3e00-21cc-11eb-8e76-0706108e119b.png)
![desktop-screenshot](https://user-images.githubusercontent.com/25930687/98482082-d2495b80-21cc-11eb-90

[2020-11-08 20:31] chalimar commented on #109
11.8.20 - Screens have been reviewed in Figma Mirror; attached are some screenshots when viewed on an 12.9" iPad Pro.

**Attachment:**
[CTI - Tablet Screens.pdf](https://github.com/civictechindex/CTI-website-frontend/files/5507129/CTI.-.Tablet.Screens.pdf)

**Need Screen Revisions:**
- [ ] The font needs to be adjusted (need to look at some recommended sizes for tablet/mobile)
- [ ] Organization i

[2020-11-08 20:33] JafarIronclad commented on #117
Draft 11/8/2020 12:25 PM:

DRAFT 11/8/2020 12:25 PM – Brent Hengeveld - **Not a release candidate**

	Dear GitHub,

	My name is Brent Hengeveld, and I'm contacting you as a member of the open source civic coding community and the Civic Tech Index project (https://github.com/civictechindex/CTI-website-frontend/). We would appreciate your assistance in resolving a technical hurdle we've encountered

[2020-11-08 20:36] chalimar commented on #121
11.8.20

A/B Test has been created. [View Current Test](https://app.usabilityhub.com/do/7186d9360a53/b4fe)

The current test has received 27 responses. I hope that maybe we can continue to recruit a few more responses to come to a solid conclusion. **Can we aim to get 30 responses?**

![image](https://user-images.githubusercontent.com/34084181/98483629-e5552f00-21be-11eb-8f5c-6b3086382497.png)

[2020-11-08 20:38] JafarIronclad commented on #117
Of interest for when we're preparing our communication: Michael Hagger from GH's team responding on a different project, March 8th 2016 on this subject: https://github.com/CocoaPods/CocoaPods/issues/4989

[2020-11-08 21:46] emecas commented on #62
Additional Tables:

![image](https://user-images.githubusercontent.com/849502/98485112-f7949480-21e1-11eb-8ed0-820a3e79f29a.png)

[2020-11-08 22:18] ExperimentsInHonesty commented on #109
Vertical and  horizontal table views requested by devs

[2020-11-08 22:24] ExperimentsInHonesty commented on #121
Lets post the survey in some of these channels https://docs.google.com/spreadsheets/u/1/d/1TuDelZ_pCg1pc9murZaYMsnv7CgEwXvoVtH5Jkt32XM/edit?usp=sharing

[2020-11-08 22:35] ExperimentsInHonesty commented on #62
@giosce asked: If we have user_id I suggest to use it in all the tables where a user enters data (organizations, tags, projects and relationship tables).
@shinjonathan said: Agreed. Yes. We'll need to check if we can find repository owners with the GitHub api.
@ExperimentsInHonesty The GitHub api does not allow you to discover the GithHub repo Admin or org owner, we will have to ask them directly

[2020-11-08 22:43] ExperimentsInHonesty commented on #62
The definition of user from this projects perspective is a visitor to our site, who might use the wizard, or in another way provide data, or one who does not provide any data and uses the site passively.  We may need to rename those roles
visitor and user where visitor is using site without providing detail  and user is providing info while interacting with tools on the site.

[2020-11-08 22:47] ExperimentsInHonesty commented on #62
@ddkbky will talk directly with @cnk time to be arranged by bo slacking cynthia

[2020-11-08 22:47] ExperimentsInHonesty commented on #62
@giosce will post revised questions.

[2020-11-08 22:58] ExperimentsInHonesty opened #124 "Find new orgs using civictechindex topic tag on github"
### Overview
In order to keep our contributors uptodate we need to keep checking to see who is using the tag

### Action Items
- [ ] define what information we need to collect (more to be added after db looked at)
   - [ ] GH handle
   - [ ] GH org id
   - [ ] Name of Org
   - [ ] logo url
   - [ ] parent

### Resources/Instructions
API endpoint docs https://test-civictechindexadmin.herokuapp.com/

[2020-11-08 23:07] ExperimentsInHonesty opened #125 "Breadcrumbs update with each new page"
### Overview
UAT on breadcrumbs across site, whenever pages get added.

### Action Items
- [ ] List all present and future urls in the resource section and check off when each is completely done.
- [ ] check any related pages and see if they need updates.

### Resources/Instructions

[2020-11-08 23:09] codewilling commented on #100
DONE @cnk
`{ name: 'democracylab', id: 5304021 },
{ name: 'codeforamerica', id: 337792 },
{ name: 'codeforanchorage', id: 3999742 },
{ name: 'codefortucson', id: 5103176 },
{ name: 'codeforfresno', id: 13583607 },
{ name: 'code4sac', id: 3915088 },
{ name: 'sfbrigade', id: 3926630 },
{ name: 'codeforsanjose', id: 6627417 },
{ name: 'hackforla', id: 11635254 },
{ name: 'openoakland', id: 2238933 },

[2020-11-08 23:09] ExperimentsInHonesty commented on #60
Please check to see why the font is so big, and review http://civictechindex.org/home for example of how it should be sized

![Screen Shot 2020-11-08 at 3 08 59 PM](https://user-images.githubusercontent.com/37763229/98486815-5e12b600-21d4-11eb-888b-763145033fcc.png)
![Screen Shot 2020-11-08 at 3 09 26 PM](https://user-images.githubusercontent.com/37763229/98486818-6a970e80-21d4-11eb-8bd8-eee6fc0bc

[2020-11-08 23:16] ExperimentsInHonesty opened #126 "Breakpoints for Desktop"
### Overview
We need to define the max upper size of fonts and other elements for desktop/tablet

### Action Items
Please review the following pages
http://civictechindex.org/donate (too big)
http://civictechindex.org/home (the right size)
http://civictechindex.org (too big)

### Resources/Instructions

[2020-11-08 23:18] ExperimentsInHonesty commented on #87
@nrrao Looks good, please update fork and commit, then ask @mealthebear to review, then jonathan shin.

[2020-11-08 23:19] ExperimentsInHonesty commented on #126
![Screen Shot 2020-11-08 at 3 09 26 PM](https://user-images.githubusercontent.com/37763229/98487022-88b13e80-21d5-11eb-8199-2f4b69fd1952.png)
<img width="1440" alt="Screen Shot 2020-11-08 at 3 09 20 PM (2)" src="https://user-images.githubusercontent.com/37763229/98487023-8bac2f00-21d5-11eb-841c-e60d732e6ca4.png">

[2020-11-08 23:21] ExperimentsInHonesty commented on #113
1. Progress
2. Blocks
3. Availability
4. ETA

[2020-11-08 23:22] ExperimentsInHonesty commented on #114
@mealthebear please update progress

[2020-11-08 23:24] ExperimentsInHonesty commented on #63
@chalimar please add screen shots that Cnk showed us, to this issue.

[2020-11-08 23:47] chalimar commented on #63
![image](https://user-images.githubusercontent.com/34084181/98487736-9d8fd100-21d9-11eb-923f-6840ac19dd4b.png)

[2020-11-09 01:05] ExperimentsInHonesty commented on #126
@mealthebear @chalimar said the following in slack: It looks like the fonts for the home page css is set in pixels where as the the fonts for the donate page has vw units. could that be throwing off the sizing? i also am working within a typical desktop width of 1440px and 12 column grid.

Can you check to see if that is it?

[2020-11-09 01:11] ExperimentsInHonesty opened #128 "Page assignments"
### Overview
List all pages so we can make sure we have coverage and people know who they need to handoff too.

### Action Items
| #  | Name  | Page/Feature  | Status  | Handoff  |
|---|---|---|---|---|
| 1  | Chali | Landing  | Launched/font fix needed  | Dennis |
| 2 | Jeff  | Home | Launched  | -  |
| 3 | Nandana | About | In Development  |   |
| 4 | Unassigned | FAQ | Needs Assignment  |   |
|

[2020-11-11 00:23] giosce commented on #124
I think it could be interesting to show the number of repository for each organization (not sure if this issue is the right place to mention this).

[2020-11-12 08:27] mealthebear commented on #114
Update for Thursday, November 12th 2020:

* Progress: I finished setting up all the rules so far that we may need in the ESLint file. Now all that's left to do is clean up the code in the other files of the repo so they pass ESLint and Code Climate.
* Blockers: None at the moment
* Availability: I'll be busy until this Saturday
* ETA: 1 week or less to get these changes merged

[2020-11-12 08:31] mealthebear commented on #113
Update for Thursday, November 12th 2020

* Progress: We had a coding session hosted by @shinjonathan last week on setting up Cypress and a basic test. We didn't touch Jest; however we may decide to incorporate it if it's necessary. We've even been able to merge the branch which introduced Cypress. For the future, we should probably create a new issue(s) for setting up tests throughout the repo's f

[2020-11-12 08:39] mealthebear commented on #60
Update for Thursday, November 12th 2020

* Progress: Styling changes have been made to the donation page as well as the landing page so that the text and images aren't so large. I'll post screenshots of both pages here just in case, as the landing page issue is closed.
* Blockers: None
* Availability: I'll be busy until this Saturday
* ETA: Should take less than a week to get merged in

## Landing

[2020-11-12 20:59] chalimar commented on #121
- Survey has been posted in some of the Slack channel and recirculated through social media.

- This is my proposed solution to compromise between user preference and good UX usability:
![image](https://user-images.githubusercontent.com/34084181/98995884-dcc66680-24e6-11eb-813c-9a0a574323a5.png)

[2020-11-13 01:53] ddkbky commented on #62
tag_type is divided into organization tag and topic tag, the types are not entered by the users, but automatically recognized by the background. (How to identify tag types is a problem. We need to discuss it with Cynthia more. )

All right, since my mother language is not English, I welcome everyone to point out my grammatical mistakes.

Yes, which I meant is exactly github repository url.

What t

[2020-11-13 02:12] ExperimentsInHonesty commented on #121
Looks good.  Lets do it.

[2020-11-13 02:12] #121 closed

[2020-11-13 02:15] ExperimentsInHonesty commented on #60
Thanks for the update

[2020-11-13 02:15] ddkbky commented on #62
Another question from Gio:
If we have user_id I suggest to use it in all the tables where a user enters data (organizations, tags, projects and relationship tables).

Good question. Since we get the projects information form out apis, so users don't need to enter information about projects. We also have collected most of the organizations' information, so, in most cases, users also don't need to e

[2020-11-13 02:16] ExperimentsInHonesty commented on #87
Update: is address Shin's comments

[2020-11-13 02:18] ExperimentsInHonesty commented on #113
Sounds like Jest is post MVP.  So this issue will be moved to the icebox for after the MVP is delivered.

[2020-11-13 02:21] ExperimentsInHonesty commented on #63
@nrrao  - Progress update is that api is working and styling needs to be incorporated.

[2020-11-13 02:22] codewilling commented on #70
Progress: implementing search behavior
Blocks: none
Availability: 4 days
ETA: 11/19

[2020-11-13 02:26] ExperimentsInHonesty opened #132 "Move backend to AWS"
### Dependency
Awaiting ops AWS direction

### Overview
Move from Heroku to AWS

### Action Items
- [x] Provision free tier RDS
- [x] Deployment pipeline to ECS Container Registry
- [x] Run Application without Database Connection string
- [ ] Add environment variables from AWS Secrets Manager
- [x] Configure Task Definition for backend repository
- [x] Security group vs VPC?
- [ ] Create an A Reco

[2020-11-13 02:28] ExperimentsInHonesty commented on #126
Chali and Shin can discuss

[2020-11-13 02:36] ExperimentsInHonesty commented on #118
all content  to be moved to backend wiki https://github.com/civictechindex/CTI-website-backend/wiki

[2020-11-15 00:26] giosce commented on #80
I didn't understand what the authorization issue is. It seems that an authorized user can run 1,800 search API calls per hour and 5,000 for not search API.
api.github.com/search/repositories?q=cloud+language:java
Returns for a project (among other fields)
            "stargazers_count": 6228,
            "watchers_count": 6228,
            "language": "Java",
            "open_issues_count": 18,

[2020-11-15 00:26] giosce commented on #80
I'm not clear what we are storing (and searching) in our DB vs Github.

[2020-11-15 00:31] giosce commented on #62
With @ddkbky and @emecas  we are reviewing and updating the ER diagram and database tables and fields in https://docs.google.com/document/d/1nFra7PsgAiN56HO6IwJgYqUH1SaXIUr5/edit

It's better to refer to that document. Maybe we should load it in github so we version it.

[2020-11-15 00:57] giosce commented on #117
My understanding is that for an authorized user, the limits are 1,800 per hour for search API and 5,000 per hour for repos API.
api.github.com/search/repositories?q=cloud+language:java
returns (among many other fields)
            "stargazers_count": 4175,
            "watchers_count": 4175,
            "language": "Java",
            "open_issues_count": 119,
            "topics": [

[2020-11-15 20:21] chalimar commented on #109
11/15/2020

Will update wireframes after front-end demo with Development.

[2020-11-15 20:22] chalimar commented on #126
11/15/2020

Progress: Spoke to Shin and Ayushee about how we can streamline the design to dev handoff. Will need to watch a demo of development process in order to provide specified assets/units.
Blockers: We are pending a demo for either Monday / Tuesday night.
Availability: My schedule is open for this week leading up to Thursday's meeting.
ETA: As soon as possible.

[2020-11-15 20:23] chalimar commented on #12
Still in process. Some desktop screens are still being stylized to meet contrast and font size standards.

[2020-11-15 20:57] cnk commented on #100
This says you need a stand alone table but that doesn't make sense to me. Shouldn't these be additional columns in the current Organization table?

[2020-11-15 21:53] nrrao commented on #87
Progress
Still working on comments on PR request

Blockers
none

Availability
Medium

Working on Next
Should be able to finish in two dyas.

[2020-11-15 21:56] nrrao commented on #63
Progress
Working on styling
![faq](https://user-images.githubusercontent.com/25930687/99197921-71d59380-2763-11eb-8bc2-f8967c6d6213.png)

Blockers
none

Availability
Medium

Working on Next
Should be able to finish by Thursday

[2020-11-15 22:07] ExperimentsInHonesty commented on #100
@codewilling @shinjonathan @cnk asks a question in the comment above.  please read and respond https://github.com/civictechindex/CTI-website-frontend/issues/100#issuecomment-727635618

[2020-11-15 22:15] ExperimentsInHonesty commented on #132
@shinjonathan please fill out this issue

[2020-11-15 22:26] ExperimentsInHonesty commented on #100
all lowercase is fine.

[2020-11-18 00:56] shinjonathan commented on #132
Provisioned a Free Tier RDS instance for Postgres Database

[2020-11-19 00:10] shinjonathan opened #134 "Used By Section on Home Page requires Uniform logos"
### Overview
The used by section needs uniform logos to be created (with appropriate white space padding baked into the image so that the section renders correctly.

### Action Items
@ayusheeaithal @chalimar will need to form SVG with either no whitespace or exactly 250x250 with the whitespace baked into the PNG.
![image](https://user-images.githubusercontent.com/19783722/99603615-85c60300-29b8-11

[2020-11-20 01:00] mealthebear commented on #60
Update for Thursday, November 19th, 2020

* Progress: I was able to update the styling for both the landing and donation pages. They're in separate PRs so they'll just need to be reviewed.
* Blockers: None
* Availability: I won't be free until Sunday
* ETA: 1 week to get these changes merged.

[2020-11-20 02:11] ExperimentsInHonesty commented on #12
@mealthebear @chalimar @ayusheeaithal to discuss grid system and breakpoint definitions for developers

[2020-11-20 02:29] emecas commented on #132
## Work Sessions:

- [x] Session 11/12/2020 17:15 - 18:45   -   @shinjonathan  @emecas
- [x] Session 11/17/2020 16:50 - 18:59   -  @codewilling  @shinjonathan  @emecas
- [ ] Next Session   11/24/2020 16:50 - 18:59

[2020-11-20 02:36] ExperimentsInHonesty commented on #63
@cnk @shinjonathan We need to decide if

1. the data for the FAQs is going to get pulled all at once (would need a new api to pull them all) after the api call for the most frequently is pulled.  then when search happens is happening locally
or
2. We get an api that instead takes in search and processes it in the back end and delivers results based on search.

Which is preferable and why?

Bonnie

[2020-11-20 02:55] ExperimentsInHonesty commented on #132
@shinjonathan let me know when I can kill the heroku account.  Or which issue that is in

[2020-11-20 21:08] shinjonathan commented on #63
1) At first pass through (since I wouldn't imagine there to be too many questions) we can just have the api return all of the results.

2.) The API can expose a query parameter for the search string and spit back a more specific result.
/faq?q=Search => [searchResult, searchResult]

[2020-11-22 18:59] chalimar commented on #63
FAQ Design for mobile now in Figma file.

![image](https://user-images.githubusercontent.com/34084181/99914337-92e13b80-2cb1-11eb-8e68-d0f690454c39.png)

[2020-11-22 20:49] JafarIronclad commented on #111
Update 11/22/2020:
-Code draft prepared, testing blocked by issue on home setup where Docker is only loading the Landing page for the project given the docker setup parameters in the Readme. Going to continue efforts to get my test setup working this week.

[2020-11-22 22:24] giosce commented on #62
There are still many open questions. The ER diagram at https://docs.google.com/document/d/1nFra7PsgAiN56HO6IwJgYqUH1SaXIUr5/edit needs to be confirmed and questions clarified:
What is user table?
What is user_id?
Which page uses the project table?
How is user_organization table used?
Shouldn't search_information table have a counter and not having user_id?

Emerson saw the following tables in the

[2020-11-22 22:47] JafarIronclad commented on #111
Update 11/22/2020 Post Meeting:
Blocking issue resolved thanks to help from @mealthebear in setting up node.js and npm. Now able to test full website and code changes.

Draft code resolves link issue but retains some style defaults. Will resolve style issue before commit and PR:

Original (src/home/index.js line 29):
        <button className={`${classes.btn} ${classes.black}`}>Tag Your Project</b

[2020-11-23 00:39] ddkbky commented on #62
I generate a sharable link of database schema in Lucidchart, all collaborators can edit by this link: https://lucid.app/lucidchart/invitations/accept/84645e05-399e-41a8-bb11-4e24abe77e0a . If it still doesn't work, let me know. @giosce

[2020-11-23 01:44] cnk commented on #62
I think the data_organization table you see in the Django database corresponds to the Organization table in the ER diagram EXCEPT that the github_link is in the data_link table - with type "GitHub". Some projects also have website, twitter, facebook, or meetup links. It would be possible to model those as columns within the organization table but that isn't what I chose to do.

---

The data_ pref

[2020-11-29 06:39] cnk commented on #63
We have an API endpoint that pulls all FAQs. [This PR](https://github.com/civictechindex/CTI-website-backend/pull/27) adds a search endpoint that uses Postgres's full text search capability via a feature built into Django Rest Framework

[2020-11-29 20:48] cnk opened #138 "Evaluate CMS options"
We have a number of content pages. It would be convenient if the project or product manager could update those pages using a content management system rather than having to commit code.

We are already using Django for our backend, so a Django-based CMS is one option. @cnk is experimenting with Wagtail-Pipit.

[2020-11-29 21:57] JafarIronclad commented on #111
Update 11/29/2020:

Ready for PR. Need assistance with resolving git issues (first commit and pull request for branch; encountering a few issues not resolved by readme file).

I've also noticed that the index.js latest revision in Github's code section for the main branch by @shinjonathan looks different from the directory I see (his latest commit has only index.js, mine has both index.js and styl

[2020-11-29 22:14] ExperimentsInHonesty commented on #109
@chalimar said that Shin is helping to identify a design system and styling that will enforce consistency throughout the site.

[2020-11-29 22:35] ExperimentsInHonesty commented on #100
@shinjonathan added you as a reviewer to cnks backend pull request

[2020-11-29 22:36] codewilling commented on #70
Progress: implementing count behavior
Blocks: none
Availability: 4 days
ETA: 12/3

[2020-11-29 22:37] ExperimentsInHonesty commented on #60
Waiting on @codewilling @nrrao to do review before sending to shin

[2020-11-29 22:39] ExperimentsInHonesty commented on #87
@mealthebear are you still reviewing https://github.com/civictechindex/CTI-website-frontend/pull/129

[2020-11-29 22:54] ExperimentsInHonesty commented on #63
@shinjonathan added you onto the Added full text search to FAQ api civictechindex/CTI-website-backend#27 PR

[2020-11-29 22:58] #111 closed

[2020-11-29 23:15] ExperimentsInHonesty commented on #138
@cnk to talk to john darragh and tyler thome

[2020-12-04 02:18] cnk commented on #138
1. Progress: Built initial project and started to play with it. No progress since Sunday demo
2. Blocks: Need to talk to people with more React architecture experience
3. Availabilty: a little
4. ETA: long

[2020-12-04 02:19] ExperimentsInHonesty commented on #109
- [ ] See what existing components have already been built out, and add them to the existing figma file with the same naming convention
1. progress: some components already built out
2. Blocks: questions about existing css, etc. / need to connect with developers
3. Availability: free for the weekend
4. ETA: end of next week.

[2020-12-04 02:21] ExperimentsInHonesty commented on #14
Meeting every sunday after cti general meeting and outline function of each feature/button and link.

[2020-12-04 02:22] ExperimentsInHonesty commented on #70
@codewilling update please

[2020-12-04 02:29] shinjonathan commented on #132
Removed CTI-Frontend app from Heroku.

Successfully deployed CTI-backend. Working with ops group to test out terraform using their VPC, ECS & RDS configs.
Will require about 2 more dev sessions to see this working.

[2020-12-04 02:32] ExperimentsInHonesty commented on #87
progress: refactoring and rebuilding
blocks: none
Availability: good for this week
ETA: next weeks meeting

[2020-12-04 02:39] ExperimentsInHonesty commented on #117
todo is to validate what we learned so far and find the documentation that validates things like rate limits.

[2020-12-04 05:12] Olivia-Chiong commented on #88
I've added links to the [board](https://github.com/civictechindex/CTI-website-frontend/projects/1#card-50593184) as stated above and checked the logos. Only lacking the [Facebook](https://www.facebook.com/civictechindex) background. Everything else checks out.

@ExperimentsInHonesty if you want to add me as an moderator to the Facebook page (I've liked the page and sent a message to it), I can add

[2020-12-06 17:50] GSnapp commented on #82
Banner for the "Make a Donation" page:
![CTI Banner Illustration 1](https://user-images.githubusercontent.com/32406811/101287952-268a3000-37b9-11eb-80c4-d67c2606e329.png)

[2020-12-06 17:51] GSnapp commented on #82
2 Possible Banners for "Tag Generator" page
![CTI Banner Illustration 3](https://user-images.githubusercontent.com/32406811/101287966-40c40e00-37b9-11eb-8518-4306084c7720.png)
![CTI Banner Illustration 2](https://user-images.githubusercontent.com/32406811/101287974-4a4d7600-37b9-11eb-8292-276802be1925.png)

[2020-12-06 22:08] codewilling commented on #70
Progress: match mockup designs styling
Blocks: none
Availability: 5-10hrs
ETA: Thursday 12/10

[2020-12-06 22:15] baagundi commented on #70
In the search results, display the number of results on the parent but don't display the child results unless there is only one parent.

[2020-12-06 22:16] nrrao commented on #87
progress: almost done refactoring and rebuilding. Writing test for the page.
blocks: none
Availability: good for this week
ETA: Thursday

[2020-12-06 22:25] baagundi commented on #70
@celeste-hub Will provide the use cases for this issue.

[2020-12-06 22:31] baagundi commented on #100
@codewilling will do PR review, reach out to Shin on Slack

[2020-12-06 22:33] baagundi commented on #60
@codewilling and @nrrao to complete review.

[2020-12-06 22:36] baagundi commented on #87
Please ask Brent to review when complete.

[2020-12-06 22:40] nrrao commented on #87
progress: refactoring and rebuilding.Needs to review.
blocks: none
Availability: good for this week
ETA: next weeks meeting

[2020-12-06 23:10] captain-nimo commented on #42
Discussion to have with design team:
- [ ] What happens when an organization is not in our database.

[2020-12-06 23:23] Baleja commented on #5
Refer to this to communicate density/ activity.

<img width="732" alt="Screenshot 2020-12-06 at 15 21 56" src="https://user-images.githubusercontent.com/75342357/101296187-e8036e00-37d6-11eb-8aa9-490eeb383db4.png">

[2020-12-06 23:27] Baleja commented on #122
@chalimar Please add the screenshots you took while Cynthia was demoing the Django backend for the FAQ

[2020-12-07 01:00] Olivia-Chiong opened #141 "Create 404 Page"
### Dependency

 #12

### Overview
Create a 404 error page for when a webpage cannot be found or does not exist

### Action Items

Product
- [ ] Create copy and align on wording for the page

Design
- [ ] Create mock up of standard 404 page with header and footer
- [ ] Add a link to the specific Figma page to resources section
- [ ] Remove the UI/UX label and add front end label

Development
- [ ]

[2020-12-07 01:13] Olivia-Chiong opened #142 "How to Retrieve More Results on Project Search page"
### Overview
Create text to guide users on how to retrieve more results on project search page

### Action Items
Product
- [x] Draft text to be used at bottom of project search page to guide users on how to retrieve more results
       - Potential possibilities include changing keywords, suggestion to look directly in github or link to how to upload repository into civictechindex.

Design
- [x] Re

[2020-12-07 21:49] Baleja commented on #142
Text Draft:
_Can't find what you are looking for?_
**Tip:** Try changing the keywords associated with your project, this search includes the tag 'civictechindex' so look directly on GitHub to see if your project appears without this tag.
**Need help?** Check out [this link] on how to upload your repository to civictechindex

[2020-12-08 01:12] #100 closed

[2020-12-08 02:54] #60 closed

[2020-12-10 21:44] nrrao commented on #87
progress: Reviewed code with @shinjonathan and we also addressed fixing some font sizes with @chalimar
                will address the PR request comments by Sunday.
blocks: none
Availability: good for this week
ETA: next weeks meeting

[2020-12-10 21:52] nrrao commented on #63
progress: I finished refactoring will be committing my code. Will start working on the search component once [API faq PR ](https://github.com/civictechindex/CTI-website-backend/pull/27) is approved.
blocks: none
Availability: Medium
ETA: next weeks meeting

[2020-12-10 22:11] baagundi opened #143 "Create a one sheet document for the Civic Tech Index Project"
### Overview
Create a 1 pager document for the Civic Tech Index project by providing a brief description of the project and highlighting the goals and 6 month roadmap.

### Action Items
- [x] Create an initial draft
  - [x] Have product team review draft
  - [x] Finalize draft
- [x] Upload to the appropriate platform.

### Resources/Instructions

[Current One Page](https://docs.google.com/document

[2020-12-10 22:19] baagundi commented on #143
[Civic Tech Index Project One-Sheet.docx](https://github.com/civictechindex/CTI-website-frontend/files/5675939/Civic.Tech.Index.Project.One-Sheet.docx)

[2020-12-10 22:20] baagundi commented on #143
@ExperimentsInHonesty, @celeste-hub, @Olivia-Chiong
Please review initial draft and provide your feedback.

[2020-12-10 22:38] baagundi opened #144 "Define Objectives and Key Results (OKRS) for CTI"
### Overview
Define Objectives and Key Results for the project

### Action Items
-[] Create initial draft.

### Resources/Instructions

[2020-12-10 22:43] baagundi opened #145 "Create a Roadmap"
### Overview
Create a roadmap for Civic Tech Index Project

### Action Items
- [ ] Understand the objectives and vision for the product.
- [ ] Identify which roadmap tool to use.
- [ ] Understand the MVP
- [ ] Outline future features for post MVP.
- [ ] Create a roadmap for Civic Tech

### Resources/Instructions

[2020-12-10 22:55] Olivia-Chiong commented on #143
I searched the Google drive and found Bonnie's original one pager [here](https://docs.google.com/document/d/19yXIx6xcm4IW5Dun5O-a-t8J7bmvWQN-mBNIlsY-BHc/edit) I think its worth comparing both and pull in some of the elements into an updated doc.

[2020-12-11 01:20] chalimar commented on #42
Need to discuss with team: Adding a [stepper](https://material-ui.com/components/steppers/) for the wizard for better UX and progress indication.

[2020-12-11 01:38] rsridhar39 commented on #122
Progress: research on FAQ systems underway
Blocks: none
Availability: med
ETA: end of day 12/17.

[2020-12-11 01:46] chalimar commented on #142
Providing updated screen with the copy above:

![image](https://user-images.githubusercontent.com/34084181/101850958-97aa4a00-3b0f-11eb-91df-ca0022d0a938.png)

[2020-12-11 01:50] chalimar commented on #142
Also wanted to note: can Dev utilize this [pagination style](https://material-ui.com/components/pagination/#pagination) when building the page?

![image](https://user-images.githubusercontent.com/34084181/101851313-27e88f00-3b10-11eb-9581-da0a1574ffe8.png)

[2020-12-11 01:58] codewilling commented on #70
Progress: working on styling, refactoring code to reflect data from organization in dropdown.
Blocks: time
Availability: 5hrs
ETA: Thursday 12/11

[2020-12-11 02:02] chalimar commented on #141
Progress: Looking at 404 page examples
Blocks: none
Availability: Next three days
ETA: 12/13

[2020-12-11 02:14] thesamwong commented on #141
12/10 Updates:
Find examples of 404 pages that would be related to the target audience - i.e. project developers
Create copy for the page

[2020-12-11 02:16] Baleja commented on #141
`<iframe src="https://giphy.com/embed/VwoJkTfZAUBSU" width="332" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/89a-eightninea-VwoJkTfZAUBSU">via `GIPHY</a></p>`

[2020-12-11 02:17] Baleja commented on #141
https://media.giphy.com/media/VwoJkTfZAUBSU/giphy.gif

[2020-12-11 02:17] thesamwong commented on #109
TBD: Chali to connect with development, still pending bringing revisions over

[2020-12-11 02:28] ExperimentsInHonesty commented on #141
My suggestion for MVP language:
"Opps, the page you are looking for has moved or does not exist."

If we want to have something random - post MVP
ideas are fillmurray with the following text

"Opps, the page you are looking for has moved or does not exist."
Please accept these random pictures of Bill Murray as our consolation gift"
<img width="907" alt="Screen Shot 2020-12-10 at 6 22 57 PM" src="h

[2020-12-11 02:30] thesamwong opened #146 "Create Use Cases for Key Words on Contributor Screen"
### Overview
We need to identify the valid key words (use cases) a user would use to search in the contributor screen - affiliated contributors.

### Action Items

Product
- [x] Build use case combinations for specific key words on the contributors' screen
- [x] Identify use cases / key words that do not currently exist (and other edge cases) and identify the expected behaviours

### Resources/Ins

[2020-12-11 03:01] thesamwong commented on #132
Bonnie asked this to be paused for higher priority AWS project.

[2020-12-11 03:08] thesamwong commented on #50
12/10 Updates
Put updated slide deck on an automatic loop for the About page

[2020-12-11 03:11] thesamwong commented on #87
@nrrao Where the placeholder of the video is now - please embed this updated slide presentation:

[Updated deck](https://docs.google.com/presentation/d/1VvBj-KosY9tTw-ROAB9R7g-EVh-MDhSefUkLxtdtWnI/edit)

[2020-12-11 04:09] Olivia-Chiong commented on #73
Product question - When a user runs into an issue, we are asking them to join our slack to report the issue. Is this the best UX and what are the alternatives?

[2020-12-12 10:17] Olivia-Chiong commented on #87
@nrrao If you can try to use this video where the placeholder is and put it on loop, that would be great as well - [Presentation with Music](https://drive.google.com/file/d/1VLIA4rwpdK9NV00BouyjDlar_T0dA2fz/view?usp=sharing)

[2020-12-12 10:19] Olivia-Chiong commented on #50
Converted the slide deck into a [video with music](https://drive.google.com/file/d/1VLIA4rwpdK9NV00BouyjDlar_T0dA2fz/view?usp=sharing).

[2020-12-13 21:05] captain-nimo commented on #42
Work in progress:

-  Yes Organization

- [ ] Step#0: ‘Tag Generator’ page is not available.
- [ ] Step#1: We should show the tag generator page without any radio button being selected.
- [ ] Step#2: User selects radio button ‘Yes’.
- [ ] Step#3: ‘Which organization’ drop-down and ‘Project Repository URL’ text-box should appear.
      - [ ] Question: Should we show ‘Select Organization’ as default

[2020-12-13 21:32] anirbank91 commented on #42
-  No workflow

- [ ] Step#1: User selects radio button ‘No’.
- [ ] Step#2: ‘ ‘Project Repository URL’ text-box should appear.
     - [ ] We should show empty ‘Project Repository URL’ textbox
     - [ ] Need to add: error state if user ‘Project repository URL’ is invalid
     - [ ] Need to add: error state if Project Repository URL’ text-box is empty and user clicks on ‘Find Project’ button,

[2020-12-13 22:08] celeste-hub commented on #141
@chalimar use the language "Opps, the page you are looking for has moved or does not exist." for the 404 page.
The page doesn't need any content, use the standard header and footer.

[2020-12-13 22:20] JafarIronclad commented on #87
Minor detail observations on code and page review of current PR code branch:

1. Should instances of the "Tag your project" button site-wide be capitalized "Tag your Project" to match our casing on other site links and buttons?

2. Should the mouse cursor change to pointing finger on hover over this button? Currently no mouse pointer change on hover.

[2020-12-13 22:44] celeste-hub opened #147 "Create link checker for contributor urls"
### Overview
We need to know in an automated way when links don't resolve so we can update them manually.

### Action Items

Product
- [ ] Define the behaviour of the broken link
Product wants the script to run weekly and to open an issue which is a link report - MVP > everything is good or here are the broken links. Review post MVP.

Design

Development
- [ ] First draft - Provide output of link

[2020-12-13 23:02] celeste-hub commented on #42
@ExperimentsInHonesty suggested for the entire flow chart

[2020-12-13 23:03] captain-nimo commented on #42
Also, we'll add one document for the whole user flow.

[2020-12-13 23:15] Olivia-Chiong commented on #87
[Updated video](https://drive.google.com/file/d/1O4BNDtP1XklevOx9_OBwG12bZUCdeWZu/view?usp=sharing
) that can be used while Product to make a video with voiceovers.

[2020-12-13 23:21] nrrao commented on #63
Need to work on implementing the counter for faq.
Will display 5 questions of faq
Also, implement pagination for search.

[2020-12-13 23:37] celeste-hub commented on #88
@mariastudnicka to double check and close the issue was completed.

[2020-12-13 23:46] celeste-hub commented on #142
@chalimar please add pagination to
- [ ] FAQ
- [ ] Individual contributor page
- [ ] search projects

[2020-12-13 23:56] celeste-hub commented on #50
Product will discuss and create videos with voiceovers for A/B testing.

[2020-12-14 00:04] celeste-hub opened #148 "Update tag your project on homepage to the correct link"
### Overview
[Tag your project button](http://civictechindex.org/taggenerator) on homepage is broken

### Action Items

Development
- [ ] Update tag your project button on landing page to this [link](http://civictechindex.org/tag-generator)

[2020-12-14 00:14] celeste-hub commented on #143
All product manager to brainstorm on what needs to go on the one pager (https://docs.google.com/document/d/19yXIx6xcm4IW5Dun5O-a-t8J7bmvWQN-mBNIlsY-BHc/edit) and [Civic Tech Index Project One-Sheet.docx](https://github.com/civictechindex/CTI-website-frontend/files/5675939/Civic.Tech.Index.Project.One-Sheet.docx)

[2020-12-14 22:01] ExperimentsInHonesty commented on #141
@chalimar  We have unassigned you from this issue. Please leave this for a junior UI person to mock up.

[2020-12-16 02:59] JafarIronclad commented on #148
I'm taking a look at the Landing page (localhost 3000 without any additional page linking) and not seeing any button for the tag generator. There's also no code reference the tag generator in the landing.

Is the UI element missing, or is the UI element present but with incorrect link behavior?

My screen attached for reference:
![landing issue148](https://user-images.githubusercontent.com/2525943

[2020-12-16 03:04] JafarIronclad opened #150 "Inconsistent Mouse cursor hover behavior on buttons and links"
### Overview
On some buttons and URL's, the mouse pointer changes to pointer hand (I.E. Footer links, Landing Page buttons); in other instances, the mouse pointer does not change (Tag Your Project, About, etc.). This issue is site-wide, and I recommend this issue be checked for closure once style file consolidation is completed and in polishing.

### Action Items

- [ ] Define intended mouse point

[2020-12-16 06:25] Olivia-Chiong commented on #50
Sample video with voiceover - https://soapbox.wistia.com/videos/JbHYhpg6rd

I think that for MVP, getting different team members to record something similar to this and piecing it together would be great. This was filmed using soapbox by wistia (free with paid upgrades) and I have it as a Chrome extension.

I do like the idea of a professionally done video production but am concerned that we don't

[2020-12-16 06:43] Olivia-Chiong commented on #143
I've made my comments and suggestions on this [file](https://docs.google.com/document/d/1YSc5eYYGSuWAAfGQL0difJDtHW8T-jHSSotRQDU5IyE/edit) created by Celeste. I suggest we all comment on this and use this as a working document until we get a final version.

[2020-12-16 18:38] celeste-hub commented on #14
@ExperimentsInHonesty  will go through every issue and hide what is resolved.

[2020-12-16 22:08] mariastudnicka commented on #88
All links are active. All links link to CTI pages except Twitter which links to [Hack for LA page](https://twitter.com/hackforla)

[2020-12-16 22:27] mariastudnicka commented on #143
I left a few comments. I feel that the intro needs a little more tightening up to express concise intent.

[2020-12-17 04:52] Baleja commented on #143
Shall we add a deadline to this task?

I propose that we finish this to present to Bonnie on Sunday.

[2020-12-18 00:07] rsridhar39 commented on #122
Progress: research still a WIP. Created a summary document for reference:
[CTI_FAQ_Page_Features.docx](https://github.com/civictechindex/CTI-website-frontend/files/5712792/CTI_FAQ_Page_Features.docx)
Blocks: unable to continue on the project (Visa situation is a blocker - notified Bonnie)
Availability: not available > please re-assign this task to another PM
ETA: N/A

[2020-12-18 00:14] captain-nimo commented on #42
Accumulated @anirbank91's and my work on the ticket in one document (see my comment above). Will meet @anirbank91  again and create a flow chart for the workflow.

[2020-12-18 02:06] Olivia-Chiong commented on #132
Put this on hold until after Jan 5 GA elections

[2020-12-18 02:07] codewilling commented on #70
Progress: finishing styling and adding Cypress code coverage.
Blocks: none
Availability: 6hrs
ETA: Friday 12/18

[2020-12-18 02:11] nrrao commented on #87
PR request was approved and merged.

[2020-12-18 02:21] nrrao commented on #63
[PR ](https://github.com/civictechindex/CTI-website-backend/pull/27) is approved for full-text search.
progress: Need to implement counter for faq
blocks: none
Availability: Medium
ETA: one week

[2020-12-18 02:27] celeste-hub commented on #109
Screens need to be updated with the contributor screen on tablet and mobile.

[2020-12-18 02:35] Olivia-Chiong commented on #87
@nrrao will download images again and update them accord to the Figma.

[2020-12-18 02:50] Olivia-Chiong commented on #146
@celeste-hub will work on it after the code is updated.

[2020-12-18 02:56] Olivia-Chiong opened #151 "Twitter link on landing page is bugged"
### Overview
Twitter link on landing page is bugged. Goes to HackforLA Twitter instead of CTI Twitter.

### Action Items
Development
- [ ] Fix link for Twitter on landing page

### Resources/Instructions
http://civictechindex.org/
https://twitter.com/civictechindex

[2020-12-18 02:56] Olivia-Chiong commented on #88
@chalimar will provide new cover image for Twitter.

[2020-12-18 02:59] Olivia-Chiong opened #152 "Fix social media links on website footer"
### Overview
Check the footer to ensure social media links are going to the right pages.

### Action Items

Product
- [ ] Twitter
- [ ] Facebook
- [ ] Instagram
- [ ] Github
-
Development
- [ ] Fix all bugs done

### Resources/Instructions
http://civictechindex.org/About

[2020-12-18 03:05] JafarIronclad commented on #148
Acknowledged issue targeted Home page, not landing page.

/taggenerator links to be updated to /tag-generator.

ETA: By Sunday meeting.

No blockers.

[2020-12-18 03:08] Olivia-Chiong commented on #150
@chalimar to check the international standard for pointy hand or arrow.

[2020-12-19 18:53] giosce commented on #143
I added some comments on the doc in Google drive.

[2020-12-19 18:58] giosce commented on #146
Is this for testing? I think the user can search for anything, for example "mickey mouse".
I have been a little curious, what do we search against? Name and Location? I don't think we have Organization Description (which could enhance the search).

[2020-12-19 19:18] giosce commented on #122
I can't locate FAQ in the database schema doc, the only reference I can see is from the API swagger.
![image](https://user-images.githubusercontent.com/16311029/102697378-6d3d4880-4203-11eb-97d1-f19a6c4f09a2.png)

1. The Admin screen should be accessible only by the CTI team with a username and password login.
2. The screen should allow for CRUD (Create, Read, Update, Delete) operations. Instead d

[2020-12-20 16:53] anirbank91 commented on #42
[CTI_TagGenerator_workflow.pdf](https://github.com/civictechindex/CTI-website-frontend/files/5721208/CTI_TagGenerator_workflow.pdf)

Added the Tag generator flowchart.

[2020-12-20 18:00] FarzanaPrianka commented on #141
Getting familiar with Figma. Will complete by December 27 (Sunday).

[2020-12-20 19:16] nrrao commented on #87
Updated the images from Figma and created [Pull Request](https://github.com/civictechindex/CTI-website-frontend/pull/155)

[2020-12-20 19:21] nrrao commented on #63
progress: started working on Counter for FAQ
blocks: none
Availability: Medium
ETA: one week

[2020-12-20 19:51] giosce commented on #42
Comments on pdf:
I think the second step should be "Select Organization" instead of "Add Organization".
If user clicks "Find Project" without typing in anything, error message
If user clicks "Find Project" after typing something there are 2 paths, project found and project not found.
If project not found, error message
If project found, retrieve it from Github and there are 2 paths. Project has ta

[2020-12-20 20:11] chalimar commented on #142
Update on pagination:

Style developed for active button for current page / disabled button state. Need to implement style for mobile and tablet.

![image](https://user-images.githubusercontent.com/34084181/102723387-61fa2380-42bc-11eb-947f-5a0b452ded2d.png)

![image](https://user-images.githubusercontent.com/34084181/102723393-68889b00-42bc-11eb-9c95-efae210f689e.png)

[2020-12-20 21:38] Olivia-Chiong commented on #50
Product has agreed to revise the presentation slides to be more product focused. After which we will get team members to record a video and montage it together.

[2020-12-20 21:50] chalimar commented on #88
Providing two options for the twitter banner. Assets have been updated to match our current branding and can be found [here.](https://drive.google.com/drive/folders/1GuHViHT9PR0-gxr2gLJvApkEGIxbipX_?usp=sharing) Can we please swap out profile images and banners?

![image](https://user-images.githubusercontent.com/34084181/102725186-a6d88700-42c9-11eb-9d55-87e54dc9c6d7.png)

![image](https://user-i

[2020-12-20 21:53] codewilling commented on #70
Progress: none
Blocks: none
Availability: 2hrs
ETA: Sunday 12/20

[2020-12-20 21:54] JafarIronclad opened #157 "Resolve Unhandled Exception with "Notify Me" button on Landing page"
### Overview
Upon clicking Notify Me button on Landing page (whether or not a e-mail address was given in the entry field):
In public build: Nothing happens.

In developer build: The following exception is thrown:
     ×
Unhandled Rejection (TypeError): Cannot read property 'data' of undefined
(anonymous function)
C:/Users/jafar/GitHub-Repositories/CTI-website-frontend-jafar/src/pages/Landing/inde

[2020-12-20 22:14] Olivia-Chiong commented on #63
@nrrao Can you please share the URL for the faq page?

[2020-12-20 22:20] Olivia-Chiong commented on #42
@giosce to connect with Thad for Mural account to create team collaborated visual workflow.
Updates expected Thursday.

[2020-12-20 22:26] giosce commented on #42
This is the Miro board https://miro.com/app/board/o9J_la6PMkY=/

I think we can use it for more than one feature if useful.

[2020-12-20 22:32] Olivia-Chiong commented on #146
@celeste-hub will use the Google Sheet to create this.

[2020-12-20 22:54] Olivia-Chiong commented on #122
@cnk Can you please take a look at the above and provide your feedback/advice please?

[2020-12-20 23:05] Olivia-Chiong commented on #75
Will change contributing file with content for README and link the content accordingly.

[2020-12-20 23:31] JafarIronclad commented on #157
Testing to confirm that issue is due to code-blocker issue on browser. If yes, issue to be closed without PR.

No blockers.

Next update by 12/22.

[2020-12-20 23:44] Olivia-Chiong commented on #150
@mealthebear will change all links to finger pointers.

[2020-12-21 00:02] Olivia-Chiong commented on #15
@GSnapp can you drop the illustrator file for [this image](https://drive.google.com/file/d/1jsHihqE0ahp0y39Sp2kZR05I6RwjsFUj/view?usp=sharing) into the Google Drive please? Thank you.

[2020-12-21 00:04] Olivia-Chiong commented on #80
Added dependency #117

[2020-12-21 00:08] Olivia-Chiong commented on #43
This page is no longer part of the site.

[2020-12-21 00:12] giosce commented on #42
Draft of the flowchart is available at https://miro.com/app/board/o9J_la6PMkY=/

[2020-12-21 00:23] giosce commented on #122
I think we can use the DJango Admin interface. I'd like to see in the table of all records the view_count. A couple of limitations (not deal breakers), would be nice to:
* Been able to search by "live" (this is a little serious limitation)
* Been able to search and sort by view_count
* Been able to search by ID
* Is it possible to recover delete items? (Gio will test it)

[2020-12-21 00:24] Olivia-Chiong opened #158 "Update menu in header to reflect new site navigation"
### Overview
We need to change the menu in the header to reflect the updated site navigation

### Action Items
- [ ] Update header to remove "Searching the index" and "Adding projects to the index"

### Resources/Instructions
Link to [Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File---3.8.20?node-id=3765%3A15528)

[2020-12-21 00:27] Olivia-Chiong opened #159 "Update Header in Figma to show drop downs."
### Overview
We need the header in Figma to show the dropdown links so the developers will know what the menus contain.

### Action Items
- [ ] Make a copy of the [header](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A15528) in Figma
- [ ] Add dropdowns from site map into the menu

### Resources/Instructions
[Figma page to work on](https://www

[2020-12-21 00:30] Olivia-Chiong opened #160 "Update menu in footer to reflect new site navigation"
### Overview
We need to update the menu in the footer to reflect the new site navigation.

### Action Items
- [x] Please update current links to the footer

### Resources
[Current Link](http://civictechindex.org/home)
[Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File---3.8.20?node-id=3765%3A15527)

[2020-12-21 00:44] Olivia-Chiong commented on #118
See [slide deck](https://drive.google.com/file/d/19fDxAb8EhmL9ITwmfdcX8eK_X1U0N2SZ/view?usp=sharing) for details that are not yet on Figma.

[2020-12-21 00:55] Olivia-Chiong commented on #118
Putting a placeholder [here](https://github.com/civictechindex/CTI-website-frontend/issues/62#issuecomment-722378203
) for database issue #62

[2020-12-21 01:00] Olivia-Chiong opened #161 "Add annotations to Figma pages from Google slide deck"
### Overview
We need to merge the information from the google slide deck into Figma

### Action Items
Add annotations to Figma pages from Google slide deck

### Resources/Instructions
[Google Slide Deck](https://docs.google.com/presentation/d/19fDxAb8EhmL9ITwmfdcX8eK_X1U0N2SZ/edit?rtpof=true)

[2020-12-21 01:03] Olivia-Chiong commented on #77
This issue won't be worked on as it is no longer relevant.

[2020-12-21 01:03] #77 closed

[2020-12-21 01:41] Olivia-Chiong commented on #18
This issue is no longer relevant.

[2020-12-21 01:41] #18 closed

[2020-12-21 02:08] Olivia-Chiong opened #162 "Create all pages on website based on site map"
### Dependency
Figma Cleanup: Integrate Site Map into Master File #68

### Overview
We want to create all pages on the website based on the site map to make it easier for developers to start working on pages and prevent error links.

### Action Items
Product
- [x] Discuss with Jonathan to see if this is feasible
- [x] Make decision on page naming conventions and what holding pages should display
-

[2020-12-21 02:11] Olivia-Chiong commented on #61
Create recruitment form for junior UX/UI and product manager.

[2020-12-21 02:12] Olivia-Chiong opened #163 "Create milestones for project board"
### Overview
We want to create milestones for project board to have a better overview of the progress.

### Dependency
Product needs to go through all the issues and define what the milestones represent.

### Action Items
- [x] Create milestones on the project board
- [x] Assign all issues to a milestone

### Resources/Instructions
[CTI Tracking milestones](https://docs.google.com/spreadsheets/d/1

[2020-12-21 02:15] Olivia-Chiong opened #164 "Update Hack for LA website project information"
### Overview
Get team information to update Hack for LA website project card. Send information to Hack for LA team.

### Action Items

Get Name, Slack ID, Github Handle and Role from the following

- [x] Olivia
- [x] Jonathan Shin
- [x] Bonnie Wolfe
- [x] Gio Sce
- [x] Sean Flores

[2020-12-22 17:16] giosce commented on #14
Is this issue about annotating the screenshots?
If yes, last Sunday we asked Chali to convert the last Tag-Generator annotated screenshots from Google Slides to Figma.

[2020-12-22 17:21] giosce commented on #122
I'd need to talk with Cinthia to see if we can make some small improvements to Django data (FAQs) maintenance interface.
But, aside from datamodel changes, the Django can already be used, we need to decide who should have access and how to provide a link (maybe think of a CTI admin non public page, it would be great if it is password protected).

What other Admin functions can we think of?

[2020-12-23 09:45] Olivia-Chiong commented on #61
Draft for review - https://forms.gle/YWzKX4dy3smPxY9j7

[2020-12-23 16:56] giosce commented on #42
Reviewed and made adjustments with Mahmudul.
[CTI Tag GEnerator Workflow.pdf](https://github.com/civictechindex/CTI-website-frontend/files/5736276/CTI.Tag.GEnerator.Workflow.pdf)

[2020-12-23 18:17] cnk commented on #122
@giosce

1. I can add view count to the list display
2. I will add sorting by view count
3. I don't see the point to searching by id or view_count
4. No. Delete is delete.
5. If you would like a finite state model instead of a Boolean "Live" field, please define the states and I'll convert "Live" to a state dropdown menu.

[2020-12-23 19:23] Olivia-Chiong commented on #143
1 - Working draft changed to vision document for team
2 - Update 6 month roadmap for one pager.

[2020-12-23 19:29] Olivia-Chiong opened #165 "Bonnie to send Olivia the following list"
### Overview
To facilitate issue #61 Bonnie will send the following to Olivia

### Action Items
- [x] Link to
   - [x] Communications Guide document from BOP project
   - [x] Hack for LA logo
   - [x] Make an issue for all forms to be used in Hack for LA for examples
   - [x] A link to Hack for LA role descriptions
   - [x] A link to UI/UX interest form (see form design)
   - [x] A link to the des

[2020-12-23 20:07] celeste-hub commented on #146
Completed.

[2020-12-23 21:30] ExperimentsInHonesty commented on #165
![HfLA logo](https://user-images.githubusercontent.com/37763229/103038336-0a112600-4523-11eb-975e-25b942f7bc2e.png)

[2020-12-23 22:00] #165 closed

[2020-12-23 22:05] ExperimentsInHonesty commented on #52
@Olivia-Chiong we need to update the wiki so that it has the onboarding path for all volunteers.  This will be a priority after the github health files #75 #73 #72  are done (which are part of onboarding support). But you will need to do this before you start recruiting so that you can have a place to store and communicate what is not covered by the readme.

[2020-12-27 05:31] emecas commented on #118
id=3765%3A15048).

### Review (WIP):

I've completed about 70% of the review, attaching a WIP document next that includes some questions

[2020--December--26_Sat.pdf](https://github.com/civictechindex/CTI-website-frontend/files/5744106/2020--December--26_Sat.pdf)

### Observations/Inquiries:

@Olivia-Chiong @ExperimentsInHonest @chalimar

#### Slide Deck:

 - I'm wondering why the [slide deck ](ht

[2020-12-27 18:23] FarzanaPrianka commented on #141
Having problem logging in to the Figma file using civic index design email address.

[2020-12-27 19:28] Olivia-Chiong commented on #141
You need to log into the Google account, not log in using the email and
password.

On Sun, Dec 27, 2020, 10:23 FarzanaPrianka <notifications@github.com> wrote:

[2020-12-27 19:38] giosce commented on #122
Thanks @cnk, my comments:
Ok on point 1, 2, 3 and 4.
On 5: I see there is already implemented logic for the API to not return "not live" FAQs, so I would leave the "live" flag and the logic. It can be useful to add a field "status" and been able to sort and filter by it. I can think of a few status values right now ("to be deleted", "to be answered", "duplicate").

I imagine we won't have more tha

[2020-12-27 19:40] FarzanaPrianka commented on #141
Thanks a lot @Olivia-Chiong. I got it.

[2020-12-27 21:08] Olivia-Chiong commented on #50
Current [deck for video](https://docs.google.com/presentation/d/1dH2Fdo6ScN-4TRcbVseP3bIMxKU-sI3gmRRy7S1X3d4/edit)

Proposed wording for slide 3

Why create a Civic Tech Index?
- It will enable developers & project ideators to find other projects and prevent effort duplication .
- It will allow interested contributors to find projects to collaborate with.
- It will enable civic tech leaders to dis

[2020-12-27 21:09] Olivia-Chiong commented on #143
@mariastudnicka will work on this week beginning 12/29

[2020-12-27 21:28] JafarIronclad commented on #157
Confirmed caused by script blocker. Issue closed, no commits.

[2020-12-27 21:28] #157 closed

[2020-12-27 21:45] giosce commented on #42
From the flowchart we have a couple of questions:
Are some tags of a new project generated by the system (like food-insecurity and food-pantry in the wireframe)?
Can they be removed by the user?
How does the system generate them? Involving the back-end or is it a front-end functionality? By a (sophisticate) parsing of the name of the project or for example reading something out of github? Or readi

[2020-12-27 22:19] Olivia-Chiong opened #167 "Set up Miro"
### Overview
We need to set up Miro to ensure authorised users have the right access to it.

### Action Items
- [x] Set up Miro with correct permissions
- [x] Create guide to show how to set up Miro correctly

### Resources/Instructions
[Miro](https://miro.com/app/board/o9J_la6PMkY=/)
[Setting up Miro for your project guide](https://github.com/hackforla/product-managment/issues/33)

[2020-12-27 22:30] Olivia-Chiong commented on #42
@chalimar

Please create mock ups for following pages

YES path
- [ ] step 3 on tag generator should have NO tags
- [ ] step 4 on tag generator should have "food-insecurity" and "food pantry" tags

NO path
- [ ] step 2 on tag generator should have "Please fill in the URL" in the URL box
- [ ] step 3 on tag generator should be the current Step 2 (Sample error message)
       Example error messages

[2020-12-27 22:36] Olivia-Chiong commented on #70
Progress: none
Blocks: none
Availability: ?
ETA: ?

[2020-12-27 22:41] Olivia-Chiong commented on #70
@codewilling
This is the list of starting strings that we will need to test on this page.

Open
Code
Hack
Beta
Sketch
Civic
Data
OK
Foundation
Codeando
g0v
Ciudadanía
mysocitey
Project
Wagg

Please check and let us know when we can test it. Thank you!

[2020-12-27 22:41] #146 closed

[2020-12-27 22:43] Olivia-Chiong commented on #88
@chalimar to provide version of logo thats shifted upwards slightly to prevent edges touching circle.

[2020-12-27 22:45] Olivia-Chiong commented on #142
Pagination has been added to desktop pages, we need to add it to

- [ ] mobile
- [ ] tablet screens.

[2020-12-27 22:53] Olivia-Chiong opened #168 "Create documentation of UX and Development error messages"
### Overview
We need to create documentation to track UX and Development error messages to standardize the responses.

### Action Items
- [ ] Create list of UX errors in Figma and Wiki
- [ ] Create list of Development errors in Wiki

### Resources/Instructions

[2020-12-27 22:55] Olivia-Chiong opened #169 "Clean up code in ESLint & pass Code Climate"
### Overview
We need to clean up code in ESLint & Code Climate so it can clear compilation issues.

### Action Items
- [x] Review action steps with Jonathan/ Laurence
- [ ] Clean up code in ESLint
- [ ] Confirm it can pass Code Climate

### Resources/Instructions
Useful command for auto-fixing via ESLint (low hanging formatting fruit):
"lint": "eslint 'src/**/*.js'",
    "lint:fix": "eslint --fix

[2020-12-27 23:04] JafarIronclad commented on #169
Comment - Issue blocking code pull requests may be related to a github action (rather than codeclimate).

[2020-12-27 23:12] Olivia-Chiong commented on #75
@mealthebear will write 5. Set up ESLint and 6. Best practices for Code Climate so we can include it in this file.

[2020-12-27 23:15] Olivia-Chiong commented on #147
@cnk

Progress:
Blockers:
Availability:
ETA:

[2020-12-27 23:18] Olivia-Chiong commented on #141
@FarzanaPrianka

Please give us an update. Also please create page on Desktop pages. We can review before you make it for mobile and tablet.

Progress
Blockers
Availability
ETA

[2020-12-27 23:23] Olivia-Chiong commented on #150
Progress: None
Blockers: None
Availability: Good for this week
ETA: 1/3

[2020-12-27 23:35] #161 closed

[2020-12-27 23:41] Olivia-Chiong commented on #50
@chalimar please make page 3 of this deck pretty

[2020-12-28 00:31] Olivia-Chiong commented on #164
Roles update
Bonnie - Agile Coach/Acting Technical Project Manager
Jonathan Shin - Technical Mentor
Olivia Chiong - Product Manager
Gio - Technical Product Manager
Sean Flores -

Remove Jonathan Sachsman

[2020-12-28 00:34] Olivia-Chiong commented on #61
@chalimar will provide a Google Forms header (1600 x 400 px) for CTI (including Hack for LA logo)

![image](https://user-images.githubusercontent.com/75456721/103182573-36011400-4861-11eb-809d-d55e6a943945.png)

[2020-12-28 01:26] Olivia-Chiong commented on #164
Update project description with "... framework and an interest list. We are currently working on building out the website and other marketing tools that demonstrate the power of the index."

[2020-12-28 16:17] FarzanaPrianka commented on #141
Progress: I am starting to work on the issue from today. Since I didn't have access to the shared Figma file, I couldn't start earlier.
Blockers: None at this moment.
Availability: December 28-30, 2pm- 5pm.
ETA: December 30, 2020

[2020-12-28 19:24] FarzanaPrianka commented on #141
@chalimar @Olivia-Chiong I have added a mock up for 404 page (Desktop version) in Figma. Please review at your convenience.

[404 page mockup](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex-Master-Design-File-3.8.20?node-id=4304%3A1)

[2020-12-28 20:35] cnk commented on #122
Congratulations @giosce on his first PR for this project! https://github.com/civictechindex/CTI-website-backend/pull/28 addresses item 1 above.

[2020-12-28 22:34] giosce commented on #122
Thanks Cynthia for teaching me Django and helping with my weird environment.
The committed change addresses item 2 too.
Next I'll work on item 5.

[2020-12-29 03:01] #152 closed

[2020-12-29 03:01] #148 closed

[2020-12-29 15:40] #151 closed

[2020-12-29 22:48] chalimar commented on #141
@FarzanaPrianka

Thank you! Two small edits

- [ ] Can you please center and break the text into two lines please like:

Oops! The page you are looking for
has moved or does not exist.

- [ ] Reduce the line weight of the ! icon

[2020-12-30 18:28] FarzanaPrianka commented on #141
@chalimar I have made the changes! Please let me know if its ok and should I proceed with the mock up for mobile and tablet version.

[2020-12-31 00:32] Olivia-Chiong opened #171 "Be a speaker at Code for All Summit"
### Overview
We need to get Bonnie a speaker slot at Code for All summit 2021

### Action Items
- [ ] Create a presentation deck for speaker circuit post CTI launch
- [ ] Send deck to Code for All Summit

### Resources/Instructions
[About Us](https://docs.google.com/presentation/d/1dH2Fdo6ScN-4TRcbVseP3bIMxKU-sI3gmRRy7S1X3d4/edit?usp=sharing)

[2020-12-31 04:59] Olivia-Chiong opened #172 "Establish Project Story Points"
### Overview
Establish project story points so we can better estimate project timeline

### Action Items
Product
- [ ] Map user stories into user stories template
- [ ] Determine priority of each story
- [ ] Determine MVP functionalities

Development
- [ ] Estimate effort required

### Resources/Instructions
[Civic Tech Index Story Points](https://docs.google.com/spreadsheets/d/1UGh1ClHHYDk6tyhtH0

[2020-12-31 05:08] Olivia-Chiong opened #173 "Create a press kit for the project"
### Overview
We need to create a press kit for the project to be used after website launch.

### Action Items
- [ ] Create the following
   - [ ] Press Release
   - [ ] Fact Sheet
   - [ ] Bio Page
- [ ] Review press kit with marketing

### Resources/Instructions

[2020-12-31 06:11] #23 closed

[2020-12-31 08:11] Olivia-Chiong commented on #52
Wiki pages updated with onboarding path for volunteers.

[2020-12-31 20:15] Olivia-Chiong commented on #70
Update from @codewilling - Hi Olivia, just getting back from vacay. I am finished with the UI, including the filtering bug, Im going to write some cypress test and should have that for our Thursday meeting.

[2020-12-31 20:19] Olivia-Chiong commented on #82
Post MVP

[2020-12-31 20:38] Olivia-Chiong commented on #87
@chalimar the h2 font and other fonts on the mobile and tablet view are non consistent with the designs because we do not have classes and files predefined for the entire site. This will be resolved by completing our style guide and defined classes. Refer to the [mobile Figma page](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=698%3A3390) and [tablet

[2020-12-31 20:41] Olivia-Chiong commented on #87
When the design system is done, all classes on the page will need to be changed to reflect classes from main.scss(if that's what we are calling our main class file.)

[2020-12-31 21:10] #72 closed

[2020-12-31 22:27] #74 closed

[2020-12-31 22:35] Olivia-Chiong commented on #12
@ExperimentsInHonesty and @chalimar to discuss #141 and #87

[2020-12-31 22:36] Olivia-Chiong commented on #141
We need to work on this after the style guide is done.

[2020-12-31 22:44] Olivia-Chiong commented on #61
@FarzanaPrianka will connect with @Olivia-Chiong to create the header.

[2020-12-31 22:48] #73 closed

[2020-12-31 23:19] Olivia-Chiong opened #177 "Create site architecture document"
### Overview
We need to create a site architecture document so new developers to the project can have a good overview and better understanding when they start.

### Action Items
- [ ] Draft site architecture document
- [ ] Review with the team

### Resources/Instructions
[Hack for LA site architecture](https://github.com/hackforla/website/wiki/Hack-for-LA's-Site-Architecture)

[2020-12-31 23:22] Olivia-Chiong opened #178 "Create a writing style guide"
### Overview
We need to create a writing style guide for all content writing and marketing collaterals.

### Action Items
- [ ] Define tone and style of the Civic Tech Index
- [ ] Draft writing style guide
- [ ] Review with team

### Resources/Instructions

[2021-01-01 04:15] ExperimentsInHonesty opened #180 "Revise Sitemap in figma"
### Overview
We need a sitemap that accurately reflects the pages for MVP and any external links so that developers and other interested parties know how the site works.

### Action Items
- [ ] update our sitemap so that it reflects some of the prior iterations features (see images under resources where external links are indicated)

### Resources/Instructions
**[Current version in figma](https://

[2021-01-01 05:11] ExperimentsInHonesty opened #181 "Automated Tag Generator feasibility research"
### Overview
We need to evaluate the feasibility of using the GitHub API to update visitors topic tags automatically when they use the post MVP version of the tag generator.

### Background
While Nandana was creating the automated tag generator feature, it was determined that based on permission levels (Owner, Admin, Maintainer) that there will be different experiences, and that the feedback loop

[2021-01-01 05:35] ExperimentsInHonesty opened #182 "Create Automated Tag Generator"
### Overview
If this issue is in the prioritized backlog we have decided found that it is feasible to create the automated tag generator to integrate with the manual process/tutorial

### Dependency
Automated Tag Generator feasibility research #181

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS

[2021-01-01 07:24] ExperimentsInHonesty opened #183 "Create feature: Suggest tags based on similar tags used by other projects based on user provided tags"
### Overview
We want to enable users to find and add more relevant tags to their projects easily in order to increase their discoverability.

### Background

It has become standard for applications that let you tag things (Linkedin, GitHub, etc.) to provide suggestions when you are tagging.  We could do that by creating a database of word groupings from projects using a civictechindex tag, or ther