[2021-01-01 07:48] ExperimentsInHonesty commented on #14
My update is
1. Progress: I finished hiding everything in the issue that was not relevant to us closing the issue and I opened the following issues and put some of the screen shots and text in them:
- #180 Revise sitemap in figma
- #181 Automated tag generator feasibility research
- #182 Create Automated Tag Generator
- #183 Create feature: Suggest tags based on similar tags used by other projects

[2021-01-01 08:03] ExperimentsInHonesty commented on #14
@Gio @Olivia Chiong I came across this issue #54 that is closed and we need to put the decision about this into the wiki, and make sure we annotate the tag generator with the desired behavior.

[2021-01-01 20:38] ExperimentsInHonesty opened #184 "Keep external listings up to date"
### Overview
We need to make sure that any external websites that have links to our projects are up to date so that people can get correct information.

### Action Items
- [ ] Identify and add links to this top section with all the sites that have info for the project
- [ ] review monthly or quarterly (add when you reviewed with details on changes to the comments indicating changes)

### Sites whe

[2021-01-01 20:40] ExperimentsInHonesty commented on #184
Democracy Lab current details:
![screencapture-democracylab-org-index-2021-01-01-12_39_46](https://user-images.githubusercontent.com/37763229/103445931-85af5900-4c2e-11eb-8b01-e8ab260346a1.png)

[2021-01-01 22:11] ExperimentsInHonesty commented on #42
@gio @emecas - it looks like a ui decision was made that affects the technical working of the tag generator and the user experience to make it less flexible.  Let's talk about the motivation for changing it and how we can adress your concerns without changing flexibility of the application.
![Screen Shot 2021-01-01 at 2 10 56 PM](https://user-images.githubusercontent.com/37763229/103447064-3c193b0

[2021-01-02 00:06] ExperimentsInHonesty commented on #114
@mealthebear I searched the readme and the wiki and didn't see any reference to linting.  Please make sure that there are instructions on what we use, how and where to install it, in the appropriate files.  Then this issue can be closed.

[2021-01-02 03:31] #52 closed

[2021-01-02 07:26] ExperimentsInHonesty opened #185 "Evaluate low tech method of opening issues on repos"
### Overview
We need to have several pathways for people to update repos so that there is an available call to action for every audience member we reach

### Action Items
- [ ] Review method used during Brigade Congress 2020 and evaluate how it could be integrated into roll out plan

### Resources/Instructions
[Issue opened on a BetaNYC repo](https://github.com/BetaNYC/open-business-directory/issu

[2021-01-02 07:44] ExperimentsInHonesty opened #186 "Discuss current usage of Civic Tech Index tag at Hack for LA"
### Overview
Hack for LA as the sponsor of this project needs to use the tags effectively across the organization as an example to other Brigades.

### Action Items
- [x] Review the use of tags on Hack for LA repos (find urls from hackforla.org homepage)
   - [x] Projects directly on [Hack for LA GitHub org](https://github.com/hackforla)
   - [x] Projects on other GitHub orgs
      - [x] [Civic Te

[2021-01-02 23:18] giosce commented on #42
What is this UI decision?

[2021-01-02 23:28] giosce commented on #54
It should be possible (I did a quick test and it works) to create an issue in a repo even without being a repo contributor. If the person trying to tag a project is in good faith and know someone on the project, I'd recommend this approach.

[2021-01-02 23:35] giosce commented on #122
I'm adding a Set Filter with the following values:
New, To Be Answered, To Be Deleted, Duplicate.
Any other desired status?
We'll leave the "Live" flag to display the item on UI or not.
We need to create a CTI Admin user ID with access at least to this FAQ admin page.

[2021-01-02 23:37] giosce commented on #143
Can we have updated links to what should be reviewed and finalized?

[2021-01-02 23:44] giosce commented on #147
This is for Organizations Links, right?

[2021-01-02 23:49] giosce commented on #167
I had a long chat with Thad (which is the CfA Miro person) and he told me that having permissions based access would be expensive (like $10/user/month).
It seems possible to lock objects on the board (but then anyone can unlock them or only Thad could).
I'll investigate a little more but it's not promising.

I received a request to do a Miro training. I'd prefer to do it with more people at once r

[2021-01-03 00:50] giosce commented on #117
1) Let's confirm, this issue is for showing the list of projects, right?
2) From my research on 11/14, I think that only to get multiple languages we need an additional API call per repo. Can we confirm?
3) I have heard from CTI team that authenticating is not viable. Why? Simple user authentication via token seems doable (where the user token would be used by CTI).
4) Agree that not authorized us

[2021-01-03 01:10] Olivia-Chiong commented on #147
@giosce Yes, its the links that will be listed on contributors card.

[2021-01-03 21:29] FarzanaPrianka commented on #61
Progress: I will start working on it from tomorrow.
Blockers: Nothing at this moment.
Availability: January 4-7, 2pm- 5pm.
ETA: January 7, 2020

[2021-01-03 21:37] giosce opened #188 "Functionality to add an Organization in CTI"
### Overview
When adding a project to CTI, it is possible that the organization doesn't already exist (in Tag Generator the user says "affiliated to an organization" but organization doesn't exist). User should be able to add the organization.

### Action Items

- [x] Design Screen: Modal
- [ ] Tech design of functionality (controls, checks, actions)
- [ ] Implementation
  - [x] UI
  - [x] Backend

[2021-01-03 21:50] emecas commented on #118
### Progresses:

- Added Progressed for:  `Search Project Section`

[2021--January-2_Sat_CIT_Figma_Review_(2_Jan_Sat_).pdf](https://github.com/civictechindex/CTI-website-frontend/files/5762326/2021--January-2_Sat_CIT_Figma_Review_.2_Jan_Sat_.pdf)

### To Do:

- `Tag Generator` section, discussion in pending see [here](https://github.com/civictechindex/CTI-website-frontend/issues/42#issuecomment-75

[2021-01-03 21:59] mealthebear commented on #150
Progress: I've modified the pointers to the following pages
* About: Done (No changes necessary)
* Adding-projects-to-the-index: Need to refactor some old code to use new components.
* Contributors: Left a code review to add pointer styling to chevrons.
* Donate: Done (No changes necessary)
* Header: In Progress
* Landing: Done (No changes necessary)
* Home: Done (Added pointer to trending topics)

[2021-01-03 22:01] codewilling commented on #70
Progress: adding a view all button for the dropdown
Blocks: css styling
Availability: plenty
ETA: 1/7

[2021-01-03 22:02] JafarIronclad commented on #169
Update 1/3/2021:

Phase I (All flagged corrections which do not alter code logic) - 60%

Pull Request ETA 1/4/2021, no blockers, resolving questions with @mealthebear as they arise. Expecting a comprehensive test pass on my end as this touches most js files in the website.

Phase II (All flagged corrections involving minor changes to code logic) - 0%

No ETA yet

Phase III (All flagged corrections

[2021-01-03 22:08] Olivia-Chiong commented on #63
@cnk will provide a search endpoint for @nrrao

[2021-01-03 22:15] cnk commented on #147
Progress: None
Blockers: None
Availability: Limited for writing the code but if anyone (@giosce ?) wants to collaborate it will help move this along
ETA: Unsure.

[2021-01-03 22:17] Olivia-Chiong commented on #114
Progress: None
Blocks: None
Availability: 2-3 hours
ETA: 1/7

[2021-01-03 22:19] JafarIronclad commented on #169
Note from 1/3/2021 Meeting:

Individual issues to be generated for each file to be edited for ESLint cleanup (including formatting fixes). List of files affected to follow. Further discussion of cleanup organization to follow at end of meeting.

[2021-01-03 22:33] Olivia-Chiong commented on #122
@giosce will talk to @shinjonathan to get the commit pushed through.

[2021-01-03 22:42] Olivia-Chiong commented on #138
Progress: Done some tutorials
Blocks: Needs some discussion with the team
Availability:  some time
ETA: a week

[2021-01-03 22:43] mariastudnicka opened #189 "Admin Login Credentials"
### Overview
There needs to be login credentials created for backend admin and super users.

### Action Items
Rules need to be created.

### Resources/Instructions

[2021-01-03 23:12] JafarIronclad commented on #169
Files flagging ESLint problems:

**src/components**
1. /Data/* - ALL FILES CLEAN
2. /Footer/index.js - Import Alpha sort, 6 lines too long, new line at EOF
3. /Footer/styles.js - 1 Function too many lines (108/50), new line at EOF
4. /Header/index.js - Import Alpha sort, 1 Function too many lines (87/50)
5. /Header/styles.js - 1 Function too many lines (270/50), new line at EOF
6. /Dropdown.js - I

[2021-01-03 23:34] Olivia-Chiong commented on #188
add country, tag of organisation.

[2021-01-03 23:58] Olivia-Chiong commented on #167
@giosce  will copy existing board into CTI board and write how to set up Miro and provide access for a project.

[2021-01-04 00:09] Olivia-Chiong commented on #50
Product needs to rework slide 3 to be - Who instead of Why.

[2021-01-04 00:13] Olivia-Chiong commented on #181
@nrrao are you able to provide a link to the codebase for the API integration tag generator please and any instructions that are needed for when we can pick this up again post MVP.

[2021-01-04 00:52] giosce opened #190 "Search projects result sorting criteria"
### Dependency
Creation of User Personas/User Stories board #191

### Overview
We need to find out what our target users prioritize when looking at search results and what do they expect for "best match"

### Action Items
- [ ] Create survey (maybe useablility hub) that asks each persona:
   - [x] what do you prioritize when looking at search results
   - [x] what do they expect for "best match" (

[2021-01-04 01:33] giosce commented on #117
This call api.github.com/search/repositories?q=topic:civictechindex
Returns the following json

    "total_count": 38,
    "incomplete_results": false,
    "items": [
        {
            "id": 7845579,
            "node_id": "MDEwOlJlcG9zaXRvcnk3ODQ1NTc5",
            "name": "openbudgetoakland",
            "full_name": "openoakland/openbudgetoakland",
            "private": false,

[2021-01-04 01:36] giosce commented on #117
Check with larger result set (more popular tags).

[2021-01-04 20:45] giosce commented on #117
This API call api.github.com/search/repositories?q=topic:covid-19 returns
    "total_count": 6472,
    "incomplete_results": false,

Strangely, the same search term on github website https://github.com/search?q=covid-19&ref=opensearch
returns 86K+ results.

In any case, it seems that up to 6,472 (probably more) results are returned in one shot.
But, when analyzing the json response, there are only

[2021-01-04 22:57] giosce commented on #188
Updated screenshot

![image](https://user-images.githubusercontent.com/16311029/103587980-501ca100-4eb6-11eb-9ee3-d15727192007.png)

[2021-01-05 00:46] Olivia-Chiong opened #191 "Create Project Board for Personas and User Stories"
### Overview
Create project board to list personas and their user journeys so we can better define the MVP and post MVP features.

### Dependency
Proto-Personas need validation. See #253

### Action Items
- [x] Create project board in CTI repo
- [x] Generate User personas with reference to current one sheet, design and other project boards.
- [ ] Review with the team

### Resources/Instructions
[C

[2021-01-05 21:03] nrrao commented on #181
The code I worked on is in the branch [taggenerator-nandana](https://github.com/civictechindex/CTI-website-frontend/tree/taggenerator-nandana).
To implement login with GitHub first need to create OAuth app
code for [automation process](https://github.com/civictechindex/CTI-website-frontend/blob/taggenerator-nandana/src/pages/TagGenerator/automatedTags.js)

[2021-01-05 21:39] Olivia-Chiong commented on #167
@giosce I've created a [draft guide](https://github.com/hackforla/product-managment/issues/33) for this on the product management board. Can you please take a look and give your comments please? Thanks!

[2021-01-06 18:29] ExperimentsInHonesty commented on #185
integrate this into the tag generator.

[2021-01-06 18:32] ExperimentsInHonesty commented on #42
add #185 into flow making a decision tree at the gear (do you see the gear)?
if yes, keep tutorial the same
if no, show them alternate which has a cut and paste with info and a link to open an issue on that repo.

[2021-01-06 18:33] #185 closed

[2021-01-06 18:35] Olivia-Chiong commented on #85
@shinjonathan With the elections done, let's work on this. Please contact Jared to start making this happen. Thank you!

[2021-01-06 18:44] ExperimentsInHonesty commented on #50
@Olivia-Chiong will take the list of personas from the [CfA brigade project index](https://github.com/codeforamerica/brigade-project-index/projects/2) and put it on the WHO slide

[2021-01-06 18:46] ExperimentsInHonesty commented on #21
This is a sub issue of #42.

[2021-01-06 18:53] ExperimentsInHonesty commented on #54
@giosce @emecas on Sunday lets wrap some of the decision made from this issue into our notes/annotations on the figma page flows and add the relevant (not all) details from this to a requirements doc for the tag generator.

[2021-01-06 18:55] ExperimentsInHonesty commented on #14
@giosce @emecas on Sunday This issue is going to get cleaned up so that a designer can make a new round of mock ups that will match the new work flow.

[2021-01-07 05:29] Olivia-Chiong opened #195 "Research international cursor standards"
### Overview
We need to check the international cursor standard for pointy hand or arrow to adhere to ADA guidelines.

### Action Items
Design
- [ ] Research what is the international cursor standard between pointy hand and arrow.

### Resources/Instructions
Refer to #150

[2021-01-07 05:59] Olivia-Chiong opened #196 "Make a blank page template"
### Overview
Make a blank page template so the development team can standardize pages with the css file.

### Action Items
- [ ] Create a blank page (pagetemplate.js) to include the following
  - [ ] header
  - [ ] footer
  - [ ] top blue banner
  - [ ] standard H1 title
  - [ ] breadcrumbs #125

### Resources/Instructions
Refer to [Contributors page](http://civictechindex.org/contributors/affilia

[2021-01-07 06:01] Olivia-Chiong commented on #162
Product has decided that we will not use dashes in the url and tag-generator needs to be renamed to reflect this.

[2021-01-07 21:05] FarzanaPrianka commented on #61
@Olivia-Chiong : Following are the forms banner for your review. The versions have very slight difference in their background world map color:

Version 1:
![formHeaderV1](https://user-images.githubusercontent.com/47132171/103944366-8b5ee000-5101-11eb-8e35-6d978d64c234.png)

Version2:
![formHeaderV2](https://user-images.githubusercontent.com/47132171/103944383-9580de80-5101-11eb-9b49-b5a870e42241.j

[2021-01-07 23:43] giosce commented on #188
Updated screen in Figma https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=4495%3A18593

![image](https://user-images.githubusercontent.com/16311029/103957180-282c7800-5118-11eb-82b7-ed451f979adb.png)

[2021-01-08 00:34] giosce commented on #122
Waiting final approval from @cnk and @shinjonathan to merge my code changes (as Cynthia and I are not clear on some build & deployment steps).

Also working on creating a CTI Data Admin username (in Django and Vault) that will have permissions to manage FAQs, Links and Organizations.

[2021-01-08 00:34] Olivia-Chiong commented on #75
@mealthebear and @JafarIronclad will work together to create [Guide to Good Coding Practices](https://docs.google.com/document/d/1q_SttG8tOWZpoqqphs7wtbKBRflDvxJU0_l2Y4UoLYg/edit?usp=sharing) to be used in Contributing.md

[2021-01-08 00:41] giosce opened #197 "Create a CTI Data Admin user"
### Overview
We need a Django user with permissions to manage FAQs, Links and Organizations in the database.

### Action Items
- [x] Create the Django user
- [ ] Add this new Django user in Vault
- [ ] Test

[2021-01-08 00:42] #164 closed

[2021-01-08 01:20] chalimar commented on #88
created two versions to share with @Olivia-Chiong, team to decide which version to go with.

![image](https://user-images.githubusercontent.com/34084181/103962690-69b72600-510c-11eb-8180-bcc53e8119aa.png)

files can be found [here.](https://drive.google.com/drive/folders/1qhg086g_uNq5PdkYrvRkrIL_I0YGT7Zp?usp=sharing) thank you!

[2021-01-08 01:48] chalimar commented on #12
I currently have a [WIP of a new type system](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex-Master-Design-File?node-id=1329%3A11944) based on what was gathered from the Figma file and a combination of recommended sizing from [material.io](https://material.io/design/typography/the-type-system.html#type-scale).

- [ ] Font sizing no longer is below 14px
- [ ] Class names have been

[2021-01-08 02:00] codewilling commented on #70
Progress: Waiting on review to merge. Still hacking away to address codeclimate issues and test coverage
Blocks: refactoring
Availability: plenty
ETA: 1/10

[2021-01-08 02:04] mealthebear commented on #150
Progress: Haven't been able to make additional progress; tied up with personal events.
Blockers: None
Availability: Very light availability through the next week
ETA: 1/14

[2021-01-08 02:10] Olivia-Chiong commented on #132
@shinjonathan this is no longer on hold, please proceed

[2021-01-08 03:02] ExperimentsInHonesty commented on #142
The following pages need the pagination added

- FAQ
- Brigade Results Page
- Search Projects

[2021-01-08 03:13] Olivia-Chiong commented on #75
@kevinashworth will refine and update the contributing file to reflect his experience.

[2021-01-08 03:33] JafarIronclad opened #198 "Resolve ESLint Warnings with src\components\Footer\index.js"
### Overview
Refactor code to address the following warnings in eslint for src\components\Footer\index.js:

✖ 7 problems (0 errors, 7 warnings)

### Action Items

- [ ] 2:1  warning  Imports should be sorted alphabetically                sort-imports
- [ ] 17:1  warning  This line has a length of 115. Maximum allowed is 100  max-len
- [ ] 32:1  warning  This line has a length of 148. Maximum allow

[2021-01-08 04:29] #198 closed

[2021-01-08 05:13] meismith commented on #142
These are the pages for the **search result filter** in **Tablet version**. I made them separate pages from the result itself due to the smaller screen we have for tablet. It will look cleaner this way too.

![Tablet - Search Filter](https://user-images.githubusercontent.com/77039829/103976913-0518bd00-5146-11eb-8d10-1199cff5c184.png)

and **below** is the page when you **expand the drop down filt

[2021-01-08 05:16] cnk commented on #63
@nrrao searching FAQs now works: https://test-civictechindexadmin.herokuapp.com/api/faqs/?search=brown

[2021-01-08 05:22] halimabushra commented on #142
I worked on the Tablet Search results page for the above issue. I added the pagenation at the bottom of the search results pages, from the existing style. I also created two versions of the results page, one has a darker background a yellow color title. I am attaching the screens below.
 I also added the filter for one of the pages. I was not sure which information is more important to be displaye

[2021-01-08 05:25] Olivia-Chiong commented on #88
Logo updated, issue closed.

[2021-01-08 05:25] #88 closed

[2021-01-08 05:30] Olivia-Chiong commented on #61
@FarzanaPrianka here's an [example](https://github.com/100Automations/Website/issues/27#issuecomment-755780763) of the header from another team. I think you can move the Hack for LA logo a little lower to the corner, similar to this one.

[2021-01-08 07:13] #167 closed

[2021-01-08 19:43] kevinashworth commented on #169
I've submitted a PR that (hopefully) improves ESLint settings. Fixing the linting errors as shown above in all the JS files should be equally doable with or without this PR, but I think going forward we'll be better served by my PR. My humble 2¢.

See PR #202

[2021-01-08 20:12] kevinashworth commented on #114
PR #203 might be sufficient instructions to close this. It wasn't my issue, but I hopped in. Hope that's okay!

[2021-01-09 00:49] giosce commented on #189
We have both these users in Django system.
We need to add them in Vault, I think only Vault owner (@ExperimentsInHonesty ) can do that.

[2021-01-09 00:52] giosce commented on #122
The functionality is implemented in Django, the CTI data admin will be able to create, review, update and delete FAQs.

![image](https://user-images.githubusercontent.com/16311029/104078186-c5f07780-51ea-11eb-9ccb-c0ff570462e2.png)

[2021-01-09 00:52] #122 closed

[2021-01-09 20:26] mariastudnicka commented on #162
Recommendation is to update the site map (https://github.com/civictechindex/CTI-website-frontend/issues/180) nail down architecture of actual pages to build in site.  In addition, I recommend to be consistent in labeling. For example, is the home page the join page? A prototype would also be great to understand the flow and behaviors.

[2021-01-10 01:50] giosce commented on #147
Committed the first version of the script https://github.com/civictechindex/CTI-website-backend/pull/30

It needs to be run by hand and it records the results in a log file.
Next version(s) will record the results in the database (Link table itself) and run automatically.

[2021-01-10 01:55] giosce commented on #197
Django user created, we need Bonnie to add it to Vault.

[2021-01-10 01:58] giosce commented on #197
Duplicate of issue https://github.com/civictechindex/CTI-website-frontend/issues/189

[2021-01-10 01:58] #197 closed

[2021-01-10 02:05] giosce commented on #14
I think the issue is the possibility to change the organization later in the process of generating the tags.
I understand the goal of having a link/form that include the Organization name.
To me, from a user experience point of view, it seems wrong to decide later to change, add or remove the Organization.
Note that typically the organization name is part of the project/repo URL.

[2021-01-10 02:30] nrrao commented on #63
Thanks @cnk
I was able to implement the search endpoint.
Have some questions regarding displaying search results.

[2021-01-10 18:22] cnk commented on #138
1. Progress: Built initial combined repository with 4 docker containers. Next steps build storybook components.
1. Blocks: None
1. Availabilty: evenings
1. ETA: February 1

[2021-01-10 18:35] cnk commented on #147
OK so it looks like ALL the Twitter links are returning 400 - Bad Request. For now, I would suggest having your script skip all twitter links. I am also seeing a lot of 302s for Facebook so those may also need some special handling.

We will need to do some research to see if there is a way to automatically test Twitter links. Is there a header that allows us to test their validity (e.g. send User

[2021-01-10 20:04] #114 closed

[2021-01-10 21:34] JafarIronclad opened #205 "Refactor Hamburger code in src\components\Header\index.js (was an ESLint cleanup issue, now a refactor)"
### Overview
Refactor code to address the following warnings in eslint for src\components\Header\index.js, including burger function refactor.

✖ 18 problems (1 error, 17 warnings)
  0 errors and 2 warnings potentially fixable with the `--fix` option.

### Action Items

- [ ]    2:1   warning  Expected 'single' syntax before 'none' syntax                                 sort-imports
- [ ]     3:27

[2021-01-10 21:55] Olivia-Chiong commented on #85
Issue closed due to duplication.

[2021-01-10 22:02] kevinashworth commented on #75
Progress: An improved version with text changes has been submitted as a PR. (There are remaining improvements that could be made to the content, and to the behind-the-scenes formatting of this file. Planning to submit add'l PR on those items.)
Blocks: PR approval
Availability: good
ETA: Jan 15

[2021-01-10 22:02] kevinashworth commented on #158
Progress: Complete, PR submitted
Blocks: PR approval
Availability: good
ETA: now

[2021-01-10 22:04] codewilling commented on #70
Progress: Waiting on review to merge. Adding view all button
Blocks: refactoring
Availability: plenty
ETA: 1/10

[2021-01-10 22:07] Olivia-Chiong commented on #63
Product will talk to UI to mock up returned search results screen,

[2021-01-10 22:11] chalimar commented on #12
1/10/21

Currently testing new font sizes in all screen sizes (mobile still pending). Also defining padding within container spaces and spacers in style guide.

![image](https://user-images.githubusercontent.com/34084181/104136863-c05f7280-534d-11eb-97e1-a8fca4a09e3b.png)

[2021-01-10 22:17] Olivia-Chiong commented on #70
Development will peer review the code climate errors and provide update when we can squash/merge.

[2021-01-10 23:02] JafarIronclad commented on #169
Update 1/10/2021:

Need to discuss cases where ESLint should be overridden when addressing difficult-to-refactor functions (particularly where max-lines-per-function is thrown). For discussion Tuesday (or Thursday) with @mealthebear, @shinjonathan.

[2021-01-10 23:03] #158 closed

[2021-01-10 23:04] chalimar commented on #61
@FarzanaPrianka can you please revisit V1 and apply the following edits?

- [ ] scale HFLA log (70%)
- [ ] move logo to lower right hand corner

Thank you!!

[2021-01-10 23:16] ExperimentsInHonesty opened #206 "Build subscribe feature"
### Overview
We have already built the infrastructure to create a mailing list.  We might want to create a newsletter or other type of subscription function so that we can keep contact with users.

### Action Items
- [x] Product
   - [x] Evaluate if this is part of mvp
   - [x] ideate requirements
   - [x] Evaluate technical requirements, not already built
- [x] Design
   - [x] Mock up lo-fi wiref

[2021-01-10 23:24] chalimar commented on #42
@meismith will handle adding in additional screens for YES and NO organization path.

[2021-01-10 23:34] Olivia-Chiong opened #207 "Create a "highlighted link" design in the header"
### Overview
We need to create a "highlighted link" design in the header so the user knows which page they are on.

### Action Items
- [x] Make a copy of the master header
- [x] Mock up 2-3 options for "highlighted link" in the header
- [x] Review with design team to make a recommendation
- [x] Review with Product to get sign up.

### Resources/Instructions
[Figma](https://www.figma.com/file/EFoSu

[2021-01-10 23:35] ExperimentsInHonesty commented on #54
@giosce  will look into this enough to document it for the wiki and add a link to the figma

[2021-01-10 23:39] ExperimentsInHonesty commented on #14
I reopened #54 and assigned @giosce

[2021-01-10 23:47] Olivia-Chiong opened #209 "Update Contributors Page to include dropdown arrows"
### Overview
Update the Contributors page to include dropdown arrows to open or close the Affiliated/Un-Affiliated drawers

### Action Items
- [x] Add dropdown arrow to the Affiliated/Un-Affiliated drawers in the Contributors page
- [x] Change font color/backgrounds as required
- [x] Review with UI/UX team
- [x] Provide final version to Product for sign off

### Resources/Instructions
[Figma](http

[2021-01-11 00:36] Olivia-Chiong opened #210 "Planning: Create the feature to add organization to the database"
### Overview
We need to create the ability for people to add their organization to the database.

### Action Items
Product
- [x] Needs to discuss how people can add their organization to the database
- [x] Figure out what workflows are impacted or need this ability

### Resources/Instructions
[Figma example](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node

[2021-01-11 01:02] Olivia-Chiong opened #211 "Add "change" feature on Tag Generator in Figma"
### Overview
@giosce will add the "change" feature in the tag generator pages in the Figma

### Action Items
- [ ] Add the "change" feature in Figma

### Resources/Instructions
[Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=4257%3A19651)

[2021-01-11 01:09] Olivia-Chiong commented on #75
@kevinashworth I've approved and merged. Do another PR for any further changes you need to make.

[2021-01-11 01:42] giosce opened #212 "Org Tags"
### Overview
Each Organization in our database needs to have ONE organization tag (like hack-for-la or code-for-boston)

### Action Items
- [x] add a field org_tag to the Organization table in the database
- [x] Populate the org_tag field in the database
- [x] Make sure it is returned in the Organization API

The clearest use case is when the UI user selects an Organization in Tag Generator. That

[2021-01-11 02:12] Olivia-Chiong opened #213 "Create mock up for returned search result on faq page"
### Overview
Create mock up for returned search result so the development can work on it.

### Action Items
Product
- [x] Decide what should be returned when search results are completed

Design
- [x] Mock up the page with the correct wordings
- [ ] Release dependency on #63 when done

### Resources/Instructions
Issue Reference #63

Example from Netflix
![image](https://user-images.githubuserconte

[2021-01-11 02:22] Olivia-Chiong commented on #213
Replace "Frequently Asked Questions" with "Search Results"
The search string should remain in the search bar
Add "Search Results" to breadcrumb

[2021-01-11 03:17] Oskar-Adam-Zloch commented on #207
### Slight change I
- color change of inactive links to dark grey.
- active link didn't change color, but it's weight is now bold

![image](https://user-images.githubusercontent.com/76530424/104143618-854a5700-53c0-11eb-82d3-b0b3af1a36b9.png)

### Slight change II
- Inactive links font weight got changed to light
- Active link font weight got changed to bold
- There were no color changes

![image]

[2021-01-11 03:32] Olivia-Chiong opened #214 "Create MVP version of project card search result"
### Overview
We need to create MVP version of project card search result so that we can differentiate the MVP and post MVP.

### Action Items
- [ ] Make a copy of the project card
- [x] Name it MVP
- [ ] Remove the following features
   - [x]  new issues
   - [x] good first issues
   - [x] location
- [ ] Rename Programming Language to Primary Programming Language

### Resources/Instructions
[Proje

[2021-01-11 08:26] Olivia-Chiong opened #216 "Create new mock up page for Tag Generator"
### Dependency
Add "change" feature on Tag Generator in Figma #211
review to make sure that the whole flow makes sense (if not, make new issues of things for product to fix)

### Overview
Create new mock up pages for Tag Generator screens to accurately describe its behaviour

### Action Items
@meismith will handle adding in additional screens for YES and NO organization path.
- [ ] Add error state

[2021-01-12 18:31] mariastudnicka commented on #191
Here is a [draft](https://docs.google.com/document/d/1c4BxkpN5xO7lHzZzr3qd82K5eFl46qYmYrr0p49fjxc/edit) to be reviewed. There needs to be more definition and input.

[2021-01-12 23:49] stephenJeong commented on #205
is the eslint warnings here meant for the header or the footer? The issue title and description are different.

[2021-01-13 00:14] giosce commented on #211
I'm afraid that Figma doesn't keep versions of the various editing.
Just to double check that in Tag Generator there are inconsistent screens there is this (Org and Proj should be labels by now).
![image](https://user-images.githubusercontent.com/16311029/104389701-10833400-550a-11eb-9e61-fee5f4593dd8.png)

Someone else is also editing the Tag Generator screens, with a new approach to show the ste

[2021-01-13 01:15] giosce commented on #211
I think it is done, maybe we should review it one last time.

[2021-01-13 01:28] giosce commented on #210
I mocked a modal screen to add a new Organization in CTI.
The screen needs to display possible parent organizations (call GET Organizations API?).
The screen does a basic input value validation.
When the user submits, the POST Organization API will verify that the same organization (by name and github tag) doesn't already exist (if it does, the API will return an error message).
If the Organizatio

[2021-01-13 01:32] giosce commented on #210
How is this different from issue #188 ?

[2021-01-13 01:41] giosce commented on #54
My understanding is that @ExperimentsInHonesty  would like to see a URL in the address bar that changes while the user add data points through the multi steps form.
I don't think this is possible. The multi steps form examples and articles I found are all feasible but they keep the parameters in memory, the URL is created only on the last step (when invoking the backend to save the parameters / do

[2021-01-13 02:05] JafarIronclad commented on #169
Shin ran the following commands on the repo during today's group coding session, which automatically resolved the bulk of the phase 1 issues across the project:

"lint": "eslint 'src//*.js'",
"lint:fix": "eslint --fix 'src//*.js'",

[2021-01-13 06:41] Olivia-Chiong commented on #184
Update 01/12/2021
![image](https://user-images.githubusercontent.com/75456721/104415670-41259680-5527-11eb-89ab-48b3e86e1446.png)

[2021-01-13 06:42] Olivia-Chiong commented on #184
Updated 01/12/2021
![image](https://user-images.githubusercontent.com/75456721/104415772-70d49e80-5527-11eb-9e5d-159b46848536.png)

[2021-01-13 21:25] kevinashworth commented on #169
gfm seems to be taking your asterisks and mangling what you posted. I have it as:

[code]

[2021-01-14 02:40] Olivia-Chiong opened #227 "Test ticket from Code Climate"

[2021-01-14 02:40] Olivia-Chiong opened #228 "Refactor src/pages/TagCreator.js to pass code climate"
Function `TagCreator` has 170 lines of code (exceeds 50 allowed). Consider refactoring.

https://codeclimate.com/github/civictechindex/CTI-website-frontend/src/pages/TagCreator.js#issue_5fff8bee8ce7df000100006b

We will need to break these down into subsections to reach the appropriate line limit.

Goal is to pass the code climate check

[2021-01-14 02:43] Olivia-Chiong opened #229 "Create a Theme (Previously: Move all styles.js to global css)"
Motivation:

When this project was first started each component and page has been using useStyles to inject styles as classes into each html element. We should be opting for a global css or sass style sheet.

File `styles.js` has 270 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/civictechindex/CTI-website-frontend/src/components/Header/styles.js#issue_5

[2021-01-14 02:47] Olivia-Chiong opened #230 "Fix "method_lines" issue in src/components/Header/index.js"
### Dependency
#205 needs to be completed

Function `Header` has 72 lines of code (exceeds 50 allowed). Consider refactoring.

https://codeclimate.com/github/civictechindex/CTI-website-frontend/src/components/Header/index.js#issue_5fff8bee8ce7df000100006a

[2021-01-14 02:47] Olivia-Chiong commented on #230
@shinjonathan will work on this on live stream on 1/26

[2021-01-14 02:48] Olivia-Chiong opened #231 "Fix "method_lines" issue in src/pages/TagCreator.js"
Function `handleSubmit` has 67 lines of code (exceeds 50 allowed). Consider refactoring.

https://codeclimate.com/github/civictechindex/CTI-website-frontend/src/pages/TagCreator.js#issue_5fff8bee8ce7df000100006c

[2021-01-14 02:48] Olivia-Chiong commented on #231
related to #229

[2021-01-14 06:07] #70 closed

[2021-01-14 08:25] #75 closed

[2021-01-14 20:20] FarzanaPrianka commented on #61
Here is the updated version:
![form header 1_updated](https://user-images.githubusercontent.com/47132171/104644492-d33eb380-567b-11eb-89e8-2896badcfa98.png)

[2021-01-14 20:25] meismith commented on #216
These are pages for tags generator NO option with blank state and error state
![Frame 232](https://user-images.githubusercontent.com/77039829/104644984-80193080-567c-11eb-8f00-ceaeab7a5437.png)

[2021-01-15 01:13] chalimar commented on #12
1/14/21
Met with the HfLA UI/UX community for best practices for style guide development. Below are screenshots of WIP.

![image](https://user-images.githubusercontent.com/34084181/104667610-4ac80f00-568b-11eb-99eb-a6b9decd80c6.png)
![image](https://user-images.githubusercontent.com/34084181/104667594-43a10100-568b-11eb-8c78-efce095d54e2.png)
![image](https://user-images.githubusercontent.com/3408

[2021-01-15 01:19] Olivia-Chiong commented on #206
Product has decided we are going ahead to include a subscribe form (email capture box).

Text should be "To receive updates about new projects and trending topics on the index, subscribe here"

[2021-01-15 01:50] shinjonathan commented on #132
There is still movement from ops trying to reduce the cost of hosting an AWS environment. This may be on further hold until that has been resolved.

[2021-01-15 01:50] mariastudnicka commented on #63
@chalimar  Pls do a quick competitive analysis for UX recco on returned results and make wire frame.

[2021-01-15 01:52] chalimar commented on #216
Great job, @meismith. Thank you for adding in the additional states and annotating the user flow.

Will need to add an additional screen to show selection from organizations using [autocomplete combo box](https://material-ui.com/components/autocomplete/).

[2021-01-15 01:59] chalimar commented on #142
Still pending:

- [ ] Finalized site styling
- [ ] Update project card (Will need to revisit project card formatting and search result attributes for MVP. See issue #214)
- [ ] Empty state for no projects returned
- [ ] Need to add in copy on how to retrieve additional search results (see below)

[2021-01-15 02:05] mariastudnicka commented on #169
Dev is doing a clean up of the last final issues.

[2021-01-15 02:09] JafarIronclad commented on #205
Scope and focus of issue updated: resolving ESLint warnings with regard to line and function length involves adjusting burger logic (non-trivial code refactor).

[2021-01-15 02:12] mariastudnicka commented on #159
@mu91ba  Please provide the following:
Progress:
Blocks:
Availability:
ETA:

[2021-01-15 02:13] mariastudnicka commented on #209
@halimabushra lost power and will update next Sunday.

[2021-01-15 02:46] mariastudnicka commented on #207
@Oskar-Adam-Zloch provided updated recco in Figma file. See highlighted green rectangle for reference.

[2021-01-15 02:53] mariastudnicka commented on #61
@Olivia-Chiong See the updated google form in prior comment.

[2021-01-15 02:57] Olivia-Chiong opened #232 "Increase code coverage, including for tag generator"
### Overview
We need to increase code coverage for tag creator

### Action Items
@kevinashworth will work on refactoring the code to meet code climate conditions.

### Resources/Instructions

[2021-01-15 05:49] mu91ba commented on #159
<img width="6357" alt="drop down idea" src="https://user-images.githubusercontent.com/74888567/104686348-da6acd80-571e-11eb-8802-d9c2d20a22a2.png">

I made a navigation dropdown.
The top one is with a chevron when you click on it then you see the dropdown.
the bottom one is the drop-down where you won't have to click the navigation. the drop-down will appear when you hover on the nav.
Please revie

[2021-01-15 06:12] #231 closed

[2021-01-15 23:41] qalgit commented on #61
Looks great.

A **Nice to have**:  the Hack For LA logo a littler larger so the Human can see the text: **HACK FOR**

Cheers,
Laurence.

[2021-01-17 17:18] Oskar-Adam-Zloch commented on #206
Hey! I've made subscription component, based on already existing parts.
Here's how it looks
![image](https://user-images.githubusercontent.com/76530424/104850476-a72b6880-58ef-11eb-9a7b-7915a5535d35.png)

Though I've also implemented it into the Footer
![image](https://user-images.githubusercontent.com/76530424/104850524-f4a7d580-58ef-11eb-9edd-d4b1d01261da.png)

I've tweaked a bit few parts, caus

[2021-01-17 18:42] FarzanaPrianka commented on #180
Will start working on it from tomorrow.

[2021-01-17 19:51] chalimar commented on #159
Hi @mu91ba

Edits below:
Add 16px padding around container.
Add divider stroke between pages
Remove last link in Contributors (keep only Unaffiliated and Affiliated).

Will need to show what it looks like when you hover over a page.

Reference #12 and #35

[2021-01-17 20:02] chalimar commented on #206
Hey @Oskar-Adam-Zloch , looks good!

Can you please add more padding between text elements and increase the line height for the copy under Newsletter.

If Product approves, can you please provide tablet and mobile version of the footer at your earliest convenience.

Thank you!

[2021-01-17 20:05] GSnapp commented on #15
Hello, that image you requested is in the Google Drive (https://drive.google.com/file/d/1jsHihqE0ahp0y39Sp2kZR05I6RwjsFUj/view?usp=sharing)

[2021-01-17 20:08] chalimar commented on #216
Hi team, I reviewed this last Thursday but it seems like it was skipped during the meeting. Can you guys please review so we can assign an issue to update the tag generator path on desktop and the annotations?

Thank you.

[2021-01-17 20:13] GSnapp commented on #82
https://drive.google.com/file/d/1M6HZgOjHIgKdIlTw-5UdPh0jPXVbXJNp/view?usp=sharing

[2021-01-17 20:33] chalimar commented on #12
1/17/2021

1:Progress: Still incorporating styling, grid and component usage for the CTI.
2:Blocks: Need to continue adding finalized elements to the design system.
3:Availability: Will be traveling out of state to Montana, will be back after 1/23. Reachable on Slack when I have internet.
4 ETA: On going process, aiming for a solid system by the end of February once reviewed and approved.

[2021-01-17 21:32] kevinashworth commented on #232
Progress: I have a version almost ready to go. My version may be a WIP but it is good enough to commit.
Blocks: Approval of PR #235 (or some other workaround if not approved).
Availability: Excellent.
ETA: 1-2 days after blocks.

[2021-01-17 21:34] giosce commented on #147
I would say to merge the current code, it is already useful and with the database filter that I added it is possible to ignore the 400 and/or focus (manually) on the real problems. I have added also a "notes" field where one can type something to do or to know about one link.

[2021-01-17 21:48] JafarIronclad commented on #228
Update 1/17/2021:
Progress: Assessed code and discussed strategies for refactor; the original code was created to meet a tight deadline, and thus the effort to simplify and create sub methods for the code require some effort.
Blockers: None. Constrained by assignee schedules for pair programming. Additional work planned for week of 1/17.
ETA: 1-2 weeks.

[2021-01-17 21:52] JafarIronclad commented on #169
1/17/2021: No updates from assignee. Team work to clean and refactor code is ongoing. Timeline for completion to be discussed in meeting.

[2021-01-17 22:01] codewilling commented on #205
Progress: refactoring
    Blocks: none
    Availability: 10 hours
    ETA: 1/18/21

[2021-01-17 22:07] GSnapp commented on #82
https://drive.google.com/file/d/1L0Wcv5D8vklVrGtP8Ofss4_-iQ0-6xKg/view?usp=sharing

[2021-01-17 22:17] #160 closed

[2021-01-17 22:21] Olivia-Chiong commented on #117
Product needs to have a discussion on search function and what the next steps are.

[2021-01-17 22:33] Olivia-Chiong commented on #147
@cnk will review PR and let us know when its ready.

[2021-01-17 22:59] #207 closed

[2021-01-17 23:00] Olivia-Chiong commented on #207
Product has signed off on this option

![image](https://user-images.githubusercontent.com/75456721/104858530-cbc61700-58d4-11eb-9241-ee37f194babc.png)

[2021-01-17 23:17] Olivia-Chiong commented on #61
Form header has been updated. Issue closed.

[2021-01-17 23:17] #61 closed

[2021-01-17 23:19] Olivia-Chiong commented on #180
@FarzanaPrianka @mariastudnicka will reach out to discuss this with you.

[2021-01-17 23:28] Olivia-Chiong commented on #191
@mariastudnicka will add needs and pain points to personas draft by Tuesday 1/19

[2021-01-17 23:29] Olivia-Chiong commented on #50
@mariastudnicka will update the confirmed personas into the deck

[2021-01-18 23:35] mariastudnicka commented on #50
Updated.

[2021-01-19 00:17] cnk commented on #229
Kevin and I screen shared on Monday and discussed options for regularizing our styles. He and I are both more familiar with straight CSS (with or without using SASS to compile that css from separate files). But looking at our existing code, the problem we are having is more about not using shared styles than it is about using styles.js. We are both open to migrating everything from jss to plain cs

[2021-01-19 00:24] stephenJeong commented on #150
The issue was resolved with this PR: https://github.com/civictechindex/CTI-website-frontend/pull/233

[2021-01-19 00:58] mariastudnicka commented on #191
Ready for internal review. (See link on top of page in resources)

[2021-01-19 10:52] mu91ba commented on #159
I have to try to work on one dropdown and have applied all the suggested edit, if it works then I can create the dropdowns of the rest.

<img width="5232" alt="drop down" src="https://user-images.githubusercontent.com/74888567/105023826-432eae80-5a6d-11eb-9eac-20d82c2ff8d6.png">

[2021-01-19 19:42] #150 closed

[2021-01-19 19:43] #85 closed

[2021-01-19 19:46] Olivia-Chiong commented on #50
Personas finalised, ready for design.

[2021-01-19 20:05] Olivia-Chiong commented on #15
Hi @GSnapp I've created a page in Figma for you to edit - https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=5091%3A25028

[2021-01-19 23:07] giosce commented on #117
Added a test. This URL https://hackforla.github.io/github-api-test/ (search for covid) returns the following headers among which the "Link" which indicates that there are many more pages.

![image](https://user-images.githubusercontent.com/16311029/105104926-2e5c1600-5a81-11eb-937e-66cd8d9982ed.png)

[2021-01-19 23:10] giosce commented on #188
Product / UI teams please review and let me know if acceptable or whether someone needs to improve the Figma screen to then pass it to developers.

[2021-01-20 06:37] halimabushra commented on #142
I built out the mobile screens first to see if it was fine ? if it is I can make the changes for the tablet and the desktop afterwards. I added a floating question mark button for the search tips.. let me know what you think.
![Mobile - Search - OpenOakland Example](https://user-images.githubusercontent.com/77138081/105136677-0d66e580-5ac0-11eb-9638-8631c4906527.png)
![Mobile - Search - OpenOaklan

[2021-01-22 00:42] giosce commented on #189
I can't see the "admin" user that @ExperimentsInHonesty created in 1Password.

[2021-01-22 02:40] mariastudnicka commented on #159
Make drop down look like current site's drop down and implement the approved mouse over (see image in green box) in Figma.

[2021-01-22 04:25] kevinashworth opened #242 "Add colors, fonts, etc. from Figma to MUI theme"
As discussed in tonight's developer breakout zoom, we are going to use a MUI theme  (currently found in [theme-mui.js](https://github.com/civictechindex/CTI-website-frontend/blob/main/src/theme-mui.js)). I will add to it the design elements found in Figma on the page called "**Guides**."

[2021-01-24 07:10] Olivia-Chiong commented on #188
@chalimar and @mariastudnicka please take a look at this modal and assign someone to revise it to adhere to our design system. Thank you!

[2021-01-24 07:24] Olivia-Chiong commented on #144
Progress: Currently reviewing how WBS relates back to OKRs as currently almost all tasks are in one result bucket.
Blocks: Researching
Availability: going camping this week, will only be able to work on it next week.
ETA: 2/4/21

[2021-01-24 07:52] Olivia-Chiong commented on #117
@giosce I'm of the opinion we should write to GitHub to request for increased API rate limit or at least a methodology to achieve it.

[2021-01-24 16:08] mu91ba commented on #159
I have followed the drop-down that civic tech currently has.

![3](https://user-images.githubusercontent.com/74888567/105636042-0ce79980-5e88-11eb-833c-099c33b2b6a0.png)

[2021-01-24 18:47] meismith commented on #180
I have 2 version to how it looks for the sitemap,
This one is version 1
![Sitemap V1](https://user-images.githubusercontent.com/77039829/105640139-54e7cb80-5e4a-11eb-86e0-91114d7b0116.png)

This one is version 2 and the footer ver2
![Sitemap V2](https://user-images.githubusercontent.com/77039829/105640148-67fa9b80-5e4a-11eb-9f1c-ce77b6f2a435.png)
![Footer Sitemap ver2](https://user-images.githubus

[2021-01-24 21:15] chalimar commented on #180
@meismith typically site maps are structured from top to bottom level content. the formatting from left to right makes it hard to understand what is considered is a child / parent relationship or what links are part of the dropdown at first glance. Please reformat to follow a more conventional format such as the images below. Thank you.

![image](https://user-images.githubusercontent.com/34084181/

[2021-01-24 21:23] chalimar commented on #159
@mu91ba please ensure that when a dropdown element is hovered, that there is enough readability for the link label. Right now white text on light gray would not meet accessibility standards. Also when the UI is finalized, please make sure that the text lines up properly such as the example below:

![image](https://user-images.githubusercontent.com/34084181/105643861-4946d580-5e47-11eb-8d8d-87f343f

[2021-01-24 21:35] chalimar commented on #206
To be assigned to new / jr. team member:

**Immediate edits:**

- [ ] Increase vertical spacing between pages under nav headings to 8px or 16px apart
- [ ] Increase line height to text under Newsletter. (has this copy been approved by Product team?)
- [ ] Check that the label for email in the subscribe box is no smaller than 12px.
- [ ] Check the copy below with our Github and attributions is no s

[2021-01-24 21:42] chalimar commented on #142
hey @halimabushra, thanks for building out the additional screens. I would like to verify with product team if adding a floating button for mobile would be the best way to address the additional search tips. Ideally I would like to maintain consistency with how we have it on the desktop page at the bottom of the search results, but I am open to the most conventional method.

[2021-01-24 21:44] chalimar commented on #12
1/24/2021

1:Progress: I have not been able to work on the Figma file while out of town.
2:Blocks: None, just time and availability to add onto the system.
3:Availability: Will make time after today's meeting to add onto the file.
4 ETA: On going process, aiming for a solid system by the end of February once reviewed and approved.

[2021-01-24 22:03] codewilling commented on #205
Progress: first refactor done
Blocks: none
Availability: 10 hours
ETA: 1/24/21

[2021-01-24 22:10] mariastudnicka opened #244 "Read Me File Needs to be Updated"
### Overview
We need to make sure that the readme is uptodate.

### History
We used to have one file - a readme, but then we split into two files.  Also the original readme came from HackforLA's website team, so there might be some artifacts about the way they use docker left over.

### Action Items
- [ ] Comparison needs to be done between the Read me and contributing file.
- [ ] The existing Rea

[2021-01-24 22:27] mariastudnicka commented on #138
On hold per ES Lint #169  and Theming Issue #229

[2021-01-24 22:32] mariastudnicka commented on #147
@cnk will review tomorrow.

[2021-01-24 22:33] mariastudnicka commented on #209
@halimabushra Please provide an update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-01-24 22:49] mariastudnicka commented on #142
@meismith Our notes from last Thursday:
1. Desktop and mobile should operate the same.  @chalimar will provide size for the linked words "Search Tips."
2. Operation of Search Tips should be the initial screen has the link and then when clicked, expands container (white box). Upon clicking "x" container closes.

@chalimar will reformat text.

[2021-01-24 22:52] mariastudnicka commented on #216
Dependency waiting on @giosce, @ExperimentsInHonesty, @emecas

[2021-01-24 23:07] mariastudnicka commented on #162
Dependency #68

[2021-01-24 23:22] halimabushra commented on #209
I am struggling a bit with creating hierarchy within the drop-downs. Please give me any suggestion that might help. thank you.

![2 - Directory - Search Query](https://user-images.githubusercontent.com/77138081/105646959-e0745300-5e70-11eb-9e68-0c035bd4f948.png)

[2021-01-24 23:27] halimabushra commented on #142
I removed the question mark and added underlines search tips as a floating button as suggested earlier.

![Mobile - Error](https://user-images.githubusercontent.com/77138081/105647048-5f698b80-5e71-11eb-93b4-a200187a51ab.png)
![Mobile - Search - OpenOakland Example](https://user-images.githubusercontent.com/77138081/105647098-92ac1a80-5e71-11eb-8883-166ca7a19d1e.png)
![Mobile - Search - OpenOaklan

[2021-01-24 23:35] halimabushra commented on #142
This is the tablet screen.

![FAQ](https://user-images.githubusercontent.com/77138081/105647340-ebc87e00-5e72-11eb-8a18-e8b06b624635.png)

[2021-01-24 23:35] mariastudnicka opened #245 "Contributor Badge for Organizations that Contributed to CTI"
### Dependency
Finish organization page
logic #249
and layout (find issue)

### Overview
We need to create a badge-like icon that visually designates those organizations that contributed to CTI. The badge-like icon can also be used on the contributor's page and Read me files to link back to CTI.

Currently we don't have a UI icon/badge that represents those organizations that have contributed.

##

[2021-01-24 23:37] halimabushra commented on #142
expanded view on tablet

![Tablet - Search Result](https://user-images.githubusercontent.com/77138081/105647367-27fbde80-5e73-11eb-9e74-80a767f144c6.png)

[2021-01-24 23:52] halimabushra commented on #142
Sure if not a floating button, then I am happy to copy the desktop version for the mobile too.

Halima Bushra

[2021-01-25 00:00] halimabushra commented on #209
1) progress - worked on Dropdown's on the Organizations page, tried to create hierarchy within the drop downs.
2) blockers ? - not sure what you mean
3) availability- weekdays and evenings
4) ETA ? - done with my part and it needs review.

Halima Bushra

[2021-01-25 00:16] giosce opened #246 "Update Organization data from Github"
### Overview
Twice a day or so, run a script that update CTI organizations table "Contributor" flag.

### Action Items

- [x] Add the flag in Organization table
- [x] Create the script (to run manually) to update the database (either the flag y/n, remove or add completely an organization)
- [ ] Create a report with some information useful to contact the organization (for example if they removed ci

[2021-01-25 00:55] ExperimentsInHonesty commented on #117
@giosce will look to see if the languages api per repo has same limits.  See .js file from poc: https://github.com/hackforla/github-api-test/blob/master/index.js

[2021-01-25 02:53] mu91ba commented on #159
Thanks Chali, I'll update it today.

On Mon, Jan 25, 2021 at 2:23 AM Chali Prasertsri <notifications@github.com>
wrote:

[2021-01-25 04:26] mu91ba commented on #159
I have updated the issue, if it looks fine then you can assign me any other issues or suggest any changes if needs to make in the navigation bar.

![4](https://user-images.githubusercontent.com/74888567/105661367-06d8d380-5eef-11eb-8076-8a7e47ab3ae1.png)

[2021-01-25 05:21] halimabushra commented on #209
I have 4 different versions to review - for the next meeting, I will update you on the screens and explain everything.

[2021-01-25 06:22] meismith commented on #180
this is the sitemap after i change it more into top bottom level content
![Sitemap Ver2](https://user-images.githubusercontent.com/77039829/105668508-762cd400-5eab-11eb-92f7-e3b311c630af.png)

Feel free to give more feedback

[2021-01-26 19:59] ExperimentsInHonesty opened #249 "Organization page rethink"
### Overview
We need to check every action and the pages expected behavior and annotate the figma as appropriate.

### History
We have been reviewing the page design and been making changes.  Everything is not yet worked out, so we need to do another full review.

### Action Items
- [ ] Change the items we talked about at the last meeting
- [ ] Identify new inconsistencies to review.
- [ ] Discuss

[2021-01-26 20:02] ExperimentsInHonesty commented on #249
Hi @giosce , I was reviewing the document with Maria today.

I did move the first page the left so that the comments that were overlapping got fixed, but there is still quite a bit that is not consistent from page the page (e.g., the number of results showing up for affiliate and non affiliated.

Also, it would be good if you changed the shape for the badge to be a circle or star because it being

[2021-01-26 20:16] giosce commented on #212
@cnk, when you have a minute I'd like to discuss how we can implement this.
We need to return all ancestors (even just github-name) of an Organization. For example, most US organizations have CodeForAmerica parent which has CodeForAll parent. So we should return CodeForAll / CodeForAmerica / CodeForBoston

I may take a better look into the code and let you know if I find a way. If you have an idea

[2021-01-26 20:16] ExperimentsInHonesty commented on #213
I suggest we don't replace the breadcrumb but instead we add to it.
So right now it says:
 - Home / Radical Collaboration / FAQ
 I suggest:
- Home / Radical Collaboration / FAQ / FAQ Search Results

[2021-01-26 20:23] cnk commented on #212
When you say 'Each Organization in our database needs to have ONE organization tag' is 'tag' a visual element to display data we already have, such as parent organization if any?  or is this a new data element?

[2021-01-26 20:32] giosce commented on #117
I believe that non-search API calls (like languages and issues) have these limits (I'll finish to double check).
For API requests using Basic Authentication or OAuth, you can make up to 5,000 requests per hour
For users that belong to a GitHub Enterprise Cloud account, requests made using an OAuth token to resources owned by the same GitHub Enterprise Cloud account have an increased limit of 15,00

[2021-01-26 20:34] ExperimentsInHonesty commented on #211
its not done.

[2021-01-26 21:03] ExperimentsInHonesty commented on #232
@kevinashworth Is this issue about the tag creator (the feature that creates the tags in the tag generator wizard?  Or is this about the whole tag generator.  If it is about the whole thing, please rename the issue to be

 instead of

[2021-01-26 21:10] ExperimentsInHonesty commented on #227
@Olivia-Chiong Do we need to keep this

[2021-01-26 21:20] ExperimentsInHonesty commented on #189
@giosce please write out a user story for the overview.  In the format of " we need to do X for Y reason"

[2021-01-26 21:22] ExperimentsInHonesty commented on #189
We are trying to figure out what the feature category for this is.  Please look at our [feature labels here](https://github.com/civictechindex/CTI-website-frontend/labels?q=feature%3A), and identify if there is a new one needed or if this fits into an existing.

[2021-01-26 22:16] #9 closed

[2021-01-26 22:17] #6 closed

[2021-01-26 22:18] ExperimentsInHonesty commented on #66
See details from this issue: https://github.com/civictechindex/CTI-website-frontend/issues/6

[2021-01-26 22:19] #4 closed

[2021-01-26 22:20] nrrao opened #250 "Refactor FAQ screen to pass ES lint and code climate"
### Overview
Faq page has 158 lines of code (exceeds 50 allowed). Consider refactoring.

### Action Items
Need to break into components and also manage state.

Goal is to pass ES lint expectations

[2021-01-26 22:48] mariastudnicka opened #251 "Create documentation for Development error messages"
### Dependency
When product signs off the the current changes to the figma, then this can be worked on.

### Overview
We need to create documentation to track Development error messages to standardize the responses.

### Action Items
   - [ ] Dev Ops to identify error responses from the back end
   - [ ] Create list of Development errors in Wiki

### Resources/Instructions

[2021-01-27 01:06] #244 closed

[2021-01-27 02:17] mariastudnicka commented on #143
We need to review as team.

[2021-01-28 17:17] kevinashworth commented on #232
@ExperimentsInHonesty My PR improves code coverage throughout. It's meant to be a project-wide step forward. The tests are not genius-level to be frank, but rather simple and potentially brittle, but they get code coverage up from 50% to 80%, including in the Tag Generator, and then we can go from there.

[2021-01-28 21:51] nrrao commented on #250
I finished refactoring and have made [PR](https://github.com/civictechindex/CTI-website-frontend/pull/252)

[2021-01-28 23:17] giosce commented on #147
PR https://github.com/civictechindex/CTI-website-backend/pull/30 still to be reviewed and merged.

[2021-01-28 23:23] giosce commented on #189
Added a Data Admin user in 1Password, let me know if any issue.

![image](https://user-images.githubusercontent.com/16311029/106210978-dd8da100-6195-11eb-8ba3-c56b46723b0a.png)

[2021-01-28 23:23] #189 closed

[2021-01-28 23:24] giosce commented on #14
@ExperimentsInHonesty, I think Figma is completed now, let's have one last review on Sunday?

[2021-01-28 23:25] giosce commented on #21
@ExperimentsInHonesty, is this complete now? We can have one last review on Sunday.

[2021-01-28 23:26] giosce commented on #211
I think this is complete now, we can have one last review on Sunday.

[2021-01-28 23:27] giosce commented on #54
Let's review this on coming Sunday and decide what we want to do.

[2021-01-28 23:41] giosce commented on #249
I changed the badge icon.
Reviewed the numbers of contributors, I think it is consistent now.
Let's review next Sunday.

[2021-01-28 23:42] giosce commented on #42
I think this is now complete, let's review it one last time on Sunday.

[2021-01-29 00:36] chalimar commented on #159
UI Edits

- [ ] Change Contributors to Organization and reference #180 for the pages under this dropdown.
- [ ] Use a brand color for the hover state not just gray. Review #12 for design system reference.
- [ ]  Ensure that the fonts used in the header will be Regular and Bold weight only.

[2021-01-29 00:49] giosce commented on #117
api.github.com/repos/civictechindex/CTI-website-frontend/issues?labels=good first issue has a 5,000 calls per hour limit
https://api.github.com/repos/hackforla/food-oasis/issues has a 5,000 calls per hour limit

Keep in mind that these calls too can return multiple pages for one response.

[2021-01-29 00:53] giosce commented on #67
https://ckingbailey.github.io/publiccode-pusher/

[2021-01-29 01:15] mariastudnicka opened #253 "Finalize User Stories"
### Overview
Persona development is driving our user stories. Our version our CTI Personas is Work In Progress.

We need to complete our existing list of user stories so that we can capture all site requirements.

### Action Items
We need to finalize our existing personas needs and pain points.
- [ ] Create a survey for distribution.
- [ ] Gather email distribution list for proto-persona segments:

[2021-01-29 01:19] kevinashworth commented on #242
Update: I have a version of this ready to show during the Zoom. See PR #243
Progress:
Blockers: PR approval
ETA:

[2021-01-29 01:20] kevinashworth commented on #232
Progress:
Blockers: Approval of PR #235 (or some other workaround if not approved)
Availability: Excellent
ETA:

[2021-01-29 01:20] kevinashworth commented on #242
Progress: I have a version of this ready to show during the Zoom. See PR #243
Blockers: Approval of PR
Availability: Excellent
ETA:

[2021-01-29 01:34] chalimar commented on #12
Currently working on site layout and margins. Next step for this would be gathering all of the iconography and components and listing where and how they are used.

[2021-01-29 01:37] mariastudnicka commented on #191
I created a new issue for research validation of our proto-personas. I added dependency comment to overview.

[2021-01-29 02:08] codewilling commented on #205
Progress: done
Blocks: wanted to get confirmation on material UI implementation
Availability: 5 hours
ETA: 1/24/21

[2021-01-29 02:15] ExperimentsInHonesty commented on #169
@Kevin will run eslint and make a new issue for each set of items per page that comes up.  Will also cross check with the list above.

Estimated ETA: a couple of days.

[2021-01-29 02:23] ExperimentsInHonesty commented on #228
1. Progress about half way through
2. Blockers
3. Availability: @shinjonathan @JafarIronclad will be working on this question for you on tuesday.
4. ETA: about 1-2 weeks

Rename TagCreator.js to tag taggenerator.js

[2021-01-29 02:28] ExperimentsInHonesty commented on #205
Make sure that issue 230 is resolved by your current work.  If not, after this issue is closed.  Release dependency on #230.

[2021-01-29 02:35] ExperimentsInHonesty commented on #229
The team will update with decisions.  @nrrao has already started using the theme that @kevinashworth has proposed.

[2021-01-29 02:49] ExperimentsInHonesty commented on #159
also please show menu designs on two sample pages (gray and blue backgrounds)

[2021-01-29 03:09] ExperimentsInHonesty commented on #142
remove light bulb.
change "Search Tips" when it appear on filter page to be "Filter Tips"
remove drop shadow or other
@ product team to write content for Filter Tips.

![Screen Shot 2021-01-28 at 7 08 53 PM](https://user-images.githubusercontent.com/37763229/106226545-4e37bc00-619c-11eb-973e-cbb6de94d344.png)

[2021-01-29 03:19] #242 closed

[2021-01-29 03:35] ExperimentsInHonesty commented on #209
@halimabushra please put the screenshots of the changes in the issue

[2021-01-29 15:42] kevinashworth opened #255 "Resolve ESLint warnings in ContributorThumbnail.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:43] kevinashworth opened #256 "Resolve ESLint warnings in DropdownThumbnail.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:43] kevinashworth opened #257 "Resolve ESLint warnings in ParentContributor.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:44] kevinashworth opened #258 "Resolve ESLint warnings in ProjectCard.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:44] kevinashworth opened #259 "Resolve ESLint warnings in getOrgId.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:45] kevinashworth opened #260 "Resolve ESLint warnings in getOrganizationGithubInfo.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:45] kevinashworth opened #261 "Resolve ESLint warnings in getOrganizationLinks.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:46] kevinashworth opened #262 "Resolve ESLint warnings in src/index.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:46] kevinashworth opened #263 "Resolve ESLint warnings in src/pages/Contributors/index.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:47] kevinashworth opened #264 "Resolve ESLint warnings in src/pages/HowToUse/index.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:47] kevinashworth opened #265 "Resolve ESLint warnings in src/pages/Landing/index.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:48] kevinashworth opened #266 "Resolve ESLint warnings in Projects.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:48] kevinashworth opened #267 "Resolve ESLint warnings in TagCreator.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:49] kevinashworth opened #268 "Resolve ESLint warnings in src/styles.js"
### Overview
This file has ESLint errors or warnings:

[code]

### Action Items
Resolve the errors or warnings. If there is a good reason to keep any piece of offending code, disable ESLint as shown below.

### Resources/Instructions
To see all ESLint errors and warnings, run this from the command line: `npm run lint`
Or for only one file, run this: `npx eslint path/to/file.js`

To close this issu

[2021-01-29 15:53] kevinashworth commented on #169
There are now 14 new issues for the 14 files with ESLint errors and warnings. The new issues will resolve the "**Clean up code in ESLint**" part of this large multi-file issue. However, it remains to be seen if they will all "**pass Code Climate**" -- but we will open new issues as needed, so I am closing this one for now.

[2021-01-29 15:53] #169 closed

[2021-01-29 16:09] kevinashworth opened #269 "Resolve ESLint issues with serviceWorker.js"

[2021-01-29 16:09] kevinashworth commented on #269
Because this file is "owned" by create-react-act, we can assume it is thoroughly linted, tested, and good to go without us touching it.

[2021-01-29 16:29] kevinashworth commented on #229
Closed by #243

[2021-01-29 16:29] #229 closed

[2021-01-30 01:12] stephenJeong commented on #260
It looks like the console logs were intentionally left here to provide more data. Should I still remove it for the sake of the eslint warnings?

[2021-01-30 01:37] stephenJeong commented on #258
Progress: completed once PR is merged
Blockers: none
Availability:
ETA: done

[2021-01-30 02:00] #258 closed

[2021-01-30 03:18] stephenJeong commented on #259
Progress: completed once PR is merged
Blockers: none
Availability:
ETA: done

[2021-01-30 03:44] stephenJeong commented on #260
Progress: completed once PR is merged
Blockers: none
Availability:
ETA: done

[2021-01-31 00:36] giosce commented on #212
Able to add 2 level of ancestors.
Need to verify if github_name is the intended field.

Unrelated, but I see that via Swagger, search Organization by name is case sensitive! It should not! I guess the UI is not calling the API when user is searching...
Also, why do we have put and patch and no post?

[2021-01-31 01:15] giosce commented on #147
Until PR 30 isn't merged I don't want to do any other backend work that can cause conflict.

[2021-01-31 01:16] giosce commented on #212
Until PR 30 isn't merged I don't want to commit any other backend work that can cause conflict.

[2021-01-31 01:49] giosce commented on #67
![image](https://user-images.githubusercontent.com/16311029/106372341-b4f3db80-633c-11eb-93e2-1978c43116dd.png)

[2021-01-31 01:51] giosce commented on #67
It's great, it guides you through fixing the errors (missing fields) and in the end it opens a pull request (so I can merge it or not).
To verify if feature and tag are mandatory
To verify where the values in the dropdowns (and other lists) come from.

[2021-01-31 10:36] mu91ba commented on #159
![11](https://user-images.githubusercontent.com/74888567/106381289-85df7780-63d9-11eb-9e84-e74e5a880f7c.png)

[2021-01-31 19:31] chalimar commented on #159
Please place the headers on our existing desktop pages that have a teal background / header and a gray page such as the search project or make a donation page.

These examples do not provide enough of a design decision without being placed against the right context.

Thank you

Sent from my iPhone

[2021-01-31 21:54] chalimar commented on #12
1/31/2021 Update

More pages have been created. Still designing and prioritizing all existing components and their usage into this document.

![image](https://user-images.githubusercontent.com/34084181/106399148-cafcad00-63cb-11eb-9d36-81407b55c231.png)

[2021-01-31 22:10] #268 closed

[2021-01-31 22:11] nrrao commented on #250
I changed the PR to draft and wanted to incorporate some changes from Thursday's meeting. Will be done by tonight.

[2021-01-31 22:21] codewilling commented on #205
Progress: implementing hover effect from third party library 'material-ui-popup-state'
Blocks: none
Availability: 5 hours
ETA: 2/3/2021

[2021-01-31 22:22] mariastudnicka commented on #265
@e0marina  Please provide an update on the issue.
1. Progress: Completed. Will be putting in PR today.
2. Blocks: None
3. Availability: N/A
4. ETA: N/A

[2021-01-31 22:24] JafarIronclad opened #276 "Handle getOrgId error case"
### Overview
Handle GitHub URL and data errors when thrown in search page, per comments by StephenJeong. Organization search page currently flags no error for user if search bar contents return no results.

### Action Items

- [ ] Create database entry that deliberately triggers an error case for code testing.
- [ ] Implement error handling and message for getOrgId code.

[2021-01-31 22:24] #259 closed

[2021-01-31 22:29] mariastudnicka commented on #147
@giosce Put in a [PR](https://github.com/civictechindex/CTI-website-backend/pull/30) that is a sum of the issues but doesn't address Facebook and Twitter.

[2021-01-31 22:30] #260 closed

[2021-01-31 23:11] mariastudnicka commented on #209
@halimabushra Can you please add
Please see this image for how we're currently displaying the total number of organizations and those who have contributed to the Index.
![Screen Shot 2021-01-31 at 2 52 25 PM](https://user-images.githubusercontent.com/75585533/106400647-89bccb00-63d4-11eb-8871-82d5fde5e200.png)

E.g., In the image above is typing "Code for Sa" and the results that they see, reflect

[2021-01-31 23:12] mariastudnicka commented on #209
Were interested in all versions you have created, but we need context with the numbers in the designs.
Please contact @chalimar for reference.

[2021-01-31 23:15] e0marina commented on #264
Progress: Working on it.
Blocks: None
Availability: N/A
ETA: 1/31/21

[2021-02-02 20:06] Olivia-Chiong commented on #14
One more Sunday and we should be finished with this.

[2021-02-03 00:10] giosce opened #284 "Links checker improvements"
### Overview
The first version of Links Checker has been deployed with PR30 (on CTI-backend repo) and issue #147. Now it needs some improvements

### Action Items
[] Remove false Facebook negative
[] Remove false Twitter negative
[] Run the script automatically on schedule

Twitter and Facebook return 400 status code because they refuse boot requests. We think we can address this issue using their

[2021-02-03 00:12] giosce commented on #147
We can close this issue, improvements will be handle through issue #284.

[2021-02-03 00:12] #147 closed

[2021-02-03 02:46] #269 closed

[2021-02-03 19:06] kevinashworth opened #288 ""Affiliated Contributors" title is not visible anymore"
### Overview
On the page http://civictechindex.org/contributors/affiliated the headline "Affiliated Contributors" is now the same color as the background, making it effectively invisible. It was yellow until recently.

### Action Items
This is probably due to a Material-UI theming bug. Verify that, and fix.

[2021-02-04 02:19] mu91ba commented on #159
![5a](https://user-images.githubusercontent.com/74888567/106835367-10b1c200-66b9-11eb-8a8b-a00c11c0e136.png)
![5b](https://user-images.githubusercontent.com/74888567/106835370-11e2ef00-66b9-11eb-8bae-49785825b0b2.png)

[2021-02-04 03:20] halimabushra commented on #209
I added the numbers to the best of the ability.

![2 - Directory - Search Query V1](https://user-images.githubusercontent.com/77138081/106840324-e981d300-666d-11eb-9aaa-1b0ae68b2665.png)

[2021-02-04 03:20] halimabushra commented on #209
![2 - Directory - Search Query V2](https://user-images.githubusercontent.com/77138081/106840384-10d8a000-666e-11eb-98b7-84eec11eb598.png)
![2 - Directory - Search Query V3](https://user-images.githubusercontent.com/77138081/106840390-13d39080-666e-11eb-8f7f-bc364f77b400.png)
![2 - Directory - Search Query V4](https://user-images.githubusercontent.com/77138081/106840393-1504bd80-666e-11eb-93a4-f34c

[2021-02-04 03:21] halimabushra commented on #209
Please pick a design so I can at-least narrow down one to work with. thank you @chalimar

[2021-02-04 13:14] mu91ba commented on #159
![tab1](https://user-images.githubusercontent.com/74888567/106897414-b2b2c800-6714-11eb-8acc-094f592718c8.png)
![tab2](https://user-images.githubusercontent.com/74888567/106897421-b5152200-6714-11eb-9735-13d3a5e664d2.png)

[2021-02-04 16:06] chalimar commented on #159
Hi @mu91ba , thank you for the header images. Can you please paste the header onto this screen so we can better assess as well? The image with the side menu on the tag generator doesn't help with the context enough.

![image](https://user-images.githubusercontent.com/34084181/106920306-cf70e080-66bf-11eb-9691-fb9494ab11ef.png)

After that point, design and product can probably close out this issue

[2021-02-04 16:21] chalimar opened #290 "CTI Homepage Screens - Finalize UI"
Please update the CTI Homepage for mobile and tablet using the high-fidelity desktop screen. Artboards with screen sizes for mobile and tablet have been placed onto the Figma page next to the desktop design.

**Instructions**
- [ ] Copy and paste content from desktop to ensure all content matches across screens.
- [ ] Arrange design elements to fit inside of established columns (8 columns for tabl

[2021-02-04 16:33] chalimar opened #291 "CTI About Page Screens - Finalize UI"
Please update the CTI About page for mobile and tablet using the high-fidelity desktop screen. Artboards with screen sizes for mobile and tablet have been placed onto the Figma page next to the desktop design.

**Instructions**

- [ ] Copy and paste content from desktop to ensure all content matches across screens.
- [ ] Arrange design elements to fit inside of established columns (8 columns for t

[2021-02-04 18:07] kevinashworth commented on #232
PR #235 was merged a few days ago, but did not auto-close this issue. Closing it now.

[2021-02-04 18:07] #232 closed

[2021-02-04 18:44] mariastudnicka opened #293 "Create a roster of team roles and good first issues with links"
### Overview
We are creating a tile(s) to accommodate a list of all roles and shortcut links so that team members can easily see what issues are available for their roles and team leads can monitor the number of items in the prioritized backlog.

### Action Items
- [x] Add list of all roles (9)
- [x] Assign good first issue (per role)

[2021-02-04 18:49] mariastudnicka commented on #293
I had to create two tiles since there are character limits per tile.

[2021-02-04 19:19] #266 closed

[2021-02-04 20:32] #288 closed

[2021-02-04 20:37] #265 closed

[2021-02-05 01:09] chalimar commented on #12
2/4/2021

Currently undergoing site audit for UI components. [List can be viewed here.](https://docs.google.com/document/d/1A0ja0ukcMG2TfxtmHKve_gH6jGO-KDpvJLvpKDck7Yo/edit?usp=sharing)

The design system will evolve as we refine our content, but this will help ensure that we have at least MVP components created.

[2021-02-05 01:49] codewilling commented on #205
Progress: done, will make pull request tonight
Blocks: none
Availability: 5hours
ETA: 2/4/21

[2021-02-05 02:08] #250 closed

[2021-02-05 02:25] meismith commented on #142
I made some update in the figma files for search page, but there are a lot of stuff to show so i will explain that in the meeting

[2021-02-05 02:42] mariastudnicka commented on #209
@halimabushra will make design style changes by Sunday's meeting.

[2021-02-05 02:51] mariastudnicka commented on #159
@mu91ba will update the dropdown in situ on the Search and Make a Donation page.

[2021-02-05 02:56] JafarIronclad opened #295 "Tag Creator - Restore Tag Creator output when an affiliated organization is specified"
### Overview
Currently, Tag Creator fails to return results for most attempts to specify a project URL if an Affiliated Organization is selected from the dropdown menu. Hack for LA Brigade -> CTI-website-frontend and Hack for LA Brigade -> CTI-website-backend are the only combinations that correctly find a project and render topic tags.

### Action Items
[ ] - Troubleshoot to determine why Civic T

[2021-02-05 03:05] JafarIronclad opened #296 "Tag Creator - Resolve extra space between pre-adornment github url and input url"
### Overview
Currently, the URL entry block renders a space between the prefix github adornment and the user-entered portion of the url, as pictured:
![Screen Shot 2021-02-04 at 6 59 03 PM](https://user-images.githubusercontent.com/25259432/106983785-54d5ae80-671b-11eb-8f7d-b8da03b608e7.png)

The FIGMA entry for this page shows no space after the prefix.

### Action Items
[ ] - If behavior is not

[2021-02-05 03:07] #267 closed

[2021-02-05 03:11] mariastudnicka commented on #142
@meismith will provide a modal view of the search tip once clicked.

[2021-02-05 20:53] kevinashworth commented on #296
The intent of MUI's InputAdornment is to add a separate prefix to the text field, such as a dollar sign or kilograms, and not to format the contents of the text, which is how we've been (mis)using it.

So I think the way to go is to use only `placeholder`. But in using `placeholder`, we need to handle the case with and without the 'http' prefix. I added a local function to do that, and handle a fe

[2021-02-07 18:18] chalimar commented on #180
Site Map has been reviewed and updated to reflect MVP requirements.

![image](https://user-images.githubusercontent.com/34084181/107155533-cb49fa80-692d-11eb-8bc1-709ca3d1b992.png)

[2021-02-07 18:18] #180 closed

[2021-02-07 18:22] chalimar commented on #12
Currently reviewing comment left by @kevinashworth

**Question: Should I now redo the wireframes to match 600, 960 and 1280 pixel width?**

![image](https://user-images.githubusercontent.com/34084181/107155649-6a6ef200-692e-11eb-9a88-fab94f90182b.png)

[2021-02-07 19:15] kevinashworth commented on #295
After some hunting around, I've found at least one repo that yields results:

<img width="754" alt="Screen Shot 2021-02-07 at 11 13 50 AM" src="https://user-images.githubusercontent.com/1218844/107156869-aa85a300-6935-11eb-9cb1-ff8909a70b4b.png">

The fetch code in Tag Creator may be working, after all.

[2021-02-07 21:30] #296 closed

[2021-02-07 21:59] nrrao commented on #256
@codewilling  can you take a look at the console.log used in this [issue](https://github.com/civictechindex/CTI-website-frontend/blob/main/src/components/ContributorThumbnail.js)

[2021-02-07 22:01] meismith commented on #142
These are the screens for search page on website with a modal view of the search tip once clicked

![Frame 242](https://user-images.githubusercontent.com/77039829/107160690-c43ede80-6965-11eb-950e-b73e868c6801.png)

And these are screens for search page on Tablet with a modal view of the search tip once clicked, i haven't made the modal view for filter tips yet.
![Frame 243](https://user-images.gi

[2021-02-07 22:08] codewilling commented on #205
Progress: need to pull request
Blocks: none
Availability: 5hours
ETA: 2/4/21

[2021-02-07 22:14] Olivia-Chiong commented on #205
@codewilling please refer to [Figma design](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=1329%3A11944)

[2021-02-07 22:19] e0marina commented on #262
Progress: WIP. Will be putting in PR today.
Blocks: None
Availability: N/A
ETA: N/A

[2021-02-07 22:26] #228 closed

[2021-02-07 22:27] JafarIronclad commented on #228
As of 2/7/2021, production Tag Creator throws no eslint errors or code climate issues. Issue closed. TagCreator will still need to be renamed to TagGenerator, but no issues on runtime or automated review.

[2021-02-07 22:27] Olivia-Chiong commented on #209
@halimabushra  Can you please provide the update?

Progress:
Blocks:
Availability:
ETA:

[2021-02-07 22:28] Olivia-Chiong commented on #159
@mu91ba please provide an update.
Progress:
Blocks:
Availability:
ETA:

[2021-02-07 22:33] Olivia-Chiong commented on #117
Pending implementation with GitHub API to find out if we need to write letter for exception.

[2021-02-07 22:54] chalimar commented on #142
Hi @meismith

- [ ] Please update "search tips" link to something more descriptive like "how to improve your search results".
- [ ] Please increase opacity against modal background
- [ ] Explore type hierarchy within modal.
- [ ] Center modal in screen or explore position.

Thank you!
CP

[2021-02-07 23:11] #256 closed

[2021-02-07 23:19] Olivia-Chiong commented on #142
@Olivia-Chiong to write the filter tips for the project search

[2021-02-08 00:56] chalimar opened #302 "Add CTI to Organization Database Modal"
### Overview

Please design a form modal to add an organization to the CTI for L, M, and S screen breakpoints using the provided wireframe, design system and best practices to creating a form.

![image](https://user-images.githubusercontent.com/34084181/107164733-1c291580-6965-11eb-8164-cd503fcecfd3.png)

Form Modal - Adding an Organization to the CTI
- [ ] LG Screen
- [ ] MD Screen
- [ ] SM Scree

[2021-02-08 01:01] chalimar commented on #42
Please add radio buttons to change organization affiliation status (Yes / No) in the wizard if the user needs to revise.

See screens that need to be edited below for reference:

![image](https://user-images.githubusercontent.com/34084181/107164984-1b44b380-6966-11eb-8350-9e0a74b433b6.png)
![image](https://user-images.githubusercontent.com/34084181/107164989-1f70d100-6966-11eb-916d-751f60b4bd75.pn

[2021-02-08 01:02] chalimar opened #303 "Please add radio buttons to change organization affiliation status"
Please add radio buttons to change organization affiliation status (Yes / No) in the wizard if the user needs to revise.

See screens that need to be edited below for reference:

![image](https://user-images.githubusercontent.com/34084181/107164984-1b44b380-6966-11eb-8350-9e0a74b433b6.png)
![image](https://user-images.githubusercontent.com/34084181/107164989-1f70d100-6966-11eb-916d-751f60b4bd75.pn

[2021-02-08 01:09] Olivia-Chiong opened #304 "Final Page Flow Test through Figma"
### Overview
We need to have someone new to the project do a final pass through all the page flows in Figma

### Action Items
- [x] Go through each page in Figma and validate that the page flows are accurate
- [x] If there are any comments, make the comments in GREEN on each page.
- [x] Make a list of the pages that have comments and put them in this issue.

### Resources/Instructions
[Figma](http

[2021-02-08 01:26] meismith commented on #142
I made 2 iteration for how the card will looks like. Explored the type hierarchy within modal. I kinda like the new ones where the card information split into 2 columns. This picture shows that the modal will always be in the middle of the screen. The modal background now is 70% opacity with #000000. Let me know which modal is better !

![modal comparison](https://user-images.githubusercontent.com

[2021-02-08 05:08] mu91ba commented on #159
![individual contributor page](https://user-images.githubusercontent.com/74888567/107178214-825d7900-69f5-11eb-8513-a8dcb1472dea.png)
![make a donation page](https://user-images.githubusercontent.com/74888567/107178220-84bfd300-69f5-11eb-9f46-863e80494e84.png)
![search project page](https://user-images.githubusercontent.com/74888567/107178224-85f10000-69f5-11eb-9b98-41fc07a4f39a.png)

[2021-02-08 05:28] mu91ba commented on #159
Tablet and mobile have hamburger menu. so when the user clicks on it then it can show a menu like this

![drop downon tablet](https://user-images.githubusercontent.com/74888567/107179259-e8e39680-69f7-11eb-97bf-dfd2fce256b1.png)
![tablet dropdowns](https://user-images.githubusercontent.com/74888567/107179262-ea14c380-69f7-11eb-80b7-49ff064b6316.png)

[2021-02-08 07:25] Olivia-Chiong opened #306 "Update Civic Tech Index meeting times with VRMS"
### Overview
We need to inform VRMS so they can update the meeting time on the hackforla.org website.

### Action Items
- [x] Create issue on VRMS project board
- [x] Confirm meeting time is updated

### Resources
Issue https://github.com/hackforla/VRMS/issues/484

[2021-02-08 18:59] halimabushra commented on #209
![2 - Directory - Search Query V1](https://user-images.githubusercontent.com/77138081/107267663-391d2180-6a15-11eb-9b54-ef9df7cd6def.png)
![2 - Directory - Search Query V2](https://user-images.githubusercontent.com/77138081/107267666-39b5b800-6a15-11eb-98c8-06e070c2da4f.png)
![2 - Directory - Search Query V3](https://user-images.githubusercontent.com/77138081/107267668-39b5b800-6a15-11eb-9191-d551

[2021-02-08 22:07] e0marina commented on #264
Progress: Completed, sent a PR.
Blocks: None
Availability: N/A
ETA: 2/8/21

[2021-02-09 20:36] meismith commented on #142
Here is an update for the rest of the task.

I made filter tags responsive with auto layout, but i haven't moved them to design system yet.
![filter tags](https://user-images.githubusercontent.com/77039829/107424630-e6626900-6aeb-11eb-98b2-8483dca83dab.JPG)

These are 3 iteration for the filter tag looks in website (left to right : all filter tags displayed, some filter tags displayed with one say

[2021-02-10 02:39] #262 closed

[2021-02-10 20:59] mariastudnicka commented on #209
@meismith Update please Version 2 to include the resting state, i.e., we need a view that show a screen that shows before the user types in the input "Code for SA" in the search field.

[2021-02-10 21:13] Olivia-Chiong commented on #159
@chalimar can you get @mu91ba to move the designs she made into the header page please? it's currently in the "Support the CTI" page.

[2021-02-10 21:26] Olivia-Chiong commented on #142
In the copy for the modal, please make "GitHub repository search tool" be a link to https://github.com/search

[2021-02-10 21:37] DrIffathsultana commented on #142
We are working on revising the wording WIP.

**Need more search results?**
The repository search uses '&' for multiple search terms. In order to get more results try reducing the number of search terms.

**Want to search outside of the Civic Tech Index?**
All searches from this page include the tag 'civictechindex'. Go to [GitHub’s repository search tool](https://github.com/search) to search outsi

[2021-02-10 23:28] Olivia-Chiong opened #309 "Compare the glossary on brigade.cloud and CTI"
### Overview
We need to compare the glossary on brigade.cloud to the one on CTI to ensure consistency.

### Action Items
- [ ] Make a list of glossary items on CTI
- [ ] Compare list to brigade.cloud list

### Resources/Instructions
[Brigade Cloud Glossary](https://brigade.cloud/GLOSSARY/)

[2021-02-11 17:47] meismith commented on #303
I added radio buttons to change organization affiliation status (from yes to no). I am not sure if i did it right. Will discuss about this issues on the meeting

<img width="1440" alt="Tag Generator - No Organization - Step 4 4 (Changing Affliations)" src="https://user-images.githubusercontent.com/77039829/107676570-492c3f80-6c67-11eb-8f5c-748dd3930061.png">

[2021-02-11 17:49] meismith commented on #303
i also organize and combine the NO and YES organization into one page (Tag Generator - Yes and No Organization Combine). Will discuss about this too in the meeting

![all yes no org](https://user-images.githubusercontent.com/77039829/107676811-8f819e80-6c67-11eb-8b67-332c90c1cd20.JPG)

[2021-02-11 17:50] meismith commented on #302
I haven't been able to do this issues. I will update that in the next deadline meeting

[2021-02-11 23:48] GSnapp commented on #82
![Artboard 1](https://user-images.githubusercontent.com/32406811/107713662-5eb65f00-6c91-11eb-8881-2bb2d44b1277.png)

[2021-02-12 01:37] mariastudnicka opened #312 "Create UI Template Resources"
### Overview
We need to create a template guide for UI that lists resources for best practices so that we can refer to them as a reference.

### Action Items

- [ ] Search sites that we can use as best in class resources by type of feature. Eg., Dropdown menus, nested accordions, navigation, pagination,animation etc. A site may include eg., Figma.com/community.
- [ ] List site resources by type of

[2021-02-12 01:58] #255 closed

[2021-02-12 01:58] #257 closed

[2021-02-12 02:05] mariastudnicka commented on #293
This needs review. There are a few remaining w/o "good first issue."

[2021-02-12 02:14] #261 closed

[2021-02-12 02:22] mariastudnicka opened #313 "Create a complete list of FAQ questions for FAQ page"
### Overview
We need to create actual FAQs for the FAQ page so that we have a complete list that is relevant and connects to the DB.

### Action Items
- [x] Product needs to create a list of FAQ questions for the FAQ page.
- [x] Review
- [x] Update the Django Database.

Resources:
Created [a list of FAQ's in Google sheet](https://docs.google.com/spreadsheets/d/1c82srPlJttjEIx_qBMt5hOI7ZS26r0cyqDy3

[2021-02-12 02:55] mariastudnicka commented on #159
@mu91ba will explore two navigation versions of tablet (two and one column view) for tablet. Please also add search functionality.

[2021-02-12 02:57] kevinashworth opened #314 "Use Material-UI default breakpoints"
### Overview
Our custom theme specifies breakpoints that we are no longer using.

### Action Items
Remove the `breakpoints` object from the `themeSettings` object.

[2021-02-12 02:58] Olivia-Chiong commented on #82
Looks great, we will show @ExperimentsInHonesty on Sunday for her sign off.

[2021-02-12 03:01] Olivia-Chiong commented on #12
@chalimar will finalize columns before Sunday

[2021-02-12 16:53] kevinashworth opened #317 "Create Support Us Page"
### Overview
The design in Figma is ready to begin building the "Support Us" page.

### Action Items
Create the "Support Us" page using our Material-UI best practices. (Either build the whole page, or build it partially and also create additional GitHub issue(s) to complete it later.)
Link the new page into the site.

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?no

[2021-02-12 16:55] kevinashworth opened #318 "Create Share the CTI Page"
### Overview
The design in Figma is ready to begin building the "Share the CTI" page.

### Action Items
- [ ] Create the "Share the CTI" page using our Material-UI best practices. (Either build the whole page, or build it partially and also create additional GitHub issue(s) to complete it later.)
- [ ] Link the new page into the site.

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b

[2021-02-12 16:59] kevinashworth opened #319 "Edit Footer per Figma"
### Overview
The design in Figma is ready to edit the "Footer" component.

### Action Items
Compare Figma design to current Footer component.
Either make all the edits to Footer to get design and code to match up, or create GitHub issue(s) to complete the edits later.
Use our Material-UI best practices.
Ensure that it works properly at all breakpoints. (It does not currently.)

### Resources/Instr

[2021-02-12 18:03] halimabushra commented on #209
![2 - Directory - Search Query V4](https://user-images.githubusercontent.com/77138081/107805004-b658d700-6d32-11eb-8f52-6d64a5e16d16.png)
![2 - Directory - Search Query V1](https://user-images.githubusercontent.com/77138081/107805013-b8229a80-6d32-11eb-978a-45ea81333585.png)
![2 - Directory - Search Query V3](https://user-images.githubusercontent.com/77138081/107805017-b953c780-6d32-11eb-8ace-c4c2

[2021-02-12 18:11] halimabushra commented on #209
![2 - Directory - Search Query V1](https://user-images.githubusercontent.com/77138081/107805755-d76df780-6d33-11eb-8e8f-36150fbf4a7c.png)
![2 - Directory - Search Query V2](https://user-images.githubusercontent.com/77138081/107805764-d937bb00-6d33-11eb-8c32-d78889e3db52.png)
![2 - Directory - Search Query V3](https://user-images.githubusercontent.com/77138081/107805769-db017e80-6d33-11eb-8cfa-235c

[2021-02-13 01:01] kevinashworth opened #320 "Fix Landing page missing space character"
### Action Items
Add space between "on[Github.](https://github.com/civictechindex)" on the landing page.

### Resources/Instructions
As currently seen at http://civictechindex.org/ the on and Github are stuck together:
![image](https://user-images.githubusercontent.com/1218844/107836966-c8973d00-6d53-11eb-8bc0-07a6aa011b5c.png)

[2021-02-13 16:59] kevinashworth opened #321 "Add Layout component site-wide"
### Overview
For design consistency as we roll out Material-UI, we need a `Layout` component to be used at a high level. And then each page will be a child of that component.

Currently, each page has a different approach to the highest-level `div`, `main`, or `Container` in it.

### Action Items
Create `Layout` component. Includes `Header` and `Footer` and `children` at a minimum. Each page will

[2021-02-13 17:05] kevinashworth opened #322 "Remove styling packages that are not Material-UI"
### Overview
Remove **non `Material-UI`** global styling files and packages.

### Action Items
Remove 'react-jss', 'jss', 'jss-preset-default' from `src/index.js`, so we only have a MUI `ThemeProvider`. Don't just delete; verify that all styling created by these is now unused, or redundant. Otherwise, move its implementation to our global Material-UI files.

Remove 'styles.css' too? To be discusse

[2021-02-13 18:17] kevinashworth opened #323 "Implement consistent MUI imports"
### Overview
Use consistent `import` statements, starting with Material-UI.

### Action Items
1. With team, decide between import styles.
2. Implement consistently across all components that use MUI.

### Resources/Instructions

Do we want imports like this?
[code]
Or do we want imports like this?
[code]

[2021-02-13 20:20] tonytangdev commented on #320
Hi ! I'm starting to contribut to open source projects and I found this issue.

So there you go : #325

[2021-02-13 23:59] kevinashworth opened #327 "Refactor NavBreadcrumb to use Material-UI"
### Overview
Refactor `NavBreadcrumb` to use Material-UI

### Action Items
Follow our best practices to use MUI and global theme/styling where possible, and local styling only if it makes sense for this component.

### Resources/Instructions
https://github.com/civictechindex/CTI-website-frontend/blob/main/UI-THEME-STYLES.md

[2021-02-14 00:01] kevinashworth opened #328 "Refactor BottomCallToAction.js to use Material-UI"
### Overview
Refactor the `BottomCallToAction` component to use Material-UI

### Action Items
Follow our best practices to use MUI and global theme/styling where possible, and local styling only if it makes sense for this component.

### Resources/Instructions
https://github.com/civictechindex/CTI-website-frontend/blob/main/UI-THEME-STYLES.md

[2021-02-14 00:03] kevinashworth opened #329 "Refactor ContributorThumbnail.js to use Material-UI"
### Overview
Refactor the `ContributorThumbnail` component to use Material-UI

### Action Items
Follow our best practices to use MUI and global theme/styling where possible, and local styling only if it makes sense for this component.

### Resources/Instructions
https://github.com/civictechindex/CTI-website-frontend/blob/main/UI-THEME-STYLES.md

[2021-02-14 00:03] kevinashworth opened #330 "Refactor Dropdown.js to use Material-UI"
### Overview
Refactor the `Dropdown` component to use Material-UI

### Action Items
Follow our best practices to use MUI and global theme/styling where possible, and local styling only if it makes sense for this component.

### Resources/Instructions
https://github.com/civictechindex/CTI-website-frontend/blob/main/UI-THEME-STYLES.md

[2021-02-14 00:05] kevinashworth opened #331 "Refactor About.js to use Material-UI"
### Overview
Refactor the `About` page to use Material-UI

### Action Items
Follow our best practices to use MUI and global theme/styling where possible, and local styling only if it makes sense for this component.

### Resources/Instructions
https://github.com/civictechindex/CTI-website-frontend/blob/main/UI-THEME-STYLES.md

[2021-02-14 00:15] kevinashworth opened #332 "Add visual regression testing"
### Overview
Add a visual test to Cypress for detecting and notifying the team of visual changes. Changes such as a wrong headline color won't necessarily get caught otherwise.

### Action Items
1. Choose Percy or Applitools or another Cypress plugin suitable to do this. ([See Cypress docs](https://docs.cypress.io/guides/tooling/visual-testing.html).)
2. Add new visual tests or add visual testing

[2021-02-14 00:22] kevinashworth commented on #87
Because the Figma is complete on this page, I am moving this issue from Ice Box to Prioritized Backlog. There may not be much to do left to close this issue, but it should probably be assigned to the person that is assigned to #331

[2021-02-14 00:22] kevinashworth commented on #331
If you are assigned to this, also work to close #87

[2021-02-14 00:31] kevinashworth opened #333 "Add "Refine Results" column to Search Projects"
### Overview
We need to add "Refine Results" column to Search Projects so the search can be filtered.

### Action Items
- [ ] Add the column "Refine Results" as shown in the master design.
- [ ] Build a non-working version of this column and then add a working version of it could be two separate issues.
- [ ] Be sure to consider desktop, tablet, and mobile.

### Resources/Instructions
https://www.

[2021-02-14 00:33] kevinashworth opened #334 "Add "Search Tips" to Search Projects"
### Overview
Add a "Search Tips" modal popup to Search Projects

### Action Items
Add the sentence "How to improve your search result", and ensure that clicking on it pops up the modal with further instructions.

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3931%3A15829

[2021-02-14 12:33] tonytangdev commented on #320
I pushed a new commit in case you didn't see it : #325

[2021-02-14 17:02] giosce commented on #212
We need to know/decide whether we are having the root organization "Code for All" or not.

[2021-02-14 17:16] #320 closed

[2021-02-14 17:27] giosce commented on #212
@cnk
What is the purpose of the Organization field "github_name"?

In the page were we show project details, there is a list of "Affiliations Topic Tags" which resemble names of the project ancestor organizations.

![image](https://user-images.githubusercontent.com/16311029/107883899-c81bb500-6ebf-11eb-92a9-db77e15a4f99.png)

Are these the values of parent github_name?

[2021-02-14 17:37] kevinashworth opened #336 "Fix Footer warning in browser console"
### Overview
Resolve "Invalid prop `xs`" warning

### Action Items
Fix the warning in the browser console that the `Footer` component is causing. Probably a slight misuse of MUI Grid components.

### Resources/Instructions
The warning as seen in Developer Tools:
[code]

[2021-02-14 19:33] mu91ba commented on #159
![02](https://user-images.githubusercontent.com/74888567/107887081-668e3180-6f25-11eb-9922-64b576518630.png)
![03](https://user-images.githubusercontent.com/74888567/107887083-68f08b80-6f25-11eb-8025-f23c0841b47d.png)
![01](https://user-images.githubusercontent.com/74888567/107887084-69892200-6f25-11eb-91e4-28410ed1f1c1.png)

[2021-02-14 20:17] DrIffathsultana commented on #304
@Olivia-Chiong
* Progress: I have reviewed the pages which have been completed mostly. Functionality wise, the page flow looks good to me. I still have to review 'Tag Generator-Yes Organization page'
* Blockers:  Few pages had different version's- I have spent lot of hours figuring out  which was  one is the latest. It was confusing sometimes.
*  For ex :[ Organization Page](https://www.figma.com/

[2021-02-14 22:10] meismith commented on #302
I am not sure this is my issue. I made an iteration for this, but i am not sure for the S, M, and L. Need to have discussion with @chalimar

![Add Organization Modal](https://user-images.githubusercontent.com/77039829/107890541-8d2d7780-6ee7-11eb-9317-bb2a1682916f.png)

[2021-02-14 22:11] #264 closed

[2021-02-14 22:26] kevinashworth opened #337 "Every page in Figma should have a page in src"
### Overview
Sitemaps, links, pages, Figmas, routes, URLs, oh my.

### Action Items
Ensure each page in the Figma sitemap has a page, even if it is a blank placeholder page with just one `<Container>` tag.
Update Issue #128 every time you make a change.
If you change a URL, add a Redirect so that the old URL still works.

### Resources/Instructions
Sitemap: https://www.figma.com/file/EFoSuj1b9G4aZ

[2021-02-14 23:26] giosce commented on #246
Contributor is an Organization that has at least one repository with tag civictechindex?

[2021-02-14 23:49] #321 closed

[2021-02-15 00:04] giosce commented on #212
@emecas this is the issue I was discussing at the end of 2/14 meeting.
First, we need to confirm if github_name field is the one for the Organization official tag.
Second, my suggested change will return more level of ancestors if they exist "above" the parent, so it will facilitate to show the list of ancestor in Tag Generator and Project Card.

If you and @cnk  can let me know your opinion I'll

[2021-02-15 17:35] kevinashworth opened #339 "Material-UI Icons: Regular or Rounded"
### Overview
Most Material UI Icons have a 'regular' and a 'rounded' version. Which version should CTI use?

### Resources/Instructions
To see the difference: https://cti-mui-icons.netlify.app

[2021-02-15 17:43] chalimar commented on #339
Hi @kevinashworth let's go with the rounded versions! Thanks so much!

[2021-02-15 23:59] kevinashworth opened #340 "Update MUI Icons to rounded version"
### Overview
Use "Rounded" version of all Material-UI Icons.

### Action Items
Update as needed:

`import FiberManualRecordIcon from '@material-ui/icons/FiberManualRecord';`
to
`import FiberManualRecordRoundedIcon from '@material-ui/icons/FiberManualRecordRounded';`

`import SearchIcon from '@material-ui/icons/Search';`
to
`import SearchRoundedIcon from '@material-ui/icons/SearchRounded';`

`impor

[2021-02-16 00:20] kevinashworth opened #341 "Use theme breakpoints throughout; remove individual @media rules"
### Overview
Design decision was made to use consistent breakpoints, and to use MUI for that.

### Action Items
Remove all @media rules and replace with `[theme.breakpoint.up(x)]` or similar.

### Resources/Instructions
For any theme-related change, UI-THEME-STYLES.md is a good reference.
Also see https://material-ui.com/customization/breakpoints/#breakpoints

[2021-02-16 15:48] kevinashworth commented on #339
Thanks! Have created #340 accordingly. Closing this issue.

[2021-02-16 15:48] #339 closed

[2021-02-16 19:39] kevinashworth opened #344 "Fix Breadcrumbs color issues"
### Overview
Per Figma, breadcrumb links should be our standard light on dark, or dark on light, but not purple like they are now, nor other colors.

These are typical problems:
<img width="439" alt="Screen Shot 2021-02-16 at 11 41 07 AM" src="https://user-images.githubusercontent.com/1218844/108113127-ef9f8880-704b-11eb-9756-d494df8d886e.png">
<img width="439" alt="Screen Shot 2021-02-16 at 11 40

[2021-02-16 20:13] kevinashworth opened #345 "What are best MUI Button characteristics"
Currently hard-coded width = 256

Maybe add padding, margin instead or in addition to width.

Maybe specify text doesn't wrap.

Need to see how this button behaves on various screens and with longer and shorter text. Especially if text wraps.

[2021-02-16 21:16] #328 closed

[2021-02-17 00:05] kevinashworth commented on #128
| #  | Page/Feature                | URL Link                     | Status                   | Refactor | Name       | Issue/Feature                                                                                                                                        |
| -- | --------------------------- | ---------------------------- | ------------------------ | -------- | ---------- | -----------

[2021-02-18 18:28] mariastudnicka commented on #253
I hope to have the survey draft questions for our Personas by tomorrow EOD.

[2021-02-18 19:48] meismith commented on #142
![Search Results Expanded   New](https://user-images.githubusercontent.com/77039829/108412842-4cd83d00-71f8-11eb-8452-cd9b195e87c4.png)

Let me know if this is okay

[2021-02-19 01:05] Olivia-Chiong commented on #227
Test issue worked, Closed

[2021-02-19 01:05] #227 closed

[2021-02-19 01:56] halimabushra commented on #209
![2 - Directory - Search Query V4](https://user-images.githubusercontent.com/77138081/108446183-baea2780-722b-11eb-9db5-1772ec8e3621.png)
![2 - Directory - Search Query V3](https://user-images.githubusercontent.com/77138081/108446184-bb82be00-722b-11eb-98ff-ce585a8341a9.png)
![2 - Directory - Search Query V2](https://user-images.githubusercontent.com/77138081/108446185-bc1b5480-722b-11eb-944a-17b5

[2021-02-19 02:00] chalimar commented on #12
Layouts using 1280 (12), 960 (6) and 600 (4) width for review.
![image](https://user-images.githubusercontent.com/34084181/108446557-2ecc0600-7213-11eb-8c20-70b7f8c84e67.png)

[2021-02-19 02:29] DrIffathsultana commented on #314
@jbyrne6
Progress:
Blocks:
Availability:
ETA:

[2021-02-19 02:55] #340 closed

[2021-02-19 03:06] #331 closed

[2021-02-19 03:11] Olivia-Chiong commented on #213
@samdelros

- [ ] Please make a copy of the desktop screen
- [ ] Edit breadcrumbs to say - Home / Radical Collaboration / FAQ / FAQ Search Results
- [ ] Add additional question for the screen so it shows 5 qns instead of 4

[2021-02-19 03:22] #230 closed

[2021-02-19 03:25] mariastudnicka commented on #142
@meismith Please add 32 pixels margin in modal. Move "X" icon down.

[2021-02-19 03:31] mariastudnicka commented on #159
@mu91ba  Please show the nav full screen. Search link needs to be placed into the drop down.

[2021-02-19 03:44] halimabushra commented on #209
Add dropdown arrow to the Affiliated/Un-Affiliated drawers in the Contributors page - added chevron from design system to the original design.
 Change font color/backgrounds as required - not required since white was already approved.
 Review with UI/UX team
 Provide final version to Product for sign off - review figma file on sunday.

[2021-02-19 03:50] mariastudnicka commented on #302
@meismith Please, make a modal overlay over "Tag Generator Page"

1. Remove ZIP code field
2. Make City and State a text field
3. Make Country a drop down
4. Change to "Organization Email" from "Your Email"
5. Create a "success state" modal..."Thanks you're in the Index," lorem ipsum

@giosce Could you please advise post submit behavior.

[2021-02-19 04:33] jbyrne6 opened #350 "Wiki Page Update [CONTRIBUTING]"
### Wiki Page
[CONTRIBUTING.md](https://github.com/civictechindex/CTI-website-frontend/blob/main/CONTRIBUTING.md)

### Questions

### Suggestions
Add note in "Step 8: Complete the Pull Request" of the CONTRIBUTING.md wikie page that you may need to create a personal access token to use when trying to push to the repo from the command line after enabling 2 Factor Authentication.
[This is where I fo

[2021-02-19 16:53] #314 closed

[2021-02-19 18:39] kevinashworth opened #354 "Ensure site behaves as expected on wide monitors"
### Overview
Content width is intended to expand up to 1280px max.
Ensure pages behave as wanted at wide screen widths at 1281-pixels and wider.

### Action Items
Modify Header / Footer / Container components to keep all content and visible design elements within 1280px max.

### Resources/Instructions
Should look something like this:
![wide](https://user-images.githubusercontent.com/1218844/10854

[2021-02-19 22:00] #350 closed

[2021-02-20 00:45] giosce commented on #211
I thought I had made the change mentioned in this issue.
But it seems that now there will be a new Figma page with all screenshots, so I don't know who will make sure that everything is brought in.

[2021-02-20 00:45] #211 closed

[2021-02-21 10:51] mu91ba commented on #159
![55](https://user-images.githubusercontent.com/74888567/108622730-8d37f500-745c-11eb-8784-9f9bc511a45c.png)
![1](https://user-images.githubusercontent.com/74888567/108622731-8f01b880-745c-11eb-80d7-080c14c73f89.png)
![2](https://user-images.githubusercontent.com/74888567/108622733-9032e580-745c-11eb-93fe-d58c0238fa1a.png)
![33](https://user-images.githubusercontent.com/74888567/108622734-90cb7c00

[2021-02-21 17:05] meismith commented on #302
I removed the zip code and re organized the modal
![Add Organization Modal revise](https://user-images.githubusercontent.com/77039829/108632386-a16bfa00-743c-11eb-8fe5-b58b468a3d06.png)

I tried to put the modal on top of the organization page, the modal is longer than the page itself.
![modal bigger than the page](https://user-images.githubusercontent.com/77039829/108632460-15a69d80-743d-11eb-83a

[2021-02-21 17:17] meismith commented on #142
![new search with modal search tips](https://user-images.githubusercontent.com/77039829/108632775-ac278e80-743e-11eb-9f6e-bd61d6a8822c.png)

![Search Results Expanded   New](https://user-images.githubusercontent.com/77039829/108632790-b9dd1400-743e-11eb-955e-13326d3168f5.png)

[2021-02-21 17:24] kevinashworth opened #358 "Fix spacing issues around "Code For All" as parent of Affiliated Contributors"
### Overview
Design in Figma shows more white space around **Code For All** than currently on this page:
http://civictechindex.org/contributors/affiliated

### Action Items
In `ParentContributor.js`, restore spacing / padding / margin to match design.

NOTE: The page is currently hard coded with Code For All as the one and only parent. Eventually, we need to account for more affiliated organizatio

[2021-02-21 17:44] #205 closed

[2021-02-21 19:12] kevinashworth opened #359 "Create a TopicTag component"
### Overview
We need a **TopicTag** component. It should have attributes, props that let it be used in the Tag Generator and also on the Homepage.

### Action Items
Build a TopicTag using MUI's Chip and our MUI best practices.
This will replace and/or augment `TopicTags` in `TagCreator/index.js` and `TrendingTopicChip` in `TrendingTopicsSection.js`.
NOTE: It may make sense to create separate compo

[2021-02-21 20:55] kevinashworth commented on #263
I don't think we should keep this issue open. It seems so likely that future refactoring of this part of the site makes anymax-lines-per-function or complexity issues moot for now. The ESLint warnings have been disabled and I think it best to leave it at that.

[2021-02-21 20:55] #263 closed

[2021-02-21 21:28] kevinashworth opened #360 "Move material-ui-popup-state to dependencies in package.json"
### Overview
This package is used in the UI on the site, not just by developers, so needs to be a main dependency.

### Action Items
Move `material-ui-popup-state` from `devDependencies` to `dependencies` in `package.json`

[2021-02-21 22:15] nrrao commented on #318
progress: building the page
blocks: none
Availability: Medium
ETA: one week

[2021-02-21 22:33] e0marina commented on #317
progress: building the page
blocks: none
Availability: Medium
ETA: one week

[2021-02-21 22:35] DrIffathsultana commented on #212
@cnk @giosce
Cynthia and Gio - Will sync up and discuss offline after the meeting and discuss the issue.

[2021-02-21 22:37] e0marina commented on #329
progress: haven't started
blocks: none
Availability: Medium
ETA: one week

[2021-02-21 23:07] #196 closed

[2021-02-21 23:12] DrIffathsultana commented on #159
Update menu for website to reflect correct color.
- Provide two versions - one as as the current and the other indented

[2021-02-21 23:13] #354 closed

[2021-02-21 23:21] JafarIronclad opened #361 "Add current CTI github branch hash as label in corner of footer"
### Overview
As a quality of life item going into MVP (or beyond, pending discussion), add a simple text label to the bottom left / right corner of the footer labelled:

 "branch [GITHUB hash]"

 Example: "branch 9061cd8"

This matches software convention where the version of the software/website is displayed somewhere on at minimum the intro page, and on more UI elements during a pre-release buil

[2021-02-21 23:36] kevinashworth opened #362 "Put title field in head of each page, to show title in browser tab"
### Overview
Currently in your browser history, every page on the site is listed as "Civic Tech Index," no more, no less. We want to make it so that it says "Civic Tech Index - About," "Civic Tech Index - Donate," or such.

### Action Items
Use [Helmet](https://github.com/nfl/react-helmet) (or another similar node package) to modify the `title` field in `head` on each page to include the title of

[2021-02-21 23:47] DrIffathsultana commented on #142
@meismith
we agreed with the option 1.

[2021-02-21 23:49] DrIffathsultana commented on #142
@meismith

We agree with option 1

[2021-02-21 23:50] DrIffathsultana commented on #142
@meismith
We agree with option 1

[2021-02-21 23:59] mariastudnicka opened #363 "Search Filters for Mobile (Tablet and Mobile)"
### Overview
We need to see how top-tier e-commerce websites display filter tags so that we can evaluate best practices.

### Action Items

- [x] Do a comparative analysis of e-commerce site
- [x] Show display behavior of filter tags when a person clicks multiple filters in the check  boxes and the resulting display.

[2021-02-22 00:12] chalimar commented on #126
LG - 1280px and > (12 columns)
MD - 600 - 960 (6 columns)
SM - 600px and < (4 columns).

[2021-02-22 00:17] Olivia-Chiong commented on #87
@elizabethgreenb Please update the tablet and mobile design in [Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A15669) to reflect current breakpoints and typography.

You can find the [design system](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=1329%3A11944) here.

[2021-02-22 00:40] Olivia-Chiong commented on #159
@mu91ba if you unclear about what is required, please Slack me and I will get on a call with you to explain.

[2021-02-23 01:26] samdelros commented on #213
@Olivia-Chiong - FAQ Updated, see screenshots

![Screen Shot 2021-02-22 at 5 25 09 PM](https://user-images.githubusercontent.com/79222282/108791033-fa1dbe80-7532-11eb-9ab5-873a60017751.png)

[2021-02-23 18:49] mariastudnicka commented on #253
I'm going to need more time.

[2021-02-24 12:29] mu91ba commented on #159
![00](https://user-images.githubusercontent.com/74888567/109000237-413bb900-76c5-11eb-9bbc-06a56eff3fb9.png)

[2021-02-24 20:47] DrIffathsultana commented on #66
@Olivia-Chiong @kevinashworth
sync up with Olivia to discuss the issue.

[2021-02-24 20:50] DrIffathsultana commented on #126
Issue is closed based on material UI design after discussing with devs

[2021-02-24 20:53] DrIffathsultana commented on #126
Maria will move breakpoints info to site architecture issue #177

[2021-02-24 20:53] #126 closed

[2021-02-24 20:55] mariastudnicka commented on #177
Material UI Breakpoints:
LG - 1280px and > (12 columns)
MD - 600 - 960 (6 columns)
SM - 600px and < (4 columns).

[2021-02-24 21:13] DrIffathsultana commented on #249
Organization page flow has been been confirmed.

[2021-02-24 21:13] #249 closed

[2021-02-24 21:17] DrIffathsultana commented on #54
https://my-cti-playground.netlify.app/?num=0.9603568739728798&urlStrings=gnwxnnfrp-ult-gfrjpcfqnrvsnjcgocscerwubtcjdscszghttzmqxgybboxfdk&urlStrings=zhyhqkpjqaedtcvtcqwdkaq-rxibtudqeueaugbqtdxpkqugvbvszsapqjhhbflb&urlStrings=vrsdadumowrxyxoy-rrfkbjoymsmnoozls-hnhwavuoiglnksgxaacfetgogjfdn&urlStrings=iywhjzvzriqjzrkfjxdvhhvbbvva-lplemicbgqpo-hrgvmpjypsoxuknpudlmfj&urlStrings=yfsmhyezxnsg-pvmjcgseuw

[2021-02-24 21:29] DrIffathsultana commented on #162
Developers have a reference list of pages #128

[2021-02-25 19:00] #336 closed

[2021-02-25 20:37] mariastudnicka commented on #363
I looked at [Home Depot](https://www.homedepot.com/b/Flooring-Tile/Beige/Brown/Gray/White/N-5yc1vZar0yZ1z0jooaZ1z0jooeZ1z0jqvdZ1z0jqw4Z1z0p5qmZ1z1b9rmZ1z1b9t3Z1z1cn3bZ1z1czoj?NCNI-5) and Amazon.

Home Depot follows the Best Buy model of displaying filter tags as bread crumbs at the top of the middle column as the user selects multiple options. (The Home Depot URL above shows up to three rows of fi

[2021-02-25 22:45] nrrao commented on #318
progress: finished building desktop page
blocks: none
Availability: Medium
ETA: one week

![screencapture-sharethecti](https://user-images.githubusercontent.com/25930687/109229315-1dde4000-7791-11eb-8eed-f30f450809e2.png)

[2021-02-26 01:24] Olivia-Chiong commented on #1
The steps are now in the Wiki. Issue closed.

[2021-02-26 01:24] #1 closed

[2021-02-26 01:25] Olivia-Chiong commented on #109
Closed, we are making this for each individual page.

[2021-02-26 01:25] #109 closed

[2021-02-26 01:28] Olivia-Chiong commented on #65
All passwords created. Issue closed

[2021-02-26 01:28] #65 closed

[2021-02-26 01:30] Olivia-Chiong commented on #113
We are using Cypress and can reevaluate on a new issue in the future if this needs to be changed.

[2021-02-26 01:30] #113 closed

[2021-02-26 01:33] Olivia-Chiong commented on #62
@cnk @emecas @giosce

Do we still need to keep this issue open or have we finalized the schema and can close this?

[2021-02-26 01:46] Olivia-Chiong commented on #171
We have submitted a proposal for the Code for America summit (May 12-13 2021), but its not directly related to CTI.

[2021-02-26 01:46] #171 closed

[2021-02-26 02:21] mariastudnicka commented on #87
@elizabethgreenb will update current breakpoints. Discussion needed to get Elizabeth up to speed.

[2021-02-26 02:26] Olivia-Chiong commented on #318
@Olivia-Chiong will discuss with design on Tweets to be embedded and also assets/branding kit.

[2021-02-26 02:50] mariastudnicka commented on #159
Testing:
Indented list  vs not indented list.  This will be our first test.

Once the results are in, we will then test lines (stroke).
and then finally, the test color of font.

[2021-02-26 02:59] mu91ba commented on #159
<img width="1440" alt="Group 234" src="https://user-images.githubusercontent.com/74888567/109248908-8a485600-7808-11eb-84bb-d146097db634.png">
<img width="1440" alt="Group 235" src="https://user-images.githubusercontent.com/74888567/109248915-8c121980-7808-11eb-87b2-878562c16868.png">

[2021-02-26 03:15] halimabushra commented on #209
- create hierarchy within the unaffiliated drawers
- conduct research on proper icon usage for collapse and expansion menus
- display children companies with 6 or more windows

[2021-02-26 03:18] mariastudnicka commented on #213
@samdelros will update to include pagination if search results more than x FAQs research MUI conventions.

[2021-02-26 03:23] kevinashworth opened #369 "Refactor Donation to use Material-UI"
### Overview
Refactor the `Donation` page to use Material-UI

### Action Items
Follow our best practices to use MUI and global theme/styling where possible. Use local styling but only if/when it makes sense for this page.
You can keep it as `Donation/index.js` with `Donation/styles.js`, or you can eliminate the `styles.js` file, your call. But I am guessing you will end up keeping `styles.js` whil

[2021-02-26 03:26] mariastudnicka commented on #12
@FarzanaPrianka will take a pass at the search card and show its display for desktop, tablet and mobile.

[2021-02-26 18:11] mariastudnicka commented on #214
@FarzanaPrianka will take a pass at the search card and show its display for desktop, tablet and mobile. Once it is signed off on, we will add it to the Design System.

[2021-02-27 00:12] kevinashworth opened #370 "Create 404 page"
### Overview
Build a 404 page as shown in Figma.

### Action Items

- [ ] Create the 404 or Not Found page using our Material-UI best practices. Probably use `import ErrorOutlineRoundedIcon from '@material-ui/icons/ErrorOutlineRounded';`. Maybe base it off the Placeholder page.
- [ ] Add it into the site in `App.js`.

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?no

[2021-02-27 18:03] kevinashworth opened #371 "Add "Volunteer" link"
### Overview
Make "Volunteer with us" point to https://www.hackforla.org/projects/civic-tech-index

### Action Items

- [ ] Add this link in the `Footer` and the `Header`
- [ ] Getting an external link to look right will require a refactor of `NavSubLink.js`

[2021-02-27 23:39] giosce commented on #212
I know we said that "tag" is too generic, but I can't think of a different name for this field than org_tag or github_org_tag or github_tag.

[2021-02-28 17:25] FarzanaPrianka commented on #214
@chalimar Here is my design for project search card result (desktop, tablet and mobile) for your review.

[Project Card Search Result-Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A16778)

[2021-02-28 20:48] meismith commented on #142
This is the update for the mobile version of search page

![Mobile Search CTI](https://user-images.githubusercontent.com/77039829/109432839-25912500-79db-11eb-8ded-f930f5401099.png)
I added background and changed the search bar following the one we have in design system so it match the look we have on Web and Tablet version.

There are couple of changes i made because the screen get smaller than t

[2021-02-28 21:23] #362 closed

[2021-02-28 21:30] #322 closed

[2021-02-28 21:40] JafarIronclad commented on #361
2/28 :
No progress on issue itself, personal development ongoing to learn javascript and react to enable resolution.
No other blockers
Time to complete: 4 hours or less once prioritized.

[2021-02-28 22:19] e0marina commented on #329
progress: haven't started
blocks: none
Availability: Medium
ETA: one week
...waiting to complete issue 317. If this holds anyone up, though, I'm happy to pass on!

[2021-02-28 22:19] e0marina commented on #317
progress: building the page, about half way through
blocks: none
Availability: Medium
ETA: one week

[2021-02-28 22:19] DrIffathsultana commented on #369
Progress:
Blocks:
Availability:
ETA:

[2021-02-28 22:21] giosce commented on #212
Asked Cynthia to meet to help with returning the org grandparent. As soon as we'll able to meet it should be quick to complete, surely by 3/7.

[2021-02-28 22:45] DrIffathsultana commented on #214
Prianka is still working on this issue and fitting the card in  new breakpoints

[2021-02-28 22:49] DrIffathsultana commented on #142
Mei is still working on this issue

[2021-02-28 22:51] Olivia-Chiong commented on #87
Hi @elizabethgreenb can you please let us know your progress on this?

[2021-02-28 23:15] Olivia-Chiong commented on #14
Issue closed as workflows for all pages have been completed

[2021-02-28 23:15] #14 closed

[2021-02-28 23:34] DrIffathsultana opened #373 "Adding organization and Validating"
### Overview
Organization and validation
-
### Action Items
- Discussion whether adding Organization and validating it.
- Adding organization in Tag generator and how do we validate it at that point.

### Resources/Instructions

[2021-02-28 23:38] DrIffathsultana commented on #373
@giosce
Gio is researching Django notification for new data submission

[2021-03-01 05:40] bruceplai commented on #369
Progress: Replaced html elements with mui components.  Working on simplifying the style sheet
Blocks: none
Availability: medium
ETA: 2 days

[2021-03-01 14:36] kevinashworth opened #374 "Fix content width and background"
### Overview
Currently, all content and background are 1280 max-width.

We need to modify pages to reach the desired design:
- All page content fits within max-width 1280px
- But color background is full width of browser
- If page has background image:
  - SVG image is full width
  - PNG image is width of content and remaining background is matching color

### Action Items
Modify each page's Conta

[2021-03-01 15:10] kevinashworth commented on #66
Currently the [Material-UI Autocomplete component](https://material-ui.com/components/autocomplete/) is used in the `Contributors` and `TagCreator` pages.

See it in action:
- in the main search box at http://civictechindex.org/contributors/all
- choose Yes first then search at http://civictechindex.org/tag-generator

For topic tags, Autocomplete should work with https://github.com/TeamWertarbyte/

[2021-03-01 15:20] kevinashworth opened #375 "Which "Copy and Paste" design of Topic Tags do we want?"
### Overview
In Figma, there are two different designs for Topic Tags, as seen in these screenshots:

The version from "Design System" in Figma:
<img width="587" alt="Screen Shot 2021-03-01 at 7 14 12 AM" src="https://user-images.githubusercontent.com/1218844/109517110-c294a200-7a5d-11eb-947f-324848a46b42.png">

The tag as shown elsewhere in Figma:
<img width="421" alt="Screen Shot 2021-03-01 at 7

[2021-03-03 05:05] samdelros commented on #213
FAQ has been updated with pagnation and ready for feedback from @chalimar

[2021-03-04 00:23] bruceplai commented on #369
Changes merged.  Issue resolved

[2021-03-04 00:23] #369 closed

[2021-03-04 18:23] meismith commented on #142
This is the update for the mobile screen using Small Break point and the design system component

![mobile search](https://user-images.githubusercontent.com/77039829/110009955-ba519680-7ceb-11eb-9f21-863138ae401a.png)

I also use the component we have and made them auto layout and variant for other function, i moved them to the design system page
![some component](https://user-images.githubusercon

[2021-03-04 23:24] bruceplai commented on #327
Progress: Reworked NavBreadcrumb component structure/style to be more mui compliant.  Working on color updates
Blocks: none
Availability: medium
ETA: 2 days

[2021-03-05 00:37] nrrao commented on #318
I have made [https://github.com/civictechindex/CTI-website-frontend/pull/378](PR)

[2021-03-05 01:38] mariastudnicka opened #379 "Validation of Search Behavior on Organization Page"
### Overview
We need to Validate with @codewilling regarding feasibility for new design from @halimabushra so that we can choose a design/development direction. Reference Issue #209

### Action Items

- [x] Review with @codewilling the existing work and new work from @halimabushra at the [Organization Page](http://civictechindex.org/contributors/alll)
- [x] Discuss feasibility and LOE if new desig

[2021-03-05 01:40] chalimar commented on #213
3.4.21

Looks great, I really liked the "no results found" page you designed! Thank you!

When you have a moment, could you please design the screen to fit our SM and MD breakpoints, and also adjust this screen to fit the new LG breakpoint size (1280px). Columns/grids have been set up for these artboard sizes.

Next steps would also include adding documentation to the FAQ page on the design system

[2021-03-05 01:43] chalimar commented on #214
3.4.21

Looks great, thank you for tackling this issue!

When you have a moment, can you please reference #142 and use the updated cards on the Search Results screens once it is reviewed and finalized.

[2021-03-05 01:44] chalimar commented on #51
Approved color palette can be found in [Design System.](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=1329%3A11944)

[2021-03-05 01:44] #51 closed

[2021-03-05 01:45] #293 closed

[2021-03-05 01:54] chalimar commented on #142
I think these components look great, thanks for creating them!

To be Designed: We will need to create a consistent No Results Found page for this page and FAQ page (i.e. same icon usage / – See issue #213

I have also asked Prianka to add the updated search results card to these layouts. Can the team please determine the best layout for the MD breakpoint (960px)? Either full width or two columns

[2021-03-05 02:02] chalimar commented on #159
Hey team if this is ready, can someone create a Preferential test on Usability Hub?

FYI, a preferential test is NOT the same thing as A/B testing. You are getting only quantitative feedback rather than qualitative feedback from this method.

[2021-03-05 02:04] chalimar commented on #12
3.4.21
Been a busy week, have not worked on my issue. Sorry!

[2021-03-05 02:04] mariastudnicka commented on #54
Made a decision to use URL strings.

[2021-03-05 02:04] #54 closed

[2021-03-05 02:05] kevinashworth commented on #54
Package 'use-query-params' looks very promising for this purpose, and it's what I used above.

[2021-03-05 02:08] mariastudnicka commented on #333
@kevinashworth not available to work on this issue. Will look at this weekend.

[2021-03-05 02:13] mariastudnicka commented on #345
@chalimar will need to update @kevinashworth re: further styling for smaller screen eg, CTA buttons.

[2021-03-05 02:40] DrIffathsultana commented on #303
@chalimar needs to review and close the issue.

[2021-03-05 02:55] DrIffathsultana commented on #214
Please make a tablet version with reduce spacing between the links.

[2021-03-05 03:19] DrIffathsultana commented on #159
https://app.usabilityhub.com/do/e2175f1aace5/888f

Test has been set up here

[2021-03-05 09:14] Olivia-Chiong opened #380 "Create list of articles for marketing"
### Overview
We need to create a list of articles that need to be written for marketing after MVP launch

### Action Items
- [ ] Brainstorm list of topics
- [ ] Create issues for each article to be written
- [ ] Draft marketing plan and review with marketing team

### Resources/Instructions

[2021-03-05 09:22] Olivia-Chiong opened #381 "Make a list of organizations that are not affiliated to Code for All"
### Overview
We need to make a list of organizations that are not affiliated to Code for All so we can reach out to them and ask them to join the index. Example: data for good

### Action Items
- [ ] Check the following
   - [ ] github
   - [ ] gitlab
   - [ ] bitbucket

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide t

[2021-03-05 09:24] Olivia-Chiong opened #382 "Make a list of top 50 topic tags"
### Overview
We need to make a list of top 50 topic tags on GitHub so we can understand which topics to highlight for our website.

### Action Items
- [ ] Make a list of top 50 topic tags on GitHub

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide the link(s) here.

[2021-03-05 18:21] chalimar opened #383 "Add Usability Hub access to 1password."
Please add civictechindex@hackforla.org and civictechindexdesign@hackforla.org (once invite has been accepted) to 1password vault to access our team page on [Usability Hub.](https://usabilityhub.com/)

[2021-03-05 19:58] Olivia-Chiong commented on #379
@halimabushra when you have finished working on the changes discussed yesterday, please put the screenshots in this issue so I can discuss with @codewilling

Thank you!

[2021-03-06 01:12] halimabushra commented on #379
![2 - Directory - Search Query V3 copy](https://user-images.githubusercontent.com/77138081/110189968-105b3280-7def-11eb-9883-5f2717592379.png)
![2 - Directory - Search Query V3](https://user-images.githubusercontent.com/77138081/110189971-1224f600-7def-11eb-9f86-ce541ba7f77b.jpg)

[2021-03-06 01:13] halimabushra commented on #379
these are the two screens that needs to be compared. please let me know if any other changes need to be made.

[2021-03-06 01:32] Olivia-Chiong commented on #159
Posted in general channel on Slack with the following: `@channel Please help the #civic-tech-index team with a short 1 min test. We hope to learn with this test which version of our drop down menu is easier to scan and navigate to the links that are displayed in the hover menu. Link here :arrow_right: https://app.usabilityhub.com/do/e2175f1aace5/888f`

[2021-03-06 05:12] Olivia-Chiong commented on #383
@chalimar We used the Google account sign in for civictechindex@hackforla.org.

I've add the civictechindexdesign@hackforla.org password into the CTI UI/UX vault.

[2021-03-06 05:12] #383 closed

[2021-03-07 04:34] mu91ba commented on #291
![mobile About](https://user-images.githubusercontent.com/74888567/110229049-54058780-7f28-11eb-93ed-f15b1ad368c8.png)
![Tablet - About](https://user-images.githubusercontent.com/74888567/110229051-55cf4b00-7f28-11eb-81db-465f7d658b05.png)

[2021-03-07 07:10] meismith commented on #142
I updated tablet version with the new break point (960px)
![Tablet with new breakpoints](https://user-images.githubusercontent.com/77039829/110232061-74fab800-7ee9-11eb-960a-df4d42d25558.png)

I use the cards that Prianka made, this one for tablet, it has 32px margin to the side of the artboard following the distance between the card to the border of the screen
![new card on tablet with margin 32p

[2021-03-07 20:36] nrrao commented on #374
I have made [PR](https://github.com/civictechindex/CTI-website-frontend/pull/384)

I have changed only the background for all the pages. It is not passing the code climate because of previous issues.

[2021-03-07 20:46] nrrao commented on #318
PR is merged this issue can be closed.

[2021-03-07 20:51] Olivia-Chiong commented on #306
Times have been updated.

[2021-03-07 20:51] #306 closed

[2021-03-07 21:17] FarzanaPrianka commented on #214
The space has been reduced

[Project card search result- Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A16778)

[2021-03-07 21:25] Olivia-Chiong commented on #379
I have discussed with @codewilling and can confirm that we can have 3 tabs - All, Unaffiliated and Affiliated. The next discussion needs to be with the backend team about API call including Index Contributors.

@giosce @emecas @cnk Could we have a discussion about this please?

[2021-03-07 21:32] giosce commented on #212
Cynthia and I spoke, I have a kind of solution but we want to improve it.
Working on it, should be done by 3/14.

[2021-03-07 22:01] chalimar commented on #12
still working on gathering components and documentation.

![image](https://user-images.githubusercontent.com/34084181/110256392-8b3a5f80-7f4d-11eb-83d9-ae0447425fca.png)

[2021-03-07 22:03] chalimar commented on #375
Please use these tags. We're implementing the correct copy tag from Material UI now.

![image](https://user-images.githubusercontent.com/34084181/110256462-e3716180-7f4d-11eb-8385-6d67076f900c.png)

[2021-03-07 22:05] kevinashworth commented on #333
progress: a rudimentary code block in place. not styled. not functional. available on branch `add-refine-results-333`
blockers: ?
availability: so-so
ETA: next Sunday

[2021-03-07 22:07] Olivia-Chiong commented on #66
@kevinashworth has made the call to use the Material-UI Autocomplete component.

[2021-03-07 22:07] #66 closed

[2021-03-07 22:12] e0marina commented on #317
progress: building the page, 2/3 through
blocks: none
Availability: Medium
ETA: one week

[2021-03-07 22:13] e0marina commented on #329
progress: haven't started
blocks: none
Availability: Medium
ETA: one week
...waiting to complete issue 317. If this holds anyone up, though, I'm happy to pass on!

[2021-03-07 22:38] mariastudnicka commented on #375
@kevin to modify theme to 48 pixels H and 42H tablets and mobile

[2021-03-07 22:39] #62 closed

[2021-03-07 22:40] bruceplai commented on #330
Progress: Started
Blocks: none
Availability: medium
ETA: 1 week

[2021-03-07 22:43] bruceplai commented on #344
Fixed as part of issue #327

[2021-03-07 22:43] #344 closed

[2021-03-07 22:44] bruceplai commented on #327
Refactoring done

[2021-03-07 22:44] #327 closed

[2021-03-07 22:46] #374 closed

[2021-03-07 22:56] mariastudnicka commented on #333
Design needs to be finalized with the proper filtering display (left column).

[2021-03-07 23:11] Olivia-Chiong commented on #379
@cnk will work with @giosce and @emecas to develop an API for filtering index contributors.

Issue created on backend https://github.com/civictechindex/CTI-website-backend/issues/38

[2021-03-07 23:14] JafarIronclad commented on #119
Creation and reference of written meeting minutes has deprecated in favor of directly managing the project board since this issue was opened.

Issue closed.

[2021-03-07 23:14] #119 closed

[2021-03-07 23:17] #379 closed

[2021-03-07 23:23] bruceplai commented on #330
Will work on this after tackling issue #334

[2021-03-07 23:28] Olivia-Chiong commented on #87
Closing this issue. The breakpoints situation is handled in #291

[2021-03-07 23:28] #87 closed

[2021-03-07 23:58] Olivia-Chiong opened #385 "Create a new endpoint for the API that returns all organization aliases"
### Overview
We need to create a new endpoint for the API that returns all organization aliases to be used in Search projects page.

### Action Items
- [x] Create a new endpoint that generates a list of all aliases and organization tags that can be used to cross reference which tags go under Organizations/Affiliations and removes them from the topic tags.

### Resources/Instructions

[2021-03-08 04:45] codewilling commented on #319
@kevinashworth is this the second time this is being addressed? PR #236 shows a commit "Refactor Footer to use MUI".

[2021-03-09 14:41] kevinashworth commented on #319
If I recall, that was an attempt to refactor an existing design and supposedly keep it looking the same, but this is about a new design with additional elements including a newsletter sign-up.

[2021-03-11 20:57] GSnapp commented on #82
![Donation Page Illustration](https://user-images.githubusercontent.com/32406811/110854056-036c9200-827a-11eb-83c3-ac484960f645.png)

[2021-03-11 20:57] GSnapp commented on #82
Here is the Illustration banner for the donation page.

[2021-03-11 21:14] meismith commented on #142
I changed the search button size and the background size for the tablet. For the tablet card. I think it is better to have one colom instead of 2 ( after i checked it on figma mirror on my tablet ). It is more readable and easy to scan since it has lots of information. But in this screenshot, i am still using the one that Prianka made.
![Frame 334](https://user-images.githubusercontent.com/7703982

[2021-03-11 21:59] GSnapp commented on #82
Here is the tag generator illustration banner (still in progress)
![Tag generator illustration](https://user-images.githubusercontent.com/32406811/110860672-afb27680-8282-11eb-8a69-523e05e43178.png)

[2021-03-12 00:52] JafarIronclad commented on #370
Progress: 90% complete. Error behavior is in.
Blocks: Familiarity with javascript and how to override font size and background color. See below for current appearance at max width.
ETA: 3/11 once blocks resolved during meeting.

![404_draft](https://user-images.githubusercontent.com/25259432/110875055-c5776a00-8289-11eb-97aa-4d5efeb8c382.PNG)

[2021-03-12 01:54] bruceplai commented on #334
Progress: almost complete
Blocks: figuring out /tag-generator link issue
Availability: medium
ETA: 1 or 2 days (hopefully)

[2021-03-12 02:13] kevinashworth opened #390 "Create Copy/Paste Icon"
### Overview
Our design in Figma calls for a copy/paste icon that is not found in Material Icons, which is the source we are using for most icons.

### Action Items
Create a copy/paste icon per the design. Ideally, this would be an SVG icon.

### Resources/Instructions
[Figma link](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=1329%3A11944)

**LG** - Wizard - Copy and Paste (the entir

[2021-03-12 02:15] mariastudnicka commented on #246
@giosce spoke to @cnk. @giosce is supposed to be working on this.

[2021-03-12 02:17] mariastudnicka commented on #371
@kliu28 is working on onboarding w. the system.
ETA: She will have this done by Sunday's meeting.

[2021-03-12 02:20] #318 closed

[2021-03-12 02:22] DrIffathsultana commented on #333
Design has been finalized

[2021-03-12 02:23] kevinashworth opened #391 "Remove hard-coded fake data from Project Card"
### Overview
The data that we fetch from GitHub does not have enough information to populate the Project Card as it currently is coded, because there is no way to get "new" issues, and for the time being we are not loading good first issues.

### Action Items
Remove these pieces of fake, hard-coded data:
- [ ] Remove "6 New Issues"
- [ ] Remove "2 Good First Issues"

### Resources/Instructions
Aft

[2021-03-12 02:24] DrIffathsultana commented on #385
Progress:
Blocks:
Availability:
ETA:  update By Sunday

[2021-03-12 02:34] mariastudnicka commented on #15
Blocker: @Olivia-Chiong Need clarity on direction of how to progress Is this a static image or are we proceeding w with a video. Are we doing the self-narrated video or animation video, if so
recommendation would be to have an outline.
@GSnapp would be provide a storyboard and animations.

[2021-03-12 02:42] #345 closed

[2021-03-12 02:46] mariastudnicka commented on #82
We reviewed and provided feedback. @GSnapp will take another pass at the design.

[2021-03-12 02:51] DrIffathsultana commented on #291
Muneeba is still working .
ETA: By Sunday

[2021-03-12 03:02] mariastudnicka commented on #142
@meismith will show a screen at 960 with one column view. She will add different cards to show visual differentiation.

[2021-03-13 17:10] #334 closed

[2021-03-13 17:13] bruceplai commented on #330
Refactoring is done, but the style doesn't exactly match the Figma.  New issue can be opened to refine the styling if needed.

[2021-03-13 17:13] #330 closed

[2021-03-13 17:24] bruceplai opened #398 "Refine Dropdown style to match Figma"
### Overview
The Dropdown style does not exactly match the current Figma Design

### Action Items
-Refine the Dropdown CSS and/or Material UI components to meet the Figma requirements

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=6264%3A39676

[2021-03-13 18:40] DrIffathsultana opened #399 "St. Hack-trick's Day - Hackathon - Tag generator Page"
### Overview
Anybody interested in this project, feel free to join.  During hackathon, we can also spend the time mentoring and learning and grow the community than to finish the tasks.

### Action Items
We want to refine the tag generator page to help project owners find and generate tags to add to their repository so that they can be included in the Civic Tech Index. This is a key functionality

[2021-03-13 21:29] #390 closed

[2021-03-13 21:33] kevinashworth commented on #375
Closing. Addressed by design decisions made and the creation of the CopyPaste icon in #400

[2021-03-13 21:33] #375 closed

[2021-03-13 22:04] kevinashworth commented on #295
Here is another one ( CodeForAfrica / HealthTools.KE-theStarHealth ):
![Screen Shot 2021-03-13 at 2 03 56 PM](https://user-images.githubusercontent.com/1218844/111051022-03e56400-8405-11eb-8fea-b1f5c5012449.png)

[2021-03-13 22:05] kevinashworth commented on #295
I am closing this one now, as it does not now seem to be an issue.

[2021-03-13 22:05] #295 closed

[2021-03-14 06:43] cnk commented on #385
I looked at what @emecas already built. As far as I can tell, this already exists.

https://test-civictechindexadmin.herokuapp.com/api/aliases/
https://test-civictechindexadmin.herokuapp.com/api/aliases/hackforla/

Could someone please link to a figma or other design document for how this is to be used so I can tell if this API fulfills the need or if there might be a better way to present the dat

[2021-03-14 17:26] emecas commented on #385
As @cnk mentioned the endpoint returning all the alias for an specific `tag` / `organization` already exists.

I'm wondering if here we are referring to a more specific requirement about all the `tags` and  `alias' used for one specific organization or project
- all tags can be supplied by a GitHub API call
- returning all tags and aliases for an organization or project would need a functionality

[2021-03-14 18:55] mu91ba commented on #291
![a1](https://user-images.githubusercontent.com/74888567/111080515-9cbcd200-8520-11eb-9462-5c0b49d496fd.png)
![a2](https://user-images.githubusercontent.com/74888567/111080518-9fb7c280-8520-11eb-8a8e-53aba4684ea4.png)
![a3](https://user-images.githubusercontent.com/74888567/111080521-a2b2b300-8520-11eb-82ca-f33f7aab9f21.png)

[2021-03-14 20:08] kliu28 commented on #371
Created a PR here: https://github.com/civictechindex/CTI-website-frontend/pull/404

[2021-03-14 20:54] nrrao commented on #341
1.Progress: started working
2. Blockers: none
3. availability: medium
4.ETA: By Tuesday

[2021-03-14 21:07] #359 closed

[2021-03-14 21:09] giosce commented on #212
Added the field, it's returned by the API.
Someone will need to populate this field.

[2021-03-14 21:10] e0marina commented on #329
progress: haven't started
blocks: none
Availability: Medium
ETA: one week
...waiting to complete issue 317. If this holds anyone up, though, I'm happy to pass on!

[2021-03-14 21:10] e0marina commented on #317
progress: building the page, 3/4 through
blocks: none
Availability: Medium
ETA: one week

[2021-03-14 21:12] giosce commented on #246
Added this field to the Organization API.

[2021-03-14 21:23] DrIffathsultana commented on #212
API has been created.

[2021-03-14 21:24] giosce commented on #210
We need a POST Organization API.

[2021-03-14 21:25] giosce commented on #188
We need to add a POST Organization API.

[2021-03-14 21:25] DrIffathsultana commented on #118
This is an ongoing issue. we do one Last pass after design has been finalized.

[2021-03-14 21:26] mariastudnicka commented on #212
Research official org tags for table and enter it the database.

[2021-03-14 21:29] mariastudnicka commented on #246
@gio will add organizations for testing purposes.

[2021-03-14 21:37] mariastudnicka commented on #142
@kevinashworth will work on this. ETA is next Sunday.

[2021-03-14 21:38] giosce commented on #246
Added some testing data

![image](https://user-images.githubusercontent.com/16311029/111085085-2605e180-84ec-11eb-8218-892379bbbaf5.png)

[2021-03-14 21:41] giosce commented on #212
Added some testing data:

![image](https://user-images.githubusercontent.com/16311029/111085151-7b41f300-84ec-11eb-899e-0f4b4318861f.png)

[2021-03-14 21:51] mariastudnicka commented on #385
@Olivia-Chiong will follow up @giosce, @cnk and @emecas for solutioning.

[2021-03-14 21:51] DrIffathsultana commented on #373
Gio is still working on it.

[2021-03-14 22:08] giosce commented on #206
Can use the POST /api​/subscribe API.​

[2021-03-14 22:09] mariastudnicka commented on #341
Team decided to make "How to Do It" in the footer as a FAQ. Per @cnk FAQs are currently limited to text only.  There will be a link for this FAQ to the Tag Generator instructions page for full view with images.

@Olivia-Chiong find Figma "How to Do it" page for @nrrao

[2021-03-14 22:18] cnk opened #406 "Standardize how we access our backend API"
### Overview
We currently have 2 different ways we are interacting with our Django API - fetch and axios. Because axios is used more than fetch, let's move to using axios.

### Action Items
- [ ] Find existing uses of "fetch" and convert them to use axios.
- [ ] Please make sure tests still pass

[2021-03-14 22:21] DrIffathsultana commented on #209
Progress:
Blocks:
Availability:
ETA:

[2021-03-14 22:30] Olivia-Chiong commented on #323
@maxskewes Let's go with option 2 which is separated imports for each element.

[2021-03-14 23:12] codewilling commented on #360
closed with PR #376

[2021-03-14 23:12] #360 closed

[2021-03-14 23:24] Olivia-Chiong opened #407 "Creation of Individual Organizations Page"
### Overview
We need to plan the process of how the individual organization page will be created and the order in which APIs will be called so front end can build the page.

### Action Items
- [x] Clarify the order in which the GitHub API and CTI database will be called
   - [x] Agree to call CTI database and get organization information first before calling GitHub API
- [x] Decide how ancestor an

[2021-03-14 23:54] Olivia-Chiong opened #408 "Research official organization tags"
### Overview
We need to research the official organization tags and input it into the database

### Action Items
- [x] Get login for database from 1Password
- [x] Enter the official organization tag for each organization
- [x] Enter alias tags if any
- [x] verify the links

### Resources/Instructions
[CTI Org tags google sheet](https://docs.google.com/spreadsheets/d/1F9XLlqzF_r3A_VhrMHKEGKMtZ2Lm5d

[2021-03-14 23:59] Olivia-Chiong commented on #371
@kliu28 I believe @kevinashworth has requested changes in the PR. This is why the decision was made not to open new page - https://www.w3.org/WAI/WCAG21/Techniques/general/G200

[2021-03-15 00:00] Olivia-Chiong commented on #385
Following discussion on 3/14/2021 we have decided to pull from GitHub API and filter through CTI database. Process will be mapped out in #407 Closing this issue now.

[2021-03-15 00:00] #385 closed

[2021-03-15 00:08] Olivia-Chiong commented on #341
@chalimar are you able to find the "How to do it" Figma page please? I can see archives so don't know where to find this.

[2021-03-15 00:56] maxskewes commented on #323
I have implemented the 2nd option across all files in the src folder that are importing from @material-ui. The only instance where I had to keep the {} was with useTheme but they are still kept on individual lines and all the code is functioning. I did not affect the code related to imports other than @material-ui. I cloned the repository and have it on my computer - what is the best way for me to

[2021-03-15 01:03] chalimar commented on #341
Hi Olivia,

This page was never created. In the early process of IA, we thought it would be ideal to create a page that leads to a tutorial on how to use the tag generator.

[2021-03-15 01:15] Olivia-Chiong commented on #341
@nrrao In this case, I suggest we leave the page as is. Also no need to change it for landing page.

[2021-03-15 01:16] Olivia-Chiong commented on #323
Are you able to make a pull request to submit the changes for review?

[2021-03-15 04:40] maxskewes commented on #323
Yeah, I think I did that all properly.

[2021-03-15 05:53] bruceplai commented on #358
This seems like a natural extension of issue #398
White space and general styling will be updated in ParentContributor.

@kevinashworth Do we want to open another issue to handle multiple affiliated organizations?

[2021-03-16 23:08] Olivia-Chiong commented on #399
Hackathon is over and we can close this issue. The above action items will be changed into issues for developers to work on.

[2021-03-16 23:08] #399 closed

[2021-03-16 23:17] Olivia-Chiong commented on #21
Tag generator manual submission process has been mapped in Figma. This issue is closed.

[2021-03-16 23:17] #21 closed

[2021-03-16 23:28] Olivia-Chiong commented on #358
@bruceplai Yes, we will want to fix anything that was affected because of MUI.

[2021-03-16 23:36] Olivia-Chiong commented on #209
@halimabushra We have completed the feasibility discussion and it is possible for us to display "All" "Affiliated" and "Unaffiliated"

Can you now work on updating versions 3 and 4 with the following:

- Resting state when page first loads (All)
- Resting state when `Index Contributor` is selected
- Affiliated tab when it is selected (Shows grandparent, parent and child organizations)
- Affiliated

[2021-03-16 23:37] Olivia-Chiong commented on #42
Tag generator work flow has been completed. This issue is closed.

[2021-03-16 23:37] #42 closed

[2021-03-16 23:41] Olivia-Chiong commented on #159
@mu91ba Product has decided to go with left Aligned. Can you make the next test which is one version with lines dividing the links and one version without?

[2021-03-16 23:43] Olivia-Chiong commented on #142
@meismith do you have any updates on this?

[2021-03-16 23:44] Olivia-Chiong commented on #12
@chalimar What portions are left and how can we help you to finish this? If there is any part that we can break out for others to work on, please let Product know.

[2021-03-16 23:44] Olivia-Chiong commented on #303
Radio buttons have been added. Issue closed.

[2021-03-16 23:45] #303 closed

[2021-03-16 23:48] Olivia-Chiong commented on #15
We require a static image for the header for this page. The link in [Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=5091%3A25028) goes to the banner illustrations page below where we need the two banners. The should be created and fit right into these pages so we can see how it would look in comparison to the entire site.

Let me know if there

[2021-03-16 23:49] Olivia-Chiong commented on #15
@mariastudnicka re: video for About Page, we can revise the video later when there is time, but probably not before MVP is launched.

[2021-03-16 23:52] Olivia-Chiong commented on #214
@FarzanaPrianka can we make the tablet version look the same as desktop please? I do not like the side by side columns and want to revert to single column. Thank you.

[2021-03-16 23:52] Olivia-Chiong commented on #213
@samdelros have you had any time to work on this? Please let us know your updates before the meeting on Thursday. Thank you

[2021-03-16 23:54] Olivia-Chiong commented on #15
Closing this issue

[2021-03-16 23:54] #15 closed

[2021-03-16 23:54] Olivia-Chiong commented on #82
@GSnapp

We require a static image for the header for these two pages. The link in [Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=5091%3A25028) goes to the banner illustrations page below where we need the two banners. The should be created and fit right into these pages so we can see how it would look in comparison to the entire site.

Let me

[2021-03-16 23:56] Olivia-Chiong commented on #363
Thanks for the research Maria, it will be useful for when development looks into creating this. In the meantime, I am referencing this on the search issue. #213

[2021-03-16 23:56] #363 closed

[2021-03-17 19:48] samdelros commented on #213
![Screen Shot 2021-03-17 at 12 47 36 PM](https://user-images.githubusercontent.com/79222282/111529105-030f4380-871f-11eb-8620-647341ab3dba.png)

Desktop Breakpoint updated, Will update screen breakpoints for tablet and mobile next.

[2021-03-17 20:00] DrIffathsultana opened #413 "Create a component to allow switching between 'Yes' and 'No' Radio buttons for organization affilations"
### Overview
We need to Create a component to allow switching between 'Yes' and 'No' Radio buttons for organization affiliations page.

### Action Items
We want to refine the tag generator page to help project owners find and generate tags to add to their repository so that they can be included in the Civic Tech Index. This is a key functionality that will help to include more projects and organiz

[2021-03-17 20:15] DrIffathsultana opened #414 "Style ChipInput to match the Figma design for our user input tags"
### Overview
We need to add CTI styling to material-ui-chip-input.

(This was previously titled "Create a component for adding tags by typing and entering to create topic tag chips".)

### Action Items
We are using `import ChipInput from "material-ui-chip-input";` in TagCreator/index.js — but we need to style it according to Figma. Make it a global styling change (probably).

### Resources/Instruc

[2021-03-17 20:30] Olivia-Chiong commented on #302
@meismith Tag generator page flow is complete. We can start working on this again. Please let me know if you are available or if we should assign this to someone else.

[2021-03-17 20:33] Olivia-Chiong commented on #210
Decision has been made that we will allow people to add organization via a modal if they are on Tag generator page and a page if they are coming from a different page.

Functionality for POST organization API to be discussed in #188

[2021-03-17 20:34] #210 closed

[2021-03-17 20:35] Olivia-Chiong commented on #188
@cnk @giosce @emecas This Sunday, I would like to discuss how we are planning to implement this function so I can confirm and pass it to front end to work on.

[2021-03-17 20:36] DrIffathsultana opened #415 "Add no topic tags message when no tags are found in the repository"
### Overview
We want to refine the tag generator page to help project owners find and generate tags to add to their repository so that they can be included in the Civic Tech Index. This is a key functionality that will help to include more projects and organizations in the index.

### Action Items
- [x] Add no topic tags message when no tags are found in the repository
- [x] Add reset form button

[2021-03-17 20:39] Olivia-Chiong commented on #206
Elements have been created in design system. Ready for development to implement - https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=1329%3A11944

[2021-03-17 20:39] #206 closed

[2021-03-17 20:40] Olivia-Chiong commented on #319
The design for the footer is updated in Figma under [Design System](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=1329%3A11944)

[2021-03-17 20:54] DrIffathsultana opened #416 "Create a component with yes and no radio buttons for adding of more topic tags"
### Overview
We need to Create a component with yes and no radio buttons for adding of more topic tags

### Action Items
We want to refine the tag generator page to help project owners find and generate tags to add to their repository so that they can be included in the Civic Tech Index. This is a key functionality that will help to include more projects and organizations in the index.

- [ ] Crea

[2021-03-17 21:10] DrIffathsultana opened #417 "Create a page that shows how to add topic tags to repository and allow for the selected states to be stored in the URL"
### Overview
Create a page that shows how to add topic tags to repository and allow for the selected states to be stored in the URL

### Action Items
We want to refine the tag generator page to help project owners find and generate tags to add to their repository so that they can be included in the Civic Tech Index. This is a key functionality that will help to include more projects and organizati

[2021-03-17 21:13] DrIffathsultana opened #418 "Create add organization functionality by creating the form"
### Overview
Create add organization functionality by creating the form and connecting it to the API  Work Products

### Action Items
We want to refine the tag generator page to help project owners find and generate tags to add to their repository so that they can be included in the Civic Tech Index. This is a key functionality that will help to include more projects and organizations in the index

[2021-03-17 22:20] cnk commented on #188
I think this is mostly OK.

1. I am concerned that some organizations may not have their own website so we may not be able to require that.
2. The location widget is very detailed whereas the current data model just shoves things into one string. Is that mismatch OK?
3. We probably need an example for GitHub tag - or a more detailed description of what tag we are looking for.

I propose the POST w

[2021-03-18 01:12] FarzanaPrianka commented on #214
Hey @Olivia-Chiong I have made the tablet version single column. You can find it in the artboard named "Tablet-960-updated"

[2021-03-18 18:01] samdelros commented on #213
1. Progress  - Desktop Breakpoint Updated with full flow

2.Blocks - Do I need to create full flow for additional breakpoints?

3.Availability - I have a contract project till 3/26 so I've been a bit MIA but hoping to put in a few more hours today.

4.ETA - Mobile + Tablet screens hoping to finish today before meeting today (3/18), but if not by 3/22.

[2021-03-18 19:21] meismith commented on #142
Here is the screens at 960 with one column card.

![Frame 335](https://user-images.githubusercontent.com/77039829/111684805-8bfcac80-87fd-11eb-9a62-9da422b25aca.png)

[2021-03-18 23:16] nrrao commented on #341
We can close this issue as there is no need to remove breakpoints for the landing page and"How to do it " page.

[2021-03-18 23:58] #341 closed

[2021-03-19 01:08] kevinashworth commented on #333
progress: none so far this week
blockers: ?
availability: good on Sat/Sun
ETA: Sunday Mar 21

[2021-03-19 01:13] chalimar commented on #12
Still pending on my end. I need to go through my components checklist and ensure all the elements I have noted are added at the very least.

WIll have a more accurate update for sunday.

[2021-03-19 01:22] chalimar commented on #214
Hey Prianka, can you please place the cards into a mockup of the Search Projects page so we can view what it looks like in context?

Thank you.

[2021-03-19 01:24] chalimar commented on #142
(See #214 for project card in context.)

[2021-03-19 01:28] chalimar commented on #82
Please use the dimensions below for the banner widths in each breakpoint:

Large - 1280px x 320px
Medium - 960px x 320px
Small - 600px x 320px

Thank you.

[2021-03-19 01:30] #323 closed

[2021-03-19 01:34] chalimar commented on #291
Hi @mu91ba I changed the background color against the images to CTI Light Gray. Can you please adjust the MD screenpoint to have all the images in one column rather than three? Please reference the mobile layout.

Save your previous artboards so we can review them as well. Thank you.

[2021-03-19 01:46] kevinashworth opened #420 "Update CONTRIBUTING re git add one or some files, not all."
### Overview
Edit CONTRIBUTING.md to clarify that `git add .` adds all files. Add an example command to add one or some files.

[2021-03-19 01:52] #371 closed

[2021-03-19 04:34] #370 closed

[2021-03-19 05:41] Olivia-Chiong opened #421 "Populate FAQ list with questions for testing"
### Overview
We need to populate the FAQ database with fake questions so we can test if the FAQ filtering and search functions are working.

### Action Items
- [x] Create 15 questions and add them to the database

### Resources/Instructions

[2021-03-19 16:13] emecas commented on #421
The new 15 questions are already added and visible:
http://civictechindex.org/radicalcollaboration/faq

Ref: [source](https://interviewpenguin.com/interview-questions-and-answers/#Question_no_4_Can_you_tell_me_something_about_your_education)

[2021-03-19 21:14] FarzanaPrianka commented on #214
Hey @chalimar , I have placed the card into the mockup of search projects page.  You can find it in the following link:

[Project Card Search Results](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3765%3A16778)

[2021-03-19 22:43] #398 closed

[2021-03-21 00:06] samdelros commented on #213
![Screen Shot 2021-03-20 at 5 02 55 PM](https://user-images.githubusercontent.com/79222282/111888917-25fb5b00-899e-11eb-997e-303ac61e860e.png)

Tablet and Mobile Screen breakpoints have been added.

Pls note: Tablet/MED screens have the same Search Result Pagnation.  I think the Mobile/Small Breakpoint Pagnation should start after 6 results if we are to keep pagnation. Pending Charli - to look ove

[2021-03-21 16:56] mu91ba commented on #291
Hi Chali,
I will update the issue by Thursday. I was busy this weekend so
couldn't much.

On Fri, Mar 19, 2021 at 6:34 AM Chali Prasertsri ***@***.***>
wrote:

[2021-03-21 18:17] giosce commented on #188
Adding an API to add an Organization, reviewing the PR today with Cynthia.

[2021-03-21 20:13] DrIffathsultana commented on #128
Added the [CTI Reference: Page assignments -UI/UX](https://docs.google.com/spreadsheets/d/1c82srPlJttjEIx_qBMt5hOI7ZS26r0cyqDy3xTK6w0Y/edit#gid=0) in resources.

[2021-03-21 20:44] chalimar opened #426 "Image and Credit Attribution page"
Design a page where image credits can be found from the View Attributions link in the footer. Create component with image thumbnail and link and place them in list format.

Reference: [Best Practices for Attributions](https://wiki.creativecommons.org/wiki/best_practices_for_attribution)

1. Create low-fi wireframe with and without banner of page with image credits.

2. Once approved, gather inform

[2021-03-21 20:46] giosce opened #427 "Create a GetOrganizationByGithubId API."
### Overview
The front-end likely needs to retrieve an Organization by Github ID

### Action Items
- [x] Confirm the requirement with front-end
- [x] Implement the API
- [x] Implement API test

[2021-03-21 20:47] giosce commented on #427
Working on it, should be done by 3/28.

[2021-03-21 20:53] chalimar commented on #159
Hi @mu91ba

Are you able to provide the designs for the left-aligned nav dropdowns with dividers and without? Please let us know if you need assistance with it. Please ensure that stroke weight and color is not too thick and dark.

[2021-03-21 20:57] chalimar commented on #214
Card has been placed into Search Projects page for review.

I would like to ensure that the font in the card is no smaller than 14px. Can we please try increasing font sizes and enforce consistency.

![image](https://user-images.githubusercontent.com/34084181/111920646-5221e500-8a4d-11eb-9e2a-550ddfd5ee27.png)

[2021-03-21 20:59] chalimar commented on #12
Still gathering all components and placing documentation with usage.

Components checklist can be viewed [here](https://docs.google.com/document/d/1A0ja0ukcMG2TfxtmHKve_gH6jGO-KDpvJLvpKDck7Yo/edit?usp=sharing)

[2021-03-21 21:00] giosce commented on #246
I'll work on this after the organization ancestor and getById functionalities are complete (ancestor is having performance issue).

[2021-03-21 21:09] mariastudnicka commented on #319
@codewilling will be working on this today.

[2021-03-21 21:13] DrIffathsultana commented on #413
Nandana is still working.

[2021-03-21 21:14] DrIffathsultana commented on #416
ETA: By Thursday

[2021-03-21 21:17] mariastudnicka opened #428 "Footer: Nest Navigation"
### Overview
We need to nest the navigation in the tablet and mobile breakpoints so that we can have a cleaner UI. This issue is related to #319

### Action Items

- [x] For Tablet and Mobile screens, collapse all parent links except for Follow and Newsletter.

[2021-03-21 21:46] mariastudnicka opened #429 "FAQ Search: Create Pagination from Backend"
### Overview
Create pagination so that back end is handling search.

### Action Items
For reference. https://www.django-rest-framework.org/api-guide/pagination/

- [ ] Return research results for SM & MD - 5 per page / 10 for LG.
- [ ] Use "civic" as a test case

[2021-03-21 22:06] mariastudnicka commented on #209
@halimabushra
Create nested children container so that there is visual relationship between parent and child (remove grey background in container).

[2021-03-21 22:18] mariastudnicka commented on #142
@meismith    Change "Refine Results" label to "Filter" at Large, Medium and Small.  Change UI
Move "Displaying 1 of" above return cards at all screens.  (We will run a usability test for color change on filter button vs white.)

[2021-03-21 22:36] mariastudnicka opened #431 "Text Hierarchy for Affiliated and Not Allfilated Organziation"
![Screen Shot 2021-03-23 at 4 47 17 PM](https://user-images.githubusercontent.com/75585533/112233333-7d483800-8bf7-11eb-98eb-86492fee6fbd.png)
### Overview
We need to create visual relationships between grandparent, parent and child text so that the user can easily identify relationships between the groups.

### Action Items

- [ ] Evaluate and decide how we want to represent what is "Not Affiliat

[2021-03-21 22:46] Olivia-Chiong commented on #188
@Olivia-Chiong will research feasibility of including GitHub authentication in MVP so that organizations can immediately be approved when added to the database.

[2021-03-21 22:51] mariastudnicka opened #432 "Add Org -- Page or Modal?"
### Overview
Product needs to recommend whether this experience is a modal or a stand alone page so that we encourage user completion rates.

UX has recommended updates to the form so that it is more user friendly. We want to check with development first before any work is done.

[2021-03-21 22:56] Olivia-Chiong commented on #407
@giosce will research what information we can pull from the GitHub API

Example - GitHub ID + `civictechindex` or `openoakland` + `civictechindex`

[2021-03-21 23:05] Olivia-Chiong opened #433 "Check contributing.MD file for inconsistencies"
### Overview
We need to get developers to check the CONTRIBUTING.MD file

### Action Items
- [x] Review [CONTRIBUTING.md](https://github.com/civictechindex/CTI-website-frontend/blob/main/CONTRIBUTING.md)
- [x] Highlight any changes required.

### Resources/Instructions
[CONTRIBUTING.md](https://github.com/civictechindex/CTI-website-frontend/blob/main/CONTRIBUTING.md)

[2021-03-21 23:10] mariastudnicka commented on #428
@meismith pls modify tablet and mobile per screen shot in Figma file.

[2021-03-22 01:30] mu91ba commented on #159
I provided the design for the left-aligned nan dropdowns with and without
dividers

On Mon, Mar 22, 2021 at 1:53 AM Chali Prasertsri ***@***.***>
wrote:

[2021-03-23 00:10] maxskewes commented on #418
I have created the form, it is non- functioning by styled. It is under the components folder and called 'AddOrganization.js'. I did not create a pull request yet, I thought we may wait for the component's functionality to come, but the changes have been committed to the branch 'issue-418-katherine-max'. The 'Parent Organization' dropdown has no function as it is not linked to anything but the 'Cou

[2021-03-23 01:38] #391 closed

[2021-03-23 01:38] #406 closed

[2021-03-23 18:14] e0marina commented on #317
progress: re-formatting page due to new mock ups
blocks: none
Availability: Medium
ETA: 2 weeks

[2021-03-23 18:17] mariastudnicka commented on #12
@chalimar and @meismith We need to add a Modal as UI design component as well.

[2021-03-24 00:15] mariastudnicka opened #439 "Share the CTI Page- MVP"
### Overview
We need a content review of the Share the CTI page for our MVP. There are content placeholders currently.

### Action Items for Review

- [ ] Product and Dev Review of content from Social Feed. Is it static for MVP?
- [ ] "Star our Repository" feature.
- [ ] Email feature (what degree of fidelity do we want for MVP?
- [ ] Medium linking behavior
- [ ] UX CTI assets kit

The figma file

[2021-03-24 03:25] Olivia-Chiong commented on #188
Here's a quick write up on [how GitHub Authentication can be used](https://dev.to/gr2m/github-api-authentication-introduction-39dj). I think we can discuss this on Thursday or Sunday's meeting

[2021-03-24 20:39] Olivia-Chiong commented on #432
It will be a modal on the tag generator page and standalone when it redirects from other pages (example: faq page)

[2021-03-25 03:26] #421 closed

[2021-03-25 22:24] #143 closed

[2021-03-25 23:00] nrrao commented on #413
Completed
Header/Title section of the page
Fetching and displaying current topic tags
Can add tags /generate chips
getting parent of tags from backend API.
Generating new tags.

Need to be done
The style needs to be updated according to Figma
How to add your tags to your project’s repository

@olivia, clarification needed in org tags display.
![topictags](https://user-images.githubusercontent.com/

[2021-03-26 00:15] mariastudnicka commented on #432
@chalimar @meismith See Olivia's comment

[2021-03-26 00:46] FarzanaPrianka commented on #214
Hey @chalimar I have updated the font size of the project cards (for desktop, tablet and mobile). Please let me know if you have any feedback on this.

[2021-03-26 00:51] #329 closed

[2021-03-26 01:03] kliu28 commented on #418
update Thu 3/25: I got the backend set up locally and am familiarizing myself with Django so I can add the necessary endpoint.

[2021-03-26 01:11] DrIffathsultana commented on #214
@chalimar  Please review and make your comments.

[2021-03-26 02:13] DrIffathsultana opened #443 "Refactor the 'About' page -Medium and Small screens"
### Overview
Refactor the 'About' page -medium and small screens according to figma

### Action Items
- [ ]  Refactor the 'About' page -medium(MD) and small ( SM) screens according to figma.
- [ ]  Remove the white border around the video in all large (LG), medium and small screens.

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?no

[2021-03-26 02:25] mariastudnicka opened #444 "Rename "Hack for LA Brigade" to "Hack for LA" in DB"
### Overview
Currently in the database it shows "Hack for LA Brigade." Please change it to "Hack for LA."

[2021-03-26 13:49] emecas commented on #444
@mariastudnicka  It has been fixed, by updating record in organization table (id:12)

[2021-03-26 13:49] #444 closed

[2021-03-26 15:32] emecas commented on #444
@Olivia-Chiong  @mariastudnicka  BTW wrong name is coming from here (row 13) https://drive.google.com/file/d/1xiLeyMwZc-n6eB1R_XdCJ00YrarfnR_w/view
I could not fix it, do you know who has access to edit that file?

[2021-03-26 17:51] mariastudnicka commented on #444
Thanks @emecas.  @Olivia-Chiong shouldn't this file live in our [CTI drive/Working Files](https://drive.google.com/drive/u/2/folders/1Fff4AIBM1XAifAz8OC1Hep1cVDqYRz9c)? I don't know who owns that excel file.

[2021-03-26 19:16] Gio commented on #246
Guys, please stop tagging me ;-;

[2021-03-28 17:57] #429 closed

[2021-03-28 19:02] meismith commented on #428
I modified the footer for tablet and mobile last week, let me know if we still need to change this
![footer](https://user-images.githubusercontent.com/77039829/112764469-a93c3280-8fd6-11eb-923e-5c938eec62a9.JPG)

[2021-03-28 19:13] giosce commented on #212
If this has been reopened because we need to find org_tag in github for most organizations, I'm not sure I have the time to do that for all organizations. Some test data is entered, I'm ready to enter more test data if needed.

[2021-03-28 19:15] giosce commented on #427
The API https://test-civictechindexadmin.herokuapp.com/api/organizations/github_id/{github_id} is deployed, testable in Swagger.

[2021-03-28 19:15] #427 closed

[2021-03-28 19:17] giosce commented on #188
Sorry, the CreateOrganization API was left out from last PR, I'll redo it today or Monday.

[2021-03-28 19:36] giosce commented on #407
This works https://api.github.com/search/repositories?q=topic:hack-for-la+civictechindex+homelessness
topics are in AND
This works https://api.github.com/orgs/hackforla but not by ID https://api.github.com/orgs/11635254
HackForLA repos at https://api.github.com/orgs/hackforla/repos but the response doesn't contain "topics"

[2021-03-28 19:45] giosce commented on #373
https://docs.djangoproject.com/en/3.1/topics/email/
We may need credential for the sender and I'm not sure whether it would be ok to have them hardcoded in the "SaveOrganization" code.

[2021-03-28 20:08] meismith commented on #142
Below are the looks of the mobile screen with different variations of shape and color. Need to do testing.
![need testing mobile which button](https://user-images.githubusercontent.com/77039829/112766305-24094b80-8fdf-11eb-90a3-ae6e8ffaba68.JPG)

Depending on what button we choose later, I might need to change the look of the medium-size button too. But this is just an example of the medium vs sma

[2021-03-28 20:11] meismith commented on #302
@Olivia-Chiong , I am still working on the search page. I haven't have time to work on this issues

[2021-03-28 20:39] Olivia-Chiong commented on #212
@giosce We are going to get someone to get the data.

[2021-03-28 20:42] e0marina commented on #317
progress: re-formatting page due to new mock ups
blocks: none
Availability: Medium
ETA: 2 weeks

[2021-03-28 21:00] maxskewes commented on #443
I've addressed the obvious issues with the actual page. But it seems the majority of work to get it on par with the figma needs to be done on the footer. I'll bring it up at the meeting and if this is the case, I will do it.

[2021-03-28 21:01] chalimar commented on #291
Hey @mu91ba, can you please provide an update when possible? Thank you!

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-03-28 21:03] maxskewes commented on #418
I've re-done styling to what I believe is a cleaner standard based on what I've learned about Mui Grid. Katherine and I are in communication to create a pull-request when we get all components functioning and looking good.

[2021-03-28 21:03] #432 closed

[2021-03-28 21:16] Olivia-Chiong commented on #431
After taking a vote from the team we decided that unaffiliated organizations should be the same size as the child, but the size of the child should be two cards in a row.

@chalimar will get @halimabushra to redesign it.

[2021-03-28 21:16] #431 closed

[2021-03-28 21:17] Olivia-Chiong commented on #209
Please refer to the decision made on #431 for the size of the parent and child

[2021-03-28 21:17] chalimar commented on #159
Hey @mu91ba,

Can you please export the headers you updated so we can create a Usability Hub test? Please let us know when that has been done.

Thank you!

[2021-03-28 21:20] chalimar commented on #12
Added in some additional components (we're about 80% done).

Need to create an inventory of any new components from updated pages after this. (Index Contributors, organizations, etc).

[2021-03-28 21:21] chalimar commented on #214
Hi Prianka,

Can you please place the updated cards on the Search Projects page again so we can see in context? Thank you!

[2021-03-28 21:24] Olivia-Chiong commented on #433
@Travisliang001 confirms that document is good. Has run into some 2FA issues, but will let us know if he is not able to resolve it.

[2021-03-28 21:24] #433 closed

[2021-03-28 21:24] chalimar commented on #290
3/28:

Progress
Blocks
Availability
ETA

[2021-03-28 21:24] DrIffathsultana commented on #413
Progress:
Blocks:
Availability:
ETA:

[2021-03-28 21:30] Olivia-Chiong commented on #413
@nrrao is still working on this and will have a PR ready by Monday 3/29.

- Product needs to work on getting all the org_tags for the organizations in the database #408
- For the tags, we need to check and remove duplicates every time the URL is changed

[2021-03-28 21:36] Olivia-Chiong commented on #418
@maxskewes will create a PR to merge the current styling and @kliu28 will pick it up from there to integrate the API from there.

[2021-03-28 21:38] Olivia-Chiong commented on #443
@maxskewes the footer is being reworked by @bruceplai so you don't need to work on that.

[2021-03-28 21:50] Olivia-Chiong commented on #417
@bhaggya please refer to this page http://civictechindex.org/adding-projects-to-the-index and style it according to Figma

[2021-03-28 22:03] Olivia-Chiong commented on #319
@bruceplai will rework the large screen and create a merge when ready.

[2021-03-28 22:19] #159 closed

[2021-03-28 22:24] chalimar commented on #209
Please update all child elements to be the same width as the Democracy Lab and Civic Software Foundation.

All elements under Code for America will now be two results in a row (Code for Sacramento, Code for San Francisco).

[2021-03-28 22:25] DrIffathsultana opened #449 "Update 'Header' according to figma."
### Overview
We need to update the ' Header' design according to figma.

### Action Items
 - [ ] Compare and update Figma design to current Header component.
 - [ ] Use our Material-UI best practices.
 - [ ] Ensure that it works properly at all breakpoints. (It does not currently.)

### Resources/Instructions
https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?nod

[2021-03-28 22:27] Olivia-Chiong commented on #209
Example
![image](https://user-images.githubusercontent.com/75456721/112770136-100f1b00-8fda-11eb-9936-d6eaf1229c6b.png)

[2021-03-28 22:28] giosce commented on #188
It seems someone else has created the API with PR https://github.com/civictechindex/CTI-website-backend/pull/44

[2021-03-28 22:28] DrIffathsultana commented on #449
@chalimar -Please finalize the and update the Header design

[2021-03-28 22:29] Olivia-Chiong commented on #428
Thanks @meismith this is good.

@mariastudnicka please make sure to title issues correctly. Thanks!

[2021-03-28 22:30] #428 closed

[2021-03-28 22:33] Olivia-Chiong commented on #291
About page has been handed off to development.

[2021-03-28 22:33] #291 closed

[2021-03-28 22:49] Olivia-Chiong commented on #212
We can use the Django login in 1Password to input the org tag for each organization.

[2021-03-28 22:50] Olivia-Chiong commented on #246
I'm so sorry, we will try not to do it again!

[2021-03-28 22:55] Olivia-Chiong commented on #407
So in order to get all projects in the organization that have joined the index, we need to use the following:

`openoakland` + `civictechindex` AND `open-oakland` + `civictechindex` and all other aliases in our alias list.

We will then have to dedup them before displaying the results.

[2021-03-28 22:56] #407 closed

[2021-03-28 23:02] Olivia-Chiong commented on #188
@Olivia-Chiong will get someone from the Engineering CoP to look into Auth0. IN the meantime, @kliu28 is working on the CreateOrganization API.

[2021-03-28 23:22] Olivia-Chiong commented on #373
We need to send an email to the CTI validation team when someone requests to add their organization through the add organization form.

Once the email is received, the CTI validation team should confirm that the organization is valid before approving the new organization.

We need to add a "published" field to the database.

[2021-03-28 23:27] DrIffathsultana opened #451 "Create an Individual organization page"
### Overview
When user clicks on any organization from 'Organizations page', then  'Individual organization page' opens.

### Action Items
- [x]  Create an 'Individual organization page'
- [x] Please refer to issue [#407](https://github.com/civictechindex/CTI-website-frontend/issues/407) on how users will get to this page and the information you will need to pull from the CTI Database and GitHub A

[2021-03-29 00:05] #420 closed

[2021-03-29 05:18] Olivia-Chiong commented on #449
@DrIffathsultana Every issue should be created with the 3 headers. Please edit this issue accordingly.

### Overview

### Action Items

### Resources

[2021-03-29 16:21] DrIffathsultana commented on #449
Done.

[2021-03-31 01:39] mariastudnicka commented on #142
@chalimar @meismith Question: When the user types in "Environmental" in the search field, how do the cards display that keyword in the UI?

[2021-04-01 16:45] meismith commented on #142
I updated the screens for medium and small with the new button and footer

![Tablet done](https://user-images.githubusercontent.com/77039829/113326533-caa76200-92e7-11eb-87f7-fa1e30e7cd35.JPG)
![mobile done](https://user-images.githubusercontent.com/77039829/113326539-cc712580-92e7-11eb-9363-a83b4f67ed71.JPG)

@mariastudnicka from my understanding, it should display the card that has any environme

[2021-04-01 19:14] FarzanaPrianka commented on #214
@chalimar I have placed the updated card on the search projects page(See in [Figma](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=3931%3A15829)). You can find it in the "Updated Font" section of the page

<img width="808" alt="Screen Shot 2021-04-01 at 3 06 37 PM" src="https://user-images.githubusercontent.com/47132171/113342558-a3a75b00-92fc-11eb-9e

[2021-04-01 19:21] FarzanaPrianka commented on #290
It has been a busy week. So I couldn't, work on it. I will try to finish it by Sunday.

Blocks: none
ETA: April 4, 2021 (Sunday)

[2021-04-01 19:53] meismith commented on #302
These are the look of the add organization if we make it a new page instead of modal

![modal](https://user-images.githubusercontent.com/77039829/113346799-50d0a200-9302-11eb-92ca-f8cfedcb8831.JPG)

or we can go back to modal version?

[2021-04-02 00:24] chalimar commented on #449
The design has been created, need to review with Dev and Product.

![image](https://user-images.githubusercontent.com/34084181/113366807-233e2580-930f-11eb-8b06-66822c0e756f.png)

[2021-04-02 00:57] chalimar commented on #209
Need someone to revisit this issue and update organizational hierarchy for Grandparent, Parent and Child cards.

[2021-04-02 01:00] maxskewes commented on #443
Almost ready for a PR, cloned the latest from Github and there's issues so I'm waiting for the meeting to get all sorted.

[2021-04-02 01:02] maxskewes commented on #418
Waiting for issue #333 to be resolved to make a PR. And a couple questions for the meeting tonight.

[2021-04-02 01:33] chalimar commented on #302
Hey @meismith , @samdelros will help assist with Form Confirmation screen and placeholder labels inside text input fields.

[2021-04-02 02:00] #63 closed

[2021-04-03 01:05] samdelros commented on #302
Updated with revised Modal, Desktop, Med screens

<img width="1143" alt="Screen Shot 2021-04-02 at 6 04 22 PM" src="https://user-images.githubusercontent.com/79222282/113463941-f573e200-93dd-11eb-9911-a7d14aed11d3.png">

[2021-04-04 16:05] nrrao commented on #413
Fixed autocomplete and updating tags. More tests can be added later.

[PR](https://github.com/civictechindex/CTI-website-frontend/pull/419) is ready for review.

[2021-04-04 16:08] nrrao commented on #416
This issue is covered in #413.
This can be closed.

[2021-04-04 20:30] kevinashworth opened #457 "On small screens, clicking in email subscribe box causes Footer to re-layout"
### Overview
The new Footer has a different layout at smaller widths. If you're on a desktop computer but at a narrower width, when you click to enter your email, the whole Footer section suddenly expands, apparently to the layout for wider screens.

This is for the input box that currently has placeholder text "John.doe@domain.com"

### Action Items
Fix it so that clicking in the email-subscribe

[2021-04-04 20:36] maxskewes commented on #443
I have submitted a pull request. The GetStarted component didn't match well to the figma in terms of text size and relation (though nothing sticks out as unacceptable) but because it's used on multiple pages I thought I would hold off on reworking it or adapting incase we need to reconfigure it in the future anyway.

[2021-04-04 20:36] maxskewes commented on #418
I have submitted a PR for this.

[2021-04-04 20:37] kevinashworth opened #459 "Change Copy/Paste icon for Topic Tags"
### Overview
The Figma design shows two different icons for the Topic Tags.

Design one on Tag Generator page - https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex-Master-Design-File?node-id=6239%3A41498

Design two on Design System page - https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex-Master-Design-File?node-id=6264%3A39620

The latest PR for Tag Generator has the f

[2021-04-04 20:49] FarzanaPrianka commented on #290
Still working on it. Need couple more days to complete.

[2021-04-04 21:09] cnk commented on #188
Just about done with this. Will submit a PR later today

[2021-04-04 21:10] #333 closed

[2021-04-04 21:10] chalimar commented on #142
Hey team, this looks like it's almost done. Let's just double check the small details such as:

- [ ] Breadcrumbs
- [ ] Content consistency (i.e. it said Refine Results on some frames and Filter on others)

This should be ready for development handoff after that! Thank you so much for your help, @meismith !!

[2021-04-04 21:13] #214 closed

[2021-04-04 21:23] bruceplai opened #460 "Fix useEffect warning in FAQ"
### Overview
There is a useEffect dependency warning in Faq.js, which stops S3 deploy if warnings are not ignored.

### Action Items
Fix useEffect dependencies (if possible), or design another way to update the FAQ list upon page number update, items per page update, or search query update.

### Resources/Instructions
https://dmitripavlutin.com/react-useeffect-explanation/

[2021-04-04 21:36] #413 closed

[2021-04-04 21:38] kevinashworth opened #461 "Increase Cypress testing code coverage"
### Overview
Our code coverage percentage has dropped as the codebase has grown without growth of the tests.

### Action Items
Expand Cypress testing once again to increase code coverage, ideally above 90%.

[2021-04-04 21:40] kevinashworth opened #462 "Fix MUI Button underline issue on all browsers"
### Overview
Our Buttons have underlined text on Brave/Windows, and maybe others.

### Action Items
Fix NavButton and any other use of Button to have non-underlined text.

### Resources/Instructions
See Bruce's comments under PR #455

[2021-04-04 23:04] DrIffathsultana opened #464 "Make a Donation page"
### Overview
We need to create a 'Donate' page as per Figma design.

### Action Items
- [ ] Create a 'Make a Donation' page using our Material-UI best practices for Large (LG), medium (MD) and small screens (SM)

### Resources/Instructions
[Figma LInk](https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/?node-id=7314%3A0)

[2021-04-07 05:44] cnk commented on #418
Front end people, what would you like returned from the create organization endpoint? An object that looks just like the data returned from our Organization detail endpoint? Or an object with the same data as is submitted in the form? The main difference is normal organization detail does not include the organization_email field.

Please note, you cannot just requery the organization detail endpoi

[2021-04-07 19:52] maxskewes commented on #418
I have submitted a finalized PR for this. I think we should address the linking of the modal with the backend as a separate issue.

[2021-04-07 20:16] DrIffathsultana commented on #408
Please update org tags -In Spread sheet and Database.
@mariastudnicka- (Org tags from 161-240)
 @connie-yu-dotcom (Org tags from 81-160)
@DrIffathsultana (Org tags from 1-80)

[2021-04-07 20:25] Olivia-Chiong opened #468 "Add Alias function to data-admin in Django"
### Overview
We need to add the alias function to data admin user in Django so users can update it.

### Action Items
- [ ] Add the functionality for data-admin to be able to update the alias function in django

### Resources/Instructions

[2021-04-07 20:26] Olivia-Chiong commented on #468
@cnk or @emecas when you have the chance, could you please add the above functionality so we can start populating the org tags and any aliases we find? Thank you!

[2021-04-08 04:06] cnk commented on #468
I have added the ability to manage aliases to the data-admin user on https://test-civictechindexadmin.herokuapp.com/admin/

[2021-04-08 04:06] #468 closed

[2021-04-08 20:06] meismith commented on #209
This is the look of the organization screen if we choose a grey background. I personally prefer the grey one
![Organization Grey background](https://user-images.githubusercontent.com/77039829/114089354-0c09b580-9884-11eb-96a7-a8bcfded6478.png)

I couldn't find a better color for the organization card if we use the blue ones
![Organization Blue Background](https://user-images.githubusercontent.com/

[2021-04-08 21:26] nrrao commented on #459
Made a [PR](https://github.com/civictechindex/CTI-website-frontend/pull/469)

[2021-04-08 21:28] nrrao opened #470 "Fix Font color and size of Link in Tag-generator"
### Overview
Need to fix font color and size of change organization, repository URL, and add more tags.

 https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=6239%3A36872

### Action Items
Change the color to blue from black.
Fix the font size.